<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
      Feedbacks
    </h3>
    <% if !@breadcrumbs.nil? %>
      <ul class="page-breadcrumb breadcrumb">
        <% @breadcrumbs.each do |breadcrumb| %>
          <li>
            <%= link_to(breadcrumb[:name], breadcrumb[:url]) %>
            <% if @breadcrumbs.last != breadcrumb %>
              <i class="fa fa-angle-right"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<div class="row" >
  <div class="col-xs-12">
    <h3>Feedbacks</h3>
  </div>
  <div class="col-xs-12 portlet-body">
    <table class="table table-striped table-bordered table-hover"  >
      <thead>
        <tr>
          <th style="width:150px;">No</th>
          <th style="width:150px;">Date</th>
          <th style="width:150px;">Job Ref No</th>
          <th style="width:150px;">Rating</th>
          <th>Reasons</th>
          <th>Action</th>
          <!-- <th>Other Feedback</th> -->
        </tr>
      </thead>
      <tbody>
        <% @job_feedbacks.each_with_index do |feedback,index| %>
          <%= content_tag_for :tr, feedback do %>
            <td><%= index + 1 %></td>
            <td><%= feedback.created_at.strftime('%d/%m/%y') %></td>
            <td><%= feedback.job_id %></td>
            <td><input type="text" class="rating" data-readonly="true" value="<%= feedback.rates %>" data-size="xs"></td>
            <td><%= feedback.reasons %></td>
            <td><%= link_to 'Delete',manage_job_feedback_path(feedback),data: {confirm: 'Confirm Delete?'},method: :delete %></td>
            <!-- <td><%#= feedback.other_feedback %></td> -->
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    
  $('#sample_3').dataTable({
    "aLengthMenu": [
          [50, 100, 200, 500, -1],
          [50, 100, 200, 500, "All"] // change per page values here
      ],
      "bFilter": false,
      "bLengthChange": false,
      // set the initial value
      "iDisplayLength": -1,
      "paging": true,
      "oLanguage": {
        "sLengthMenu": "_MENU_ records",
        "oPaginate": {
            "pagingType": "full_numbers"
        },
        "sEmptyTable": "No records found"
       }
  });
  $('.caption').remove();
  $('.clear-rating').remove();
});
</script>