<h4 style='color: red;'><strong>Current time : <%= Time.zone.now.strftime('%d/%m/%Y %-I:%M%P') %></strong> </h4>

<div class="row">
  <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat blue-madison">
      <div class="visual">
        <i class="fa fa-comments"></i>
      </div>
      <div class="details">
        <div class="number totalEnquiries">
          <%#= !Job.blank? ? Job.count : 0 %>
        </div>
        <div class="desc">
          Total Enquiries
        </div>
      </div>
      <a class="more" href="#">
        View more
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div> -->
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat blue-madison">
      <div class="visual">
        <i class="fa fa-comments"></i>
      </div>
      <div class="details">
        <div class="number totalEnquiries">
          <%= @sms_count %>
        </div>
        <div class="desc">
          Outgoing SMS
        </div>
      </div>
      <a class="more" href="#">
        View more
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat red-intense">
      <div class="visual">
        <i class="fa fa-bar-chart-o"></i>
      </div>
      <div class="details">
        <div class="number jobReferred">
          <%= !@jobs_refered.nil? ? @jobs_refered.count : 0 %>
        </div>
        <div class="desc">
          Job Referred
        </div>
      </div>
      <a class="more" href="#">
        View more
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat green-haze">
      <div class="visual">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <div class="details">
        <div class="number referredEarned">
          $
          <%= @jobs_refered_total.compact.inject(0,:+)%>
        </div>
        <div class="desc">
          Referred Earned
        </div>
      </div>
      <a class="more" href="#">
        View more
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat purple-plum">
      <div class="visual">
        <i class="fa fa-globe"></i>
      </div>
      <div class="details">
        <div class="number enquiriesToday">
          <%= @today_jobs.count %>
        </div>
        <div class="desc">
          Enquiries
        </div>
      </div>
      <a class="more" href="#">
        View more
        <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
</div>
<dic class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="portlet box purple">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-gift"> Enquiry Chart</i>
        </div>
      </div>
      <div class="portlet-body">
        <div id="pie_chart_1" class="chart">
        <% if @today_jobs.count > 0 %>
          <%= area_chart @today_jobs.group("DATE(created_at)").count %> 
        <% else %>
          No data available
        <% end %>
        </div>
      </div>
    </div>
  </div>  
</dic>
<!-- <div class="row" id="chart" style="margin-top: 10px;">
  <div class="col-md-8">
    <div class="portlet box purple">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-gift"></i>Pie chart of Jobs
        </div>
      </div>
      <div class="portlet-body">
        <h4>Number of Jobs(Status = Receipt) - <%= @jobs_completed_total %></h4>
          <div id="pie_chart_1" class="chart">
            <%# if @total_amount[0] != 0 || @total_amount[1] != 0 %>
               <%#= pie_chart [["Private class", @total_amount[0]], 
                 ["Group Class", @total_amount[1]]
                ] %>
            <%# else %>  
              No data available
            <%# end %>  
          </div>
      </div>
    </div>
    <h3>Report by job enquiry</h3>
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td style="width: 90%;">Total number of jobs</td>
          <td><%#= @jobs %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Total number of jobs completed</td>
          <td><%#= @jobs_completed_total %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Sum of total amount for all completed jobs</td>
          <td><%#= @jobs_fee_total %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Sum of referral for all completed jobs</td>
          <td><%#= @jobs_refered_total %></td>
        </tr>  
      </tbody>
    </table>
    <h3>By start date <%#= link_to "(Detailed view)" ,   manage_detailed_view_path %></h3>
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td style="width: 90%;">Total number of jobs</td>
          <td><%#= @jobs_start_date_total %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Number of students</td>
          <td><%#= @students %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Sum of total amount</td>
          <td><%#= @jobs_start_date_fee_total %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Sum of referral</td>
          <td><%#= @jobs_start_date_refered_total %></td>
        </tr>  
      </tbody>
    </table>
  </div>
</div> -->