<div class="row">          
  <div class="col-md-12">
    <div class="tab-content">
      <div class="portlet blue-hoki box"  style="border:1px solid #869ab3;float:left;width:100%;">
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-gift"></i>Profile
          </div>
        </div>
        <div class="portlet-body" style="float:left;width:100%;">
          <% if current_admin_user.is_account_activated? %>
            <%= form_for [:manage, current_admin_user] , :html => { :id => "coordinator", :class=>"form-horizontal" } do |f| %>
              
              <div class="form-body">
                <div class="form-group">
                  <label class="control-label col-md-3">Name</label>
                  <div class="col-md-9">
                    <%= f.text_field :name, :placeholder => "name" ,:class => "form-control" %>
                  </div>
                </div>
                <div class="form-group"> 
                  <label class="control-label col-md-3">Email Address</label>
                  <div class="col-md-9">
                    <label class="custEmail"><%= current_admin_user.email %></label>
                  </div>
                </div>  
                <div class="form-group">
                  <label class="control-label col-md-3">Profile Picture</label>
                  <div class="col-md-9">
                  <%= image_tag current_admin_user.profile_picture.url(:thumb) %>
                  <%= f.file_field :profile_picture, :placeholder => "profile_picture" ,:class => "form-control" %>
                  </div>
                </div>  
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                      <button class="btn green" type="submit">Save</button>
                      <%= link_to "Cancel", root_path, :class =>"btn default" %>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .custEmail {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
  }
</style>