<%= "Add photo " %>

<%= nested_form_for [:instructor,@instructor_student,@instructor_student.gallery] do |f| %>
	 <%= f.fields_for :photos do |f| %> 
	 		<label>Photo</label>
      <%= f.file_field :student_photo %>
      <%= f.link_to_remove "Remove" %>
	 <% end %>
	 <%= f.link_to_add "Add", :photos %>
	 <%= f.submit "Submit" %>
<% end %>
<%= link_to 'Back', instructor_instructor_student_path(@instructor_student.id) %>

