<%= title "Venues Index"  %>
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET
    -->
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-edit">></i>
          Manage Venue
        </div>
        <div class="tools">
          <a class="collapse" href="javascript:;"></a>
          <a class="config" data-toggle="modal" href="#portlet-config"></a>
          <a class="reload" href="javascript:;"></a>
          <a class="remove" href="javascript:;"></a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-toolbar">
          <div class="btn-group">
            <button class="btn green" id="sample_editable_2_new">
              Add New
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered" id="sample_editable_2">
          <thead>
            <tr>
              <th>
                Title
              </th>
              <th>
                Edit
              </th>
              <th>
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <% @venues.each do |venue| %>
              <tr id="<%= venue.id %>">
                <td>
                  <%= venue.name %>
                </td>
                <td>
                  <%= link_to "Edit", "#", :class => "edit" ,:id=>"#{venue.id}" %>
                </td>
                <td>
                  <%= link_to "Delete", "#", :class => "delete" ,:id=>"del_#{venue.id}" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET
    -->
  </div>
</div>
<script>
  
  jQuery(document).ready(function() {       
    Metronic.init(); // init metronic core components
    venueTableEditable.init();
  });

</script>
