<div class="col-md-6">
  <%= form_for [ :manage, @award ], :html => {:multipart => true} do |f| %>
    <div class="email input required stringish form-group">
      <label class=" control-label">Award Name</label>
      <span class="form-wrapper">
        <div class="input-group col-md-12">
          <%= f.text_field :name, :class=>"form-control" %>
        </div>
      </span>  
    </div>

    <div class="email input required stringish form-group">
      <label class=" control-label">Award Short Name</label>
      <span class="form-wrapper">
        <div class="input-group col-md-12">
          <%= f.text_field :short_name, :class=>"form-control" %>
        </div>
      </span>  
    </div>

    <label class="control-label" for="award_name">Award Logo</label>
    <div class="string input required stringish form-group">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
          <% if @award.image? %>
            <%= image_tag(@award.image) %>
          <% else %>
            <img src="/assets/no_image.gif" alt="", class="img-responsive" style="width:200px; height:150px;" />
          <% end %>
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
        </div>
        <div>
          <span class="btn default btn-file">
          <span class="fileinput-new">
            Select image 
          </span>

          <span class="fileinput-exists">
            Change 
          </span>
          <input type="file" id="award_image" name="award[image]">
          </span>
          <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
        </div>
      </div>
    </div>
    
    <%= f.submit "Save", :class=>"btn green" %>
    <%= link_to "Cancel",  manage_award_tests_path, :class=> "btn default" %>
    <%= link_to "Manage Awards", manage_awards_path, :class => "btn blue" %>
    
  <% end %>
</div>