- if current_admin_user.accountant?
  - if !@payment_notifications.blank?
    - @payment_notifications.each do |payment_notification|  
      - if !payment_notification.nil? || payment_notification.job_ref != ""
        %li.invoice_notifications{ "data-invoice_id" => payment_notification.id }
          - if !payment_notification.job_ref.nil?
            - url = manage_job_path(:id => payment_notification.job_ref)
            %a{href: "#"}
              %span.label.label-sm.label-icon.label-success
                %i.fa.fa-plus
              REF
              = payment_notification.job_ref
              %span.time.pull-right
                = time_ago_in_words(payment_notification.created_at).gsub('about ','').gsub("less than ",'')
                ago
-else
  - if !@payment_notifications_cnt.blank?
    - @payment_notifications_cnt.each do |payment_notification|  
      - if !payment_notification.nil? || payment_notification.job_ref != ""
        %li.invoice_notifications{ "data-invoice_id" => payment_notification.id }
          - if !payment_notification.job_ref.nil?
            - url = manage_job_path(:id => payment_notification.job_ref)
            %a{href: "#{url}"}
              %span.label.label-sm.label-icon.label-success
                %i.fa.fa-plus
              REF
              = payment_notification.job_ref
              %span.time.pull-right
                = time_ago_in_words(payment_notification.created_at).gsub('about ','').gsub("less than ",'')
                ago