.page-header.navbar.navbar-fixed-top
  .page-header-inner
    .page-logo
      %a{href: "index.html"}
        = image_tag "logo.png", class: "logo-default"
      .menu-toggler.sidebar-toggler.hide
    .menu-toggler.responsive-toggler{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
    .top-menu
      %ul.nav.navbar-nav.pull-right

        %li.dropdown.dropdown-extended.dropdown-notification
          %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", href: "#{manage_instructor_take_job_path}"}
            %i.fa.fa-user
            %span.badge.badge-default.new_notify_cnt
              = InstructorJobApplication.where(:coordinator_view => false).count != 0 ? InstructorJobApplication.where(:coordinator_view => false).count.to_s : '0'
              / = @take_job_count  != 0 ? @take_job_count.to_s : '0'

        %li#header_notification_bar.dropdown.dropdown-extended.dropdown-notification
          %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", href: "#{manage_online_payments_path}"}
            %i.fa.fa-dollar
            %span.badge.badge-default.new_notify_cnt
              - if @payment_notifications_cnt.count > 0
                = @payment_notifications_cnt.count
              - else
                0 
          %ul.dropdown-menu
            %li
              %p
                You have
                = @payment_notifications_cnt.count if !@payment_notifications_cnt.blank?
                new notifications
            %li
              .slimScrollDiv{style: "position: relative; overflow: hidden; width: auto; height: 250px;"}
                %ul.dropdown-menu-list.scroller.invoice_notify{"data-initialized" => "true", style: "overflow: auto; width: auto; height: 250px;"}
                  = render "/layouts/shared/header_notifications"
                .slimScrollBar{style: "width: 7px; position: absolute; top: 0px; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 139.19821826280622px; display: none; opacity: 0.4; background: rgb(187, 187, 187);"}
                .slimScrollRail{style: "width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"}
            %li.external
              %a{href: "#{manage_online_payments_path}"}
                See all notifications
                %i.m-icon-swapright

        %li.dropdown.dropdown-extended.dropdown-notification
          %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", href: "#{manage_messages_path}"}
            %i.fa.fa-envelope
            %span.badge.badge-default.new_notify_cnt
              = @conversations.class.to_s == "Message::ActiveRecord_Relation" ? @conversationsCnt : @conversations
             
        %li.dropdown.dropdown-user
          %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
            %span.username
              = current_admin_user.name
            %i.fa.fa-angle-down
          %ul.dropdown-menu
            %li
              = link_to manage_setting_path do
                %i.fa.fa-cogs
                setting
            %li
              = link_to destroy_admin_user_session_path, method: "delete" do
                %i.fa.fa-key
                Log Out