%body.corporate 
  %br
  .pre-header{:style => params[:action] == 'unpaid_fee_student'|| params[:action] == "unregistered_students" ? 'display: none' : ''}
    .container
      .row
        .col-md-6.col-sm-6.additional-shop-info
          - if admin_user_signed_in?
            %ul.list-unstyled.list-inline.pull-left
              %strong
                = current_admin_user.name
              %small
                =current_admin_user.email
        .col-md-6.col-sm-6.additional-nav
          %ul.list-unstyled.list-inline.pull-right
            / %li#header_notification_bar.dropdown.dropdown-extended.dropdown-notification
            /   %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
            /     %i.fa.fa-warning
            /     %span.badge.badge-default
            /       = @payment_notifications_cnt.count if !@payment_notifications_cnt.blank?
            /   %ul.dropdown-menu
            /     %li
            /       %p
            /         You have
            /         = @payment_notifications_cnt.count if !@payment_notifications_cnt.blank?
            /         new notifications
            /     %li
            /       .slimScrollDiv{style: "position: relative; overflow: hidden; width: auto; height: 250px;"}
            /         %ul.dropdown-menu-list.scroller{"data-initialized" => "true", style: "overflow: auto; width: auto; height: 250px;"}
            /           - if !@payment_notifications.blank?
            /             - @payment_notifications.each do |payment_notification|  
            /               %li
            /                 - url = manage_freshbook_invoice_path(:online_payments_invoice_id => payment_notification.invoice_id)
            /                 %a{href: "#{url}", :target => "_blank"}
            /                   %span.label.label-sm.label-icon.label-success
            /                     %i.fa.fa-plus
            /                   = payment_notification.invoice_id
            /                   %span.time.pull-right
            /                     = time_ago_in_words(payment_notification.created_at)
            /                     ago
            /         .slimScrollBar{style: "width: 7px; position: absolute; top: 0px; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 139.19821826280622px; display: none; opacity: 0.4; background: rgb(187, 187, 187);"}
            /         .slimScrollRail{style: "width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"}
            /     %li.external
            /       %a{href: "#all_notification"}
            /         See all notifications
            /         %i.m-icon-swapright
            - if !admin_user_signed_in?
              %li
                %a{:href => "/instructor/home"} Log In
            - else
              %li
                %a{:href => "#{public_instructor_path(current_admin_user.name.tr(" ", "-"))}", :target => "_blank"} My Website
              %li
                %a{:href => "#{instructor_instructor_messages_path}"} SMS
              %li
                %a{:href => "#{instructor_synchronize_contacts_list_path}"} Synch-Contacts
                / %a{:href => "/auth/google_oauth2"} Synch-Contacts
              %li
                = current_admin_user.rewards.sum(:points)
                - if current_admin_user.rewards.sum(:points) == 0
                  point
                -else
                  points
              %li 
                %a{:href => "/instructor/profile"} Settings  
              %li
                %a{:href => "/admin/logout"} Log Out
                
  .header
    .container{:style => params[:action] == 'unpaid_fee_student'|| params[:action] == "unregistered_students" ? 'display: none' : ''}
      %a.site-logo{:href => "/instructor/group-class"}
        %img{:alt => "Metronic Shop UI", :src => "/assets/index_page_images/img/SSA-Logo-Raw-Black.png"}/
      %a.mobi-toggler{:href => "javascript:void(0);"}
      - if admin_user_signed_in?
        = render "instructor/shared/header_navigation"
        / %a{"data-target" => "#", "data-toggle" => "dropdown", :href => "#"}
        /   Account
  - if request.fullpath != "/instructor/profile"
    - if params[:controller] != 'instructor/instructor_profile'
      - if notice 
        - if flash[:notice] != "Signed in successfully."   
          .alert.alert-success{style: "width: 1140px; position: relative; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;"}
            %button{type: "button", class: "close closeAlert"}
            = flash[:notice]
    - if alert
      .alert.alert-danger{style: "width: 1140px; position: relative; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;"}
        %button{type: "button", class: "close closeAlert"}
        = flash[:alert]
:javascript
  $(".closeAlert").click(function() {
    if($(".alert.alert-success").length > 0)
      $(".alert.alert-success").remove();
    if($(".alert.alert-danger").length > 0)
      $(".alert.alert-danger").remove();
  });