<div class="content-form-page">
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <div class="message-notice"></div>
      <%= nested_form_for [:manage, @job], :html => { :class => "form-horizontal ", :id => "new_job"} do |f| %>
      <fieldset>
        <legend>Contact details</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-lg-4 control-label">
                <%= f.label :lead_name, "Name" %>
                <span class="require">*</span>
              </label>
              <div class="col-lg-8">
                <%= f.text_field :lead_name, :class => "form-control", :required => true %>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-lg-4 control-label">
              <%= f.label :lead_contact, "Mobile" %>
              <span class="require">*</span>
              </label>
              <div class="col-lg-8">
                <%= f.text_field :lead_contact, :class => "form-control", :required => true %>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-lg-4 control-label">
                <%= f.label :lead_email, "Email" %>
              </label>
              <div class="col-lg-8">
                <%= f.email_field :lead_email, :class => "form-control"%>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-lg-4 control-label" for="address">
                <%= f.label :lead_address, "Address" %>
              </label>
              <div class="col-lg-8">
                <%= f.text_area :lead_address, :class => "form-control", :rows => 3 %>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <hr>
      <fieldset>
        <legend>Student Details</legend>
        <div class="col-md-12">
        <!-- 
        <%# if @job.registration_package.present? %>
          <%# std_count = @job.registration_package.no_of_student %>
          <%# std_count.inspect %>
        <input type="hidden" name="registration_package" value="<%#= std_count %>" id="std_count">
        <%# end %>
 --> 
          <%= f.fields_for :students do |student| %>
            <%= render 'manage/registration/student_fields', :f => student %>
          <% end %>

          <div class="row">
            <div class="col-md-12">
              <%= f.link_to_add :students, { :class => "btn btn-default"} do %>
              Add Students
            <% end %>
            </div>
          </div>
        </div>
      </fieldset>
      <hr>
      <fieldset>
        <legend>Lesson Preference</legend>
         <div class="form-group">
          <label class="col-md-4 control-label">I am registering for..</label>
          <div class="clearfix col-md-7">

            <div class="btn-group" data-toggle="buttons">
              <% ClassType.all.each do |a|%>
                <% if @job.lead_class_type== a.id %>
                  <label class="btn btn-default blue-madison" id="chk-#<%= a.title %>" style="margin-left: 5px !important;">
                    <%= f.radio_button :lead_class_type, a.id ,:class=>"toggle", :id => a.title,:required => true %>
                    <% if a.title.downcase == "private" %>
                      <%= a.title.upcase %> LESSONS
                    <% elsif a.title.downcase == "group" %>
                     <%= a.title.upcase %>  CLASS
                    <% end %>
                  </label>
                <% else %>
                  <label class="btn btn-default" id="chk-#<%= a.title %>" style="margin-left: 5px !important;">
                    <%= f.radio_button :lead_class_type, a.id ,:class=>"toggle", :id => a.title,:required => true %>
                    <% if a.title.downcase == "private" %>
                      <%= a.title.upcase %> LESSONS
                    <% elsif a.title.downcase == "group" %>
                     <%= a.title.upcase %>  CLASS
                    <% end %>
                  </label>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="show_private" style="display: none;">
          <div class="form-group">
            <label class="col-md-4 control-label">Private Lesson</label>
            <div class="col-md-8">
              <%= f.check_box :private_lesson %>
              <%= f.label :private_lesson, "My Condo has a pool suitable for lessons" %>
            </div>
          </div>
          <div class="form-group other_venue" style="display: none;">
            <label class="col-lg-4 control-label" for="address">Condo Name</label>
            <div class="col-lg-8">
              <%= f.text_field :other_venue, :class => "form-control" %>
            </div>
          </div>
        </div>
      <div class="form-group" id="private_public_venue">
        <label class="col-sm-4 control-label">Public Venues</label>
        <div class="col-sm-8">
          <%= f.select(:private_lesson_venue_id, Venue.order(:name).map {|x| [x.name.to_s.sub("Swimming Complex", 'SC'), x.id] }, {}, :class=>"form-control") %>
        </div>
      </div>
       <div class="form-group" id="venues_ids">
        <label class="control-label col-md-3">Public Venues</label>
          <div class="col-md-9">
            <%= f.select(:venue_ids, Venue.order(:name).map {|x| [x.name.to_s.sub("Swimming Complex", 'SC'), x.id] }, {},:multiple=> true ,:class=>"multi-select", :id=>"my_multi_select1") %>
            <!-- <%#= f.collection_select :venue_ids, Venue.all, :id, :name ,{}, :multiple=> true ,:class=>"multi-select", :id=>"my_multi_select1" %> -->
          </div>
        </div>
        <div class="form-group " id="preferred_day_group">
          <label class="col-md-3 control-label">Day &amp; Time</label>
          <div class="col-md-6">
            <%= f.text_area :lead_day_time, :class => "form-control", :rows => 2 %>
          </div>
        </div>
        <!-- <div class="form-group" id="preferred_day_private" style="display:none;">
          <label class="col-sm-4 control-label">Preferred day & time<span class="required" aria-required="true">*</span></label>
          <%#= f.fields_for :preferred_days do |preferred_day| %>
          <label class="col-sm-4 control-label"></label>
            <div class="col-sm-8">
              <div class="col-sm-4">
                <div class="form-group">
                    <%#= preferred_day.select :day, options_for_select([["Monday", 1], ["Tuesday", 2], ["Wednesday", 3], ["Thursday", 4], ["Friday", 5], ["Saturday" , 6], ["Sunday" , 0]], selected: preferred_day.object.day),{:prompt => "-Select Day-"},{:class=>"form-control preferred_day error-rm" } %>
                 
                </div>
              </div>
             
              <div class="col-sm-offset-0 col-sm-4">
                <div class="input-icon">
                  <i class="fa fa-clock-o"></i>
                  <%# if !preferred_day.object.preferred_time.blank? %>
                    <%#= preferred_day.text_field :preferred_time, :class => "form-control time_picker_class_time prf_time error-rm",:"data-date-format"=>"hh:mm A/PM", :disabled => true, :value => preferred_day.object.preferred_time.strftime("%I:%M %p") %>
                  <%# else %>  
                    <%#= preferred_day.text_field :preferred_time, :class => "form-control time_picker_class_time prf_time error-rm",:"data-date-format"=>"hh:mm A/PM", :disabled => true %>
                  <%# end %>
                </div>  
              </div>
              <div class="col-sm-4 choice">
               First Choice
              </div>
            </div>
          <%# end %>
        </div>
         -->
        <div class="form-group">
          <label class="col-md-3 control-label">Starting On</label>
          <div class="col-md-6">

            <% if @job.lead_starting_on? %>
              <%= f.text_field :lead_starting_on, :class => "form-control date-picker", :value => "#{@job.lead_starting_on.strftime('%e %B %Y')}" %>
            <% else %>
              <%= f.text_field :lead_starting_on, :class => "form-control date-picker" %>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-6">
            <%= f.check_box :lead_lady_instructor_only %>
            <%= f.label :lead_lady_instructor_only, "Lady Instructor Only" %>
              <p class="help-block">Please note that it will take a longer time to match an available lady instructor.</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label">Additional Information</label>
          <div class="col-md-6">
            <%= f.text_area :lead_info, :class => "form-control", :rows => 2 %>
            <% if params[:controller] == "manage/registration" && params[:action] == "new" %>
              <%= f.hidden_field :lead_affiliate, :value => params[:aff] %>
            <% end %>  
          </div>
        </div>
      </fieldset>
      <div class="row">
        <div class="col-md-offset-5 padding-left-0 padding-top-20">
          <%= f.submit "Save", :class => "btn btn-primary btn-lg" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript" src="/assets/manage/jquery.validate.min.js"></script>
<script type="text/javascript">

// $( document ).ready(function() {
//   s_cnt = $("#std_count").val()
//   console.log(s_cnt);
//   var max_value = 4;
//   for(var i=s_cnt;i<max_value;i++){
//     $('#fields-'+i).hide();
//     console.log(i);
//   }
// });


// $(".check_venue").click(function() {
//   if($(this).is(":checked")){
//     var flag = 0;
//     if(!this.checked)
//       flag = 1;
            
//     if(flag == 0) { $(".check_venue").prop("checked", true); }
//     if($.inArray($(this).val(),check_venue_ids)){
//       check_venue_ids.push($(this).val());
//       console.log(check_venue_ids); 
//     }
//   }
//   else {
//     if($.inArray($(this).val(),check_venue_ids) != -1){
//       check_venue_ids.splice($.inArray($(this).val(),check_venue_ids), 1);
//     }
//     $(".check_venue").prop("checked", false);
//   }
//   console.log(check_venue_ids);
//   //var id = $(this).attr('id');
//   $('#checked_Venue').val(check_venue_ids);
//  // $(this).parents(".fields").remove();
// });

  $("#datepicker1").datepicker();
  $('.time_picker_class_time').timepicker({
    minuteStep: 5,
    defaultTime: ''
  });
  var idSname = 'sname-';
  var prefday = 'pref-';
  var preftime = 'preftime-';
  $(document).ready(function() {
    Metronic.init();
    ComponentsDropdowns.init();
    // $('.choice').each(function(i) {
    //   $(this).attr({id: idSname + i});
    //   if(i == 0)
    //     $("#" + idSname + i).html("First Choice");
    //   else if(i == 1)
    //     $("#" + idSname + i).html("Second Choice");
    //   else if(i == 2)
    //     $("#" + idSname + i).html("Third Choice");
    //   else if(i == 3)
    //     $("#" + idSname + i).html("Forth Choice");
    //   else if(i == 4)
    //     $("#" + idSname + i).html("Fifth Choice");
    // }); 
    // $('.prf_time').each(function(i) {
    //   $(this).attr({id: preftime + i});
    // });
    // $('.preferred_day').each(function(i) {
    //   $(this).attr({ id: prefday + i });
    //   var n = $("#" + prefday + i).find('option:selected').text();
    //    if(n == '-Select Day-')
    //     {
    //       $('#' + preftime + i).val("");
    //       $('#' + preftime + i).prop('disabled', true);
    //     }
    //     else {
    //       $('#' + preftime + i).prop('disabled', false)
    //     }
    //   $("#" + prefday + i).change(function(){
    //     var m = $(this).find('option:selected').text();
    //     if(m == '-Select Day-')
    //     {
    //       $('#' + preftime + i).prop('disabled', true)
    //     }
    //     else {
    //       $('#' + preftime + i).prop('disabled', false)
    //     }
    //   }); 
    // });      
    $("#new_job").validate({
      errorPlacement: function(error, element) {
        var errorCheckbox;
        errorCheckbox = void 0;
        if (element.attr("type") === "checkbox") {
          $( "#select_one_chk_box" ).html( "Please select at least one venue to submit a form!" );
        } else {
          error.insertAfter(element);
        }
      }
    });
  
    $('input[name="job[lead_class_type]"]').change(function() {
      $('label:has(input:radio:checked)').addClass('blue-madison');
      $('label:has(input:radio:not(:checked))').removeClass('blue-madison');
      if (this.id == "Private") {
        $("#private_public_venue").show();
         // $("#preferred_day_private").show('fast');
         // $("#preferred_day_group").hide('fast');
        $("#show_private").show('fast');
        $('#venues_ids').hide();
      } else {
        $("#show_private").hide('fast');
        // $("#preferred_day_group").show('fast');
        // $("#preferred_day_private").hide('fast');  
        $('input[name="job[private_lesson]"]').prop('checked', false);
        $('.other_venue').hide();
        $('#job_other_venue').val('');
        $('#venues_ids').show();
        $("#private_public_venue").hide();
      }
    });
    $('input[name="job[private_lesson]"]').change(function() {
      var m = $(this).prop("checked");
      if(m == true){
        $("#private_public_venue").hide();
        $('.other_venue').show();
        $('#venues_ids').hide();
      }
      else{
        $("#private_public_venue").show();
        $('.other_venue').hide();
        $('#job_other_venue').val('');
        // $('#venues_ids').show();
      }
    });
  
  });
  setTimeout(function(){$(".select2-container").css({"margin-top": "-4px"})}, 1000);
  $("#new_job").on('ajax:complete', function(event) {
    document.getElementById('new_job').reset();
  });
  $('#job_lead_starting_on').datepicker({
    format: 'd MM yyyy'
  });

  var class_type = $('input[name="job[lead_class_type]"]:checked').attr('id');
  if(class_type == "Private" || class_type == "private") {
    var private_lesson_c = $('input[name="job[private_lesson]"]').is(":checked");
    $("#show_private").show();
    $("#private_public_venue").css({"display":"block"});
    $('#venues_ids').hide();
    // $("#preferred_day_group").hide('fast');
    // $("#preferred_day_private").show('fast');  


    if(private_lesson_c == true)
    {
      $('#venues_ids').hide();
      $(".other_venue").show();
      $("#private_public_venue").hide();
    //    $("#preferred_day_group").hide('fast');
    //    $("#preferred_day_private").show('fast'); 
    }
  }
  else {
    $("#private_public_venue").hide();
    // $("#preferred_day_group").show('fast');
    // $("#preferred_day_private").hide('fast'); 
  }
  var unsaved = false;
 
  $('input:not(:submit),textarea,select').change(function(){ //trigers change in all input fields including text type
    unsaved = true;
  });
  $('input:submit').click(function(e) {
    unsaved = false;
  });
  function unloadPage(){ 
    if(unsaved){
      return 'This page is asking you to confirm that you want to leave - data you have entered may not be saved'
    }
  }
  window.onbeforeunload = unloadPage;



</script>

<style type="text/css">
  .error {
    color: red;
  }
  .datepicker .datepicker-dropdown .dropdown-menu .datepicker-orient-left .datepicker-orient-bottom {
    width: 230px !important;
  }
  .datepicker.datepicker-dropdown.dropdown-menu{
    min-width: 240px !important;
  }
  #private_public_venue {
    display: none;
  }
</style>

