%p.fields.field-custome{id: "students-#{@s}", style: "position: relative; "}
  = f.text_field :name, :class => "form-custome input-small", :placeholder => "Enter Name", :required => true, :style => "height: 27px; padding: 5px 12px;"
  = f.select :age, 1..60, :class => "age_year", :include_blank => "Year"
  = f.select :age_month, 1..12, :class => "age_month", :include_blank => "Month"
  = f.select(:sex, Student::GENDER, :include_blank => "Gender")
  = f.link_to_remove do
    %i.fa.fa-minus

:javascript
  var idName = 'student-';
  $('p.fields').each(function(i) {
    $(this).attr({ id: idName + i });
    console.log($(this).attr({ id: idName + i }));
  });

:css
  .field-custome {
    height: 50px;
  }
  .field-custome label {
    position: absolute;
    top: 28px;
    left: 0;
  }