<%= form_for [:manage, @terms_and_condition] ,:html => { :id => "term_and_condition"} do |f| %>
  <div class="form-body">
    <div class="form-group">
      <label>Title</label>
      <%= f.text_field :title, :class => "form-control", :required => true %>
    </div>
    <div class="form-group">
      <label>Content</label>
      <%= f.text_area :content, :class=> "form-control", :rows => 3, :required => true%>
    </div>
    <div class="form-group">
      <label>Status</label>
      <%= f.collection_select  :status,  @status, :to_s, :to_s,{:prompt => 'Please Select' },{ :class=>"form-control" ,:required => true ,:id => "term_and_condition_status"}%>
    </div>
  </div>
  <div class="form-actions">
    <div class="pull-right">
      <a href="#" class="btn default preview">Preview</a>
      <button type="submit" class="btn blue">Save</button>
      <%= link_to "Cancel", manage_terms_and_conditions_path, :class=>"btn default" %>
    </div>
  </div>
<%end%>
<script type="text/javascript">
  $(document).ready(function(){
    $('#term_and_condition').validate({
      rules: {
        terms_and_condition_title: {
          required: true
        }
      }
    });
    $('.preview').click(function(){
      var title = $('#terms_and_condition_title').val();
      var content = $('#terms_and_condition_content').val().replace(/\n/gi,'<br />');
      $('.title_content').html(title);
      $('.term_content').html(content);
    });
  });
</script>