<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
      <%= page_title %>
      <small>
        <%= page_description %>
      </small>
    </h3>
    <% if !@breadcrumbs.nil? %>
      <ul class="page-breadcrumb breadcrumb">
        <li class="btn-group">
          <%= link_to new_manage_terms_and_condition_path, :class => "btn btn-fit-height grey pull-right" do  %>
            <i class="fa fa-plus"></i> Add 
          <% end %>
          <!-- <a class="btn btn-fit-height grey pull-right" href="<%= manage_swimming_lesson_registration_path %>"></a> -->
        </li>
        <% @breadcrumbs.each do |breadcrumb| %>
          <li>
            <%= link_to(breadcrumb[:name], breadcrumb[:url]) %>
            <% if @breadcrumbs.last != breadcrumb %>
              <i class="fa fa-angle-right"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="">
      <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_2" data-source="<%= manage_jobs_path(format: :json) %>">
          
          <thead>
            <tr class="heading">
              <th style="width: 25px;">No</th>
              <th style="width: 80px;">Status</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <% if @terms_and_conditions.count > 0 %>
              <% @cont = 0 %>
              <% @terms_and_conditions.each do |terms_and_condition| %>
                <tr>
                  <td><%= @cont = @cont + 1 %></td>
                  <td><%= terms_and_condition.status %></td>
                  <td><%= link_to terms_and_condition.title, edit_manage_terms_and_condition_path(terms_and_condition) %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3"><center> No terms & conditions found</center></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div> 