<h3 class="page-title">
  Automation
</h3>
 <% if !@breadcrumbs.nil? %>
      <ul class="page-breadcrumb breadcrumb">
        <% @breadcrumbs.each do |breadcrumb| %>
          <li>
            <%= link_to(breadcrumb[:name], breadcrumb[:url]) %>
            <% if @breadcrumbs.last != breadcrumb %>
              <i class="fa fa-angle-right"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
<div class="row">
  <div class="col-sm-12">
    <div class="portlet box blue">
      <div class="portlet-body">
        <div class="tabbable tabs-left">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#tab_1_1_1">
                Post
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#tab_1_1_2">
                Suggest
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#tab_1_1_3">
                Invoice
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#tab_1_1_4">
                Invoice PA
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#tab_1_1_5">
                Receipt
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#tab_1_1_6">
                Note
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#tab_1_1_7">
                Payment
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#tab_1_1_8">
                Canned
              </a>
            </li>
          </ul>
          <div class="tab-content tabs-content">
            <div class="tab-pane active" id="tab_1_1_1">
              <%= render :partial => "manage/message_templates/post_template" %>
            </div>
            <div class="tab-pane" id="tab_1_1_2">
              <%= render :partial => "manage/message_templates/suggest_template" %>
            </div>
            <div class="tab-pane" id="tab_1_1_3">
              <%= render :partial => "manage/message_templates/invoice_template" %>
            </div>
            <div class="tab-pane" id="tab_1_1_4">
              <%= render :partial => "manage/message_templates/invoice_pa" %>
            </div>
            <div class="tab-pane" id="tab_1_1_5">
              <%= render :partial => "manage/message_templates/receipt_template" %>
            </div>
            <div class="tab-pane" id="tab_1_1_6">
              <%= render :partial => "manage/message_templates/invoice_note" %>
            </div>
            <div class="tab-pane" id="tab_1_1_7">
              <%= render :partial => "manage/message_templates/payment_advise" %>
            </div>
            <div class="tab-pane" id="tab_1_1_8">
              <%= render :partial => "manage/message_templates/canned_response_template" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="portlet-body">
      <div class="table-responsive">
        <%= render :partial => "manage/message_templates/template_builder_list" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-edit"></i>
          Message Template Guideline
        </div>
        <div class="tools">
          <a class="collapse" href="javascript:;"></a>
        </div>
      </div>
      <div class="portlet-body">
        Syntax you can use
        <br>
          if(condition){<br>
          ...<br>
          }<br>
          else{<br>
          }<br>
          <br>
          Example<br>
          if(< class_type > == private){<br>
          }<br><br>
          Allowed operator in condition. <br>
          "==","!=","<","<=",">",">="<br><br>

          You can use following conditions<br>
          if(condition){}<br>
          else{}<br><br>

          - Do not use elseif or switch<br>
          - You can use if inside if. <br>
          - Always put ){ togather.<br>
          - Do not use && and || in conditions.<br>
          - For new line use "br" tag instead of enter key or "\n"
          <br>
      </div>
    </div>
  </div>
</div>
<script>
  jQuery(document).ready(function() {       
    Metronic.init();
  });
</script>
<script type="text/javascript" src="/assets/manage/cannedResponse.js"></script>
<style type="text/css">
  .tabs-content {
    float: left;
    width: 85%;
  }
  .portlet.box.blue{
    border-left: none!important;
    border-right: none!important;
  }
</style>