.row
  .col-md-6
    .portlet-body
      .table-responsive
        - if @jobs.blank?
          %h3 No job found. Please create one.
        - else
          %table.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th{style: "width: 130px;"}
                  Label
                %th{style: "width: 140px;"}
                  Code
                %th
                  Output
            %tbody
              %tr
                %td
                  ID
                %td
                  < id >
                %td
                  = @jobs.first.id
              %tr
                %td
                  Venue
                %td
                  < venue_id >
                %td
                  = @venue
              %tr
                %td
                  Level
                %td
                  < class_level >
                %td
                  = @class_level
              %tr
                %td
                  Age Group
                %td
                  < age_group >
                %td
                  = @age_group
              %tr
                %td
                  Class Type
                %td
                  < class_type >
                %td
                  = @class_type
              %tr
                %td
                  Start Date
                %td
                  < start_date >
                %td
                  = @jobs.first.start_date
    .portlet.box.green
      .portlet-title
        .caption
          %i.fa.fa-edit>
          Message Template Formula
        .tools
          %a.collapse{:href => "javascript:;"}
          %a.remove{:href => "javascript:;"}
      .portlet-body
        .table-toolbar
          .btn-group
            %button#sample_editable_2_new.btn.green
              Add New
              %i.fa.fa-plus
        %table#sample_editable_2.table.table-striped.table-hover.table-bordered
          %thead
            %tr
              %th
                Condition Title
              %th
                Condition Formula
              %th
                Action
          %tbody
            - TemplateFormula.order("created_at DESC").all.each do |template_formula|
              %tr{:id => template_formula.id}
                %td
                  = template_formula.condition_title
                %td
                  = template_formula.condition_formula
                %td
                  = link_to "Edit", "#", :class => "edit" ,:id=>"#{template_formula.id}"
  .col-md-6
    .portlet.box.blue
      .portlet-title
        .caption
          %i.fa.fa-gift>
          Message Template
        .tools
          %a.collapse{href: "javascript:;"}
      .portlet-body
        .tabbable-custom.nav-justified
          %ul.nav.nav-tabs.nav-justified
            %li.active
              %a{"data-toggle" => "tab", href: "#tab_1_1_1"}
                Post
            %li
              %a{"data-toggle" => "tab", href: "#tab_1_1_2"}
                Suggest
            %li
              %a{"data-toggle" => "tab", href: "#tab_1_1_3"}
                Invoice
            %li
              %a{"data-toggle" => "tab", href: "#tab_1_1_4"}
                Receipt
          .tab-content
            #tab_1_1_1.tab-pane.active
              %p
                = render :partial => "manage/message_templates/post_template"
            #tab_1_1_2.tab-pane
              %p
                = render :partial => "manage/message_templates/suggest_template"
            #tab_1_1_3.tab-pane
              %p
                = render :partial => "manage/message_templates/invoice_template"
            #tab_1_1_4.tab-pane
              %p
                = render :partial => "manage/message_templates/receipt_template"
:javascript
  jQuery(document).ready(function() {       
    Metronic.init();
    / Layout.init();
    templateTableEditable.init();
  });
:css
  #sample_editable_2_filter, #sample_editable_2_length {
    display: none;
  }