.portlet.box
  .portlet-body.form
    = form_for [:manage, @message_template_invoice], :html => { :id => "message_template_invoice" } do |f|
      = hidden_field_tag :job_status, 'invoice'
      .form-body
        .form-group
          .checkbox-list
            %label
              %span
                = f.check_box :has_instructor, :class => "checked-invoice", :id => "invoice_message_template_has_instructor"
              Instructor's Message
        .form-group.invoice_instructor_template_body
          %label Instructor Template Description
          = f.text_area :instructor_template_body, :class => "form-control", :rows => 5, :id => "invoice_message_template_instructor_template_body"
        .form-group
          .checkbox-list
            %label
              %span
                = f.check_box :has_customer, :class => "checked-invoice", :id => "invoice_message_template_has_customer"
              Customer's Message
        .form-group.invoice_customer_template_body
          %label Customer Template Description
          = f.text_area :customer_template_body, :class => "form-control", :rows => 5, :id => "invoice_message_template_customer_template_body"
        .left
          %button.btn.green{type: "submit"} Save
          %button.btn.default{type: "button"} Cancel
:css
  .invoice_instructor_template_body {
    display: none;
  }
  .invoice_customer_template_body {
    display: none;
  }
:javascript
  $("#new_message_template").validate();
  $(document).ready(function(){
    var instructor_template_body_is_check = $("#invoice_message_template_has_instructor").is(":checked");
    var customer_template_body_is_check = $("#invoice_message_template_has_customer").is(":checked");
    if(instructor_template_body_is_check == true) {
      $(".invoice_instructor_template_body").show();
    }
    if(customer_template_body_is_check == true) {
      $(".invoice_customer_template_body").show();
    }
    $('#invoice_message_template_has_instructor').click(function() {
      if($(this).is(":checked")) {
        $(".invoice_instructor_template_body").show();
        $(".invoice_instructor_template_body").attr("required");
      }

      else
        $(".invoice_instructor_template_body").hide();
    });
    $('#invoice_message_template_has_customer').click(function() {
      if($(this).is(":checked"))
        $(".invoice_customer_template_body").show();
      else
        $(".invoice_customer_template_body").hide();
    });
  });
  $('#message_template_invoice').submit(function(){
    if($(".invoice_instructor_template_body").is(":visible"))
    {
      if($("#invoice_message_template_instructor_template_body").val() == ""){
        $("#invoice_message_template_instructor_template_body").after("<span style='color: #f00;'>Instructor template description can not be blank!</span>");
        return false;
      }
    }
    if($(".invoice_customer_template_body").is(":visible"))
    {
      if($("#invoice_message_template_customer_template_body").val() == ""){
        $("#invoice_message_template_customer_template_body").after("<span style='color: #f00;'>Customer template description can not be blank!</span>")
        return false;
      }
    }
  });