.portlet.box
  .portlet-body.form
    = form_for [:manage, @message_template_post] do |f|
      = hidden_field_tag :job_status, 'post'
      .form-body
        .form-group
          .checkbox-list
            %label
              %span
                = f.check_box :has_instructor, :class => "checked"
              Instructor's Message
        #instructor_template_body.form-group
          %label Instructor Template Description
          = f.text_area :instructor_template_body, :class => "form-control", :rows => 5
        .form-group
          .checkbox-list
            %label
              %span
                = f.check_box :has_customer, :class => "checked"
              Customer's Message
        #customer_template_body.form-group
          %label Customer Template Description
          = f.text_area :customer_template_body, :class => "form-control", :rows => 5
        .form-group
          %label App posting template
          = f.text_area :app_posting_template, :class => "form-control", :rows => 5
        .left
          %button.btn.green{type: "submit"} Save
          %button.btn.default{type: "button"} Cancel
:css
  #instructor_template_body {
    display: none;
  }
  #customer_template_body {
    display: none;
  }
:javascript
  $("#new-_message_template").validate();
  $(document).ready(function(){
    var instructor_template_body_is_check = $("#message_template_has_instructor").is(":checked");
    var customer_template_body_is_check = $("#message_template_has_customer").is(":checked");
    if(instructor_template_body_is_check == true) {
      $("#instructor_template_body").show();
    }
    if(customer_template_body_is_check == true) {
      $("#customer_template_body").show();
    }
    $('#message_template_has_instructor').click(function() {
      if($(this).is(":checked")) {
        $("#instructor_template_body").show();
        $("#instructor_template_body").attr("required");
      }

      else
        $("#instructor_template_body").hide();
    });
    $('#message_template_has_customer').click(function() {
      if($(this).is(":checked"))
        $("#customer_template_body").show();
      else
        $("#customer_template_body").hide();
    });
  });
  $('form').submit(function(){
    if($("#instructor_template_body").is(":visible"))
    {
      if($("#message_template_instructor_template_body").val() == ""){
        $("#message_template_instructor_template_body").after("<span style='color: #f00;'>Instructor template description can not be blank!</span>");
        return false;
      }
    }
    if($("#customer_template_body").is(":visible"))
    {
      if($("#message_template_customer_template_body").val() == ""){
        $("#message_template_customer_template_body").after("<span style='color: #f00;'>Customer template description can not be blank!</span>")
        return false;
      }
    }
  });