- week_days_id = ["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
- if @jobs.blank?
  %h3 No job found. Please create one.
- else
  %table.table.table-striped.table-bordered.table-hover{:style => "font-size: 14px;"}
    %thead
      %tr
        %th{style: "width: 130px;"}
          Label
        %th{style: "width: 140px;"}
          Code
        %th
          Output
    %tbody
      %tr
        %td
          ID
        %td
          < id >
        %td
          = @jobs.first.id
      %tr
        %td
          Venue
        %td
          < venue_name >
        %td
          = @venue
      %tr
        %td
          Level
        %td
          < class_level >
        %td
          = @class_level
      %tr
        %td
          Age Group
        %td
          < age_group >
        %td
          = @age_group
      %tr
        %td
          Class Type
        %td
          < class_type >
        %td
          = @class_type
      %tr
        %td
          PA Link
        %td
          < pa_link >
        %td
          = "/jobs/18730/eib14"
      %tr
        %td
          Start Date
        %td
          < start_date >
        %td
          = @jobs.first.start_date
      %tr
        %td
          Complete Date
        %td
          < completed_by >
        %td
          = @job.completed_by
      %tr
        %td
          Fee Type
        %td
          < fee_type >
        %td
          = @fee_type
      %tr
        %td
          Student Count
        %td
          < student_count >
        %td
          = @students.count if @students.present?

      %tr
        %td
          Student List
        %td
          < list_students >
        %td
          - if @students.present?
            - @students.each do |student|
              = student.name
              = "-" if student.age?
              = student.age
              = "(" if student.sex?
              = student.sex
              = ")" if student.sex?
              %br

      %tr
        %td
          Preferred Time
        %td
          < preferred_time >
        %td
          = @job.preferred_time
      %tr
        %td
          Class time
        %td
          < class_time >
        %td
          = @job.class_time
      %tr
        %td
          Class day
        %td
          < day_of_week >
        %td
          = week_days_id[@job.day_of_week.to_i]
      %tr
        %td
          Duration
        %td
          < duration >
        %td
          = @job.duration
      %tr
        %td
          Fee Per Pax
        %td
          < per_pax >
        %td
          = @job.par_pax
      %tr
        %td
          Fee Total
        %td
          < fee_total >
        %td
          = @job.fee_total
      %tr
        %td
          Fee Referral
        %td
          < referral >
        %td
          = @job.referral
      %tr
        %td
          Fee Remainder
        %td
          < fee_remainder >
        %td
          Formula: < fee_total > - < referral >
      %tr
        %td
          Lead Name
        %td
          < lead_name >
        %td
          = @job.lead_name
      %tr
        %td
          Lead Contact
        %td
          < lead_contact >
        %td
          = @job.lead_contact
      %tr
        %td
          Instructor Name
        %td
          < instructor_name >
        %td
          = @job.instructor_name
      %tr
        %td
          Instructor Contact
        %td
          < instructor_contact >
        %td
          = @job.instructor_contact
      %tr
        %td
          Lesson Count
        %td
          < lesson_count >
        %td
          = @job.lesson_count
      %tr
        %td
          Show Name
        %td
          < show_names >
        %td
          = @job.show_names
      %tr
        %td
          Lady Instructor
        %td
          < lady_instructor >
        %td
          = @job.lady_instructor
      %tr
        %td
          Free Goggles
        %td
          < free_goggles >
        %td
          = @job.free_goggles
      %tr
        %td
          Full Payment
        %td
          < full_payment >
        %td
          = @job.request_full_payment
