%p#notice= notice

%p
  %b Job status:
  = @message_template.job_status
%p
  %b Has instructor:
  = @message_template.has_instructor
%p
  %b Has customer:
  = @message_template.has_customer


= link_to 'Edit', edit_manage_message_template_path(@message_template)
\|
= link_to 'Back', manage_message_templates_path
