<% week_days = ["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
<% days_arry = [] %>
  <% all_days_arr = [] %>
<% @instructor_gp.each do |group_class| %>
  <% if group_class.day.to_i == 0 %>
    <% days_arry << group_class %>
  <% else %>
     <% all_days_arr << group_class %>
  <% end %>
<% end %>
<% all_days_arr = all_days_arr + days_arry %>

<%# @instructor_gp_adult.each do |group_class| %>
  <%# if group_class.day.to_i == 0 %>
    <%# days_arry << group_class %>
  <%# else %>
     <%# all_days_arr << group_class %>
  <%# end %>
<%# end %>
<%# all_days_arr_adults = all_days_arr + days_arry %>


<div class="col-md-9">
  <h2>Group Classes</h2>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Venue</th>
            <th>Level</th>
            <th>Age Group</th>
            <th>Vacancy</th>
            <!-- <th>Vacancy</th> -->
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody>
          <% if !@instructor.blank? %>
            <% all_days_arr.each do |p| %>
              <tr>
                <td><%= week_days[p.day.to_i] %></td>
                <td><%= p.time.strftime("%l:%M %p") if !p.time.blank? %></td>
                <td><%= p.venue.name %></td>
                <td><%= Level.find(p.level_id).title unless p.level_id.blank? %></td>
                <td><%= AgeGroup.find(p.age_group_id).title unless p.age_group_id.blank? %></td>
                <td>
                  <% if p.slot_vacancy == 0 || p.slot_vacancy.nil? || p.slot_vacancy.blank? %>
                    <a href="javascript:;" class="btn btn-xs red">Full</a>
                  <% elsif p.slot_vacancy >= 1 %>
                    <a href="javascript:;" class="btn btn-xs green"><%= p.slot_vacancy %> <%= p.slot_vacancy == 1 ? "slot" : "slots" %></a>
                  <% end %>
                </td>
                <!-- <td> -->
                  <%# if(p.slot_vacancy && p.slot_maximum) %>
                    <%# if p.slot_vacancy == 0 %>
                      <!-- Full -->
                    <%# end %>
                    <%# if p.slot_vacancy == 1 %>
                      <!-- <%#= p.slot_vacancy %> slot -->
                    <%# end %>
                    <%# if p.slot_vacancy > 1 %>
                      <!-- <%#= p.slot_vacancy %> slots -->
                    <%# end %>
                       <!-- of <%#= p.slot_maximum %> -->
                  <%# end %>
                <!-- </td> -->
                <!-- 
                  <td>
                    <a href="javascript:;" class="text-success">Register</a>
                  </td>
                -->
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- 
<div class="col-md-9">
  <h2>Adult classes</h2>
  <div class="portlet-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Day</th>
            <th>Time</th>
            <th>Venue</th>
            <th>Level</th>
            <th>Vacancy</th>
          </tr>
        </thead>
        <tbody>
          <%# if !@instructor.blank? %>
            <%# all_days_arr_adults.each do |p| %>
              <tr>
                <td><%#= week_days[p.day.to_i] %></td>
                <td><%#= p.time.strftime("%l:%M %p") if !p.time.blank? %></td>
                <td><%#= p.venue.name %></td>
                <td><%#= Level.find(p.level_id).title unless p.level_id.blank? %></td>
                <td>
                  <%# if p.slot_vacancy == 0 || p.slot_vacancy.nil? || p.slot_vacancy.blank? %>
                    <a href="javascript:;" class="btn btn-xs red">Full</a>
                  <%# elsif p.slot_vacancy >= 1 %>
                    <a href="javascript:;" class="btn btn-xs green"><%#= p.slot_vacancy %> <%#= p.slot_vacancy == 1 ? "slot" : "slots" %></a>
                  <%# end %>
                </td>
              </tr>
            <%# end %>
          <%# end %>
        </tbody>
      </table>
    </div>
  </div>
</div> -->
<div class="col-md-3"></div>