<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
<head>
  <meta charset="utf-8">
  <title><%= @instructor.name %></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="favicon.ico">

  <!-- Fonts START -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <!-- Fonts END -->
  <%= stylesheet_link_tag "instructor-public-profile" %>
</head>
<!-- Head END -->
<!-- Body BEGIN -->
<body class="corporate">
    <!-- BEGIN HEADER -->
    <div class="header">
      <% unless @instructor.company_name.blank? %>
        <div class="container">
          <a class="site-logo" href="javascript:;">
            <% if @instructor.company_logo.blank? %>
              <% if @instructor.company_name? %>
                <%= @instructor.company_name.upcase %>
              <% else %>
                <%= @instructor.name.upcase %>
              <% end %>
            <% else %>
              <% if @instructor.company_name? %>
                <img alt="<%= @instructor.company_name %>" src="<%= @instructor.company_logo.url(:medium) %>" class="img-responsive" />
              <% else %>
                <img src="<%= @instructor.company_logo.url(:medium) %>" class="img-responsive" />
              <%end %>
            <% end %>
          </a>
          <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
          <%#= render :partial => "instructor_public_page_header_menu" %>
        </div>
      <% end %>
    </div>
    <!-- Header END -->

    <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <div class="content-page">
              <div class="row">
                <!-- BEGIN LEFT SIDEBAR -->            
                <div class="col-md-9 col-sm-9 blog-posts">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">
                      <% if @instructor.profile_picture? %>
                        <%= image_tag(@instructor.profile_picture, :class => "img-responsive") %>
                      <% else %>
                        <img src="/assets/no_image.gif" alt="", class="img-responsive" />
                      <% end %>  
                    </div>
                    <div class="col-md-9 col-sm-9">
                      <h2><a href="#"><%= @instructor.name.upcase %></a></h2>
                      <p>
                        <%= @instructor.about_me %>
                      </p>
                    </div>
                  </div>
                </div>
                <!-- END LEFT SIDEBAR -->

                <%#= render :partial => "instructor_public_page_right_side_bar_menu" %>
                
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <div class="row  margin-bottom-30">
          <%= render :partial => "instructor_group_class_list" %>
        </div>
        <!-- END SIDEBAR & CONTENT -->
        
        <!-- <div class="row service-box margin-bottom-40">
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-location-arrow blue"></i></em>
              <span>Multipurpose Template</span>
            </div>
            <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-check red"></i></em>
              <span>Well Documented</span>
            </div>
            <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-compress green"></i></em>
              <span>Responsive Design</span>
            </div>
            <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
          </div>
        </div>

        <div class="row quote-v1 margin-bottom-30">
          <div class="col-md-9">
            <span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span>
          </div>
          <div class="col-md-3 text-right">
            <a class="btn-transparent" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Preview Admin</a>
          </div>
        </div> -->

      </div>
    </div>

    <!-- BEGIN FOOTER -->
      <%= render :partial => "instructor_public_page_footer" %>
    <!-- END FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>  
    <![endif]-->  
    <%= javascript_include_tag "instructor-public-profile" %>
    <script type="text/javascript">
        jQuery(document).ready(function() {
          Layout.init();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>