<table class="table table-hover">
  <thead>
    <tr class="text-left">
      <th style="width:30px;"></th>
      <th>Name</th>
      <th>NRIC</th>
      <th class="hidden-xs">Gender</th>
      <th class="hidden-xs">D.O.B</th>
      <th>Contact</th>
      <th>Class</th>
      <!-- <th>Award</th> -->
      <!-- <th>Progress</th> -->
      <!-- <th><%#=  (1.month.ago).strftime("%b ' %y") %></th>
      <th><%#=  Date.today.strftime("%b ' %y") %></th>
      <th><%#= (Date.today + 1.months).strftime("%b ' %y") %></th>  -->
      <% count = 0 %>
    </tr>
  </thead>
  <tbody>
    <%# @previous =  (1.month.ago).strftime("%B %Y")  %>
    <%# @current = Date.today.strftime("%B %Y") %>
    <%# @next = (Date.today + 1.months).strftime("%B %Y") %>
    <%# = @group_classes.inspect %>
    <% @day_array = [{"Sun" => 0}, {"Mon" => 1}, {"Tue" =>2}, {"wed" => 3}, {"Thu" => 4}, {"Fri" => 5}, {"Sat" => 6}] %>
    <% @instructor_students.each do |instructor_student| %>
     <% if instructor_student.group_classes.count != 0 %>
        <% count = count + 1 %>
        <tr class="text-left">
          <td style="width:30px;"><%= count %></td>
          <td><%= link_to instructor_student.student_name, instructor_instructor_student_path(instructor_student) %></td>
          <td><%= instructor_student.ic_number.present? == true ? instructor_student.ic_number : "-" %></td>
          <td class="hidden-xs"><%= instructor_student.gender.present? == true ? instructor_student.gender : "-" %></td>
          <td class="hidden-xs"><%= instructor_student.date_of_birth.present? == true ? instructor_student.date_of_birth.strftime("%d %b %Y") : "-" %></td>

          <% @primary_contacts = instructor_student.student_contacts.where(:primary_contact => true).first%> 
          <% if !@primary_contacts.blank? %> 
            <td><%= @primary_contacts.contact %></td>
          <% else %>
            <td>-</td>
          <% end %>
          <td>
            <% if instructor_student.group_classes.count > 0 %>
              <% instructor_student.group_classes.each do |gp|%>
                <span class="label lable-sm label-default" style="margin-right: 5px;">
                  <%#= gp.time.present? == true ? @day_array[gp.day].first[0] + ' ' +gp.time.strftime("%I:%M %p").to_s : @day_array[gp.day].first[0].to_s %>
                  <%= gp.custom_heading %>
                </span>
              <% end %>
            <% end %>
          </td>
          <% @award_progress = ["achieved"] %>
          <% @instructor_student_award = InstructorStudentAward.where(:instructor_student_id => instructor_student.id).where("award_progress NOT IN (?)", @award_progress) %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>