<div class="modal fade" id="basic-<%= student.id %>" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 100px;">
    <div class="modal-content">
      <%= form_for([:instructor, student, Fee.new], :html => {:class=> "form-horizontal", :remote => true} ) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Add Fees</h4>
        </div>
        <div class="modal-body">
          <div class="portlet-body form">
            <div class="form-body">
              <div class="form-group">
                <%= f.label :payment_date, "Date of Payment" %>
                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                    <%= f.text_field :payment_date, :class => "form-control", :value => Time.now.strftime('%e %B %Y'), :id=> "payment_date",:readonly => true, :style=> "background-color: #eee !important;" %>
                    <span class="input-group-btn">
                    <button class="btn default" type="button" style="height: 34px;"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
              </div>
             
              <%= f.hidden_field :course_type, :value => "per month" %> 
              <%= f.hidden_field :monthly_detail, :id => "monthly_detail"%>
              <input type="hidden" value="" id="dataStr"></input>


              <div class="form-group">
                <%= f.label :amount %>
                <%= f.text_field :amount,  :class=>"form-control"%>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn green" id="save_payment">Save</button>
        </div>
      <% end %>  
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.date-picker').datepicker({
      format: 'd MM yyyy'
    });
  });

  $(document).on('click','#basic1',function(){
    var fees_for = $(this).data("fees_for");
    $("input[id=monthly_detail]").val(fees_for);
    var data_str = $(this).data("str");
    $("#dataStr").val(data_str);
  });
</script>
<style type="text/css">
  .datepicker {
    z-index: 999 !important;
  }
  
</style>