<h3>Attendance</h3>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th style="width:30px;">#</th>
      <th>Date</th>
      <th>Time</th>
      <th>Attendance</th>
      <% @count = 0 %>
    </tr>
  </thead>
  <tbody>
  <% @day_array = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"] %>
  <% grp_class = [] %>
  <% grp_class_time = [] %>
    <% @instructorStudentAttendance.order("updated_at desc").each do |grp_cls| %>
      <% grp_class <<  {
                  "attendance_id" => grp_cls,
                  "grpclass_id" => grp_cls.group_class ,
                  'group_class_day' => grp_cls.group_class.day,
                  "grpclass_time" => grp_cls.group_class.time} %>
    <% end %>
    <% grp_class.each do |attendance| %>
      <% @count = @count + 1 %>          
      <tr>
        <td style="width:30px;">
          <%= @count %>
        </td>
        <td><%= attendance['attendance_id']['attendance'].strftime("%d/%m/%y") if !attendance['attendance_id']['attendance_date'].blank? %></td>
        <td>
        <%= @day_array[attendance['grpclass_id']['day']] if !attendance['grpclass_id']['day'].blank? %>-
          <%= attendance['grpclass_id']['time'].strftime("%I:%M %p").to_s + " - " + (attendance['grpclass_id']['time'] + attendance['grpclass_id']['duration']*60).strftime("%I:%M %p").to_s %>
        </td>
        <td><%= attendance['attendance_id']['attendance_status'].capitalize unless attendance['attendance_id']['attendance_status'].blank? %></td>
      </tr>
    <% end %>   
  </tbody>
</table>