<h3>Fees <small><a href="<%= new_instructor_instructor_student_fee_path(@instructor_student)%>">Add/edit</a></small></h3>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th style="width:30px;">#</th>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Mode</th>
      <th>Instructor</th>
      <th></th>
      <% @count = 0 %>
    </tr>
  </thead>
  <tbody>
    <% @instructor_student.fees.order("monthly_detail ASC").each do |fee| %>
      <% @count = @count + 1 %>          
      <tr>
        <td style="width:30px;"><%= @count %></td>
        <td><%= fee.get_payment_date.strftime("%d %b '%y") if fee.get_payment_date.present? %></td>
        <td>
          <% if fee.monthly_detail.blank? %>
            <% if !fee.course_start.blank?  &&  !fee.course_end.blank? %>
              <%= fee.course_start.strftime("%e %b %Y") + ' - ' +  fee.course_end.strftime("%e %b %Y") %>
            <% end %>
          <% else %>
            <%= fee.monthly_detail.strftime("%b %Y") %>
          <% end %>
        </td>
        <td>$<%= fee.amount %></td>
        <td><%= fee.is_paid_by_credit_card ? 'Reddot' : fee.payment_mode %></td>
        <td><%= fee.instructor.name unless fee.instructor.nil? %></td>
        <td><%= link_to "edit", edit_instructor_instructor_student_fee_path(@instructor_student, fee) %></td>
      </tr>
    <% end %>   
  </tbody>
</table>
<!-- <h3>Create Invoice</h3>


<div class="content-page">
  <%#= form_for([:instructor, @fee.instructor_student, @fee], :html => {:class=> "form-horizontal"} ) do |f| %>
    <div class="form-body">
      <%#= f.hidden_field :course_type, value: @instructor_student.group_classes.first.fee_type.name %>
      <%#= f.hidden_field :payment_status, value:"Due"%>
      <div class="form-group">
        <label class="col-md-3 control-label">Fee For</label>
        <div class="col-md-4">
          <%#= f.text_field :monthly_detail, :class => "form-control form-control-inline date-picker1" %>
        </div>
      </div>  
      <div class="form-group">
        <label class="col-md-3 control-label">Fee Due</label>
        <div class="col-md-4">
          <%#= f.number_field :amount, :class=>"form-control"%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Due Date</label>
        <div class="col-md-4">
          <%#= f.text_field :due_date, :class => "form-control form-control-inline date-picker" %>
        </div>
      </div>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-offset-3 col-md-9">
            <%#= f.submit "Create", :class=>"btn green" %>
            <%#= link_to "Cancel",  instructor_instructor_student_path(@instructor_student), :class=> "btn default" %>
          </div>
        </div>
      </div>
    </div>
  <%# end %>
</div> -->

<script type="text/javascript">
  $(document).ready(function(){
    $('.date-picker').datepicker({
      format: 'd MM yyyy'
    });
    $('.date-picker1').datepicker({
      format: 'MM yyyy',
      startView: 2,
      minViewMode: 1
    });

  });
</script>
<style type="text/css">
  .datepicker {
    z-index: 999 !important;
  }
</style>