= form_for @instructor_student do |f|
  - if @instructor_student.errors.any?
    #error_explanation
      %h2= "#{pluralize(@instructor_student.errors.count, "error")} prohibited this instructor_student from being saved:"
      %ul
        - @instructor_student.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :student_name
    = f.text_field :student_name
  .field
    = f.label :age
    = f.number_field :age
  .field
    = f.label :gender
    = f.text_field :gender
  .field
    = f.label :contact
    = f.text_field :contact
  .field
    = f.label :job_id
    = f.check_box :job_id
  .field
    = f.label :date_of_birth
    = f.date_select :date_of_birth
  .actions
    = f.submit 'Save'
