<% display_date = "" %>
<% if params[:action] == "new" || params[:action] == "edit" %>
  <% if f.object.new_record? %>
    <div class="form-group">
      <%= f.label :award_id, "Award Name", :class=>"control-label col-sm-4" %>
      <div class="col-sm-8">
        <%#= f.collection_select :award_ids, Award.all, :id, :name %>
         <%= f.select :award_id, Award.all.map{ |c| [c.name, c.id] }, {:prompt => " Please Select"}, :class => "form-control award_id" %>
      </div>
    </div>
        
      <%= f.hidden_field :award_progress, :value => 'achieved'%>
    <div class="form-group achieved_date">
  		<%= f.label :achieved_date, "Date Achieved", :class=>"control-label col-sm-4" %>
  		<div class="col-sm-8">
        <% if f.object.achieved_date.blank? %>
          <%= f.text_field :achieved_date, :class => "form-control form-control-inline date-picker" , :readonly => true,:style=> "background-color: #eee !important; #{display_date}" %>
  		  <% else %>
          <%= f.text_field :achieved_date, :class => "form-control form-control-inline date-picker", :value => f.object.achieved_date.strftime("%d %B %Y") , :readonly => true,:style=> "background-color: #eee !important; #{display_date}" %>
        <% end %>
      </div>
      <div class="col-sm-12">
        <span class="pull-right"> 
          <%= f.link_to_remove "Remove" %>
        </span>
      </div>  
  	</div>
  <% else %>
    <% if f.object.award_progress == "achieved" %>
      <div class="form-group">
      <%= f.label :award_id, "Award Name", :class=>"control-label col-sm-4" %>
      <div class="col-sm-8">
        <%#= f.collection_select :award_ids, Award.all, :id, :name %>
         <%= f.select :award_id, Award.all.map{ |c| [c.name, c.id] }, {:prompt => " Please Select"}, :class => "form-control award_id" %>
      </div>
    </div>
        
      <%= f.hidden_field :award_progress, :value => 'achieved'%>
    <div class="form-group achieved_date">
      <%= f.label :achieved_date, "Date Achieved", :class=>"control-label col-sm-4" %>
      <div class="col-sm-8">
        <% if f.object.achieved_date.blank? %>
          <%= f.text_field :achieved_date, :class => "form-control form-control-inline date-picker" , :readonly => true,:style=> "background-color: #eee !important; #{display_date}" %>
        <% else %>
          <%= f.text_field :achieved_date, :class => "form-control form-control-inline date-picker", :value => f.object.achieved_date.strftime("%d %B %Y") , :readonly => true,:style=> "background-color: #eee !important; #{display_date}" %>
        <% end %>
      </div>
      <div class="col-sm-12">
        <span class="pull-right"> 
          <%= f.link_to_remove "Remove" %>
        </span>
      </div>  
    </div>
    <% end %>
  <% end %>
<% else %>
  <% if f.object.new_record? %>
    <div class="row">
      <div class="col-xs-4 text-right text-muted padding-top-10">Award Name</div>
      <div class="col-xs-8  padding-top-10">
        <%= f.select :award_id, Award.all.map{ |c| [c.name, c.id] }, {:prompt => " Please Select"}, :class => "form-control award_id" %>
      </div>
    </div>
    <%= f.hidden_field :award_progress, :value => 'achieved'%>
    <div class="row achieved_date">
      <div class="col-xs-4 text-right text-muted padding-top-10">Date Achieved</div>
      <div class="col-xs-8  padding-top-10">
        <% if f.object.achieved_date.blank? %>
          <%= f.text_field :achieved_date, :class => "form-control form-control-inline date-picker" , :readonly => true,:style=> "background-color: #eee !important; #{display_date}" %>
        <% else %>
          <%= f.text_field :achieved_date, :class => "form-control form-control-inline date-picker", :value => f.object.achieved_date.strftime("%d %B %Y") , :readonly => true,:style=> "background-color: #eee !important; #{display_date}" %>
        <% end %>
      </div>
      <div class="col-sm-12">
        <span class="pull-right"> 
            <%= f.link_to_remove "Remove"  %>
        </span>
      </div>  
    </div>
  <% else %>
    <% if f.object.award_progress == "achieved" %>
      <div class="row">
        <div class="col-xs-4 text-right text-muted padding-top-10">Award Name</div>
        <div class="col-xs-8  padding-top-10">
          <%= f.select :award_id, Award.all.map{ |c| [c.name, c.id] }, {:prompt => " Please Select"}, :class => "form-control award_id" %>
        </div>
        </div>
      <%= f.hidden_field :award_progress, :value => 'achieved'%>
      <div class="row achieved_date">
        <div class="col-xs-4 text-right text-muted padding-top-10">Date Achieved</div>
        <div class="col-xs-8  padding-top-10">
          <% if f.object.achieved_date.blank? %>
            <%= f.text_field :achieved_date, :class => "form-control form-control-inline date-picker" , :readonly => true,:style=> "background-color: #eee !important; #{display_date}" %>
          <% else %>
            <%= f.text_field :achieved_date, :class => "form-control form-control-inline date-picker", :value => f.object.achieved_date.strftime("%d %B %Y") , :readonly => true,:style=> "background-color: #eee !important; #{display_date}" %>
          <% end %>
        </div>
        <div class="col-sm-12">
          <span class="pull-right"> 
            <% f_id = f.object.id.to_i %>
            <%= link_to "Remove" ,"javascript:;", :class => "remove_award_inf", :id => "#{f_id}" %>
          </span>
        </div>  
      </div>
    <% end %>
  <% end %>
<% end %>  
<script type="text/javascript">
  $(document).ready(function(){
  	$('.date-picker').datepicker({
      format: 'd MM yyyy'	
    });
    $('#instructor_student_student_name').change(function(){
    	var name = $(this).val();
    	console.log(name);
    	var final_name = name.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  		$(this).val(final_name);
    });
  });

  var idAwardName = 'awardName-';
  var idAwardProgress = 'awardProgress-';
  var idDateAchieved = 'awardDateAchieved-';
  $('.award_progress').each(function(i) {
    $(this).attr({ id: idAwardProgress + i });
  });

  $('.award_id').each(function(i) {
    $(this).attr({ id: idAwardName + i });
  });

  $('.achieved_date').each(function(s) {
    $(this).attr({ id: idDateAchieved + s });
  });
</script>