<% @m = @previousMonths.index(@startMonth)..@nextMonths.index(@endMonth)%>
<% @mon = [] %>
<% @previousMonths.each_with_index do |p, i| %>
  <% if i <= @previousMonths.index(@startMonth) %>
  <% @mon << p %>
  <%end %>
<% end %>
<% @mon = @mon.reverse %>
<% @mon <<  Date.today.strftime("%b-%y") %>
<% @nextMonths.reverse.each_with_index do |p, i| %>
  <% if i <= @nextMonths.reverse.index(@endMonth) %>
  <% @mon << p %>
  <% end %>
<% end %>

<div class="content-page">
<%= title "Instructor" %>
<% if !admin_user_signed_in? %>
  <%= render "instructor/shared/login" %>
<% else %>
  <!-- application helper called to sort classes by day and sunday will be at last -->
  <% sorted_group_classes = sort_group_classes_by_day(@group_classes) %>
  <div class="col-sm-12 column-selector">
    <% @previous =  (1.month.ago).strftime("%b-%Y")  %>
    <% @current = Date.today.strftime("%b-%Y") %>
    <% @next = (Date.today + 1.months).strftime("%b-%Y") %>
    <% @data_column = ['Profile-pic','Name', 'Contact', 'IC-number','Date-of-birth','Join-date','Description','Ready-for','Training-for','Registered-for', 'Achieved', @previous, @current, @next] %>
    
    <div class="form-group manage_view_index">
      <%= form_tag instructor_instructor_students_path, :method => 'get', :html => { :class=> "form-horizontal" } do %>
        <div class="col-xs-6 col-sm-4">
          <%= hidden_field_tag :group_class, @hide_show_column %>
          Student Information<br/>
          <label><input type="checkbox" name="profile-picture" value="profile-picture" class="student_field_checkbox" <%= @hide_show_columns.profile_pic? ? "checked" : "" %> > Profile pic</label><br>
          <label><input type="checkbox" name="Contact" value="Contact" class="student_field_checkbox" <%= @hide_show_columns.contact? ? "checked" : "" %> > Contact</label><br>
          <label><input type="checkbox" name="ic-number" value="ic-number" class="student_field_checkbox" <%= @hide_show_columns.ic_number? ? "checked" : "" %> > IC Number</label><br>
          <label><input type="checkbox" name="date-of-birth" value="date-of-birth" class="student_field_checkbox" <%= @hide_show_columns.date_of_birth? ? "checked" : "" %> > Date of birth</label><br>
          <label><input type="checkbox" name="joined-date" value="joined-date" class="student_field_checkbox" <%= @hide_show_columns.join_date? ? "checked" : "" %> > Joined date</label><br>
          <label><input type="checkbox" name="description" value="description" class="student_field_checkbox" <%= @hide_show_columns.description? ? "checked" : "" %> > Description</label><br>
        </div>
        <div class="col-xs-6 col-sm-4">
          Student Progress<br/>
          <label><input type="checkbox" name="ready-for" value="ready-for" class="student_field_checkbox" <%= @hide_show_columns.ready_for? ? "checked" : "" %> > Ready for</label><br>
          <label><input type="checkbox" name="training-for" value="training-for" class="student_field_checkbox" <%= @hide_show_columns.training_for? ? "checked" : "" %> > Training for</label><br>
          <label><input type="checkbox" name="registered-for" value="registered-for" class="student_field_checkbox" <%= @hide_show_columns.registered_for? ? "checked" : "" %>> Registered for</label><br>
          <label><input type="checkbox" name="achieved" value="achieved" class="student_field_checkbox" <%= @hide_show_columns.achieved? ? "checked" : "" %> > Achieved</label><br>                 
          <input id="tableName" name="tableName" value="instructor_students" type="hidden" />
          <input id="columnField" name="columnField" value="" type="hidden" />
         <!--  <button class="btn btn-success btnGo1" style="margin-left: 7px;" name="commit" type=" submit" value="GO" >
               <i class="fa fa-arrow-left fa-fw"></i> Go
          </button>    -->   
        </div>
        <div class="col-xs-6 col-sm-4">
         <!--  <%#= form_tag instructor_add_more_months_fee_path, :method => 'get', :html => { :class=> "form-horizontal" } do %>
            <%#= select_tag(:start_month, options_for_select(@previousMonths.reverse, selected: (1.month.ago).strftime("%b-%y") )) %>
            <%#= select_tag(:end_month, options_for_select(@nextMonths.reverse, selected: (Date.today + 1.months).strftime("%b-%y") )) %>
            <button class="btn btn-success btnGo1" style="margin-left: 7px;" name="commit" type=" submit" value="GO" >
             <i class="fa fa-arrow-left fa-fw"></i> Go
            </button>
          <%# end %> -->

             
          <%#= hidden_field_tag :group_class, @hide_show_column %>
          <%#= hidden_field_tag :group_class, @group_class.id %>
          <input name="is_submit" value='true' type="hidden"/>
         <!--  <input id="tableName" name="tableName" value="group_class" type="hidden" /> -->
          <input id="columnName" name="columnName" value="" type="hidden" />
          <div class="row clearfix">
            <div class="col-xs-12">
              <!-- Fee / Attendance<br>
              <div class="col-xs-1" style="padding:0;">
                <input type="checkbox" name="fee_check" id="fee_check" value="true" <%#= @is_fees_check %> onchange="set_fees_dropdown()" >
              </div>
              <div class="col-xs-10" style="padding:0;">
                <div class="col-xs-5" style="padding:5px;">  
                  <%#= select_tag(:start_month, options_for_select(@previousMonths.reverse, selected: @startMonth.blank? ? (1.month.ago).strftime("%b-%y") : @startMonth ), class: "form-control startMon drop-down", disabled: @is_fees_check == 'checked' ? false : true) %>
                </div>
                <div class="col-xs-5" style="padding:5px;">
                  <%#= select_tag(:end_month, options_for_select(@nextMonths.reverse, selected: @endMonth.blank? ? (Date.today + 1.months).strftime("%b-%y") : @endMonth ), class: "form-control endMon drop-down", disabled: @is_fees_check == 'checked' ? false : true) %>
                </div>
              </div> -->
            </div>
          </div><br>
          <br>
          <div class="row clearfix">
            <div class="col-xs-12">
              <button class="btn btn-success btnGo1" style="margin-left: 7px; float: right;" name="commit" type=" submit" value="GO" >
                 Go
              </button>
            </div>
          </div>
          <br>
        </div>           
      <% end %>
    </div>
  </div>
  <div id="tab_5_1">
    <div>
    <% tbl_count = 0%>
      <% sorted_group_classes.each do |group_class|%>
        <% if params[:award_id] || params[:search] %>
          <% @int_std_cnt = group_class.instructor_students.where(:id => @instructor_student_awards_student_list).count %>
        <% elsif params[:fee_month] || params[:award_count] %>
          <% @int_std_cnt = group_class.instructor_students.where(:id => @instructor_students.ids).count %>
        <% else %>
          <% @int_std_cnt = group_class.instructor_students.count %>
        <% end %>
        <% if @int_std_cnt > 0 %>
          <% tbl_count += 1%>
          <% table_name = "tbl_"+tbl_count.to_s+"_"%>

          <h2 class="pull-left group_header invisible_group h2_group_class_<%= group_class.id %>">
            <%= group_class.heading %>
               <!-- <small style="font-size: 50%;"><%#= link_to "Mange fee", instructor_group_class_view_path(group_class) %></small> -->
          </h2>
          <a href="<%= new_instructor_instructor_student_path + '?gp='+group_class.id.to_s %>" class="btn default pull-right"><i class="fa fa-plus"></i>Student</a>
          <div class="clearfix"></div>

          <table class="table custTable mytable invisible_group<%= table_name%>" id="group_class_std_<%= group_class.id %>">
            <thead>
              <tr class="heading">
                 <th style="max-width: 10px !important;">&nbsp;</th>
                 <th><input type="checkbox" name="checkedAll" id="group_class_std_<%= group_class.id %>" value="" class="checkedAll_group "></input></th>
                 <th class="Profile-pic" style="<%= @hide_show_columns.profile_pic? ? '' : 'display: none;' %>">Profile pic</th>
                 <th class="Name <%= table_name%>t_col_0">Name </th>
                 <th class="Contact <%= table_name%>t_col_1" style="<%= @hide_show_columns.contact? ? '' : 'display: none;' %> white-space:nowrap;">Contact</th>

                 <th class="IC-number <%= table_name%>t_col_2" style="<%= @hide_show_columns.ic_number? ? '' : 'display: none;' %> white-space:nowrap;">IC Number</th>

                 <th class="Date-of-birth <%= table_name%>t_col_3" style="<%= @hide_show_columns.date_of_birth? ? '' : 'display: none;' %> white-space:nowrap; ">Date of birth</th>

                 <th class="Join-date <%= table_name%><%= table_name%>t_col_4" style="<%= @hide_show_columns.join_date? ? '' : 'display: none;' %> white-space:nowrap;">Join</th>

                 <th class="Description <%= table_name%>t_col_5" style="<%= @hide_show_columns.description? ? '' : 'display: none;' %> white-space:nowrap;">Description</th>

                 <th class="Ready-for <%= table_name%>t_col_6" style="<%= @hide_show_columns.ready_for? ? '' : 'display: none;' %> white-space:nowrap;">Ready for</th>

                 <th class="Training-for <%= table_name%>t_col_7" style="<%= @hide_show_columns.training_for? ? '' : 'display: none;' %> white-space:nowrap;">Training for</th>

                 <th class="Registered-for <%= table_name%>t_col_8" style="<%= @hide_show_columns.registered_for? ? '' : 'display: none;' %> white-space:nowrap;">Registered for</th>

                 <th class="Achieved <%= table_name%>t_col_9" style="<%= @hide_show_columns.achieved? ? '' : 'display: none;' %> white-space:nowrap;">Achieved</th>
                 
                  <% if  params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@previous || params[:award_count]  %>
                   <th class="<%= @previous %> <%= table_name%>t_col_10"><%= @previous %></th>
                  <% elsif params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@current || params[:award_count] %>
                   <th class="<%= @current %> <%= table_name%>t_col_11"><%= @current %></th>
                  <% elsif params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@next || params[:award_count]  %>
                   <th class="<%= @next %> <%= table_name%>t_col_12"><%= @next %></th>
                  <%end %>
                 <% count = 0 %>
              </tr>
            </thead>
            <tbody>
              <% count = 0 %>
              <% if params[:award_id] || params[:search] %>
                <% @group_class_student = group_class.instructor_students.where(:id => @instructor_student_awards_student_list) %>
              <% elsif params[:fee_month] || params[:award_count] %>
                <% @group_class_student = group_class.instructor_students.where(:id => @instructor_students.ids) %>
              <% else %>
                <% @group_class_student = group_class.instructor_students %>
              <% end %>
              <% @group_class_student.each do |instructor_student| %>
                <% if !instructor_student.is_deleted? %>
                  <% if instructor_student.group_id == nil %>
                    <% count = count + 1 %>
                    <% if count == 1 %>
                      <tr class="invisible_group group_class_<%= group_class.id %>">
                        <td><input type="checkbox" name="checkedAll" id="group_class_<%= group_class.id %>" value="" class="checkedAll groupClassCheck"></input></td>
                        <td colspan="15"><strong>Unallocated</strong> 
                        <%= group_class.heading%>
                        </td>
                      </tr>
                    <% end %>

                    <tr class="text-left invisible_group group_class_<%= group_class.id %>" id="student_<%= instructor_student.id %>" data-student_id="student-<%= instructor_student.id %>">
                      <td><%= count %></td>
                      <td><input type="checkbox" name="checkAll" id="group_class_std_<%= group_class.id %>" value="<%= instructor_student.id %>" class="check_student_group group_class_std_<%= group_class.id %>"></input></td>
                      <td class="Profile-pic" style="<%= @hide_show_columns.profile_pic? ? '' : 'display: none;' %>">
                        <% if instructor_student.profile_picture.present? %>
                          <a class="fancybox" href="<%= instructor_student.profile_picture.url(:original) %>"> <img class="avatar img-responsive circle" alt="" src="<%= instructor_student.profile_picture.url(:thumb) %>">
                          </a>
                        <% else %>
                          <img src="/assets/no_image.gif" class="avatar img-responsive">
                        <% end %> 
                      </td>
                      <td class="Name <%= table_name%>t_col_0">
                        <%= link_to instructor_student.student_name.to_s, instructor_instructor_student_path(instructor_student, :gp => params[:id]), :class => "tooltips", :"data-placement" => "right", :"data-original-title" => "Student ID : #{instructor_student.id}" %>
                      </td>
                      <% @primary_contacts = instructor_student.student_contacts.where(:primary_contact => true).first%> 
                      <td class="Contact <%= table_name%>t_col_1" style="<%= @hide_show_columns.contact? ? '' : 'display: none;' %> white-space:nowrap;">
                        <% if !@primary_contacts.blank? %><%= @primary_contacts.contact %>
                        <% else %>-<% end %> 
                      </td>
                      <td class="IC-number <%= table_name%>t_col_2" style="<%= @hide_show_columns.ic_number? ? '' : 'display: none;' %> white-space:nowrap;">
                        <%= instructor_student.ic_number ? instructor_student.ic_number : "  -  " %>
                      </td>
                      <td class="Date-of-birth <%= table_name%>t_col_3" style="<%= @hide_show_columns.date_of_birth? ? '' : 'display: none;' %> white-space:nowrap; ">
                        <%= instructor_student.date_of_birth ? instructor_student.date_of_birth.strftime("%e %b %Y") : " - " %>
                      </td>
                      <td class="Join-date <%= table_name%>t_col_4" style="<%= @hide_show_columns.join_date? ? '' : 'display: none;' %> white-space:nowrap;">
                        <%= instructor_student.join_date ? instructor_student.join_date.strftime("%e %b %Y") : " - " %>
                      </td>
                      <td class="Description <%= table_name%>t_col_5" style="<%= @hide_show_columns.description? ? '' : 'display: none;' %> white-space:nowrap;">
                        <%= instructor_student.additional_description ? instructor_student.additional_description : " - " %>
                      </td>
                      <td class="Ready-for <%= table_name%>t_col_6" style="<%= @hide_show_columns.ready_for? ? '' : 'display: none;' %> white-space:nowrap;">
                        <% status = ["ready_for", "Ready"]%>
                        <% @ready_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?) AND is_registered = (?)", status, false) %>
                        <% if @ready_for_award.count > 0 %>
                          <% @ready_for_award.each do |ready_award| %>
                            <%= ready_award.award.short_name.present? ? ready_award.award.short_name : ready_award.award.name%><br/>
                          <% end %>
                        <% else %>
                          - 
                        <% end %>
                      </td>
                      <td class="Training-for <%= table_name%>t_col_7" style="<%= @hide_show_columns.training_for? ? '' : 'display: none;' %> white-space:nowrap;">
                        <% training_status = ["training_for", "Training"] %>
                        <% @training_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?)", training_status) %>
                        <% if @training_for_award.count > 0 %>
                          <% @training_for_award.each do |training_award| %>
                            <%= training_award.award.short_name.present? ? training_award.award.short_name : training_award.award.name %><br/>
                          <% end %>
                        <% else %>
                          - 
                        <% end %>
                      </td>
                      <td class="Registered-for <%= table_name%>t_col_8" style="<%= @hide_show_columns.registered_for? ? '' : 'display: none;' %> white-space:nowrap;">
                        <% status = ["ready_for", "Ready"]%>
                        <% @registred_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?) AND is_registered = ?", status, true) %>
                        <% if @registred_for_award.count > 0 %>
                          <% @registred_for_award.each do |registred_award| %>
                            <%= registred_award.award.short_name.present? ? registred_award.award.short_name : registred_award.award.name %><br/>
                          <% end %>
                        <% else %>
                          -
                        <% end %>
                      </td>
                      <td class="Achieved <%= table_name%>t_col_9" style="<%= @hide_show_columns.achieved? ? '' : 'display: none;' %> white-space:nowrap;"> 
                        <% @award_progress = ["achieved", "Achieved"] %>
                        <% @latest_award = instructor_student.instructor_student_awards.where("award_progress IN (?)", @award_progress).order("updated_at DESC").where.not(:award_id => nil) %>

                        <% @latest_award_id = @latest_award.first unless @latest_award.blank? %>
                        
                        <% if instructor_student.instructor_student_awards.where("award_progress IN (?)", @award_progress).order("updated_at DESC").where.not(:award_id => nil).count != 0 %>
                          <% @award = Award.order('id').find_by_id(@latest_award_id.award_id)%>
                          <span>
                          <%= @award.short_name.present? ? @award.short_name : @award.name %><small><br/> <%= time_ago_in_words(@latest_award_id.achieved_date).gsub('about','') + ' ago' if @latest_award_id.achieved_date? %></small><br>
                          </span>
                        <% else %>
                          - 
                        <% end %> 
                      </td>
                      <% if FeeType.find(group_class.fee_type_id).name.downcase == "per month" %>
                        <% @precnt = "" %>
                        <% @curcnt = "" %>
                        <% @feucnt = "" %>
                        <!-- Fees id for edit fee & delete fee -->
                        <% @pre_id = '' %>
                        <% @cur_id = '' %>
                        <% @fue_id = '' %>

                        <% @fee = instructor_student.fees.where(:course_type=>"per month") %>
                        <% if @fee.length > 0 %>
                          <% @fee.each do |fee| %>
                            <% if !fee.monthly_detail.blank? %>
                              <% if fee.monthly_detail.strftime("%b") == (1.month.ago).strftime("%b")%>
                                <% @precnt = fee.payment_date ? fee.payment_date.strftime("%e %b") : nil %>
                                <% if fee.payment_date? %>
                                  <% @pre_id = fee %>
                                <% end %>
                              <% elsif fee.monthly_detail.strftime("%b") == Date.today.strftime("%b")%>
                                <% @curcnt = fee.payment_date ? fee.payment_date.strftime("%e %b") : nil %>
                                <% if fee.payment_date? %>
                                  <% @cur_id = fee %>
                                <% end %>
                              <% elsif fee.monthly_detail.strftime("%b") == (Date.today + 1.months).strftime("%b")%>
                                <% @feucnt = fee.payment_date ? fee.payment_date.strftime("%e %b") : nil  %>
                                <% if fee.payment_date? %>
                                  <% @fue_id = fee %>
                                <% end %>
                              <% end %>
                            <% end %> 
                          <% end %>
                        <% end %>
                        <% if (@precnt == "" && @curcnt == "" && @feucnt == "") %>

                          <% if params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@previous || params[:award_count]  %>
                            <td id="previous" class="<%=  (1.month.ago).strftime("%b-%Y") %> <%= table_name%>t_col_10">
                              <!-- <a  data-toggle="modal" data-fees_for="<%#= (1.month.ago).strftime("%B %Y") %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-p" data-group-class="<%#= group_class.id %>">
                                <i class="fa fa-plus"></i>Fee
                              </a> --><span style="color:red;">Unpaid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.first,:instructor_student=>instructor_student%>
                            </td>
                          <% elsif params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@current || params[:award_count]  %>
                            <td id="current" class="<%=  Date.today.strftime("%b-%Y") %> <%= table_name%>t_col_11" >
                              <!-- <a  data-toggle="modal" data-fees_for="<%#= Date.today.strftime("%B %Y") %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-c" data-group-class="<%#= group_class.id %>">
                                <i class="fa fa-plus"></i>Fee
                              </a> --><span style="color:red;">Unpaid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.second,:instructor_student=>instructor_student%>
                            </td>
                          <% elsif params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@next || params[:award_count] %>
                            <td id="next" class="<%=  (Date.today + 1.months).strftime("%b-%Y") %> <%= table_name%>t_col_12">
                             <!--  <a  data-toggle="modal" data-fees_for="<%#= (Date.today + 1.months).strftime("%B %Y") %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-n" data-group-class="<%#= group_class.id %>">
                                <i class="fa fa-plus"></i>Fee
                              </a> --><span style="color:red;">Unpaid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.third,:instructor_student=>instructor_student%>
                            </td>
                          <%end %>
                        <% else %>
                          <% if params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@previous || params[:award_count] %>
                            <% if @precnt == ""%>
                              <td id="previous" class="<%=  (1.month.ago).strftime("%b-%Y") %> <%= table_name%>t_col_10">
                               <!--  <i class="fa fa-plus"></i>Fee</a> --><span style="color:red;">Unpaid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.first,:instructor_student=>instructor_student%>
                              </td>
                            <% else%>
                              <td class="<%= (1.month.ago).strftime("%b-%Y") %> <%= table_name%>t_col_10">
                                <%#= link_to @precnt ,instructor_remove_fee_path(@pre_id.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}", remote: :true, :"data-str" => "#{instructor_student.id}-p", :class => "updateFee" %><span style="color:green;">Paid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.first,:instructor_student=>instructor_student%>
                              </td>
                            <% end %>
                          <% elsif params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@current || params[:award_count] %>
                            <% if @curcnt == ""%>
                              <td id="current" class="<%=  Date.today.strftime("%b-%Y") %> <%= table_name%>t_col_11" >
                                <!-- <i class="fa fa-plus"></i>Fee</a> --><span style="color:red;">Unpaid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.second,:instructor_student=>instructor_student%>
                              </td>
                            <% else%>
                              <td class="<%= Date.today.strftime("%b-%Y") %> <%= table_name%>t_col_11">
                                <%#= link_to @curcnt ,instructor_remove_fee_path(@cur_id.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}", remote: :true, :"data-str" => "#{instructor_student.id}-c", :class => "updateFee" %><span style="color:green;">Paid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.second,:instructor_student=>instructor_student%>
                              </td>
                            <% end %>
                          <% elsif params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@next || params[:award_count] %>
                            <% if @feucnt == ""%>
                              <td id="next" class="<%=  (Date.today + 1.months).strftime("%b-%Y") %> <%= table_name%>t_col_12" >
                               <span style="color:red;">Unpaid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.third,:instructor_student=>instructor_student%>
                              </td>
                            <% else%>
                              <td class="<%=  (Date.today + 1.months).strftime("%b-%Y") %> <%= table_name%>t_col_12">
                                <%#= link_to @feucnt ,instructor_remove_fee_path(@fue_id.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}", remote: :true, :"data-str"=>"#{instructor_student.id}-n", :class => "updateFee" %><span style="color:green;">Paid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.third,:instructor_student=>instructor_student%>
                              </td>
                            <% end %>
                          <%end %>
                        <% end %>
                        <% @group_class = group_class %>
                        <%#= render "/instructor/home/add_fee", :student => instructor_student %>
                      <% else %>
                        <td id="course_detail" class="<%=  (1.month.ago).strftime("%b-%Y") %> <%= table_name%>t_col_10">
                          <% @fee = instructor_student.fees.where(:course_type => "per course") %>
                          <% if @fee.length > 0%>
                            <% @fee.each do |fee| %>
                              <a href="<%= instructor_edit_per_course_fee_path(fee.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}" %>" data-remote="true" class="updateFee" data-str="<%= instructor_student.id %>-c" id="perCourseFee_<%= fee.id %>">
                                <% if !fee.amount.blank? %>
                                  <strong>$<%= fee.amount %></strong> 
                                <% end %>  
                                <% if !fee.course_start.blank? && !fee.course_end.blank? %>
                                  <small><%= fee.course_start.strftime("%e %b %Y") + ' - ' + fee.course_end.strftime("%e %b %Y") %></small><br/>
                                <% end %>
                              </a>
                            <% end %>
                          <% else %>
                            <a data-toggle="modal" href="#basic-<%= instructor_student.id %>" id="student-<%= instructor_student.id %>"><i class="fa fa-plus"></i> Fee </a>
                          <% end %>
                        </td>
                        <td class="<%=  Date.today.strftime("%b-%Y") %> <%= table_name%>t_col_11">
                          <% if @fee.length > 0 %>
                            <a data-toggle="modal" href="#basic-<%= instructor_student.id %>" id="student-<%= instructor_student.id %>"><i class="fa fa-plus"></i> Fee </a>
                          <% else %>
                          -
                          <% end %>
                        </td>
                        <td class="<%=  (Date.today + 1.months).strftime("%b-%Y") %> <%= table_name%>t_col_12"><%= @feucnt %></td>
                        <% @group_class = group_class %>
                        <%= render "/instructor/home/add_fee_course", :student => instructor_student, :group_class => @group_class %>
                      <% end %>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>





              
              <% group_class.groups.each do |group| %>
                <% if params[:award_id] || params[:search]%>
                  <% @group_student_cnt = group.instructor_students.where(:id => @instructor_student_awards_student_list) %>
                <% elsif params[:fee_month] || params[:award_count] %>
                  <% @group_student_cnt = group.instructor_students.where(:id => @instructor_students.ids) %>
                <% else %>
                  <% @group_student_cnt = group.instructor_students %>
                <% end %>
                <% if @group_student_cnt.count > 0 %>
                    <tr class="group_id_<%= group.id %>  invisible_group">
                      <td><input type="checkbox" name="checkedAll" id="group_id_<%= group.id %>" value="" class="checkedAll groupClassCheckBox" ></input></td>
                      <td colspan="15"><strong><%= group.group_name %></strong> 
                      <%= group_class.heading%>
                      </td>
                    </tr>
                    <% count = 0 %>
                    <% if params[:award_id] || params[:search] %>
                      <% @group_stu  = group.instructor_students.where(:id => @instructor_student_awards_student_list)%>
                    <% elsif params[:fee_month] || params[:award_count] %>
                      <% @group_stu  = group.instructor_students.where(:id => @instructor_students.ids) %>
                    <% else %>
                      <% @group_stu  = group.instructor_students%>
                    <% end %>
                    <% @group_stu.each do |instructor_student| %>
                      <% if !instructor_student.is_deleted? %>  
                        <% count = count + 1 %>
                        <tr class="text-left group_id_<%= group.id %> invisible_group" id="student_<%= instructor_student.id %>" data-student_id="student-<%= instructor_student.id %>">
                          <td><%= count %></td>
                          <td><input type="checkbox" name="checkAll" id="group_class_std_<%= group_class.id %>" value="<%= instructor_student.id %>" class="check_student_group group_class_std_<%= group_class.id %>"></input></td>
                          <td class="Profile-pic" style="<%= @hide_show_columns.profile_pic? ? '' : 'display: none;' %>">
                            <% if instructor_student.profile_picture.present? %>
                             <a class="fancybox" href="<%= instructor_student.profile_picture.url(:original) %>">
                              <img class="avatar img-responsive circle" alt="" src="<%= instructor_student.profile_picture.url(:thumb) %>">
                             </a> 
                            <% else %>
                              <img src="/assets/no_image.gif" class="avatar img-responsive">
                            <% end %>
                          </td>
                          <td class="Name <%= table_name%>t_col_0">
                            <%= link_to instructor_student.student_name.to_s, instructor_instructor_student_path(instructor_student, :gp => params[:id]), :class => "tooltips", :"data-placement" => "right", :"data-original-title" => "Student ID : #{instructor_student.id}" %>
                          </td>
                          <% @primary_contacts = instructor_student.student_contacts.where(:primary_contact => true).first%> 
                          <td class="Contact <%= table_name%>t_col_1" style="<%= @hide_show_columns.contact? ? '' : 'display: none;' %> white-space:nowrap;">
                            <% if !@primary_contacts.blank? %><%= @primary_contacts.contact %>
                            <% else %>-<% end %> 
                          </td>
                          <td class="IC-number <%= table_name%>t_col_2" style="<%= @hide_show_columns.ic_number? ? '' : 'display: none;' %> white-space:nowrap;"><%= instructor_student.ic_number %></td>
                          <td class="Date-of-birth <%= table_name%>t_col_3" style="<%= @hide_show_columns.date_of_birth? ? '' : 'display: none;' %> white-space:nowrap; "><%= instructor_student.date_of_birth.strftime("%e %b %Y") if instructor_student.date_of_birth %></td>
                          <td class="Join-date <%= table_name%>t_col_4" style="<%= @hide_show_columns.join_date? ? '' : 'display: none;' %> white-space:nowrap;"><%= instructor_student.join_date.strftime("%e %b %Y") if instructor_student.join_date %></td>
                          <td class="Description <%= table_name%>t_col_5" style="<%= @hide_show_columns.description? ? '' : 'display: none;' %> white-space:nowrap;"><%= instructor_student.additional_description %></td>

                          <td class="Ready-for <%= table_name%>t_col_6" style="<%= @hide_show_columns.ready_for? ? '' : 'display: none;' %> white-space:nowrap;">
                            <% status = ["ready_for", "Ready"]%>
                            <% @ready_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?) AND is_registered = (?)", status, false) %>
                            <% if @ready_for_award.count > 0 %>
                              <% @ready_for_award.each do |ready_award| %>
                                <%= ready_award.award.short_name.present? ? ready_award.award.short_name : ready_award.award.name %><br/>
                              <% end %>
                            <% else %>
                              -
                            <% end %>
                          </td>
                          <td class="Training-for <%= table_name%>t_col_7" style="<%= @hide_show_columns.training_for? ? '' : 'display: none;' %> white-space:nowrap;">
                            <% training_status = ["training_for", "Training"] %>
                            <% @training_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?)", training_status) %>
                            <% if @training_for_award.count > 0 %>
                              <% @training_for_award.each do |training_award| %>
                                <%= training_award.award.short_name.present? ? training_award.award.short_name : training_award.award.name %><br/>
                              <% end %>
                            <% else %>
                              -
                            <% end %>
                          </td>
                          <td class="Registered-for <%= table_name%>t_col_8" style="<%= @hide_show_columns.registered_for? ? '' : 'display: none;' %> white-space:nowrap;">
                            <% status = ["ready_for", "Ready"]%>
                            <% @registred_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?) AND is_registered = ?", status, true) %>
                            <% if @registred_for_award.count > 0 %>
                              <% @registred_for_award.each do |registred_award| %>
                                <%= registred_award.award.short_name.present? ? registred_award.award.short_name : registred_award.award.name %><br/>
                              <% end %>
                            <% else %>
                              -
                            <% end %>
                          </td>
                          <td class="Achieved <%= table_name%>t_col_9" style="<%= @hide_show_columns.achieved? ? '' : 'display: none;' %> white-space:nowrap;"><% @award_progress = ["achieved", "Achieved"] %>
                            <% @latest_award = instructor_student.instructor_student_awards.where("award_progress IN (?)", @award_progress).order("updated_at DESC").where.not(:award_id => nil) %>

                            <% @latest_award_id = @latest_award.first unless @latest_award.blank? %>
                            <%# latest_award_status = @latest_award.first.award_progress unless @latest_award.blank? %>
                            <% if instructor_student.instructor_student_awards.where("award_progress IN (?)", @award_progress).order("updated_at DESC").where.not(:award_id => nil).count != 0 %>
                              <%# instructor_student.instructor_student_awards.where("award_progress IN (?)", @award_progress).order("updated_at DESC").where.not(:award_id => nil).each do |ins_award| %>
                              <!-- <span class="text-muted"> <%#= latest_award_status.gsub("_", " ").capitalize if !latest_award_status.blank? %> </span> -->
                              <% @award = Award.order('id').find_by_id(@latest_award_id.award_id)%>
                              <span>
                              <%= @award.short_name.present? ? @award.short_name : @award.name %><small><br/> <%= time_ago_in_words(@latest_award_id.achieved_date).gsub('about','') + ' ago' if @latest_award_id.achieved_date? %></small><br>
                              </span>
                              <%# end %>
                            <% else %>
                             -
                            <% end %> 
                          </td>
                          <% if FeeType.find(group_class.fee_type_id).name.downcase == "per month" %>
                            <% @precnt = "" %>
                            <% @curcnt = "" %>
                            <% @feucnt = "" %>
                            <!-- Fees id for edit fee & delete fee -->
                            <% @pre_id = '' %>
                            <% @cur_id = '' %>
                            <% @fue_id = '' %>

                            <% @fee = instructor_student.fees.where(:course_type=>"per month") %>
                            <% if @fee.length > 0 %>
                              <% @fee.each do |fee| %>
                                <% if !fee.monthly_detail.blank? %>
                                  <% if fee.monthly_detail.strftime("%b") == (1.month.ago).strftime("%b")%>
                                    <% @precnt = fee.payment_date ? fee.payment_date.strftime("%e %b") : nil %>
                                    <% if fee.payment_date? %>
                                      <% @pre_id = fee%>
                                    <% end %>
                                  <% elsif fee.monthly_detail.strftime("%b") == Date.today.strftime("%b")%>
                                    <% @curcnt = fee.payment_date ? fee.payment_date.strftime("%e %b") : nil %>
                                    <% if fee.payment_date? %>
                                      <% @cur_id = fee%>
                                    <% end %>
                                  <% elsif fee.monthly_detail.strftime("%b") == (Date.today + 1.months).strftime("%b")%>
                                    <% @feucnt = fee.payment_date ? fee.payment_date.strftime("%e %b") : nil  %>
                                    <% if fee.payment_date? %>
                                      <% @fue_id = fee%>
                                    <% end %>
                                  <% end %>
                                <% end %> 
                              <% end %>
                            <% end %>
                            <% if (@precnt == "" && @curcnt == "" && @feucnt == "") %>
                              <% if params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@previous || params[:award_count] %>
                                <td id="previous" class="<%=  (1.month.ago).strftime("%b-%Y") %> <%= table_name%>t_col_10">
                                  <!-- <a  data-toggle="modal" data-fees_for="<%#= (1.month.ago).strftime("%B %Y") %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-p" data-group-class="<%#= group_class.id %>">
                                    <i class="fa fa-plus"></i>Fee
                                  </a> -->  <%#=@mon.to_a.first%><span style="color:red;">Unpaid</span><br>
                                  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.first,:instructor_student=>instructor_student%>
                                 
                                </td>
                              <% elsif params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@current || params[:award_count] %>
                                <td id="current" class="<%=  Date.today.strftime("%b-%Y") %> <%= table_name%>t_col_11" >
                                <!--   <a  data-toggle="modal" data-fees_for="<%#= Date.today.strftime("%B %Y") %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-c" data-group-class="<%#= group_class.id %>">
                                    <i class="fa fa-plus"></i>Fee
                                  </a> --><span style="color:red;">Unpaid</span><br>
                                  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.second,:instructor_student=>instructor_student%>
                                </td>
                              <% elsif params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@next || params[:award_count] %>
                                <td id="next" class="<%=  (Date.today + 1.months).strftime("%b-%Y") %> <%= table_name%>t_col_12">
                                 <!--  <a  data-toggle="modal" data-fees_for="<%#= (Date.today + 1.months).strftime("%B %Y") %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-n" data-group-class="<%#= group_class.id %>">
                                    <i class="fa fa-plus"></i>Fee
                                  </a> --><span style="color:red;">Unpaid</span><br>
                                  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.third,:instructor_student=>instructor_student%>
                                </td>
                              <%end %>
                            <% else %>
                            <% if params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@previous || params[:award_count] %>
                              <% if @precnt == ""%>
                                <td id="previous" class="<%=  (1.month.ago).strftime("%b-%Y") %> <%= table_name%>t_col_10">
                                 <!--  <a  data-toggle="modal" data-fees_for="<%#= (1.month.ago).strftime("%B %Y") %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-p" data-group-class="<%#= group_class.id %>">
                                    <i class="fa fa-plus"></i>Fee
                                  </a> --><span style="color:red;">Unpaid</span><br>
                                  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.first,:instructor_student=>instructor_student%>
                                </td>
                              <% else%>
                                <td class="<%= (1.month.ago).strftime("%b-%Y") %> <%= table_name%>t_col_10">
                                 <!--  <%#= link_to @precnt ,instructor_remove_fee_path(@pre_id.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}", remote: :true, :"data-str" => "#{instructor_student.id}-p", :class => "updateFee" %> --><span style="color:red;">Paid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.first,:instructor_student=>instructor_student%>
                                </td>
                              <% end %>
                             <% elsif params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@current || params[:award_count] %>
                              <% if @curcnt == ""%>
                                <td id="current" class="<%=  Date.today.strftime("%b-%Y") %> <%= table_name%>t_col_11" >
                                 <!--  <a  data-toggle="modal" data-fees_for="<%#= Date.today.strftime("%B %Y") %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-c" data-group-class="<%#= group_class.id %>">
                                    <i class="fa fa-plus"></i>Fee
                                  </a> --><span style="color:red;">Unpaid</span><br>
                                  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.second,:instructor_student=>instructor_student%>
                                </td>
                              <% else%>
                                <td class="<%=  Date.today.strftime("%b-%Y") %> <%= table_name%>t_col_11">
                                <%#= link_to @curcnt ,instructor_remove_fee_path(@cur_id.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}", remote: :true, :"data-str" => "#{instructor_student.id}-c", :class => "updateFee" %><span style="color:green;">Paid</span><br>
                                <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.second,:instructor_student=>instructor_student%>
                                </td>
                              <% end %>
                              <% elsif params[:fee_month].present? && params[:fee_month].to_date.strftime("%b-%Y")==@next || params[:award_count] %>
                                <% if @feucnt == ""%>
                                  <td id="next" class="<%= (Date.today + 1.months).strftime("%b-%Y") %> <%= table_name%>t_col_12" >
                                   <!--  <a  data-toggle="modal" data-fees_for="<%#= (Date.today + 1.months).strftime("%B %Y") %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-n" data-group-class="<%#= group_class.id %>">
                                      <i class="fa fa-plus"></i>Fee</a> --><span style="color:red;">Unpaid</span><br>
                                    <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.third,:instructor_student=>instructor_student%>
                                  </td>
                                <% else%>
                                  <td class="<%= (Date.today + 1.months).strftime("%b-%Y") %> <%= table_name%>t_col_12">
                                    <%#= link_to @feucnt ,instructor_remove_fee_path(@fue_id.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}", remote: :true, :"data-str"=>"#{instructor_student.id}-n", :class => "updateFee" %><span style="color:green;">Paid</span><br>
                                  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>@mon.to_a.third,:instructor_student=>instructor_student%>
                                  </td>
                                <% end %>
                              <%end %>
                            <% end %>
                            <% @group_class = group_class %>
                            <%#= render "/instructor/home/add_fee", :student => instructor_student %>
                          <% else %>
                            <td id="course_detail" class="<%=  (1.month.ago).strftime("%b-%Y") %> <%= table_name%>t_col_10">
                              <% @fee = instructor_student.fees.where(:course_type => "per course") %>
                              <% if @fee.length > 0%>
                                <% @fee.each do |fee| %>
                                  <a href="<%= instructor_edit_per_course_fee_path(fee.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}" %>" data-remote="true" class="updateFee" data-str="<%= instructor_student.id %>-c">
                                    <% if !fee.amount.blank? %>
                                      <strong>$<%= fee.amount %></strong> 
                                    <% end %>  
                                    <% if !fee.course_start.blank? && !fee.course_end.blank? %>
                                      <small><%= fee.course_start.strftime("%e %b %Y") + ' - ' + fee.course_end.strftime("%e %b %Y") %></small><br/>
                                    <% end %>
                                  </a>
                                <% end %>
                              <% else %>
                                <a data-toggle="modal" href="#basic-<%= instructor_student.id %>" id="student-<%= instructor_student.id %>"><i class="fa fa-plus"></i> Fee </a>
                              <% end %>
                            </td>
                            <td class="<%=  Date.today.strftime("%b-%Y") %> <%= table_name%>t_col_11">
                              <% if @fee.length > 0 %>
                                <a data-toggle="modal" href="#basic-<%= instructor_student.id %>" id="student-<%= instructor_student.id %>"><i class="fa fa-plus"></i> Fee </a>
                              <% else %>
                              -
                              <% end %>
                            </td>
                            <td class="<%=  (Date.today + 1.months).strftime("%b-%Y") %> <%= table_name%>t_col_12">-</td>
                            <% @group_class = group_class %>
                            <%= render "/instructor/home/add_fee_course", :student => instructor_student %>
                          <% end %>
                        </tr>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    </div>  
  </div>
<% end %>

<div class="modal fade bs-modal-sm removeFee" id="small" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
</div>

<script>
  jQuery(document).ready(function() {       
    Metronic.init();
    instructorStudentTableEditable.init();
  });

  $(document).ready(function(){
    $('.selectpicker').selectpicker();
    setTimeout(function() {
      $(".selectpicker li a").each(function(){
        if(!$(this).parents('li').hasClass('selected')) {
          var column = "table ." + $(this).attr("name");
          $(column).hide();
        }
      });
    }, 1001);

    $(document).on("click", '.groupClassCheck', function(){
      var select_default = $(this).attr('id');
      console.log(select_default);
      if ($(this).is(":checked")){
        $('.'+select_default).removeClass('invisible_group');
        $('.'+select_default).addClass('visible_group');
        $('.'+select_default).last().addClass("pb");
        $(this).closest('table').removeClass('invisible_group').addClass('visible_group');
        $('.h2_'+select_default).removeClass("invisible_group").addClass('visible_group');
      }
      else{
        $('.'+select_default).removeClass('visible_group');
        $('.'+select_default).addClass('invisible_group');
        $('.'+select_default).last().removeClass("pb");
        var tr_count = $(this).closest('table').find('visible_group').length;
        if(tr_count == 0){
          $(this).closest('table').removeClass('visible_group').addClass('invisible_group');
          $('.h2_'+select_default).removeClass("visible_group").addClass('invisible_group');
        }
      }
    });
    
    $(document).on("click", '.groupClassCheckBox', function(){
      var selected_group = $(this).attr('id');
      if ($(this).is(":checked")){
        $('.'+selected_group).removeClass('invisible_group');
        $('.'+selected_group).addClass('visible_group');
        $('.'+selected_group).last().addClass("pb");
        $(this).closest('table').removeClass('invisible_group').addClass('visible_group');
        $('.h2_'+selected_group).removeClass("invisible_group").addClass('visible_group');
      }
      else{
        $('.'+selected_group).removeClass('visible_group');
        $('.'+selected_group).addClass('invisible_group');
        $('.'+selected_group).last().removeClass("pb");
        var tr_count = $(this).closest('table').find('visible_group').length;
        if(tr_count == 0){
          $(this).closest('table').removeClass('visible_group').addClass('invisible_group');
          $('.h2_'+selected_group).removeClass("visible_group").addClass('invisible_group');
        }
      }
    });

    // $("input:checkbox").click(function(){
    //     var column = "table ." + $(this).attr("name");
    //     $(column).toggle();
    // }); 
    setTimeout(function() {
      $( ".selectpicker li:eq(0)" ).find('a').attr("name", "Profile-pic");
      $( ".selectpicker li:eq(1)" ).find('a').attr("name", "Name");
      $( ".selectpicker li:eq(2)" ).find('a').attr("name", "Contact");
      $( ".selectpicker li:eq(3)" ).find('a').attr("name", "IC-number");
      $( ".selectpicker li:eq(4)" ).find('a').attr("name", "Date-of-birth");
      $( ".selectpicker li:eq(5)" ).find('a').attr("name", "Join-date");
      $( ".selectpicker li:eq(6)" ).find('a').attr("name", "Description");
      $( ".selectpicker li:eq(7)" ).find('a').attr("name", "Ready-for");
      $( ".selectpicker li:eq(8)" ).find('a').attr("name", "Training-for");
      $( ".selectpicker li:eq(9)" ).find('a').attr("name", "Registered-for");
      $( ".selectpicker li:eq(10)" ).find('a').attr("name", "Achieved");
      $( ".selectpicker li:eq(11)" ).find('a').attr("name", "<%= @previous %>");
      $( ".selectpicker li:eq(12)" ).find('a').attr("name", "<%= @current %>");
      $( ".selectpicker li:eq(13)" ).find('a').attr("name", "<%= @next %>");
      $(".selectpicker li a").click(function(){
        console.log("hi");
        $this = $(this);
        var column = "table ." + $(this).attr("name");
        var isSelected;
        $(column).toggle();
        setTimeout(function() {
          isSelected = $this.closest('li').attr('class');
          console.log("hi");
          if(isSelected == "")
            isSelected = "false"
          else
            isSelected = "true"

          $.ajax({
            url: '/instructor/set-columns',
            type: 'POST',
            dataType: 'script',
            data: { tableName: "instructor_students", columnName: $this.attr("name"), isSelected: isSelected },
          });
        }, 300);
      });
        $('.dropdown-menu').find('.glyphicon-ok').removeClass('glyphicon glyphicon-ok').addClass("fa fa-check"); 
      }, 1000);
  });

  $(document).ready(function() {
      $('.fancybox').fancybox();
    });

  jQuery(document).ready(function($) {
    var myTransaction3 = [];
    $(".student_field_checkbox:checked").each(function(){
      selected_options = $(this).val();
      console.log(selected_options);
      myTransaction3.push(selected_options);
    });
    $('#columnField').val(myTransaction3);
    $('.student_field_checkbox').click(function(){
      if($(this).is(":checked")){
        if($.inArray($(this).val(),myTransaction3)){
          selected_value = $(this).val()
          myTransaction3.push(selected_value);
          $('#columnField').val(myTransaction3);
        }
      }
      else{
        if($.inArray($(this).val(),myTransaction3) != -1){
          myTransaction3.splice($.inArray($(this).val(),myTransaction3), 1);
          $('#columnField').val(myTransaction3);
        }
      }  
    })
   });

  
</script>
<style>
  .avatar{
    border-radius: 50% !important;
    width: 45px !important;
    height: 45px !important;
  }

  .manage_view_index{
    display: none;
  }
  .set-width{
    width: 40%;
  }
</style>
<script type="text/javascript">
  $(document).on('click','.updateFee',function(){
    var data_str = $(this).data("str");
    $("#dataStr").val(data_str);
  });

  function set_fees_dropdown(){
    var checkbox = document.getElementById ("fee_check");
    if(checkbox.checked){
      document.getElementById ("start_month").disabled=false;
      document.getElementById ("end_month").disabled=false;
    }
    else
    {
      document.getElementById ("start_month").disabled=true;
      document.getElementById ("end_month").disabled=true;
    }
  }
  function set_att_dropdown(){
    var checkbox = document.getElementById ("atte_check");
    if(checkbox.checked){
      document.getElementById ("start_month_atte").disabled=false;
      document.getElementById ("end_month_atte").disabled=false;
    }
    else
    {
      document.getElementById ("start_month_atte").disabled=true;
      document.getElementById ("end_month_atte").disabled=true;
    }
  }
</script>