
<div class="row">
  <!-- <div class="col-xs-6">
    <%#= link_to "Advanced Edit",edit_instructor_instructor_student_path(@instructor_student) %>
  </div> -->
 <!--  <div class="col-xs-6 text-right">
    <a data-toggle="modal" id="basicModalOpen" href="#basic"  class="btn default" >SMS Student</a>
    <a href="<%#= student_public_link_path(@instructor_student.secret_token) %>" class="btn default">Student View</a>
  </div> -->
  <div class="col-xs-12">
    <% @student_award_registered.each do |student_award_register| %>
      <% unless !student_award_register.award_id.blank? %>
        <div class="alert alert-warning">
          <strong>Registered for <%= student_award_register.award.name.capitalize %> test</strong><br>
          <% unless !student_award_register.award_id.blank? %>
            <% student_award_register.award.award_tests.each do |award_test| %>
              <% if award_test.id == student_award_register.award_test_id %>
                <%= Venue.find_by_id(award_test.venue_id).name unless award_test.venue_id.blank? %><br>
                <%= award_test.test_date.strftime("%A") + " " + award_test.test_time.strftime("%l:%M%P") %><br>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 studentProfilePic">
    <% if @instructor_student.profile_picture? %>
      <%= image_tag(@instructor_student.profile_picture(:medium),:class => "img-responsive" )%>
    <!--   <div style="background: url('<%#= @instructor_student.profile_picture.url(:medium)%>') center center no-repeat; width: 160px; height: 160px; border-radius: 40px; overflow: hidden; background-size: cover; margin-top: 10px;" >
      </div> -->
    <% else %>
      <img src="/assets/no_image.gif" alt="" class="img-responsive" />
    <% end %>
    <div id="fineUploader"></div>
  </div>
  <div>
    <input type="hidden" id="search_result_highlight" value="<%= params[:search_result].present? ? params[:search_result] : "" %>">
  </div>
 <div class="col-xs-8">
    <div class="row">

        <div class="student_name" >
          <h4>Student ID: <%= @instructor_student.id %></h4>
          <h2><%= @instructor_student.student_name%></h2>
           <%= @instructor_student.additional_description %></br>
          <a href="javascript:;" id="student_edit" class="btn default ">Edit</a>
          <!-- |
          <%# if  !@instructor_student.gallery.present? %>
            <%#= form_for [:instructor,@instructor_student, Gallery.new]  do |f| %>
              <%#=  f.submit "Gallery" ,:class=>"btn default "%>
            <%#end %>
          <%# else %>
             <a href="<%#= instructor_instructor_student_gallery_path(@instructor_student.id,@instructor_student.gallery.id) %>" value ="<%#= @instructor_student.id %>,<%#= @instructor_student.gallery.id %>" class="btn default " >Gallery</a>
          <%#end %> -->
        </div>
      </div>
      <div class="edit_student_name" style="display:none;">
        <%= form_tag  instructor_change_student_name_path(@instructor_student), :remote => true do |f| %>
          <div class="col-xs-8">
            Name
            <h2><%= text_field_tag :student_name ,nil, :value =>@instructor_student.student_name  ,:class => "form-control"%></h2>
            Description
            <h2><%= text_field_tag :additional_description, @instructor_student.additional_description  ,:class => "form-control"%></h2>
            Join Date
            <h2>

              <% if @instructor_student.join_date? %>
                <%= text_field_tag :join_date, nil, :class => "form-control form-control-inline date-picker", :value => @instructor_student.join_date.strftime('%e %B %Y'), :readonly => true,:style=> "background-color: #eee !important;" %>
              <% else %>
                <%= text_field_tag :join_date, nil, :class => "form-control form-control-inline date-picker", :readonly => true,:style=> "background-color: #eee !important;" %>
              <% end %>
            </h2>
            <div class="margin-top-10 "> 
                <%= submit_tag "Save" %> | <a href="javascript:;" id="cancel_student_name">Cancel</a>
              </div> 
          </div>  
        <% end %>  
      </div>
    </div>
    <!-- <div class="col-xs-4 cropHeaderWrapper">
      <div id="croppic">
        <%# if @instructor_student.profile_picture? %>
          <%#= image_tag(@instructor_student.profile_picture(:medium),:class => "img-responsive" )%>
        <%# else %>
          <img src="/assets/no_image.gif" alt="" class="img-responsive" />
        <%# end %>
      </div>
      <span class="btn" style="background-color: #0D7D18; color: #FFF;"  id="cropContainerHeaderButton">ADD PHOTO</span>
    </div> -->
</div>

<!-- <div class="row">
  <div class="student_name">
    <div class="col-xs-8 student_name">
      <h2><%#= @instructor_student.student_name%></h2>
      <a href="javascript:;" id="student_edit" class="btn default ">Edit</a>
      |
      <%# if  !@instructor_student.gallery.present? %>                 
        <%#= form_for [:instructor,@instructor_student, Gallery.new]  do |f| %>
          <%#=  f.submit "Gallery" ,:class=>"btn default "%>
        <%#end %>
      <%# else %>
         <a href="<%#= instructor_instructor_student_gallery_path(@instructor_student.id,@instructor_student.gallery.id) %>" value ="<%#= @instructor_student.id %>,<%#= @instructor_student.gallery.id %>" class="btn default " >Gallery</a>
      <%#end %> -->
   <!-- </div>
  </div>
  <div class="edit_student_name" style="display:none;">
    <%#= form_tag  instructor_change_student_name_path(@instructor_student), :remote => true do |f| %>
      <div class="col-xs-8">
        <h2><%#= text_field_tag :student_name ,nil, :value =>@instructor_student.student_name %></h2>
        <div class="col-xs-8 text-right margin-top-10 "> 
            <%#= submit_tag "Save" %> | <a href="javascript:;" id="cancel_student_name">Cancel</a>
          </div> 
      </div>  
    <%# end %>  
  </div>
</div>
 -->
<div class="row">
  
  <div class="col-xs-12 col-sm-4">
    <h3>Indemnity<br>
      <small>
        <div id="identityDoc"></div>
      </small>
    </h3>
  </div>

  <div class="col-sm-8 col-xs-12 padding-top-10" style="padding-top:17px !important;">
    <div class="col-md-9 col-sm-6 blog-sidebar">
      <ul class="list-inline blog-images">
        <% @instructor_student.student_identities.each do |ins| %>
          
          <li>
            <a class="fancybox-button" data-rel="fancybox-button" title="390 x 220 - keenthemes.com" href="<%#= ins.identity_doc.url %>">
              <img alt="" src="<%= ins.identity_doc(:thumb) %>" class="studentImg" style="width: 80px; height: 80px;">
            </a>
            <%= link_to 'Delete',  instructor_student_identity_path(ins), :method => :delete,  data: {confirm: "Are You sure?"} %>
          </li>
        <% end %>
      </ul>
      <div class="space20">
      </div>
    </div> 
  </div>
</div>


<!-- <div class="row margin-bottom-20">
  <div class="col-xs-12 col-sm-4">
    <h3>Description<br><small><a href="javascript:;" id="description_edit">Add/edit</a></small></h3>
  </div>
  <div class="description_details">
    <%#= form_tag instructor_save_additional_description_about_student_path(@instructor_student), :remote => true do %>
      <div class="col-sm-8 col-xs-12 padding-top-10">
        <div class="row ">
          <span class="transferredFrom">
            <%# if !@transferFrom.blank? %>
              <div class="col-xs-4 text-right text-muted">Transferred from </div>
              <div class="col-xs-8 text-warning"><strong><%##= @transferFrom.instructor.name %></strong></div>
            <%# end %>
            <%# if !@transferTo.blank? && @transferTo.instructor_id == current_admin_user.id %>
              <div class="col-xs-4 text-right text-muted">Transferred to </div>
              <div class="col-xs-8 text-warning"><strong><%##= Instructor.find(@transferTo.transfer_to).name if !@transferTo.transfer_to.blank? %></strong></div>
            <%# end %>
          </span>
          <div class="clearfix"></div>
          <div class="col-xs-4 text-right text-muted">Description</div>
          <%# if @instructor_student.additional_description.blank? %>
            <span class="text-warning"><i class="fa fa-warning"></i> Data needed </span>
          <%# else %>
            <div class="col-xs-8 text-warning"><%##= @instructor_student.additional_description %></div>
          <%# end %>
        </div> 
      </div>
    <%#end%>
  </div >  
  <div class="change_description" style="display:none;">
   <%##= form_tag  instructor_save_additional_description_about_student_path(@instructor_student), :remote => true do |f| %>
      <div class="col-sm-8 col-xs-12 padding-top-10">
        <div class="row">
          <div class="col-xs-4 text-right text-muted padding-top-10">Description</div>
          <div class="col-xs-8  padding-top-10">
            <%##= text_field_tag :additional_description, @instructor_student.additional_description, :class => "form-control", :rows => 3 %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 "> 
          </div>
          <div class="col-xs-8 text-right margin-top-10 "> 
            <%##= submit_tag "Save" %>| <a href="javascript:;" id="cancel_des">Cancel</a>
          </div>
          <span class="margin-top-15 pull-left additionalDescription"></span>
          </div> 
      </div> 
    <%# end %>
  </div>
</div> -->

<div class="row margin-bottom-20">
  <div class="col-xs-12 col-sm-4">
    <h3>Past Class details<br></h3>
  </div>
  <% if @instructor_student.student_group_class_histories.count > 0 %>  
    <div class="past_class_details">
      <div class="col-sm-8 col-xs-12 padding-top-10">
        <% last_inst =nil %>
        <% @instructor_student.student_group_class_histories.each do |student_group_class_history|%>
          <%group_class=student_group_class_history.group_class%>
            <%if group_class %>
              <div class="row">
                <div class="col-xs-4 text-right text-muted"><%=student_group_class_history.created_at.strftime('%d/%m/%Y') %></div>

                  <%= Date::DAYNAMES[group_class.day] + ' '+group_class.time.strftime("%l:%M %P")%>
                <div class="col-xs-8">
                </div>
              </div>
              <% last_inst = group_class.instructor if group_class.instructor != current_admin_user %>
            <%end %>
          <%#group_class = GroupClass.find_by_id(group_class) %>
        <!--   <%#if group_class %>
              <div class="row">
                <div class="col-xs-4 text-right text-muted">Class</div>
                <div class="col-xs-8">
                  <%#= @day_array[group_class.day] +' '+ group_class.time.strftime("%l:%M %P")%>
                </div>
              </div>
          <%#end%> -->
        <%end%>
        <% if last_inst.present? %>
          <div class="row">
            <div class="col-xs-4 text-right">
              <strong>Last Instructor</strong> 
            </div><%= last_inst.name %>
          </div>
        <% end %>
      </div>
    </div >
  <% end %> 
</div>
<div class="row margin-bottom-20">
  <div class="col-xs-12 col-sm-4">
    <h3>Class details<br><small><a href="javascript:;" id="group_class_edit">Add/edit</a></small></h3>
  </div>
  <div class="class_details">
    <% @instructor_student.group_classes.each do |group_class|%>
      <div class="col-sm-8 col-xs-12 padding-top-10">
        <div class="row">
          <div class="col-xs-4 text-right text-muted">Class</div>
          <div class="col-xs-8">
            <%= Date::DAYNAMES[group_class.day] +' '+ group_class.time.strftime("%l:%M %P")%>
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-4 text-right text-muted">Instructor</div>
          <div class="col-xs-8"><%= group_class.instructor.name%></div>
        </div>
        <div class="row ">
          <div class="col-xs-4 text-right text-muted">Fee</div>
          <div class="col-xs-8"><%= @instructor_student.fee.nil? ? "-" : "$" + @instructor_student.fee.to_s %></div>
        </div>
      </div>
    <%end%>
  </div >  
  <div class="change_group_class" style="display:none;">
    <%= form_tag  instructor_change_class_details_path(@instructor_student), :remote => true do |f| %>
      <div class="col-sm-8 col-xs-12 padding-top-10">
        <div class="row">
          <div class="col-xs-4 text-right text-muted">Select Group Classes</div>
          <div class="col-xs-8"> 
            <input name="group_class_ids[]" type="hidden">
            <select id="select2_sample2" class="form-control select2" multiple name="group_class_ids[]">
              <%= @day_array = [{"Monday" => 1}, {"Tuesday" =>2}, {"Wednesday" => 3}, {"Thursday" => 4}, {"Friday" => 5}, {"Saturday" => 6}, {"Sunday" => 0}] %>
              <%#= @dayArr = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"] %>
              <% @day_array.each do |day|%>
                <% if @day_list.include? day.first[1] %>
                  <optgroup label="<%= day.first[0]%>">
                    <% @group_classes.where(:day => day.first[1], is_deleted: false).order(:time).each do |group_class|%>
                      <option value="<%= group_class.id %>">
                        <%=  group_class.custom_heading + " - "+group_class.venue.name.sub('Swimming Complex', 'SC') if !group_class.time.blank? %>
                      </option>
                    <% end %>
                  </optgroup>
                <% end %>
              <% end %>
            </select>
          </div>
          <br><br>
          <div class="col-xs-4 text-right text-muted">Fee</div>
          <div class="col-xs-8"> 
            $<%= number_field_tag :fee, nil,  :class=>"form-control fee_cls", :value => @instructor_student.fee.to_s, :min => 0 %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 "> 
          </div>
          <div class="col-xs-8 text-right margin-top-10 "> 
            <%= submit_tag "Save" %> | <a href="javascript:;" id="cancel">Cancel</a>
          </div>    
        </div>  
      </div>
    <%end%>
  </div>
</div>

<div class="row margin-bottom-20">
  <div class="col-xs-12 col-sm-4">
    <h3>Student particulars<br>
      <small><a href="javascript:;" id="student_particulars_edit">Add/edit</a></small>
    </h3>
  </div>
  <div class="student_particulars">
    <div class="col-sm-8 col-xs-12 padding-top-10 ">
      <div class="row">
        <div class="col-xs-4 text-right text-muted">IC Number</div>
        <div class="col-xs-8 text-warning">
          <% if !@instructor_student.ic_number.blank? %>
            <%= @instructor_student.ic_number %>
          <% else %>
            <i class="fa fa-warning"></i> Data needed 
          <% end %>  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 text-right text-muted">Gender</div>
        <div class="col-xs-8 text-warning">
          <% if @instructor_student.gender %>
            <% if @instructor_student.gender.downcase == "f" || @instructor_student.gender.downcase == "female" %>
              Female
            <% else %>
              Male
            <% end %>
          <% else %>
            <i class="fa fa-warning"></i> Data needed 
          <% end %>  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 text-right text-muted">D.O.B</div>
        <div class="col-xs-8 text-warning">
          <% if !@instructor_student.date_of_birth.blank? %>
            <%= @instructor_student.date_of_birth.strftime("%d %B %Y") %>
          <% else%>
            <i class="fa fa-warning"></i> Data needed 
          <%end%>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 text-right text-muted">Country</div>
        <div class="col-xs-8 text-warning">
          <% if  !@instructor_student.country.blank? %>
            <%= @instructor_student.country%>
          <% else %>
            <i class="fa fa-warning"></i> Data needed 
          <% end %>  
        </div>
      </div>
    </div>
  </div>
  <div class="edit_student_particulars" style="display:none;">
    <%= form_tag  instructor_change_student_details_path(@instructor_student), :remote => true do |f| %>
      <div class="col-sm-8 col-xs-12 padding-top-10">
        <div class="row">
          <div class="col-xs-4 text-right text-muted padding-top-10">IC Number</div>
          <div class="col-xs-8 padding-top-10">
            <%= text_field_tag :ic_number,nil, :class=>"form-control", :value => @instructor_student.ic_number ? @instructor_student.ic_number.upcase : nil %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 text-right text-muted padding-top-10">D.O.B</div>
          <div class="col-xs-8  padding-top-10">
            

            <% if @instructor_student.date_of_birth? %>
              <%= text_field_tag :date_of_birth, nil, :class => "form-control form-control-inline date-picker", :value => @instructor_student.date_of_birth.strftime('%e %B %Y'), :readonly => true,:style=> "background-color: #eee !important;" %>
            <% else %>
              <%= text_field_tag :date_of_birth, nil, :class => "form-control form-control-inline date-picker", :readonly => true,:style=> "background-color: #eee !important;" %>
            <% end %>


          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 text-right text-muted padding-top-10">Gender</div>
          <div class="col-xs-8  padding-top-10">
            <label>
              <%= radio_button_tag :gender, "Male", @instructor_student.gender.eql?("Male")  %> Male
            </label>
            <label>
              <%= radio_button_tag :gender, "Female",@instructor_student.gender.eql?("Female")   %> Female
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 text-right text-muted padding-top-10">Country</div>
          <div class="col-xs-8  padding-top-10">
            <div class="input-group">
              <span class="input-group-addon">
              <i class="fa fa-search"></i>
              </span>
              <input type="text" id="typeahead_example_2" name="country" class="form-control" value="<%= @instructor_student.country %>"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 text-right text-muted padding-top-10">Address</div>
          <div class="col-xs-8  padding-top-10">
            <%= text_area_tag :address, @instructor_student.address,:class=>"form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 "> 
          </div>
          <div class="col-xs-8 text-right margin-top-10 "> 
            <%= submit_tag "Save" %> | <a href="javascript:;" id="cancel1">Cancel</a>
          </div>    
        </div> 
      </div>
    <% end %>
  </div>  
</div>

<div class="row margin-bottom-20">
  <div class="col-xs-12 col-sm-4">
    <h3>Contact information<br><small><a href="javascript:;" id="edit_contact">Add/edit</a></small></h3>
  </div>
  <div class="contact_details">
    <div class="col-sm-8 col-xs-12 padding-top-10">
      <div class="row">
        <% if @primary_contact.length > 0 %>
          <% @primary_contact.each do |contact| %>
            <div class="col-xs-4 text-right text-muted">
              <%= !contact.relationship.blank? ? contact.relationship : "Contact" %>
            </div>
            <div class="col-xs-8 student_ic_no"><%= contact.contact %><i class="fa fa-star"></i></div>
          <% end %>
        <% end %>
        <% if @contact.length > 0 %>
          <% @contact.each do |contact| %>
            <div class="col-xs-4 text-right text-muted">
              <%= !contact.relationship.blank? ? contact.relationship : "Contact" %>
            </div>
            <div class="col-xs-8 student_ic_no"><%= contact.contact %></div>
          <% end %>
        <% end %>
      
        <% if @contact.length == 0  &&  @primary_contact.length == 0%>
          <div class="col-xs-4 text-right text-muted">Contact</div>
          <div class="col-xs-8 text-warning"><i class="fa fa-warning"></i> Data needed </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="edit_contact_details" style="display:none;">
    <%= nested_form_for  @instructor_student,  :url => instructor_change_contact_details_path(@instructor_student), remote: true do |f| %>
    
      <input type="hidden" name="deleted_contacts" id="deleted_contacts"></input>
      <div class="col-sm-8 col-xs-12 padding-top-10">
        <div class="row">
          <div class="col-xs-6 text-right text-muted padding-top-10"> 
            <h3>Contact details
              <small><%= f.link_to_add "Add Contact", :student_contacts, :data => { :target => "#student_contact_detail" } %></small>
            </h3>
          </div>
        </div>
        <div id="student_contact_detail">
          <%= f.fields_for :student_contacts do |student_contact| %> 
            <%= render '/instructor/instructor_students/instructor_student_student_contacts_fields', f: student_contact %>
          <% end %>
        </div>
        <div class="row">
          <div class="col-xs-4 "> 
          </div>
          <div class="col-xs-8 text-right margin-top-10 "> 
            <%= submit_tag "Save" , :id => "save_contact"%> | <a href="javascript:;" id="cancel2">Cancel</a>
          </div>    
        </div> 
      </div> 
    <% end %>
  </div>  
</div>

<script type="text/javascript">
  jQuery.fn.highlight = function (str, className) {
  var regex = new RegExp(str, "gi");
  return this.each(function () {
    $(this).contents().filter(function() {
      return this.nodeType == 3 && regex.test(this.nodeValue);
    }).replaceWith(function() {
      return (this.nodeValue || "").replace(regex, function(match) {
        return "<span class=\"" + className + "\">" + match + "</span>";
      });
    });
  });
};

$(document).ready(function() {
  console.log($('#search').val());
  $('.student_name h2').highlight($('#search_result_highlight').val(),'highlight');
  $('.student_ic_no').highlight($('#search_result_highlight').val(),'highlight');
});
</script>

<style type="text/css">
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.fee_cls{
  width:50% !important;
  display:inline !important; 
  margin-left: 2% !important;
}
.highlight{
    background-color: yellow;
  }

</style>