  <%# @m = @previousMonths.index(@startMonth)..@nextMonths.index(@endMonth)%>
  <%# @mon = [] %>
  <%# @previousMonths.each_with_index do |p, i| %>
    <%# if i <= @previousMonths.index(@startMonth) %>
    <%# @mon << p %>
    <%#end %>
  <%# end %>
  <%# @mon = @mon.reverse %>
  <%# @mon <<  Date.today.strftime("%b-%y") %>
  <%# @nextMonths.reverse.each_with_index do |p, i| %>
    <%# if i <= @nextMonths.reverse.index(@endMonth) %>
    <%# @mon << p %>
    <%# end %>
  <%# end %>
<div class="content-page">
<%= title "Instructor" %>
<% if !admin_user_signed_in? %>
  <%= render "instructor/shared/login" %>
<% else %>
  <!-- application helper called to sort classes by day and sunday will be at last -->
  <% sorted_group_classes = sort_group_classes_by_day(@group_classes) %>
  <div class="col-sm-12 column-selector">
    <% @previous =  (1.month.ago).strftime("%b")  %>
    <% @current = Date.today.strftime("%b") %>
    <% @next = (Date.today + 1.months).strftime("%b") %>
    <% @data_column = ['Profile-pic','Name', 'Contact', 'IC-number','Date-of-birth','Join-date','Description','Ready-for','Training-for','Registered-for', 'Achieved', @previous, @current, @next] %>
    <div class="form-group manage_view_index">
      <%= form_tag instructor_instructor_students_path, :method => 'get', :html => { :class=> "form-horizontal" } do %>
        <div class="col-xs-6 col-sm-4">
          <%= hidden_field_tag :group_class, @hide_show_column %>
          Student Information<br/>
          <label><input type="checkbox" name="profile-picture" value="profile-picture" class="student_field_checkbox" <%= @hide_show_columns.profile_pic? ? "checked" : "" %> > Profile pic</label><br>
          <label><input type="checkbox" name="Contact" value="Contact" class="student_field_checkbox" <%= @hide_show_columns.contact? ? "checked" : "" %> > Contact</label><br>
          <label><input type="checkbox" name="ic-number" value="ic-number" class="student_field_checkbox" <%= @hide_show_columns.ic_number? ? "checked" : "" %> > IC Number</label><br>
          <label><input type="checkbox" name="date-of-birth" value="date-of-birth" class="student_field_checkbox" <%= @hide_show_columns.date_of_birth? ? "checked" : "" %> > Date of birth</label><br>
          <label><input type="checkbox" name="joined-date" value="joined-date" class="student_field_checkbox" <%= @hide_show_columns.join_date? ? "checked" : "" %> > Joined date</label><br>
          <label><input type="checkbox" name="description" value="description" class="student_field_checkbox" <%= @hide_show_columns.description? ? "checked" : "" %> > Description</label><br>
        </div>
        <div class="col-xs-6 col-sm-4">
          Student Progress<br/>
          <label><input type="checkbox" name="ready-for" value="ready-for" class="student_field_checkbox" <%= @hide_show_columns.ready_for? ? "checked" : "" %> > Ready for</label><br>
          <label><input type="checkbox" name="training-for" value="training-for" class="student_field_checkbox" <%= @hide_show_columns.training_for? ? "checked" : "" %> > Training for</label><br>
          <label><input type="checkbox" name="registered-for" value="registered-for" class="student_field_checkbox" <%= @hide_show_columns.registered_for? ? "checked" : "" %>> Registered for</label><br>
          <label><input type="checkbox" name="achieved" value="achieved" class="student_field_checkbox" <%= @hide_show_columns.achieved? ? "checked" : "" %> > Achieved</label><br>                 
          <input id="tableName" name="tableName" value="instructor_students" type="hidden" />
          <input id="columnField" name="columnField" value="" type="hidden" />
        </div>
        <div class="col-xs-6 col-sm-4">
            
          <input name="is_submit" value='true' type="hidden"/>
          <input id="columnName" name="columnName" value="" type="hidden" />
         <!--  <div class="row clearfix">
            <div class="col-xs-12">
              Fee / Attendance<br>
              <div class="col-xs-1" style="padding:0;">
                <%#if @instructor_students_fee.present? && @instructor_students_fee.fee_attendance=="true" %>
                  <input type="checkbox" name="fee_check" id="fee_check" value="true" <%= @is_fees_check %> onchange="set_fees_dropdown()" checked>
                <%#else %>
                  <input type="checkbox" name="fee_check" id="fee_check" value="true" <%= @is_fees_check %> onchange="set_fees_dropdown()">
                <%#end %>
              </div>
              <div class="col-xs-10" style="padding:0;">
                <div class="col-xs-5" style="padding:5px;">  
                  <%#= select_tag(:start_month, options_for_select(@previousMonths.reverse, selected: @startMonth.blank? ? (1.month.ago).strftime("%b-%y") : @startMonth), class: "form-control startMon drop-down", disabled: @is_fees_check == 'checked' ? false : true) %>
                </div>
                <div class="col-xs-5" style="padding:5px;">
                  <%#= select_tag(:end_month, options_for_select(@nextMonths.reverse, selected: @endMonth.blank? ? (Date.today + 1.months).strftime("%b-%y") : @endMonth), class: "form-control endMon drop-down", disabled: @is_fees_check == 'checked' ? false : true) %>
                </div>
              </div>
            </div>
          </div><br> -->
          <br>
          <div class="row clearfix">
            <div class="col-xs-12">
              <button class="btn btn-success btnGo1" style="margin-left: 7px; float: right;" name="commit" type=" submit" value="GO" >
                 Go
              </button>
            </div>
          </div>
          <br>
        </div> 
      <% end %>
    </div>
  </div>
  <div id="tab_5_1">
    <div>
    <% tbl_count = 0%>
      <% sorted_group_classes.each do |group_class|%>
        <% if group_class.instructor_students.count > 0 %>
          <% tbl_count += 1%>
          <% table_name = "tbl_"+tbl_count.to_s+"_"%>
          <h2 class="pull-left group_header invisible_group h2_group_class_<%= group_class.id %>">
            <%= group_class.heading %>       <small style="font-size: 50%;"><%= link_to "Manage fee", instructor_group_class_view_add_more_months_path(group_class) %></small>
          </h2>
          <a href="<%= new_instructor_instructor_student_path + '?gp='+group_class.id.to_s %>" class="btn default pull-right"><i class="fa fa-plus"></i>Student</a>
          <div class="clearfix"></div>
       <!--    <table class="table custTable mytable invisible_group <%#= table_name%>"> -->
          <table class="table table-hover sample_editable_2 dataTable no-footer collapsed dtr-inline custTable mytable invisible_group <%= table_name%>" style="width: 100% !important;" id="DataTables_Table_0" role="grid"> 
            <thead>
              <tr class="heading">
                <% @table_column_count = 1%>
                <!-- <th style="max-width: 10px !important;"> --><th class="th_width"></th>

                <% @table_column_count = @table_column_count + 1%>
                <th style="width: 12px;">
                  <input type="checkbox" name="checkedAll" value="<%= group_class.id %>" class="checkedAll" ></input>
                </th>


                <%if @hide_show_columns.profile_pic.present? %>
                  <% @table_column_count = @table_column_count + 1%>
                  <th class="Profile-pic">Profile pic</th>
                <%end %>

                <% @table_column_count = @table_column_count + 1%>
                <th class="Name <%= table_name%>t_col_0" style="width: 122px;">Name </th>

                <%if @hide_show_columns.contact.present? %>
                  <% @table_column_count = @table_column_count + 1%>
                  <th class="Contact <%= table_name%>t_col_1" style="width: 122px;">Contact</th>
                <%end %>

                <%if @hide_show_columns.ic_number.present?%>
                  <% @table_column_count = @table_column_count + 1%>
                  <th class="IC-number <%= table_name%>t_col_2" style="width: 122px;">IC Number</th>
                <%end %>

                <%if @hide_show_columns.date_of_birth.present?%>
                   <% @table_column_count = @table_column_count + 1%>
                  <th class="Date-of-birth <%= table_name%>t_col_3" style="width: 122px;">Date of birth</th>
                <%end %>

                <%if @hide_show_columns.join_date.present?%>
                   <% @table_column_count = @table_column_count + 1%>
                  <th class="Join-date <%= table_name%><%= table_name%>t_col_4" style="width: 122px;">Join</th>
                <%end %>

                <%if @hide_show_columns.description.present?%>
                   <% @table_column_count = @table_column_count + 1%>
                  <th class="Description <%= table_name%>t_col_5" style="width: 122px;">Description</th>
                <%end %>

                <%if @hide_show_columns.ready_for.present?%>
                   <% @table_column_count = @table_column_count + 1%>
                  <th class="Ready-for <%= table_name%>t_col_6" style="width: 122px;">Ready for</th>
                <%end %>

                <%if @hide_show_columns.training_for.present? %>
                   <% @table_column_count = @table_column_count + 1%>
                  <th class="Training-for <%= table_name%>t_col_7" style="width: 122px;">Training for</th>
                <%end %>

                <%if @hide_show_columns.registered_for.present?%>
                   <% @table_column_count = @table_column_count + 1%>
                  <th class="Registered-for <%= table_name%>t_col_8" style="width: 122px;">Registered for</th>
                <%end %>

                <%if @hide_show_columns.achieved.present?%>
                   <% @table_column_count = @table_column_count + 1%>
                  <th class="Achieved <%= table_name%>t_col_9" style="width: 122px;">Achieved</th>
                <%end %>
                
                <%if @instructor_students_fee.present? && @instructor_students_fee.fee_attendance=="true" %>
                  <% @mon.each do |m|%>
                     <% @table_column_count = @table_column_count + 1%>
                    <th class="<%= m %> <%= table_name%>t_col_10" style="width: 122px;"><%= m.to_date.strftime('%b') %></th>
                  <% end %>
                <%end %>
                
                <% count = 0 %>
              </tr>
            </thead>
            <tbody>
              <% count = 0 %>
              <% group_class.instructor_students.each do |instructor_student| %>
                <% if instructor_student.group_id == nil %>
                  <% count = count + 1 %>
                  <%if count == 1 %>
                    <tr class="invisible_group group_class_<%= group_class.id %>">
                      <td></td>
                      <td><input type="checkbox" name="groupClassCheck" id="group_class_<%= group_class.id %>" value="" class="groupClassCheck"></input></td>
                      <td style="width: 325px !important;"><strong>Unallocated</strong> 
                        <%= group_class.heading %>
                      </td>
                      <%(@table_column_count -  3).times do %>
                        <td></td>
                      <% end %>
                    </tr>
                  <% end %>
                  <tr class="text-left invisible_group group_class_<%= group_class.id %>" id="student_<%= instructor_student.id %>" data-student_id="student-<%= instructor_student.id %>">
                    <td><%= count %></td>
                    <td style="width: 10px; white-space:nowrap;"><input type="checkbox" name="checkAll" id="checkAll" value="<%= instructor_student.id %>" class="check_student <%= group_class.id %>"></input></td>

                    <%if @hide_show_columns.profile_pic.present? %>
                      <td class="Profile-pic">
                        <% if instructor_student.profile_picture.present? %>
                          <img class="avatar img-responsive circle" alt="" src="<%= instructor_student.profile_picture.url(:thumb) %>">
                        <% else %>
                          <img src="/assets/no_image.gif" class="avatar img-responsive">
                        <% end %>
                      </td>
                    <%end %>

                    <td class="Name <%= table_name%>t_col_0">
                      <%= link_to instructor_student.student_name, instructor_instructor_student_path(instructor_student, :gp => params[:id]), :class => "tooltips", :"data-placement" => "right", :"data-original-title" => "Student ID : #{instructor_student.id}" %>
                    </td>

                    <% @primary_contacts = instructor_student.student_contacts.where(:primary_contact => true).first%> 
                    <%if @hide_show_columns.contact.present? %>
                      <td class="Contact <%= table_name%>t_col_1">
                        <% if !@primary_contacts.blank? %><%= @primary_contacts.contact %>
                        <% else %>-<% end %> 
                      </td>
                    <%end %>

                    <%if @hide_show_columns.ic_number.present?%>
                      <td class="IC-number <%= table_name%>t_col_2">
                        <%= instructor_student.ic_number ? instructor_student.ic_number : "  -  " %>
                      </td>
                    <%end %>

                    <%if @hide_show_columns.date_of_birth.present?%>
                      <td class="Date-of-birth <%= table_name%>t_col_3">
                        <%= instructor_student.date_of_birth ? instructor_student.date_of_birth.strftime("%e %b %Y") : " - " %>
                      </td>
                    <%end %>

                    <%if @hide_show_columns.join_date.present?%>
                      <td class="Join-date <%= table_name%>t_col_4">
                        <%= instructor_student.join_date ? instructor_student.join_date.strftime("%e %b %Y") : " - " %>
                      </td>
                    <%end %>

                    <%if @hide_show_columns.description.present?%>
                      <td class="Description <%= table_name%>t_col_5">
                        <%= instructor_student.additional_description ? instructor_student.additional_description : " - " %>
                      </td>
                    <%end %>

                    <%if @hide_show_columns.ready_for.present?%>
                      <td class="Ready-for <%= table_name%>t_col_6">
                        <% status = ["ready_for", "Ready"]%>
                        <% @ready_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?) AND is_registered = (?)", status, false) %>
                        <% if @ready_for_award.count > 0 %>
                          <% @ready_for_award.each do |ready_award| %>
                            <%= ready_award.award.short_name.present? ? ready_award.award.short_name : ready_award.award.name %><br/>
                          <% end %>
                        <% else %>
                          - 
                        <% end %>
                      </td>
                    <%end %>

                    <%if @hide_show_columns.training_for.present? %>
                      <td class="Training-for <%= table_name%>t_col_7">
                        <% training_status = ["training_for", "Training"] %>
                        <% @training_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?)", training_status) %>
                        <% if @training_for_award.count > 0 %>
                          <% @training_for_award.each do |training_award| %>
                            <%= training_award.award.short_name.present? ? training_award.award.short_name : training_award.award.name %><br/>
                          <% end %>
                        <% else %>
                          - 
                        <% end %>
                      </td>
                    <%end %>

                    <%if @hide_show_columns.registered_for.present?%>
                      <td class="Registered-for <%= table_name%>t_col_8">
                        <% status = ["ready_for", "Ready"]%>
                        <% @registred_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?) AND is_registered = ?", status, true) %>
                        <% if @registred_for_award.count > 0 %>
                          <% @registred_for_award.each do |registred_award| %>
                            <%= registred_award.award.short_name
                            .present? ? registred_award.award.short_name : registred_award.award.name %><br/>
                          <% end %>
                        <% else %>
                          -
                        <% end %>
                      </td>
                    <%end %>

                    <%if @hide_show_columns.achieved.present?%>
                      <td class="Achieved <%= table_name%>t_col_9" > 
                        <% @award_progress = ["achieved", "Achieved"] %>
                        <% @latest_award = instructor_student.instructor_student_awards.where("award_progress IN (?)", @award_progress).order("updated_at DESC").where.not(:award_id => nil) %>

                        <% @latest_award_id = @latest_award.first unless @latest_award.blank? %>
                        
                        <% if instructor_student.instructor_student_awards.where("award_progress IN (?)", @award_progress).order("updated_at DESC").where.not(:award_id => nil).count != 0 %>
                          <% @award = Award.order('id').find_by_id(@latest_award_id.award_id)%>
                          <span>
                          <%= @award.short_name.present? ? @award.short_name : @award.name  %><small> <%= time_ago_in_words(@latest_award_id.achieved_date).gsub('about','') + ' ago' if @latest_award_id.achieved_date? %></small><br>
                          </span>
                        <% else %>
                          - 
                        <% end %> 
                      </td>
                    <%end %>
                    <%if @instructor_students_fee.present? && @instructor_students_fee.fee_attendance=="true" %>
                      <% if FeeType.find(group_class.fee_type_id).name.downcase == "per month" %>
                        <% @precnt = "" %>
                        <% @curcnt = "" %>
                        <% @feucnt = "" %>
                        <!-- Fees id for edit fee & delete fee -->
                        <% @fee = instructor_student.fees.where(:course_type=>"per month") %>

                        <% @mon.to_a.each do |m|%>
                          <% cnt = 0 %>
                          <% if @fee.length > 0 %>
                            <% @fee.each do |fee| %>
                              <% if !fee.monthly_detail.blank? %>
                                <% if fee.monthly_detail.strftime("%b-%y").to_s == m.to_s %>
                                  <% @precnt = fee.payment_date ? fee.payment_date.strftime("%e %b") : nil %>
                                  <td class="<%= m %> <%= table_name %>t_col_10">
                                    <%#= link_to @precnt ,instructor_remove_fee_path(fee.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}", remote: :true, :"data-str" => "#{instructor_student.id}-#{m}", :class => "updateFee" %><span style="color:green;"><%= @precnt%><br></span>
                                    
                                     <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>m,:instructor_student=>instructor_student%>
                  
                                  </td>
                                  <% cnt = 1 %>
                                  <% break %>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% if cnt != 1 %>
                              <td id="previous" class="<%= m %> <%= table_name %>t_col_10">
                               <!--  <a  data-toggle="modal" data-fees_for="<%#= m %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-<%#= m %>" data-group-class="<%#= group_class.id %>">
                                  <i class="fa fa-plus"></i>Fee
                                </a> -->
                                  <span style="color:red;">Unpaid</span><br>  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>m,:instructor_student=>instructor_student%>
                              </td>
                            <% end %>
                          <% else %>
                            <% if cnt != 1 %>
                              <td id="previous" class="<%= m %> <%= table_name %>t_col_10">
                               <!--  <a  data-toggle="modal" data-fees_for="<%#= m %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-<%#= m %>" data-group-class="<%#= group_class.id %>">
                                  <i class="fa fa-plus"></i>Fee
                                </a> --><span style="color:red;">Unpaid</span><br>  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>m,:instructor_student=>instructor_student%>
                              </td>
                            <% end %>
                          <% end %>
                        <% end %>

                        <% @group_class = group_class %>
                        <%= render "/instructor/home/add_fee", :student => instructor_student %>
                      <% else %>
                        <td id="course_detail" class="<%= (1.month.ago).strftime("%b-%Y") %> <%= table_name %>t_col_10">
                          <% @fee = instructor_student.fees.where(:course_type => "per course") %>
                          <% if @fee.length > 0%>
                            <% @fee.each do |fee| %>
                              <a href="<%= instructor_edit_per_course_fee_path(fee.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}" %>" data-remote="true" class="updateFee" data-str="<%= instructor_student.id %>" id="perCourseFee_<%= fee.id %>">
                                <% if !fee.amount.blank? %>
                                  <strong>$<%= fee.amount %></strong> 
                                <% end %>  
                                <% if !fee.course_start.blank? && !fee.course_end.blank? %>
                                  <small>
                                    <%= fee.course_start.strftime("%e %b %Y") + ' - ' + fee.course_end.strftime("%e %b %Y") %>
                                  </small>
                                  <br/>
                                <% end %>
                              </a>
                            <% end %>
                          <% else %>
                            <a data-toggle="modal" href="#basic-<%= instructor_student.id %>" id="student-<%= instructor_student.id %>"><i class="fa fa-plus"></i> Fee </a>
                          <% end %>
                        </td>
                        <td class="<%=  Date.today.strftime("%b-%Y") %> <%= table_name%>t_col_11">
                          <% if @fee.length > 0 %>
                            <a data-toggle="modal" href="#basic-<%= instructor_student.id %>" id="student-<%= instructor_student.id %>"><i class="fa fa-plus"></i> Fee </a>
                          <% else %>
                          -
                          <% end %>
                        </td>
                        <td class="<%=  (Date.today + 1.months).strftime("%b-%Y") %> <%= table_name%>t_col_12"><%= @feucnt %></td>
                        <% (@mon.to_a.length-3).times do %>
                              <td>-</td>
                            <% end %>
                        <% @group_class = group_class %>
                        <%= render "/instructor/home/add_fee_course", :student => instructor_student, :group_class => @group_class %>
                      <% end %>
                    <%end %>
                  </tr>
                <% end %>
              <% end %>
              <% group_class.groups.each do |group| %>
                <% if group.instructor_students.count > 0 %>
                    <tr class="group_id_<%= group.id %>  invisible_group">
                      <td></td>
                      <td><input type="checkbox" name="groupClassCheckBox" id="group_id_<%= group.id %>" value="" class="groupClassCheckBox" ></input></td>
                      <td><strong><%= group.group_name %></strong> 
                        <%= group_class.heading %>
                      </td>
                      <% (@table_column_count - 3 ).times do %>
                        <td></td>
                      <% end %>
                    </tr>
                    <% count = 0 %>
                    <% group.instructor_students.each do |instructor_student| %>
                      <% count = count + 1 %>
                      <tr class="text-left group_id_<%= group.id %> invisible_group" id="student_<%= instructor_student.id %>" data-student_id="<%= instructor_student.id %>">
                        <td><%= count %></td>
                        <td style="width: 10px; white-space:nowrap;"><input type="checkbox" name="checkAll" id="checkAll" value="<%= instructor_student.id %>" class="check_student <%= group_class.id %>"></input></td>

                        <%if @hide_show_columns.profile_pic.present? %>
                          <td class="Profile-pic">
                            <% if instructor_student.profile_picture.present? %>
                              <img class="avatar img-responsive circle" alt="" src="<%= instructor_student.profile_picture.url(:thumb) %>">
                            <% else %>
                              <img src="/assets/no_image.gif" class="avatar img-responsive">
                            <% end %>
                          </td>
                        <%end %>

                        <td class="Name <%= table_name%>t_col_0">
                          
                          <%= link_to instructor_student.student_name, instructor_instructor_student_path(instructor_student, :gp => params[:id]), :class => "tooltips", :"data-placement" => "right", :"data-original-title" => "Student ID : #{instructor_student.id}" %>
                        </td>

                        <% @primary_contacts = instructor_student.student_contacts.where(:primary_contact => true).first%> 
                        <%if @hide_show_columns.contact.present? %>
                          <td class="Contact <%= table_name%>t_col_1">
                            <% if !@primary_contacts.blank? %><%= @primary_contacts.contact %>
                            <% else %>-<% end %> 
                          </td>
                        <%end %>

                        <%if @hide_show_columns.ic_number.present? %>
                          <td class="IC-number <%= table_name%>t_col_2"><%= instructor_student.ic_number %></td>
                        <%end %>

                        <%if @hide_show_columns.date_of_birth.present? %>
                          <td class="Date-of-birth <%= table_name%>t_col_3"><%= instructor_student.date_of_birth.strftime("%e %b %Y") if instructor_student.date_of_birth %></td>
                        <%end %>

                        <%if @hide_show_columns.join_date.present? %>
                          <td class="Join-date <%= table_name%>t_col_4"><%= instructor_student.join_date.strftime("%e %b %Y") if instructor_student.join_date %></td>
                        <%end %>

                        <%if @hide_show_columns.description.present? %>
                          <td class="Description <%= table_name%>t_col_5"><%= instructor_student.additional_description %></td>
                        <%end %>
                         
                        <%if @hide_show_columns.ready_for.present? %>                      
                          <td class="Ready-for <%= table_name%>t_col_6">
                            <% status = ["ready_for", "Ready"]%>
                            <% @ready_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?) AND is_registered = (?)", status, false) %>
                            <% if @ready_for_award.count > 0 %>
                              <% @ready_for_award.each do |ready_award| %>
                                <%= ready_award.award.short_name.present? ? ready_award.award.short_name : ready_award.award.name %><br/>
                              <% end %>
                            <% else %>
                              -
                            <% end %>
                          </td>
                        <%end %>

                        <%if @hide_show_columns.training_for.present? %> 
                          <td class="Training-for <%= table_name%>t_col_7">
                            <% training_status = ["training_for", "Training"] %>
                            <% @training_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?)", training_status) %>
                            <% if @training_for_award.count > 0 %>
                              <% @training_for_award.each do |training_award| %>
                                <%= training_award.award.short_name.present? ? training_award.award.short_name : training_award.award.name %><br/>
                              <% end %>
                            <% else %>
                              -
                            <% end %>
                          </td>
                        <%end %>
                          
                        <%if @hide_show_columns.registered_for.present? %> 
                          <td class="Registered-for <%= table_name%>t_col_8">
                            <% status = ["ready_for", "Ready"]%>
                            <% @registred_for_award = instructor_student.instructor_student_awards.where("award_progress IN (?) AND is_registered = ?", status, true) %>
                            <% if @registred_for_award.count > 0 %>
                              <% @registred_for_award.each do |registred_award| %>
                                <%= registred_award.award.short_name.present? ? registred_award.award.short_name : registred_award.award.name%><br/>
                              <% end %>
                            <% else %>
                              -
                            <% end %>
                          </td>
                        <%end %>

                        <%if @hide_show_columns.achieved.present? %> 
                          <td class="Achieved <%= table_name%>t_col_9"><% @award_progress = ["achieved", "Achieved"] %>
                            <% @latest_award = instructor_student.instructor_student_awards.where("award_progress IN (?)", @award_progress).order("updated_at DESC").where.not(:award_id => nil) %>

                            <% @latest_award_id = @latest_award.first unless @latest_award.blank? %>
                            <%# latest_award_status = @latest_award.first.award_progress unless @latest_award.blank? %>
                            <% if instructor_student.instructor_student_awards.where("award_progress IN (?)", @award_progress).order("updated_at DESC").where.not(:award_id => nil).count != 0 %>
                              <%# instructor_student.instructor_student_awards.where("award_progress IN (?)", @award_progress).order("updated_at DESC").where.not(:award_id => nil).each do |ins_award| %>
                              <!-- <span class="text-muted"> <%#= latest_award_status.gsub("_", " ").capitalize if !latest_award_status.blank? %> </span> -->
                              <% @award = Award.order('id').find_by_id(@latest_award_id.award_id)%>
                              <span>
                              <%= @award.short_name.present? ? @award.short_name : @award.name %><small> <%= time_ago_in_words(@latest_award_id.achieved_date).gsub('about','') + ' ago' if @latest_award_id.achieved_date? %></small><br>
                              </span>
                              <%# end %>
                            <% else %>
                             -
                            <% end %> 
                          </td>
                        <%end %>

                        <%if @instructor_students_fee.present? && @instructor_students_fee.fee_attendance=="true" %>
                          <% if FeeType.find(group_class.fee_type_id).name.downcase == "per month" %>
                            <% @precnt = "" %>
                            <% @curcnt = "" %>
                            <% @feucnt = "" %>

                            <% @fee = instructor_student.fees.where(:course_type=>"per month") %>
                            <% @mon.to_a.each do |m|%>
                              <% cnt = 0 %>
                              <% if @fee.length > 0 %>
                                <% @fee.each do |fee| %>
                                  <% if !fee.monthly_detail.blank? %>
                                    <% if fee.monthly_detail.strftime("%b-%y").to_s == m.to_s %>
                                      <% @precnt = fee.payment_date ? fee.payment_date.strftime("%e %b") : nil %>
                                      <td class="<%= m %> <%= table_name %>t_col_10">
                                        <%#= link_to @precnt ,instructor_remove_fee_path(fee.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}", remote: :true, :"data-str" => "#{instructor_student.id}-#{m}", :class => "updateFee" %>

                                        <span style="color:green;"><%= @precnt %></span><br>  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>m,:instructor_student=>instructor_student%>
                                      </td>
                                      <% cnt = 1 %>
                                      <% break %>
                                    <% end %>
                                  <% end %>
                                <% end %>
                                <% if cnt != 1 %>
                                  <td id="previous" class="<%= m %> <%= table_name %>t_col_10">
                                    <!-- <a  data-toggle="modal" data-fees_for="<%#= m %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-<%#= m %>" data-group-class="<%#= group_class.id %>">
                                      <i class="fa fa-plus"></i>Fee
                                    </a> -->
                                    <span style="color:red;">Unpaid</span><br>  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>m,:instructor_student=>instructor_student%>
                                  </td>
                                <% end %>
                              <% else %>
                                <% if cnt != 1 %>
                                  <td id="previous" class="<%= m %> <%= table_name %>t_col_10">
                                   <!--  <a  data-toggle="modal" data-fees_for="<%#= m %>" href="#basic-<%#= instructor_student.id %>" id="basic1" data-str="<%#= instructor_student.id %>-<%#= m %>" data-group-class="<%#= group_class.id %>">
                                      <i class="fa fa-plus"></i>Fee
                                    </a> --><span style="color:red;">Unpaid</span><br>  <%= render "/instructor/instructor_students/student_attendance_day_vise",:group_class=> group_class,:m=>m,:instructor_student=>instructor_student%>
                                  </td>
                                <% end %>
                              <% end %>
                            <% end %>

                            <% @group_class = group_class %>
                            <%= render "/instructor/home/add_fee", :student => instructor_student %>
                          <% else %>
                            <td id="course_detail" class="<%=  (1.month.ago).strftime("%b-%Y") %> <%= table_name%>t_col_10">
                              <% @fee = instructor_student.fees.where(:course_type => "per course") %>
                              <% if @fee.length > 0%>
                                <% @fee.each do |fee| %>
                                  <a href="<%= instructor_edit_per_course_fee_path(fee.id)+"?student=#{instructor_student.id}&group_class=#{group_class.id}" %>" data-remote="true" class="updateFee" data-str="<%= instructor_student.id %>">
                                    <% if !fee.amount.blank? %>
                                      <strong>$<%= fee.amount %></strong> 
                                    <% end %>  
                                    <% if !fee.course_start.blank? && !fee.course_end.blank? %>
                                      <small><%= fee.course_start.strftime("%e %b %Y") + ' - ' + fee.course_end.strftime("%e %b %Y") %></small><br/>
                                    <% end %>
                                  </a>
                                <% end %>
                              <% else %>
                                <a data-toggle="modal" href="#basic-<%= instructor_student.id %>" id="student-<%= instructor_student.id %>"><i class="fa fa-plus"></i> Fee </a>
                              <% end %>
                            </td>

                            <td class="<%=  Date.today.strftime("%b-%Y") %> <%= table_name%>t_col_11">
                              <% if @fee.length > 0 %>
                                <a data-toggle="modal" href="#basic-<%= instructor_student.id %>" id="student-<%= instructor_student.id %>"><i class="fa fa-plus"></i> Fee </a>
                              <% else %>
                              -
                              <% end %>
                            </td>
                            <td class="<%=  (Date.today + 1.months).strftime("%b-%Y") %> <%= table_name%>t_col_12">-</td>
                            <% (@mon.to_a.length-3).times do %>
                              <td>-</td>
                            <% end %>
                            <% @group_class = group_class %>
                            <%= render "/instructor/home/add_fee_course", :student => instructor_student %>
                          <% end %>
                        <%end %>
                      </tr>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    </div>  
  </div>
<% end %>

<div class="modal fade bs-modal-sm removeFee" id="small" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
</div>

<script>
  jQuery(document).ready(function($) {
    var myTransaction3 = [];
    $(".student_field_checkbox:checked").each(function(){
      selected_options = $(this).val();
      console.log(selected_options);
      myTransaction3.push(selected_options);
    });
    $('#columnField').val(myTransaction3);
    $('.student_field_checkbox').click(function(){
      if($(this).is(":checked")){
        if($.inArray($(this).val(),myTransaction3)){
          selected_value = $(this).val()
          myTransaction3.push(selected_value);
          $('#columnField').val(myTransaction3);
        }
      }
      else{
        if($.inArray($(this).val(),myTransaction3) != -1){
          myTransaction3.splice($.inArray($(this).val(),myTransaction3), 1);
          $('#columnField').val(myTransaction3);
        }
      }  
    })

    Metronic.init();
    instructorStudentTableEditable.init();
  });
  // jQuery(document).ready(function() {       
  //   Metronic.init();
  //   instructorStudentTableEditable.init();
  // });
  $(document).ready(function(){
    set_fees_dropdown();
    $('.selectpicker').selectpicker();
    setTimeout(function() {
      $(".selectpicker li a").each(function(){
        if(!$(this).parents('li').hasClass('selected')) {
          var column = "table ." + $(this).attr("name");
          $(column).hide();
        }
      });
    }, 1001);

    $(document).on("click", '.groupClassCheck', function(){
        var select_default = $(this).attr('id');
        console.log(select_default);
        if ($(this).is(":checked")){
          $('.'+select_default).removeClass('invisible_group');
          $('.'+select_default).addClass('visible_group');
          $('.'+select_default).last().addClass("pb");
          $(this).closest('table').removeClass('invisible_group').addClass('visible_group');
          $('.h2_'+select_default).removeClass("invisible_group").addClass('visible_group');
        }
        else{
          $('.'+select_default).removeClass('visible_group');
          $('.'+select_default).addClass('invisible_group');
          $('.'+select_default).last().removeClass("pb");
          var tr_count = $(this).closest('table').find('visible_group').length;
          if(tr_count == 0){
            $(this).closest('table').removeClass('visible_group').addClass('invisible_group');
            $('.h2_'+select_default).removeClass("visible_group").addClass('invisible_group');
          }
        }
    });
    
    $(document).on("click", '.groupClassCheckBox', function(){
        var selected_group = $(this).attr('id');
        if ($(this).is(":checked")){
          $('.'+selected_group).removeClass('invisible_group');
          $('.'+selected_group).addClass('visible_group');
          $('.'+selected_group).last().addClass("pb");
          $(this).closest('table').removeClass('invisible_group').addClass('visible_group');
          $('.h2_'+selected_group).removeClass("invisible_group").addClass('visible_group');
        }
        else{
          $('.'+selected_group).removeClass('visible_group');
          $('.'+selected_group).addClass('invisible_group');
          $('.'+selected_group).last().removeClass("pb");
          var tr_count = $(this).closest('table').find('visible_group').length;
          if(tr_count == 0){
            $(this).closest('table').removeClass('visible_group').addClass('invisible_group');
            $('.h2_'+selected_group).removeClass("visible_group").addClass('invisible_group');
          }
        }
    });

    // $("input:checkbox").click(function(){
    //     var column = "table ." + $(this).attr("name");
    //     $(column).toggle();
    // }); 
    setTimeout(function() {
      $( ".selectpicker li:eq(0)" ).find('a').attr("name", "Profile-pic");
      $( ".selectpicker li:eq(1)" ).find('a').attr("name", "Name");
      $( ".selectpicker li:eq(2)" ).find('a').attr("name", "Contact");
      $( ".selectpicker li:eq(3)" ).find('a').attr("name", "IC-number");
      $( ".selectpicker li:eq(4)" ).find('a').attr("name", "Date-of-birth");
      $( ".selectpicker li:eq(5)" ).find('a').attr("name", "Join-date");
      $( ".selectpicker li:eq(6)" ).find('a').attr("name", "Description");
      $( ".selectpicker li:eq(7)" ).find('a').attr("name", "Ready-for");
      $( ".selectpicker li:eq(8)" ).find('a').attr("name", "Training-for");
      $( ".selectpicker li:eq(9)" ).find('a').attr("name", "Registered-for");
      $( ".selectpicker li:eq(10)" ).find('a').attr("name", "Achieved");
      $( ".selectpicker li:eq(11)" ).find('a').attr("name", "<%= @previous %>");
      $( ".selectpicker li:eq(12)" ).find('a').attr("name", "<%= @current %>");
      $( ".selectpicker li:eq(13)" ).find('a').attr("name", "<%= @next %>");
      $(".selectpicker li a").click(function(){
        $this = $(this);
        var column = "table ." + $(this).attr("name");
        var isSelected;
        $(column).toggle();
        setTimeout(function() {
          isSelected = $this.closest('li').attr('class');

          if(isSelected == "")
            isSelected = "false"
          else
            isSelected = "true"

          $.ajax({
            url: '/instructor/set-columns',
            type: 'POST',
            dataType: 'script',
            data: { tableName: "instructor_students", columnName: $this.attr("name"), isSelected: isSelected },
          });
        }, 300);
      });
      $('.dropdown-menu').find('.glyphicon-ok').removeClass('glyphicon glyphicon-ok').addClass("fa fa-check"); 
    }, 1000);
  });

 
</script>
<style>
  .avatar{
    border-radius: 50% !important;
    width: 45px !important;
    height: 45px !important;
  }
  .manage_view_index{
    display: none;
  }
  .dataTables_filter{
    display: none;
  }
  .th_width{
    width: 2px !important;
  }
  .Profile-pic{
    width: 122px !important; 
  }
</style>
<script type="text/javascript">
  $(document).on('click','.updateFee',function(){
    var data_str = $(this).data("str");
    $("#dataStr").val(data_str);
  });
  
  function set_fees_dropdown(){
    var checkbox = document.getElementById ("fee_check");
    if(checkbox.checked){
      document.getElementById ("start_month").disabled=false;
      document.getElementById ("end_month").disabled=false;
    }
    else
    {
      document.getElementById ("start_month").disabled=true;
      document.getElementById ("end_month").disabled=true;
    }
  }

  var myTransaction1 = [];
  $('.checkedAll').click(function(event) {
    var group_id=$(this).val();
    if(this.checked) {
      // $(this).parents('table').find('.check_student_'+group_id).each(function() {
      $(this).parents('table').find('.check_student').each(function() {
        this.checked = true;
        if($.inArray($(this).val(),myTransaction1)){
          myTransaction1.push($(this).val());
        }
      });
    } else {
      $(this).parents('table').find('.check_student').each(function() {
        this.checked = false;
        if($.inArray($(this).val(),myTransaction1) != -1){
          myTransaction1.splice($.inArray($(this).val(),myTransaction1), 1);
        }
      });         
    }
    $('#send_message').val(myTransaction1);
  });


    $(".check_student").click(function() {
      if($(this).is(":checked")){
        var flag = 0;
        $(this).parents('table').find('.check_student').each(function() {
          if(!this.checked)
          flag = 1;
        })              
        if(flag == 0) { $(this).parents('table').find(".checkedAll").prop("checked", true); }
        if($.inArray($(this).val(),myTransaction1)){
          myTransaction1.push($(this).val());
        }
      }
      else {
        if($.inArray($(this).val(),myTransaction1) != -1){
          myTransaction1.splice($.inArray($(this).val(),myTransaction1), 1);
        }
        $(this).parents('table').find(".checkedAll").prop("checked", false);
      }
      var id = $(this).attr('id');
      $('#send_message').val(myTransaction1);
      $(this).parents(".fields").remove();
    });

    $('#send_msg').click(function(){
      if ($('#send_message').val().length == 0 ){
        $('#error_msg').show();
        return false;  
      }
      else{
        $('#error_msg').hide(); 
        return true;
      }
    });

    $("#text_msg").keyup(function(event) {
      if(!$("#text_msg").val())
        $("#send_msg").attr('disabled','disabled');
      else
        $("#send_msg").removeAttr('disabled','disabled');
    });
    $("#send_msg").attr('disabled','disabled');

</script>