var content = ""; 
  content =  '<div class="col-sm-8 col-xs-12 padding-top-10 ">' +
  '<div class="row"><div class="col-xs-4 text-right text-muted">IC Number</div><div class="col-xs-8 text-warning"><% if !@instructor_student.ic_number.blank? %><%= @instructor_student.ic_number %><% else %><i class="fa fa-warning"></i> Data needed <% end %></div></div>' +
  '<div class="row"><div class="col-xs-4 text-right text-muted">Gender</div><div class="col-xs-8 text-warning"><% if @instructor_student.gender %><% if @instructor_student.gender.downcase == "f" || @instructor_student.gender.downcase == "female"  %>Female<% else %>Male<% end %><% else %><i class="fa fa-warning"></i> Data needed <% end %></div></div>' +
  '<div class="row"><div class="col-xs-4 text-right text-muted">D.O.B</div><div class="col-xs-8 text-warning"><% if !@instructor_student.date_of_birth.blank? %><%= @instructor_student.date_of_birth.strftime("%d %B %Y") %><% else %><i class="fa fa-warning"></i> Data needed <% end %></div></div>' +
  '<div class="row"><div class="col-xs-4 text-right text-muted">Country</div><div class="col-xs-8 text-warning"><% if  !@instructor_student.country.blank? %><%= @instructor_student.country%><% else %><i class="fa fa-warning"></i> Data needed <% end %></div></div>' ;

// $(".student_name").html('<h2><%= @instructor_student.student_name%></h2><%= @instructor_student.additional_description%></br><a href="javascript:;" id="student_edit">Edit</a> ');
$(".student_particulars").html(content);
$(".edit_student_particulars").hide();
$(".student_particulars").show();
 
                    
                 