<%= title "Instructor" %>
<% if !admin_user_signed_in? %>
  <%= render "instructor/shared/login" %>
<% else %>

<% @day_array = [{"Sunday" => 0}, {"Monday" => 1}, {"Tueday" =>2}, {"wednesday" => 3}, {"Thursday" => 4}, {"Friday" => 5}, {"Saturday" => 6}] %>
<!-- application helper called to sort classes by day and sunday will be at last -->
<% sorted_group_classes = sort_group_classes_by_day(@group_classes) %>
  <div class="main">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/instructor">Home</a></li>
        <li class="active">Students</li>
      </ul>
      <!-- BEGIN SIDEBAR &amp; CONTENT
      -->
      <div class="row margin-bottom-40">
        <%#= render :partial => "instructor/home/ac_side_bar" %>
        <div class="col-sm-12">
          <h1>Students</h1>
          <div class="content-page">
            <div class="row">
              <div class="col-sm-12 text-right">
                <a class="btn blue hidden-print" onclick="javascript:window.print();">Print <i class="fa fa-print"></i></a>
                <a href="<%= new_instructor_instructor_student_path %>" class="btn green add_s">Add New Student</a>
              </div>
              <div class="col-sm-12 text-right">
                <div class="tabbable-custom" >
                  <ul class="nav nav-pills">
                    <li class="active">
                      <a href="#tab_5_1" data-toggle="tab">
                      Active (<%= @active_students %>) </a>
                    </li>
                    <li>
                      <a href="#tab_5_2" data-toggle="tab">
                      Inactive (<%= @inactive_students %>)</a>
                    </li>
                  </ul>
                  <div class="tab-content" style="border:0px;">
                    <div class="tab-pane active" id="tab_5_1">
                      <div>
                      <% sorted_group_classes.each do |group_class|%>
                        <% if group_class.instructor_students.count > 0%>
                          <h2 class="pull-left">
                            <%= @day_array[group_class.day].first[0] + ' ' +group_class.time.strftime("%I:%M %p").to_s%>
                          </h2>
                          <table class="table">
                            <thead>
                              <tr class="text-left heading">
                                <th style="width: 10%;"></th>
                                <th style="width: 20%;">Name</th>
                                <th style="width: 30%;">Contact</th>
                                <!-- <th>Class</th> -->
                                <!-- <th>Award</th> -->
                                <th style="width: 40%;">Progress</th>
                                <!-- <th><%#=  (1.month.ago).strftime("%b ' %y") %></th>
                                <th><%#=  Date.today.strftime("%b ' %y") %></th>
                                <th><%#= (Date.today + 1.months).strftime("%b ' %y") %></th>  -->
                                <% count = 0 %>
                              </tr>
                            </thead>
                            <tbody>
                              <%# @previous =  (1.month.ago).strftime("%B %Y")  %>
                              <%# @current = Date.today.strftime("%B %Y") %>
                              <%# @next = (Date.today + 1.months).strftime("%B %Y") %>
                              <%# = @group_classes.inspect %>
                              <% count = 0 %>
                              <% group_class.instructor_students.each do |instructor_student| %>
                                <% count = count + 1 %>
                                <% if !instructor_student.is_deleted? %>
                                  <tr class="text-left">
                                    <td style="width:30px;"><%= count %></td>
                                    <td><%= link_to instructor_student.student_name, instructor_instructor_student_path(instructor_student) %></td>
                                    <% @primary_contacts = instructor_student.student_contacts.where(:primary_contact => true).first%> 
                                    <td>
                                      <% if !@primary_contacts.blank? %><%= @primary_contacts.contact %>
                                      <% else %>-<% end %> 
                                    </td> 
                                      <!--                              <td>
                                      <%# if instructor_student.instructor_student_awards.count != 0 %>
                                        <%# award_id = instructor_student.instructor_student_awards.where(:award_progress => "achieved").order('achieved_date DESC').first %>
                                        <%# if !award_id.blank? %>
                                          <%# if Award.exists?(award_id.award_id) %>
                                            <%#= Award.find_by_id(award_id.award_id).name unless award_id.blank? %>
                                          <%# end %>
                                        <%# end %>
                                      <%# else %> -
                                      <%# end %>
                                      </td> -->
                                    <% @award_progress = ["achieved"] %>
                                    <% @instructor_student_award = InstructorStudentAward.where(:instructor_student_id => instructor_student.id).where("award_progress NOT IN (?)", @award_progress) %>
                                    <td>
                                      <% if instructor_student.instructor_student_awards.count != 0 %>
                                        <% @instructor_student_award.each do |p| %>
                                          <% if Award.exists?(p.award_id) %>
                                            <% @award_name = Award.find_by_id(p.award_id).name unless p.award_id.blank? %>
                                          <% end %>
                                          <% if p.award_progress == "ready_for" && p.is_registered == false %>
                                            <span class="text-muted"> Ready </span>
                                            <%= @award_name %>
                                            <!-- <a href="<%#= instructor_register_for_test_path(instructor_student.id, p.award_id, :instructorStudent => true) %>"> <small>Register for award test</small></a> -->
                                          <% elsif p.award_progress == "training_for" %>
                                            <span class="text-muted">Training </span>
                                            <%= @award_name %>
                                          <% elsif p.award_progress == "registered" %>
                                            <% if AwardTest.exists?(p.award_test_id) %>
                                              <% @award_test = AwardTest.find(p.award_test_id) %>
                                            <% end %>
                                            <% if !@award_test.blank? %>
                                              <%= @award_test.test_date.strftime("%d %B %Y") if !@award_test.test_date.blank? %>,
                                              <%= @award_test.test_time.strftime("%l:%M %P") if !@award_test.test_time.blank? %><br />
                                            <% end %>  
                                            <%= @award_name %></br>
                                            <small>Status : Pending</small>
                                          <% end %>
                                          <br />
                                        <% end %>
                                      <% else %>
                                        -
                                      <% end %>  
                                    </td>
                                  </tr>
                                <% end %>
                              <% end %>
                            </tbody>
                          </table>
                        <% end %>
                      <% end %>
                      </div>  
                    </div>
                    <div class="tab-pane" id="tab_5_2">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Class</th>
                            <th></th>
                            <% count = 0 %>
                          </tr>
                        </thead>
                        <tbody>
                          <% #= @group_classes.inspect %>
                          <% @instructor_students.each do |instructor_student| %>
                            <% if !instructor_student.is_deleted? %>
                              <% if instructor_student.group_classes.count == 0 %>
                                <% count = count + 1 %>
                                <tr>
                                  <td><%= count %></td>
                                  <td><%= link_to instructor_student.student_name, instructor_instructor_student_path(instructor_student) %></td>
                                  <td><%= instructor_student.contact %></td>
                                   <% @day_array = [{"Sun" => 0}, {"Mon" => 1}, {"Tue" =>2}, {"Wed" => 3}, {"Thu" => 4}, {"Fri" => 5}, {"Sat" => 6}] %>
                                  <td><% instructor_student.group_classes.each do |gp|%>
                                      <span class="label lable-sm label-default" style="margin-right: 5px;">
                                      <%= @day_array[gp.day].first[0] + ' ' +gp.time.strftime("%I:%M %p").to_s%>
                                    </span>
                                      <% end %>
                                  </td>
                                  <td>
                                    <span class="label"><%= link_to "edit", edit_instructor_instructor_student_path(instructor_student) %></span>
                                  </td>
                                </tr>
                              <% end %>  
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>  
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
<% end %>
<link rel="stylesheet" type="text/css" href="/assets/global/plugins/index_page_css/components.css" media="print">
<link rel="stylesheet" type="text/css" href="/assets/twitter-bootstrap-static/bootstrap.css" media="print">
<link rel="stylesheet" type="text/css" href="/assets/global/plugins/index_page_css/style.css" media="print">
<style type="text/css">
  @media print {
    body {
      background-color: #fff !important;
    }
    .breadcrumb{
      display: none;
    }
    a[href]:after {
      content: none !important;
    }
    .add_s{
      display: none;
    }
    .hidden-xs{
      display: block !important;
    }
    .nav{
      display: none;
    }
    .header {
      display: none;
    }
    .pre-header{
      display: none;
    }
    .sidebar {
      display: none;
    }

    .theme-panel {
      display: none;
    }

    .hidden-print {
      display: none;
    }
    .footer{
      display: none;
    }
    .page-footer {
      display: none;
    }

    .no-page-break {
      page-break-after: avoid;
    }

    .page-container {
      margin: 0px !important;
      padding: 0px !important;
    }

    .page-content {
      min-height: 300px !important;
      padding: 0px 20px 20px !important;
      margin: 0 !important;
    }
  }
</style>