<!-- <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"> -->
<% if @instructor_student.is_deleted? %>
  <div class="main">
    <div class="container">
      <div class="row ">
        <div class="col-md-12 quote-v1" style="text-align: center;">
          <span>This student was permanently deleted by you.</span>
        </div>

        <div class="col-md-12 margin-top-10" style="text-align: center">
          <%= link_to "Restore Student", restore_student_instructor_instructor_student_path(@instructor_student), class: "btn btn-default" %>
        </div>
        
      </div>
    </div>
  </div>
<% else %>
  <div class="main">
    <div class="container">
      <ul class="breadcrumb">
        <% if !@group_class.blank? %>
          <li><%= link_to "Group Class", instructor_group_classes_index_path %></li>
          <li>
            <% if @group_class.time.present? %>
              <%= link_to @group_class.full_time_heading, instructor_group_class_view_add_more_months_path(@group_class.id) %>
            <% else %>
              <%#= link_to @day_array[@group_class.day].to_s, instructor_home_path(@group_class.id) %>
              <%= link_to @group_class.custom_heading, instructor_group_class_view_add_more_months_path(@group_class.id) %>
            <% end %>
          </li>
        <% else %>
          <li><a href="/instructor">Home</a></li>
          <li><a href="<%= instructor_instructor_students_path %>">Student</a></li>
        <% end %>
        <li class="active"><%= @instructor_student.student_name %></li>
      </ul>

      <div id="navbar-example2" class="navbar navbar-default navbar-static" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
          <span class="sr-only">
          Toggle navigation </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          </button>
          <a class="navbar-brand" href="javascript:;">
            Student Menu
            <%# if @group_class.time.present? %>
              <%#= @day_array[@group_class.day] +' '+ @group_class.time.strftime("%I:%M %p").to_s + " - " + (@group_class.time + @group_class.duration*60).strftime("%I:%M %p").to_s %>
            <%# else %>
              <%#= @day_array[@group_class.day] %>
            <%# end %>
          </a>
        </div>
        <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
          <ul class="nav navbar-nav">
            <li class="classView" id="profile1">
              <a href="#profile" data-toggle="tab">
                Profile
              </a>
            </li>
            <li class="">
              <a href="#progress" data-toggle="tab">
                Progress
              </a>
            </li>
            <% if @instructor_student.group_classes.count > 0 %>
              <li class="">
                <a href="#fees" data-toggle="tab">
                  Fees
                </a>
              </li>
              <li id="attndnc">
                <a href="#attendance" data-toggle="tab">Attendance</a>
              </li>
            <% end %>
            <li class="">
              <% if  !@instructor_student.gallery.present? %>                 
                <%= form_for [:instructor,@instructor_student, Gallery.new]  do |f| %>
                  <%=  f.submit "Photos" ,:class=>"btn btn1 classView "%>
                <% end %>
              <% else %>
                <a href="#gallery" data-toggle="tab">Photos</a>
              <% end %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right border-t-xs" style="float: left;">
            <li>
              <a href="<%= @student_view_url + "/student/" + @instructor_student.secret_token %>" class="btn btn_action btn-block">
                Student View
              </a>
            </li>
            <li class="">
              <div class="btn-group">
                <button type="button" class="btn btn_action dropdown-toggle" data-toggle="dropdown" style="  height: 50px;">
                  Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu drop_btn" role="menu">
                  <% if !@isInTransfer.blank? %>
                    <% if @isInTransfer.transfer_status == "Transferring" %>
                      <li> 
                         <a href="<%= instructor_reject_transfer_student_path(@isInTransfer, :gp => params[:gp]) %>" data-toggle="modal" >Cancel Transfer</a>
                      </li>
                    <% else %>
                      <li><a href="#transfer_out" data-toggle="modal" >Transfer Student</a></li>
                    <% end %>
                  <% else %>
                    <%# if  !@transferFrom.blank? && @transferFrom.transfer_status == "Transferred" %>
                      <!-- <a href="<%#= student_public_link_path(@instructor_student.secret_token) %>" class="btn blue btn-block">View Transferred Student</a> -->
                    <%# else %>  
                      <li><a href="#transfer_out" data-toggle="modal" >Transfer Student</a></li>
                    <%# end %>
                  <% end %>
                  <li><a href="#delete_student" data-toggle="modal" >Permanent Delete Student</a></li>
                </ul>
              </div>
            </li>
            </select>
            </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row margin-bottom-40">
        <div class="col-sm-12">
          <div class="content-page">
            <div class="row">
              <div class="col-sm-4  col-sm-push-8">
                <% if current_admin_user.is_account_activated? %>
                  <a id="sms-student-link" href="javascript:;" class="btn default btn-block">SMS Student</a>
                  <div class="tab-content" id='sms-student' style="display:none;">
                    <%= form_tag instructor_send_student_a_link_path(@instructor_student.secret_token,:inst_id=>@instructor_student), :remote => true, :id => "send_student_link" do %>
                      <h3>Send SMS</h3>
                      <select class="form-control" id="to_number" name="to_number">
                        <% @instructor_student_contacts.each do |p| %>
                          <option value="<%= p.contact %>" <%= p.primary_contact?  ? 'selected' : ''%>>
                            <% if p.relationship.present? %>
                              <%= p.relationship %>
                            <% else %>
                              Contact
                            <% end %>
                            < <%= p.contact %> >
                          </option>
                        <% end %>
                      </select>
                      <%= text_area_tag :message_body, @message_body, :name => "message_body", :class => "form-control", :rows => "5" ,:id => "txtarea_msgCount" %>
                      <%= submit_tag "Send SMS" ,:class=>"btn btn-block red send_student_link_btn" %>
                    <% end %>
                  </div>
                <% else %>
                  <a href="<%= instructor_check_for_message_telerivet_sms_settings_path %>" class="btn default btn-block" data-remote="true">SMS Student</a>
                <% end %>
                <br>
                <div class="inbox-content conversation_tbody" id="message_conversation" style="display:none;">
                  <div id ="load_sms_conversation">
                   <%#= render "/instructor/instructor_messages/student_conversion_update"%>
                   <div id="chats">
                      <ul class="chats">
                        <span id="load_more"></span>
                        <%if @inst_messages.present? %>
                          <%@inst_messages.each do |inst_conversation|%>
                            <%inst_conversation.instructor_messages.order('time_created desc').each do |message| %>
                              <% if message.status == 'queued'%>
                                <% bg_color = '#fcf8e3' %>
                              <% elsif message.status == 'fail'%>
                                <% bg_color = 'pink' %>
                              <% elsif message.status == 'sent'%>
                                <% bg_color = '#dff0d8' %>
                              <% end %>
                              <% if message.direction.downcase == "incoming" %>
                                <li class="in">
                                  <img class="avatar img-responsive" src="/assets/avatar.png"/>
                                  <div class="message" style="background-color: <%= bg_color %>;">
                                    <span class="arrow"></span>
                                    <span class="datetime">
                                      <%= message.time_created.strftime('%d %b %Y %I:%M %p') %><%= link_to " Mark as Unread", instructor_set_sms_unread_path(message), :style => "color: #D3071E;", remote: true %>
                                    </span>
                                    <span class="body" style>
                                      <%= simple_format(message.msg_des).html_safe %>
                                    </span>
                                  </div>
                                </li>
                              <% else %>
                                <li class="out">
                                  <img class="avatar img-responsive" src="/assets/avatar.png"/>
                                  Sent by <%= current_admin_user.name %> 
                                  <div class="message" style="background: <%= bg_color %>;">
                                    <span class="arrow"></span>
                                    <span class="datetime">
                                      <!-- at --> 
                                      <%= message.time_created.strftime('%d %b %Y %I:%M %p') %><%= link_to " Mark as Unread", instructor_set_sms_unread_path(message), :style => "color: #D3071E;", remote: true %>
                                    </span>
                                    <span class="body">
                                      <%= simple_format(message.msg_des).html_safe %>
                                    </span>
                                  </div>
                                </li>
                              <% end %>
                            <%end%>
                          <%end%>
                        <%end%>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-8  col-sm-pull-4">
                <div class="tab-content">
                  <div class="tab-pane active" id="profile">
                    <%= render "/instructor/instructor_students/profile" %>
                  </div>
                  <div class="tab-pane" id="progress">
                    <%= render "/instructor/instructor_students/progress" %>
                    <%#= render "/instructor/instructor_students/active_students" %>
                  </div>
                  <% if @instructor_student.group_classes.count > 0 %>
                    <div class="tab-pane" id="fees">
                      <%= render "/instructor/instructor_students/fees" %>
                    </div>
                    <div class="tab-pane" id="attendance">
                      <%= render "/instructor/instructor_students/attendance" %>
                    </div>
                  <% end %>
                  <div class="tab-pane" id="gallery">
                    <%= render "/instructor/instructor_students/gallery1" %>
                    <%#= render "/instructor/galleries/gallery" %>
                  </div>
                </div>
                <% @instructor_student_test_count = InstructorStudent.find(@instructor_student).instructor_student_awards.where(:is_registered => true).count %>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>   
  </div>

  <div class="modal fade" id="delete_student" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Permanently delete <%= @instructor_student.student_name%></h4>
        </div>
        <div class="modal-body">
           You will not be able to reverse this action
        </div>
        <div class="modal-footer">
          <%= link_to "Permanent Delete", instructor_instructor_student_path(@instructor_student), :method => :delete, :class => "btn red" %>
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="transfer_out" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Transfer Out</h4>
        </div>
        <% if @instructor_student_test_count > 0 %>
          <div class="modal-body">
            <div class="form-group"><%= @instructor_student.student_name %> cannot be transferred because student is registered for test.</div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn default" data-dismiss="modal">Okay</button>
          </div>
        <% else %>
          <%= form_tag instructor_transfer_student_path, id: "studentTransferOut" do %>
            <div class="modal-body">
              <div class="from-group">
                <%= hidden_field_tag :instructor_student, @instructor_student.id %>
                <%= hidden_field_tag :gp, params[:gp] %>
                <label for="instructorTrnasferTo">Transfer to </label>
                <!-- <input name="instructor" id="instructorTrnasferTo" class="form-control" required="true" /> -->
                <%= select_tag "instructor", options_from_collection_for_select(@active_instructors, :id, :name), prompt: "Select instructor", :class => "form-control relationship"%>
                <p id="instructorTrnasferToErr"></p>
                <!-- <input id="tags" class="form-control" name="instructorToTransfer"> -->
                <label for="reason">Reason </label>
                <textarea name="reason" class="form-control" rows="4"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <div id="error" class="text-right" style="color: red">
                
              </div>
              <button type="submit" class="btn blue transferBtn">Confirm</button>
              <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal fade smsFeature" id="delete_student" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>




  <script>  
    // var croppicHeaderOptions = {
    //     uploadUrl:'/instructor/student_profile/<%#= @instructor_student.id %>',
    //     cropData:{
    //       "dummyData":1,
    //       "dummyData2":"asdas"
    //     },
    //     cropUrl:'/instructor/student_profile/<%#= @instructor_student.id %>',
    //     customUploadButtonId:'cropContainerHeaderButton',
    //     modal:false,
    //     processInline:true,
    //     loaderHtml:'<div class="loader bubblingG"><span id="bubblingG_1"></span><span id="bubblingG_2"></span><span id="bubblingG_3"></span></div> ',
    //     onBeforeImgUpload: function(){ console.log('onBeforeImgUpload') },
    //     onAfterImgUpload: function(){ console.log('onAfterImgUpload') },
    //     onImgDrag: function(){ console.log('onImgDrag') },
    //     onImgZoom: function(){ console.log('onImgZoom') },
    //     onBeforeImgCrop: function(){ console.log('onBeforeImgCrop') },
    //     onAfterImgCrop:function(){ console.log('onAfterImgCrop') },
    //     onError:function(errormessage){ console.log('onError:'+errormessage) }
    // } 
    // var croppic = new Croppic('croppic', croppicHeaderOptions);
   $(window).load(function() {
     /* Act on the event */
     $('#profile1').addClass('active');
     $('#attndnc').removeClass('active');
   });   

    $(document).ready(function () {
      $('#basic').on('shown.bs.modal', function () {
          $('#txtarea_msgCount').focus();
      })
      
      $("#sms-student-link").click(function() {
        if($("#sms-student").is(':visible')){
          $("#sms-student").hide();
          $("#message_conversation").hide();
        }
        else{
          $("#sms-student").show();
          $("#message_conversation").show();

        }
      });

      $(document).on('click', '.transferBtn', function(event) {
        if ($('.relationship').val()==''){
          $("#error").html("Plaese select instructor");
          return false; 
        }
      });

      $(document).on('click', 'a', function(event) {

        // Ignore this event if preventDefault has been called.
        if (event.defaultPrevented) return;

        if (this.hostname != 'css-tricks.com' && !$(event.target).parent().is('.timing') ) {
          ga('send', 'event', 'Outbound Link', this.href);
        }
      });
      $(document).on('click', '.timing', function(event) {
        event.preventDefault();
        $modal = $('.inst_student'),
        $modal.modal();
        /* Act on the event */
      });

      // var availableTags = <%= raw @instructors.to_json %>;
      // $( "#tags" ).autocomplete({
      //   source: availableTags
      // });

      // $("#transfer_out").on('shown.bs.modal', function(){
      //   $(".ui-autocomplete").css('z-index','9999999999');
      // });
      
      $("#studentTransferOut").validate();
    
      var getInstructors = <%= raw @instructors.to_json %>;
      $("#instructorTrnasferTo").keyup(function(event) {
        if($.inArray(Number($(this).val()), getInstructors) !== -1) {
          $(this).next("#instructorTrnasferToErr").html('');
          $(".transferBtn").prop('disabled', false);
        }
        else {
          $(this).next("#instructorTrnasferToErr").html("Please enter correct instructor number").css("color", "#a94442");
          $(".transferBtn").prop('disabled', true);
        }
      });
      

      Metronic.init(); // init metronic core components
      Layout.init(); // init current layout
      ComponentsDropdowns.init();
      ComponentsFormTools.init();
      Portfolio.init();
      $('form#send_student_link').on('ajax:beforeSend', function(event, xhr, settings) {
        $("input.send_student_link_btn").val("Sending...");
      });
      $('#fineUploader').fineUploader({
        multiple: false,
        request: {
          endpoint: '/instructor/student_profile/<%= @instructor_student.id %>'
        },
        template: 'qq-template',
        callbacks: {
          onComplete: function(id, name, responseJSON) {
            var latestImgUrl = responseJSON;
            $(".studentProfilePic").find('img').remove();
            var latestUploadImg = '<img class="img-responsive" src="'+latestImgUrl+'" />';
            $(".studentProfilePic").find("#fineUploader").before(latestUploadImg);
            $('#qq-progress-bar').html('');
          }
        }
      }).on('progress', function (event, id, name, uploadedBytes, totalBytes) {
        fileName = name
        if (uploadedBytes < totalBytes) {
          progress = Math.round(uploadedBytes / totalBytes * 100) + '%';
          $('#qq-progress-bar').html(progress);
          $("#add_student_photo").find('#lbl_add_photo').text("Adding...");
        }
        else {
          $('#qq-progress-bar').html('Saving...');
          $("#add_student_photo").find('#lbl_add_photo').text("Change photo");
        }
      });

      $('#identityDoc').fineUploader({
        request: {
          endpoint: '/instructor/student_identity/<%= @instructor_student.id %>'
        },
        template: 'qq-template-1',
        validation: {
          itemLimit: 3
        }, 
        callbacks: {
          onComplete: function(id, name, responseJSON) {  
            window.location.reload("<%= instructor_instructor_student_path(@instructor_student) %>")
            $('#qq-progress-bar').html('');
          }
        }
      }).on('progress', function (event, id, name, uploadedBytes, totalBytes) {
        fileName = name
        if (uploadedBytes < totalBytes) {
          progress = Math.round(uploadedBytes / totalBytes * 100) + '%';
          $('#qq-progress-bar-1').html(progress);
          $("#studentDIdentity").find('#lbl_add_identity').text("Adding...");
        }
        else {
          $('#qq-progress-bar-1').html('Saving...');
          $("#studentDIdentity").find('#lbl_add_identity').text("Add");
        }
      });

      $('#select2_sample2').select2({
        placeholder: "Select Group Classes",
        allowClear: true
      });

      var selectedValues = <%=@instructor_student.group_classes.pluck('id')%>
      $('#s2id_select2_sample2').select2('val', selectedValues)
      
      $('.date-picker').datepicker({
        format: 'd MM yyyy',
        startView: 2,
        minViewMode: 0
      });
     
      $('#ic_number').blur(function() {
        var ic_number = $(this).val();
        ic_number = ic_number.toUpperCase();
        $('#ic_number').val(ic_number);
      });
    });
    $("#student_edit").click(function() {
      $(".student_name").hide();
      $(".edit_student_name").show();
    });
    $("#save_name").click(function() {
      $("#student_name").show();
      $(".edit_student_name").hide();
    });
    
    $("#cancel_student_name").click(function() {
      $("#student_name").val("<%= @instructor_student.student_name %>");
      $("#additional_description").val("<%= @instructor_student.additional_description %>");
      $(".edit_student_name").hide();
      $(".student_name").show();
      $("#student_name").show();

    });
    /*description events*/
    $("#description_edit").click(function() {
      $(".description_details").hide();
      $(".change_description").show();
    }); 
    $("#cancel_des").click(function() {
      $(".change_description").hide();
      $(".description_details").show();
    }); 
    /*end*/
    $("#group_class_edit").click(function() {
      $(".class_details").hide();
      $(".change_group_class").show();
    }); 
    $("#cancel").click(function() {
      $(".change_group_class").hide();
      $(".class_details").show();
    }); 
    $("#student_particulars_edit").click(function() {
      $(".student_particulars").hide();
      $(".edit_student_particulars").show();
    });
    $("#cancel1").click(function() {
      $(".student_particulars").show();
      $(".edit_student_particulars").hide();
    }); 
    $("#edit_contact").click(function() {
      $(".contact_details").hide();
      $(".edit_contact_details").show();
    });  
    $("#cancel2").click(function() {
      $(".edit_contact_details").hide();
      $(".contact_details").show();
    }); 
    // $("#edit_award").click(function() {
    //   $(".award_details").hide();
    //   $(".edit_award_details").show();
    // });
    // $("#cancel3").click(function() {
    //   $(".edit_award_details").hide();
    //   $(".award_details").show();
    // }); 
    var myTransaction = [];
    $(document).on('click', '.remove_contact_inf', function() {
      var id = $(this).attr('id');
      if(id != 0)
        myTransaction.push(id);

      $('#deleted_contacts').val(myTransaction);
      if($("#student_contact_detail .fields").length != 1)
        $(this).parents(".fields").remove();
    });
    var myTransaction1 = [];
    $(".remove_award_inf").click(function(){
      var id = $(this).attr('id');
      myTransaction1.push(id);
      $('#deleted_awards').val(myTransaction1);
      $(this).parents(".fields").remove();
    });

    $('#viewActions').click(function(){
          $('.view_action_list').slideToggle("500")
    });

    $('.dropdown-toggle').dropdown();
 
    $(document).on('click', '.send_student_link_btn', function(event) {
      $('.chats').prepend('<li class="out"><img class="avatar img-responsive" src="/assets/avatar.png"/><div class="message" style="background-color: pink;"><span class="pull-left"><a class="name" href="#">'+ $('#to_number').val() +' </a> sending.. </span><br><span class="arrow"></span><span class="body">'+$("#txtarea_msgCount").val()+'</span></div></li>')
    });

  </script>
  <%if @instructor_student.profile_picture? %>
    <script type="text/template" id="qq-template">
      <div class="qq-uploader-selector qq-uploader">
        <div class="qq-upload-button-selector " id="add_student_photo" >
          <div id="lbl_add_photo">Change photo</div>
        </div>
        <div id="qq-progress-bar"></div>
        <ul class="qq-upload-list-selector qq-upload-list">
          <li style="display: none;">
          </li>
        </ul>
      </div>
    </script>
  <%else %>
    <script type="text/template" id="qq-template">
      <div class="qq-uploader-selector qq-uploader">
        <div class="qq-upload-button-selector " id="add_student_photo" >
          <div id="lbl_add_photo">Add photo</div>
        </div>
        <div id="qq-progress-bar"></div>
        <ul class="qq-upload-list-selector qq-upload-list">
          <li style="display: none;">
          </li>
        </ul>
      </div>
    </script>
  <%end %>

  <script type="text/template" id="qq-template-1">
    <div class="qq-uploader-selector qq-uploader">
      <div class="qq-upload-button-selector qq-upload-button" id="studentDIdentity" style="background: none repeat scroll 0 0 #1d943b !important;">
        <div id="lbl_add_identity">Add</div>
      </div>
      <div id="qq-progress-bar-1"></div>
      <ul class="qq-upload-list-selector qq-upload-list">
        <li style="display: none;">
        </li>
      </ul>
    </div>
  </script>
 <!--   style="qq-upload-button background: none repeat scroll 0 0 #1d943b !important;"-->
  <style type="text/css">\
    .qq-upload-list li.qq-upload-fail {
      background-color: #0D7D18;
      color: #FFF;
    }
    .blog-images li img { opacity: 1 !important; }

    .fancybox-title {
      display: none;
    }
    #ui-datepicker-div{
      z-index: 2 !important;
    }
    .btn1{
      height: 50px;
      color: #777;
      font: 400 16px 'Open Sans', 'Arial', 'sans-serif'; 
      background-color: transparent;
    }
    .btn1:hover {
      color: #333;
    }​  
   
  .view_action_list{
    display: none;
  }
  .btn_action{
    background-color: transparent;
    height: 50px;
    font: 400 16px 'Open Sans', 'Arial', 'sans-serif';
  }
  .drop_btn {
    box-shadow: none;
    min-width: 225px;
  }
@media screen and (max-width: 767px) {
    .navbar-collapse.in {
      overflow-y: visible;
    }
}
      /* some reset stlyes */
  </style>
<% end %>