%p#notice= notice

%p
  %b Student name:
  = @instructor_student.student_name
%p
  %b Age:
  = @instructor_student.age
%p
  %b Gender:
  = @instructor_student.gender
%p
  %b Contact:
  = @instructor_student.contact
%p
  %b Job:
  = @instructor_student.job_id
%p
  %b Date of birth:
  = @instructor_student.date_of_birth

= link_to 'Edit', edit_instructor_student_path(@instructor_student)
\|
= link_to 'Back', instructor_students_path
