<% if !admin_user_signed_in? %>
  <%= render "instructor/shared/login" %>
<% else %>
  <div class="main">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/instructor">Home</a></li>
        <li class="active">Students</li>
      </ul>

      <div id="navbar-example2" class="navbar navbar-default navbar-static" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
          <span class="sr-only">
          Toggle navigation </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          </button>
          <a class="navbar-brand" href="javascript:;">
            Class Menu
          </a>
        </div>
        <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#fee-view" data-toggle="tab">
                Fee View
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right border-t-xs" style="float: left;">
            <li class="">
              <a href="javascript:;" class="btn hidden-print" onclick="javascript:window.print();" style="float:left">
                <i class="fa fa-print" style="float:left"></i> Print
              </a>
            </li>
            <li>
              <a href="javascript:;" class="btn" id="viewManage" style="clear:both;float:left">
                 Manage View
              </a>
            </li>
            <li>
              <a href="javascript:;" class="btn" id="invoice" style="clear:both;float:left">
                 Invoice
              </a>
            </li>
            <li>
              <% if current_admin_user.is_account_activated? %>
                <a href="javascript:;" class="pull-left" id="smsSend" style="clear:both;"><i class="fa fa-envelope"></i> SMS</a>
              <% else %>
                <a href="<%= instructor_check_for_message_telerivet_sms_settings_path %>" class="pull-left" data-remote="true" style="clear:both;"><i class="fa fa-envelope"></i> SMS</a>
              <% end %>
              <!-- <a href="javascript:;" class="pull-left" id="sample_editable_2_new"><i class="fa fa-plus"></i> Student</a> -->
            </li>
          </ul>
        </div>
      </div>

      <% if current_admin_user.is_account_activated? %>
        <div class="row newSmsSend">
          <div class="col-sm-12">
            <div class="col-sm-5 note note-info">
              <h4 class="block">Sending messages to students</h4>
              <p>
                Step 1: Use the checkbox to select the many students <br />
                Step 2: Type your message <br />
                Step 3: Click Send
                <h4 class="block" style="text-align: left;" > 
                  <p>
                    Add <strong>&lt;student_name&gt;</strong> to send Student name in SMS.<br/>
                    Add <strong>&lt;student_link&gt;</strong> to send Student Link in SMS.
                  </p>
                </h4>
              </p>
            </div>

            <%= form_tag (instructor_send_msg_preview_path + "?isReqXhr=true"), remote: true, class: "sendMessages"  do %>
              <input type="hidden" id="send_message" name="stundent_ids"/>
              <input type="hidden" name="group_class" value="<%#= @group_class.id %>"/>
              <div class="col-sm-5">
                <label>Message to student</label>
                <textarea class="form-control" cols="20" id="text_msg" name="text_msg" rows="5" onkeyup="textAreaAdjust(this)" style="overflow:hidden"></textarea>
                <%#= text_area_tag(:text_msg, nil,{:class => "form-control", :rows => 5, :cols => 20})%>
                <div>
                <span style="float: left; margin-top: 10px; display: none; color: #E02222;" id="error_msg">You need to select at least 1 student to send your message.</span>
                <span style="float: left; margin-top: 10px; display: none;" id="successMsg"></span>
                <div class="text-right margin-top-10" style="float: right;">
                  <%= submit_tag "Preview & Send", {:class => "btn red", :id => "send_msg"} %>
                </div>
                </div>
              </div>
            <% end %>

         
          </div>
        </div>
      <% end %>

      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example" style="height: 100%; overflow: hidden;">
        <div class="tab-content" style="border:0px; background: #fff; padding-left: 0px;">
          <div class="tab-pane active" id="fee-view">
            <%= render "/instructor/home/unpaid_student_view" %>
          </div>
        </div>
      </div>

    </div>
  </div>
<%end %>
<div class="modal fade inst_student" tabindex="-1" style="display: none;">
  <%= render :partial => "instructor/shared/loading_modal" %>
</div>

<link rel="stylesheet" type="text/css" href="/assets/global/plugins/index_page_css/components.css" media="print">
<link rel="stylesheet" type="text/css" href="/assets/twitter-bootstrap-static/bootstrap.css" media="print">
<link rel="stylesheet" type="text/css" href="/assets/global/plugins/index_page_css/style.css" media="print">