<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 8] <html lang="en" class="ie8 no-js">
-->
<!--[if IE 9] <html lang="en" class="ie9 no-js">
-->
<!-- [if !IE]><!
-->
<html class="no-js" lang="en">
  <!-- <![endif]
  -->
  <!-- BEGIN HEAD
  -->
  <head>
    <meta charset="utf-8"/>
    <title>MatchMaker - Login Page</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta name="description"/>
    <meta name="author"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"></link>
    <%= stylesheet_link_tag "login_page" %>
    <link href="favicon.ico" rel="shortcut icon"></link>
    <% if request.domain == "singaporeswimming.com" %>
        <%= render "layouts/header_script" %>
    <% end %>
  </head>
  <body class="login">
    <div class="logo"></div>
    <div class="menu-toggler sidebar-toggler"></div>
    <div class="content">
      <%= form_for AdminUser.new, :url => admin_user_session_path, :html => { :class => "login-form" } do |f| %>
        <h3 class="form-title">Login to your account</h3>
        <% if flash[:login_failure] %>
        <div id="invalid">
          <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <span>
              <%= flash[:login_failure]   %>
            </span>
          </div>
        </div>  
        <% end %>
        <div class="alert alert-danger display-hide">
          <button class="close" data-close="alert"></button>
          <span>
            Enter any email and password.
          </span>
        </div>
        <% if !cookies[:remember_me_id].blank?%>
          <% if ( AdminUser.find(cookies[:remember_me_id]) and Digest::SHA1.hexdigest(AdminUser.find(cookies[:remember_me_id]).email)[4,18] == cookies[:remember_me_code]) %>
            <div class="form-group custEmail">
              <label class="control-label visible-ie8 visible-ie9">Email</label>
              <div class="input-icon">
                <i class="fa fa-user"></i>
                <%= f.email_field :email , :class => "form-control placeholder-no-fix", :autocomplete=>"off", :placeholder=>"Email", :required => true , :value => AdminUser.find(cookies[:remember_me_id].to_i).email%>
              </div>
            </div>
            <div class="form-group custPwd">
              <label class="control-label visible-ie8 visible-ie9">Password</label>
              <div class="input-icon">
                <i class="fa fa-lock"></i>
                <%= f.password_field :password , :class =>"form-control placeholder-no-fix", :autocomplete=>"off" ,:placeholder=>"Password", :required => true , :value => cookies[:remember_me_pass]%>
              </div>
            </div>
            <div class="form-actions custBtns">
              <label class="checkbox">
                <%= f.check_box :remember_me , :checked=> true %>
                Remember Me
              </label>
              <%= f.submit "Login" , :class => "btn green pull-right" do %>
                <i class="m-icon-swapright m-icon-white"></i>
              <% end %>
            </div>
          <%else %>
            <div class="form-group">
              <label class="control-label visible-ie8 visible-ie9">Email</label>
              <div class="input-icon">
                <i class="fa fa-user"></i>
                <%= f.email_field :email , :class => "form-control placeholder-no-fix", :autocomplete=>"off", :placeholder=>"Email", :required => true %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label visible-ie8 visible-ie9">Password</label>
              <div class="input-icon">
                <i class="fa fa-lock"></i>
                <%= f.password_field :password , :class =>"form-control placeholder-no-fix", :autocomplete=>"off" ,:placeholder=>"Password", :required => true %>
              </div>
            </div>
            <div class="form-actions">
              <label class="checkbox">
                <%= f.check_box :remember_me, :checked=>false %>
                Remember Me
              </label>
              <%= f.submit "Login" , :class => "btn green pull-right" do %>
                <i class="m-icon-swapright m-icon-white"></i>
              <% end %>
            </div>
          <% end %>   
        <% elsif cookies[:remember_me_id].blank? %>
          <div class="form-group custEmail">
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <div class="input-icon">
              <i class="fa fa-user"></i>
              <%= f.email_field :email , :class => "form-control placeholder-no-fix", :autocomplete=>"off", :placeholder=>"Email", :required => true %>
            </div>
          </div>
          <div class="form-group custPwd">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
              <i class="fa fa-lock"></i>
              <%= f.password_field :password , :class =>"form-control placeholder-no-fix", :autocomplete=>"off" ,:placeholder=>"Password", :required => true %>
            </div>
          </div>
          <div class="form-actions">
            <label class="checkbox">
              <%= f.check_box :remember_me, :checked=>false %>
              Remember Me
            </label>
            <%= f.submit "Login" , :class => "btn green pull-right" do %>
              <i class="m-icon-swapright m-icon-white"></i>
            <% end %>
          </div>
        <% else %>
          <div class="form-group">
            <!-- ie8, ie9 does not support html5 placeholder, so we just show field title for that
            -->
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <div class="input-icon">
              <i class="fa fa-user"></i>
              <%= f.email_field :email , :class => "form-control placeholder-no-fix", :autocomplete=>"off", :placeholder=>"Email", :required => true %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
              <i class="fa fa-lock"></i>
              <%= f.password_field :password , :class =>"form-control placeholder-no-fix", :autocomplete=>"off" ,:placeholder=>"Password", :required => true %>
            </div>
          </div>
          <div class="form-actions">
            <label class="checkbox">
              <%= f.check_box :remember_me, :checked=>false %>
              Remember Me
            </label>
            <%= f.submit "Login" , :class => "btn green pull-right" do %>
              <i class="m-icon-swapright m-icon-white"></i>
            <% end %>
          </div>
        <% end %>  
        
        <div class="forget-password">
          <h4>Forgot your password ?</h4>
          <p>
            no worries, click
            <a href="javascript:;" id="forget-password">
              here
            </a>
            to reset your password.
          </p>
        </div>
      <% end %>
      <form action="index.html" class="forget-form" method="post">
        <h3>Forget Password ?</h3>
        <p>
          Enter your e-mail address below to reset your password.
        </p>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input autocomplete="off" class="form-control placeholder-no-fix" name="email" placeholder="Email" required="true" type="text"></input>
          </div>
        </div>
        <div class="form-actions">
          <button class="btn" id="back-btn" type="button">
            <i class="m-icon-swapleft"></i>
            Back
          </button>
          <button class="btn green pull-right" type="submit" id="submit">
            Submit
            <i class="m-icon-swapright m-icon-white"></i>
          </button>
        </div>
      </form>
    </div>
    <%= javascript_include_tag "login_page" %>
  </body>
</html>
<script type="text/javascript">
  $('form').submit(function(){
    if($('#invalid').is(":visible"))
    {
      $('#invalid').css("display","none");
    }
  });
  jQuery(document).ready(function($) {
    if(!$(".custPwd").is(":visible"))
      $(".custPwd").show();
    if(!$(".custEmail").is(":visible"))
      $(".custEmail").show();
    if(!$(".custBtns").is(":visible"))
      $(".custBtns").show();
  });
</script>