  <div class="form-group ">
    <div class="col-xs-4">
      <%= f.label :relationship, "Relationship", :class=>"control-label col-sm-4"%>
    </div>
    <div class="col-xs-8">
       <%#= f.collection_select :award_ids, Award.all, :id, :name %>
       <%= f.select :relationship, [ ['Myself', 'Myself'], ['Father', 'Father'],['Mother','Mother'],['Sister','Sister'],['Brother','Brother'],['Relative','Relative'],['Friend','Friend'],['Other','Other']] ,{:include_blank => true}, :class => "form-control relation"%>
    </div>
  </div>
    <div class="form-group name-group">
      <div class="col-xs-4">
        <%= f.label :name, "Name", :class=>"control-label col-sm-4" %>
      </div>
      <div class="col-xs-8">
        <%= f.text_field :name, :class => "form-control form-control-inline name" %>
      </div>
    </div>
  <div class="form-group">
    <div class="col-xs-4">
      <%= f.label :contact, "Contact", :class=>"control-label col-sm-4" %>
    </div>
    <div class="col-xs-8">
      <%= f.text_field :contact, :class => "form-control form-control-inline contact" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4">
      <%= f.label :email, "Email", :class=>"control-label col-sm-4" %>
    </div>
    <div class="col-xs-8">
      <%= f.email_field :email, :class => "form-control form-control-inline contact" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
      <%= f.check_box :primary_contact, :class=>"primary_contact"%>
      <%= f.label :primary_contact, "Primary Contact", :class=>"primary_contact" %>
      <span class="pull-right"> 
        <%= f.link_to_remove "Remove" %>
      </span>
    </div>
  </div>
  

<script type="text/javascript">
  var idAuto = 'auto-'
  var idRelation = 'relation-'
  var idSname = 'sname-';
  var idname = 'name-';

  $(function() {
    $('div.fields').each(function(i) {
      $(this).attr({ id: idAuto + i });
      if ($('div.fields').length > 0){
        $('div.fields').first().find('input.primary_contact').prop('checked', true); 
      }
    });
    $('.name-group').each(function(i) {
      $(this).attr({id: idSname + i});
    });
    $('.name').each(function(i) {
      $(this).attr({id: idname + i});
      var name = $(this).val();
      name = name.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
      $('#' + idname + i).val(name);
      $('#' + idname + i).blur(function() {
        var name = $(this).val();
         name = name.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
         $('#' + idname + i).val(name);
      });
    });
    $('.relation').each(function(i) {
      $(this).attr({id: idRelation + i});
      var m = $(this).find('option:selected').text();
       if(m == "" || m == "Myself") {
          $("#" + idSname + i).hide();
          $("#" + idname + i).val("");
        }
        else
        {
          $("#" + idSname + i).show();
        }
      $("#" + idRelation + i).change(function(){
        var m = $(this).find('option:selected').text();
        if(m == "" || m == "Myself") {
          $("#" + idSname + i).hide();
          $("#" + idname + i).val("");
        }
        else
        {
          $("#" + idSname + i).show();
        }
      });      
    }); 
  });
  
  $('input.primary_contact').on('change', function() {
    $('input.primary_contact').not(this).prop('checked', false);  
  });
</script>

