<% title @instructor_student.student_name %>
<div class="container">
  <div class="margin-top-20">
    <img src="/assets/index_page_images/img/SSA-Logo-Raw-Black.png" class="margin-bottom-20">
  </div>
  <%= nested_form_for @instructor_student, :url => update_student_path, :html => {:class=> "form-horizontal relationship",:multipart => true} do |f| %>
  <%= f.hidden_field :id, :value => @instructor_student.id %>
  <%= f.hidden_field :is_update, :value => false %>
    <div class="row">
      <div class="form-body col-sm-6">
        <!-- <div class="form-group">
          <h3>Profile picture</h3>
        </div>   -->
        <!-- <div class="form-group last">
          <label class="control-label col-sm-4">Profile picture</label>
          <div class="col-sm-8">
            
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                  <%# if @instructor_student.profile_picture? %>
                    <%#= image_tag(@instructor_student.profile_picture) %>
                  <%# else %>
                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
                  <%# end %>  
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                </div>
                <div>
                  <span class="btn default btn-file">
                  <span class="fileinput-new">
                  Select image </span>
                  <span class="fileinput-exists">
                  Change </span>
                  <input type="file" id="instructor_student_profile_picture" name="instructor_student[profile_picture]">
                  </span>
                  <a href="#" class="btn red fileinput-exists" data-dismiss="fileinput">
                  Remove </a>
                </div>
              </div>
            
          </div>
        </div> -->
        <div class="clearfix"></div>
        <div class="col-sm-12">
          <div class="form-group">
            <h3>Student Particulars</h3>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">Student name<span class="required" aria-required="true">*</span></label>
            <div class="col-sm-8">
              <% if params[:action] == "edit" %>
                <%= f.text_field :student_name, :class=>"form-control", :required => true, :value => @instructor_student.student_name.titleize %>
              <% else %>
                <%= f.text_field :student_name, :class => "form-control", :required => true %>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">Ic number<span class="required" aria-required="true">*</span></label>
            <div class="col-sm-8">
              <% if params[:action] == "edit" %>
                <%= f.text_field :ic_number, :class=>"form-control", :value => @instructor_student.ic_number ? @instructor_student.ic_number.upcase : nil, :required => true %>
              <% else %>
                <%= f.text_field :ic_number, :class => "form-control", :required => true%>
              <% end %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Date of bitrth<span class="required" aria-required="true">*</span></label>
            <div class="col-sm-8">
              <% if @instructor_student.date_of_birth? %>
                <% if (browser.ie? && browser.version.to_i < 11) || (browser.firefox? ) || (browser.chrome?) || (browser.name == "iPhone" && browser.version.to_i < 5) || (browser.safari? ) %>
                  <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" >
                    <input type="text" class="form-control" name="instructor_student[date_of_birth" style="background-color: #eee !important;" value="<%= @instructor_student.date_of_birth.strftime('%e %B %Y') %>" required>
                    <span class="input-group-btn" style="vertical-align:top;">
                      <button class="btn default" type="button" style="height: 34px;"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>  
                <% else %>
                  <%= f.date_field :date_of_birth, :class => "form-control" %>
                <% end %>
              <% else %>
                <% if (browser.ie? && browser.version.to_i < 11) || (browser.firefox? ) || (browser.name == "iPhone" && browser.version.to_i < 5) || (browser.safari? ) %>
                  <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" >
                    <input type="text" class="form-control" name="instructor_student[date_of_birth" style="background-color: #eee !important;" required>
                    <span class="input-group-btn" style="vertical-align:top;">
                      <button class="btn default" type="button" style="height: 34px;"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>  
                <% else %>
                  <%= f.date_field :date_of_birth, :class => "form-control", :required => true %>
                <% end %> 
              <% end %>
            </div>
          </div>
         
          <div class="form-group">
            <%#= f.label :gender, "Gender", :class=>"col-sm-4 control-label"  %>
            <label class="col-sm-4 control-label">Gender<span class="required" aria-required="true">*</span></label>
            <div class="col-md-6" style="margin-top: 5px;">
              <label>
                <%= f.radio_button :gender, "Male" %> Male
              </label>
              <label>
                <%= f.radio_button :gender, "Female" %> Female
              </label>
              <div id="gender_is"></div>
            </div>          
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">Country<span class="required" aria-required="true">*</span></label>
            <div class="col-sm-8">
              <span class="input-group-addon" style="float: left; height: 34px;">
              <i class="fa fa-search"></i>
              </span>
              <div class="input-group">
                  <input type="text" id="typeahead_example_2" name="instructor_student[country]" class="form-control" value="<%= @instructor_student.country %>" required="required"/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :address, :class=>"col-sm-4 control-label" %>
            <div class="col-sm-8">
              <%= f.text_area :address, :class=>"form-control"%>
            </div>
          </div>
        </div>  
      </div>
      <div class="form-body col-sm-6">
        <div class="clearfix"></div>
        <div class="col-sm-12">
          <div class="form-group">
            <h3>Contact details 
             <small><%= f.link_to_add "Add Contact", :student_contacts, :data => { :target => "#student_contact_detail" } %></small>
           </h3>

          </div>
          <div id="student_contact_detail">
            <%= f.fields_for :student_contacts do |student_contact| %> 
              <%= render 'instructor_student_student_contacts_fields', f: student_contact %> 
            <% end %>
          </div>
          <div class="col-sm-4"></div> 
         <!--  <div class="col-sm-8">
            <%#= f.link_to_add "Add Contact", :student_contacts, :class=>"btn default pull-left", :data => { :target => "#student_contact_detail" } %>
          </div> -->
        </div>
      </div>
    </div>  
    <div class="row margin-bottom-30">
      <div class="col-xs-8">
        <% if params[:action] == "edit" %>
          <a data-toggle="modal" id="basicModalOpen" href="#basic" class="btn red">Delete Student</a>
        <% end %>
        <%= f.submit "Save", :class=>"btn green btn-block", :id => "edit_student" %>
      </div>
      <div class="col-xs-4">
        <%= link_to "Cancel",  student_public_link_path(@instructor_student.secret_token) , :class=> "btn default btn-block" %>
      </div>
    </div>
  <% end %>
</div>
<% if params[:action] == "edit" %>
  <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <% if @instructor_student.fees.count != 0 %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="del_modal_title">Delete not allowed</h4>
          </div>
          <div class="modal-body">
            You must first delete all fees from this student.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal">Okay</button>
          </div>
        <% else %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="del_modal_title">Are you sure?</h4>
          </div>
          <div class="modal-footer" style="border-top: 0 !important;">
            <%= link_to "Delete",  instructor_instructor_student_path(@instructor_student), method: :delete, :class=> "btn red" %>
            <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
$(document).ready(function(){
  Metronic.init(); // init metronic core components
  Layout.init(); // init current layout
  ComponentsDropdowns.init();
  ComponentsFormTools.init();
  $('#edit_student').click(function(){
    if ($('.relationship').validity.valid)
      $(this).val('Saving...');
  });
  $('#new_instructor_student').validate();
  $('.relationship').validate();

  $(document).on('change', '.contact', function(event) {
    $('#instructor_student_is_update').val('true');
    /* Act on the event */
  });
  $(document).on('change', '.relation', function(event) {
    console.log('in method');
    $('#instructor_student_is_update').val('true');
    /* Act on the event */
  });

  //instructor_student_is_update

  // $('#new_instructor_student').validate({
    // rules: {
      // 'instructor_student[gender]': { required:true },
      // 'instructor_student[job_id]': { required:true}
    // },
    // errorPlacement: function(error, element) {
    //   if (element.attr("type") === "radio") {
    //     if (element.attr("name") == "instructor_student[gender]"){
    //       $("#gender_is").html(error);
    //     }
    //     else{
    //       error.appendTo($("#job_ids"));
    //     }
    //   } else {
    //     error.insertAfter(element);
    //   }
    // }
  // });    
  $('.date-picker').datepicker({
    format: 'd MM yyyy',
    startView: 2,
    minViewMode: 0
  });
  $('#select2_sample2').select2({
    placeholder: "Select Group Classes",
    allowClear: true
  });
  $('#instructor_student_student_name').blur(function() {
    var name = $(this).val();
    name = name.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    $('#instructor_student_student_name').val(name);
  });
  $('#instructor_student_ic_number').blur(function() {
    var ic_number = $(this).val();
    ic_number = ic_number.toUpperCase();
    $('#instructor_student_ic_number').val(ic_number);
  });
  <% if session[:group_class_id] != "" %>
    $('#s2id_select2_sample2').select2('val', '<%= session[:group_class_id] %>')
  <% end %>
  <% if params[:action] == "edit"%>
    var selectedValues = <%=@instructor_student.group_classes.pluck('id')%>
    $('#s2id_select2_sample2').select2('val', selectedValues)
  <% end %>
});
</script>
<style type="text/css">
  @media only screen and (max-width: 350px) {
   .relationship label {
     font-size: 10px;
    }
  }
  .form-control{
    min-width:100%;
  }
</style>