<% content_for :title, "Photos" %>
<div class="main">
  <div class="container">
    <br>
    <h1>Photos</h1>
    <%= form_for [:instructor, @instructor_student,@instructor_student.gallery, Photo.new], html: { multipart: true, :remote => true, :class => "dropzone", :id => "media-dropzone"}  do |f| %>
          <div class="fallback">
            <%= f.file_field :student_photo ,as: :file ,:id => "img"%>
            <%= f.submit "Submit" ,:id =>"file_submit" %>
          </div>
        <% end %>
    <div class="row">
      <div id='thumbs'>
        <% if @instructor_student.gallery.photos.empty? %>
          <h5 id="no-media" class="col-xs-12">No photos Found</h5>
        <% else %>
          <%# @photos = @instructor_student.gallery.photos.paginate(page: params[:page], per_page: 8).order('created_at DESC') %>
            <% @instructor_student.gallery.photos.order('created_at desc').each do |p| %>
              <div class="col-xs-4 gallery-item" style="padding-left: 0px ! important; padding-right: 0px ! important;">
                <a data-rel="fancybox-button" rel="group" href="<%= p.student_photo.url %>" class="fancybox-button">
                  <%= image_tag p.student_photo.url(:small) , :id => "img",:class =>"img img-responsive" %>
                  <div class="zoomix"><i class="fa fa-search"></i></div>
                </a>
                <div class="caption text-center">
                  <%= link_to 'Remove', instructor_instructor_student_gallery_photo_path(@instructor_student.id,@instructor_student.gallery.id,p.id,from_public: true) , method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
    <h3>Photos of you</h3>
    <div class="row">
      <div id='thumbs-tagged'>
        <% if !@instructor_student.photo_tags.empty? %>
          <% count = 0 %>
          <% @instructor_student.photo_tags.each do |p| %>
            <% if p.phototaggable_type == 'Photo' %>
              <% if p.phototaggable.instructor_student == @instructor_student %>
                <% next %>
              <% end %>
              <% tagged_photo = p.phototaggable.student_photo %>
            <% else %>
              <% tagged_photo = p.phototaggable.photo %>
            <% end %>
            <% count = count + 1 %>
            <div class="col-xs-4 gallery-item" style="padding-left: 0px ! important; padding-right: 0px ! important;">
              <a data-rel="fancybox-button" rel="group" href="<%= tagged_photo.url %>" class="fancybox-button">
                <%= image_tag tagged_photo.url(:small) , :id => "img",:class =>"img img-responsive" %>
                <div class="zoomix"><i class="fa fa-search"></i></div>
              </a>
              <div class="caption text-center">
                <%#= link_to 'Remove', instructor_instructor_student_gallery_photo_path(@instructor_student.id,@instructor_student.gallery.id,p.id,from_public: true) , method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if count == 0 %>
          <h5 id="no-media" class="col-xs-12">No photos Found</h5>
        <% end %>
      </div>
    </div>
  </div>
</div> 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload photos</h4>
      </div>
      <div class="modal-body">
        <%= form_for [:instructor, @instructor_student,@instructor_student.gallery, Photo.new], html: { multipart: true, :remote => true, :class => "dropzone", :id => "media-dropzone"}  do |f| %>
          <div class="fallback">
            <%= f.file_field :student_photo ,as: :file ,:id => "img"%>
            <%= f.submit "Submit" ,:id =>"file_submit" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> 
<style type="text/css">
  .thumbnail{
    border: none !important;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    Layout.init();
    $('.fancybox-button').fancybox();
  });
  var baseUrl1;
  if ($('#media-dropzone').length) {
    Dropzone.options.mediaDropzone = false;
    // Dropzone.options.acceptedFiles: ".jpeg,.jpg,.png,.gif";
    baseUrl1 = $('#media-dropzone').attr('action');
    window.mediaDropzone = new Dropzone('#media-dropzone', {
      addRemoveLinks: true,
      acceptedFiles: ".jpeg,.jpg,.png,.gif",
      success: function(file, responseText) {
        var _this = this;
        //appendContent(responseText.student_photo, responseText.student_photo_original,responseText.id);
        // setTimeout(function(){
        //   //$('#myModal').modal('hide');
        //   //_this.removeAllFiles();
        // },5000);
        appendContent(responseText.student_photo, responseText.student_photo_original,responseText.id);
        
      },
      init: function () {
        this.on("complete", function (file) {
          if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
            var _this = this;
            setTimeout(function(){
              _this.removeAllFiles();
              $('#myModal').modal('hide');
            },2000);
          }
        });
      }
    });
  };
  var appendContent = function(image_url,original, mediaId) {
    var removelink = "/instructor/instructor_students/<%= @instructor_student.id %>/galleries/<%= @instructor_student.gallery.id %>/photos/"+mediaId+'?from_public=true'
    $("#thumbs").prepend('<div class="col-xs-4 gallery-item" style="padding-left: 0px ! important; padding-right: 0px ! important;">' + 
      '<a data-rel="fancybox-button" rel="group" class="fancybox-button" href="' + original + '"><img src="' + image_url + '" id="img" class="img img-responsive" style="max-width:100%;" />'+'</a>'+ '<div class="zoomix"><i class="fa fa-search">'+'</i></div>'+'<div class="caption text-center">' + '<a data-confirm="Are you sure?" data-method="delete" href='+removelink+' >Remove'+'</a>'+'</div>' +
      '</div>');
    $("#delete").removeAttr('disabled');
    $("#no-media").html("");
  };

</script>