<% title 'Payment' %>
<div class="main">
  <div class="container">
    <div class="margin-bottom-40">
      <div id="lead_show" class="col-xs-12 col-sm-5">
        <div class="margin-top-20" id="div1">
  				<img src="/assets/index_page_images/img/SSA-Logo-Raw-Black.png" class="margin-bottom-20">
          <div class="payment_methods">
          	<div class='error'>
            </div>
            <% if flash[:alert] %>
              <div class="alert alert-warning col-xs-12" style="position: relative; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
                <button class="close closeAlert" type="button"></button>
                <%= flash[:alert] %>
              </div>
            <% end %>
            <% if flash[:notice] %>
              <div class="alert alert-success col-xs-12" style="position: relative; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto;">
                <button class="close closeAlert" type="button"></button>
                <%= flash[:notice].html_safe %>
              </div>
            <% end %>
            <div class="text-center">
              <h3><%= @award_test_payment_notification ? @award_test_payment_notification.payment_option_heading : 'Invoice' %></h3>
            </div>
            <div class="text-right">
              <hr>
              <b><%= @instructor_student.admin_user.company_name %></b><br>
              Invoice no. AT<%= InstructorStudentAward.by_student_and_award_test(@instructor_student.id,@award_test.id) %><br>
              <% if !@award_test_payment_notification %>
                Invoice Date: <%= @award_test.created_at.strftime('%e %B %Y') %><br>
              <% else %>
                Date Paid: <%= @award_test_payment_notification.created_at.strftime('%e %B %Y') %><br>
                Method: <%= @award_test_payment_notification.payment_method %>
              <% end %>
            </div>
            <br><br>
            <strong>  Description</strong><br>
            Test Award: <%= @award_test.award.name %> <br>
            Test Date: <%= @award_test.test_date.strftime('%e %B %Y') %> <br>
            Time: <%= @award_test.test_time.strftime('%-I:%M %P')+' ('+@award_test.test_date.strftime('%A')+')' %> <br>
            Venue: <%= @award_test.venue.name %> <br>
            Test Fee: $<%= @award_test.test_fee.to_i %> <br>
            <div class="text-right">
              <strong>Amount <%= @award_test_payment_notification ? 'Paid' : 'Payable' %>:</strong> $<%= @award_test.test_fee.to_i %><hr>
            </div>
            <% if !@award_test_payment_notification %>
              <% if @instructor_student.admin_user.enable_feature %>
                <div class="custom_red_dot">
                  <label><strong>1. Select payment method</strong></label><br/>
                  <% if @instructor_student.admin_user.reddot_enable%>
                    <label>
                      <input type="radio" name="payment_mode" value="card" id="rdo_payment_mode" />
                      <img src="/assets/master_card_logo.jpg" class="payment_mode_logo">
                      <img src="/assets/visa_card_logo.jpg" class="payment_mode_logo">
                    </label><br>
                  <% end %>
                  <% if @instructor_student.admin_user.eNets_enable%>
                    <label>
                      <input type="radio" name="payment_mode" value="eNets" id="rdo_payment_mode"/>
                      <img src="/assets/eNETS_logo.jpg" class="payment_mode_logo">
                    </label><br/>
                  <% end %><br/>
                  <label><strong>2. Enter email address</strong></label>
                  <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Email Address" id="custom_email" value="<%#= @student_contact.contact.present? ? @student_contact.contact : '' %>">
                        
                  </div>
                      <!-- <div class="email_validation"></div> -->
                </div><br/>
                <% if @instructor_student.admin_user.reddot_enable%>
    		        	<%= form_tag (ReddotCredential.first.url),class:'reddot card',style:'display:none;' do %>
    		            <%#= hidden_field_tag :order_number,@invoice.invoice_number.to_s+"_"+Time.now.to_i.to_s %>
    		            <%= hidden_field_tag :order_number,'AT'+ InstructorStudentAward.by_student_and_award_test(@instructor_student.id,@award_test.id).to_s %>
    		            <%= hidden_field_tag :merchant_reference,@instructor_student.id %>
    		            <%= hidden_field_tag :merchant_id, ReddotCredential.first.merchant_id%>
    		            <%= hidden_field_tag :key, ReddotCredential.first.key%>
    		            <%= hidden_field_tag :amount, @award_test.test_fee ? @award_test.test_fee : 0 %>
    		            <%= hidden_field_tag :currency_code, 'SGD' %>
    		            <%#= hidden_field_tag :email, nil,class: "email" %>
                    <%= hidden_field_tag :email, @instructor_student.admin_user.email.present? ? @instructor_student.admin_user.email : " " ,class: "email"%>
    		            <%= hidden_field_tag :transaction_type, 'Sale' %>
    		            <% if request.domain == "pinkynbrain.com" || request.domain == "localhost" %>
    		              <%= hidden_field_tag :return_url,  "http://pinkynbrain.com"+instructor_return_response_reddot_card_award_test_path %>
    		              <%= hidden_field_tag :notify_url, 'http://pinkynbrain.com'+ instructor_award_test_red_dot_notification_path %>
    		            <% else %>
    		              <%= hidden_field_tag :return_url,  "http://app.singaporeswimming.com"+instructor_return_response_reddot_card_award_test_path %>
    		              <%= hidden_field_tag :notify_url, 'http://app.singaporeswimming.com'+ instructor_award_test_red_dot_notification_path %>
    		            <% end %>
    		            
    		          	<%= submit_tag "Pay Now", :class=>'btn green btn-block real_dot btn-sm-4', :style => "margin-top: 5px; margin-bottom: 5px;"  %>
    		         	<% end %>
    		        <% end %>
              	<% if @instructor_student.admin_user.eNets_enable%>
                  <%= form_tag(ReddotCredential.second.url,style: 'display: none;',class:'reddot eNets') do %>
                    <%= hidden_field_tag :order_number,'AT'+ InstructorStudentAward.by_student_and_award_test(@instructor_student.id,@award_test.id).to_s %>
                    <%= hidden_field_tag :merchant_reference,@instructor_student.id %>
                    <%= hidden_field_tag :merchant_id, ReddotCredential.second.merchant_id%>
                    <%= hidden_field_tag :key, ReddotCredential.second.key%>
                    <%= hidden_field_tag :amount, @award_test.test_fee ? @award_test.test_fee : 0 %>
                    <%= hidden_field_tag :currency_code, 'SGD' %>
    		            <%#= hidden_field_tag :email,nil ,class: "email"%>
                    <%= hidden_field_tag :email, @instructor_student.admin_user.email.present? ? @instructor_student.admin_user.email : " " ,class: "email"%>
                    <%= hidden_field_tag :transaction_type, 'Sale' %>
                    <% if request.domain == "pinkynbrain.com" || request.domain == "localhost" %>
                      <%= hidden_field_tag :return_url,  "http://pinkynbrain.com"+instructor_return_response_reddot_eNets_award_test_path %>
                      <%= hidden_field_tag :notify_url, 'http://pinkynbrain.com'+ instructor_award_test_red_dot_notification_path %>
                    <% else %>
                      <%= hidden_field_tag :return_url,  "http://app.singaporeswimming.com"+instructor_return_response_reddot_eNets_award_test_path %>
                      <%= hidden_field_tag :notify_url, 'http://app.singaporeswimming.com'+ instructor_award_test_red_dot_notification_path %>
                    <% end %>
                    
                  <%= submit_tag "Pay Now", :class=>'btn green btn-block real_dot btn-sm-4', :style => "margin-top: 5px; margin-bottom: 5px;"  %>
                  <% end %>
    		        <% end %>
                <button class="btn green btn-block real_dot btn-sm-4 demo-button" disabled style="margin-top: 5px; margin-bottom: 5px;">Pay Now</button>
                <%= link_to 'Pay Cash to Coach',student_public_link_path(@instructor_student.secret_token), class: 'btn default red btn-block real_dot btn-sm-4', :style => "margin-top: 5px; margin-bottom: 5px;" %>
              <% else %>
                Please pay by cash directly to your instructor on the next lesson.
              <% end %>
            <% end %>
            <%= link_to 'Back to Profile', student_public_link_path(@instructor_student.secret_token), class: 'btn default btn-block real_dot btn-sm-4', :style => "margin-top: 5px; margin-bottom: 5px;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
.payment_mode_logo{
  width: 30%;
}
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $(document).on('change', '#rdo_payment_mode', function(event) {
      event.preventDefault();
      $('.demo-button').remove();
      if($(this).val()=='card'){
        $('.card').show();
        $('.eNets').hide();
      }
      else if($(this).val()=='eNets'){
        $('.card').hide();
        $('.eNets').show();
      }
    });
    $(document).on('submit', '.reddot', function(event) { 
      var email_value = $('#custom_email').val();
      if (email_value == ''){
        event.preventDefault();
        $('.custom_red_dot').css('padding', '5px');
        $('.custom_red_dot').css('border', '3px solid red');
        $('.real_dot').each(function(i){
          $(this).removeAttr('data-disable-with');
        });
      }
      else{

        // var emailFilter = /^([a-zA-Z0-9_.-])+@(([a-zA-Z0-9-])+.)+([a-zA-Z0-9]{2,4})+$/;
        // if (!emailFilter.test(email_value)) {
        //   // alert('Please enter a valid e-mail address.');
        //   $('.email_validation').html("Please enter a valid e-mail address.");
        //   $('.email_validation').css("color","red");
        //   return false;
        // }
        // else{
          // $('.email_validation').hide();
          // $('.email').val(email_value);
          // console.log($('.email').val(email_value));
          $('.real_dot').each(function(i){
            $(this).val('Please wait');
            $(this).attr('disabled', true);
          });
          $('.email').val(email_value);
        // }
      }
    });   
  });
</script>