%p#notice= notice

%p
  %b Params:
  = @payment_notification.params
%p
  %b Online payment:
  = @payment_notification.online_payment_id
%p
  %b Status:
  = @payment_notification.status
%p
  %b Transaction:
  = @payment_notification.transaction_id
%p
  %b Create:
  = @payment_notification.create

= link_to 'Edit', edit_payment_notification_path(@payment_notification)
\|
= link_to 'Back', payment_notifications_path
