<% content_for :title, "Photos" %>
<div class="container">
  <h1>Photos</h1>
  <%= form_for [:instructor, @instructor, InstructorStudentPhoto.new], html: { multipart: true, :remote => true, :class => "dropzone", :id => "media-dropzone"}  do |f| %>
    <div class="fallback">
      <%= f.file_field :student_photo ,as: :file ,:id => "img"%>
      <%= f.submit "Submit" ,:id =>"file_submit" %>
    </div>
  <% end %>
  <div class="row">
    <div id='thumbs col-xs-12'>
      <% @students.each do |student| %>
        <% if !student.gallery.nil? %>
          <% if student.gallery.photos.empty? %>
          <% else %>
            <% student.gallery.photos.order('created_at desc').each do |p| %>
              <div class="col-xs-4 gallery-item" style="padding-left: 0px ! important; padding-right: 0px ! important;">
                <a data-rel="fancybox-button" rel="group" href="<%= p.student_photo.url %>" class="fancybox-button">
                  <%= image_tag p.student_photo.url(:small) , :id => "img",:class =>"img img-responsive" %>
                  <div class="zoomix"><i class="fa fa-search"></i></div>
                </a>
                <div class="caption text-center">
                  <%#= link_to 'Remove', instructor_instructor_student_gallery_photo_path(student.id,student.gallery.id,p.id) , method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<style type="text/css">
  .thumbnail{
    border: none !important;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    Layout.init();
    $('.fancybox-button').fancybox();
  });
  var baseUrl1;
  if ($('#media-dropzone').length) {
    Dropzone.options.mediaDropzone = false;
    // Dropzone.options.acceptedFiles: ".jpeg,.jpg,.png,.gif";
    baseUrl1 = $('#media-dropzone').attr('action');
    window.mediaDropzone = new Dropzone('#media-dropzone', {
      addRemoveLinks: true,
      acceptedFiles: ".jpeg,.jpg,.png,.gif",
      success: function(file, responseText) {
        var _this = this;
        //appendContent(responseText.student_photo, responseText.student_photo_original,responseText.id);
        // setTimeout(function(){
        //   //$('#myModal').modal('hide');
        //   //_this.removeAllFiles();
        // },5000);
        appendContent(responseText.student_photo, responseText.student_photo_original,responseText.id);
        
      },
      init: function () {
        this.on("complete", function (file) {
          if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
            var _this = this;
            setTimeout(function(){
              _this.removeAllFiles();
              $('#myModal').modal('hide');
            },2000);
          }
        });
      }
    });
  };
  var appendContent = function(image_url,original, mediaId) {
    var removelink = "/instructor/instructor_students/<%= @instructor_student.id %>/galleries/<%= @instructor_student.gallery.id %>/photos/"+mediaId+'?from_public=true'
    $("#thumbs").prepend('<div class="col-xs-4 gallery-item" style="padding-left: 0px ! important; padding-right: 0px ! important;">' + 
      '<a data-rel="fancybox-button" rel="group" class="fancybox-button" href="' + original + '"><img src="' + image_url + '" id="img" class="img img-responsive" style="max-width:100%;" />'+'</a>'+ '<div class="zoomix"><i class="fa fa-search">'+'</i></div>'+'<div class="caption text-center">' + '<a data-confirm="Are you sure?" data-method="delete" href='+removelink+' >Remove'+'</a>'+'</div>' +
      '</div>');
    $("#delete").removeAttr('disabled');
    $("#no-media").html("");
  };
</script>