<% title "Reports Index" %> 
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="row">
  <div class="col-md-4">
    <h2>Reports</h2>
    <%= form_tag manage_date_wise_jobs_path , :id=>"new_report" ,:remote => true do %>
      <div>
        <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy" style="position: relative; float: left;">
          <input type="text" class="form-control" id="report_date_from" name="from">
            <span class="input-group-addon">
            to </span>
          <input type="text" class="form-control" name="to" id="report_date_to">
        </div>
        <%= submit_tag "Generate", :id => "submit_report", :class=> "btn green pull-right", :style => "position: absolute; margin-left: 3px;" %>
      </div>
        <div class="error" style="float: left;"></div>

    <% end %>  
  </div>
</div>  
<div class="row" id="chart" style="margin-top: 10px;">
  <div class="col-md-8">
    <div class="portlet box purple">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-gift"></i>Pie chart of Jobs
        </div>
      </div>
      <div class="portlet-body">
        <h4>Number of Jobs(Status = Receipt) - <%= @jobs_completed_total %></h4>
          <div id="pie_chart_1" class="chart">
            <% if @total_amount[0] != 0 || @total_amount[1] != 0 %>
               <%= pie_chart [["Private class", @total_amount[0]], 
                 ["Group Class", @total_amount[1]]
                ] %>
            <% else %>  
              No data available
            <% end %>  
          </div>
      </div>
    </div>
    <h3>Report by job enquiry</h3>
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td style="width: 90%;">Total number of jobs</td>
          <td><%= @jobs %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Total number of jobs completed</td>
          <td><%= @jobs_completed_total %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Sum of total amount for all completed jobs</td>
          <td><%= @jobs_fee_total %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Sum of referral for all completed jobs</td>
          <td><%= @jobs_refered_total %></td>
        </tr>
        <tr>
          <td style="width: 90%;">Balance collected</td>
          <td><%= @total_balance %></td>
        </tr>  
      </tbody>
    </table>
    <h3>By start date <%= link_to "(Detailed view)" ,   manage_detailed_view_path %></h3>
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td style="width: 90%;">Total number of jobs</td>
          <td><%= @jobs_start_date_total %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Number of students</td>
          <td><%= @students %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Sum of total amount</td>
          <td><%= @jobs_start_date_fee_total %></td>
        </tr> 
        <tr>
          <td style="width: 90%;">Sum of referral</td>
          <td><%= @jobs_start_date_refered_total %></td>
        </tr>  
      </tbody>
    </table>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col-md-12">
    <h3>Payment data</h3>
    <div id = "manual_payment_data">
      <%= render 'manual_payments' %>
    </div>
  </div>
</div>
    
  <!-- </div> -->
  <%= stylesheet_link_tag "https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" %>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#sample_3').dataTable({
    "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
 
            // Total over this page
            pageTotalBal = api
                .column( 5, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
            pageTotalRef = api
                .column( 4, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Update footer
            $( api.column( 5 ).footer() ).html(pageTotalBal);
            $( api.column( 4 ).footer() ).html(pageTotalRef);
        },
    "aLengthMenu": [
          [50, 100, 200, 500, -1],
          [50, 100, 200, 500, "All"] // change per page values here
      ],
      // set the initial value
      "iDisplayLength": -1,
      "paging": true,
      "oLanguage": {
        "sLengthMenu": "_MENU_ records",
        "oPaginate": {
            "pagingType": "full_numbers"
        },
        "sEmptyTable": "No records found"
       },
      "aoColumnDefs": [{
          'bSortable': true,
          'aTargets': [0]
        }
      ] 
  });
 
  var currentDate = new Date();
  var new_date = new Date(currentDate);
  new_date.setDate(new_date.getDate() - 30);
  $('#report_date_from').datepicker({
    format: 'd MM yyyy'
  });
  $("#report_date_from").datepicker("setDate", new_date);
  $('#report_date_to').datepicker({
    format: 'd MM yyyy',
  });
  $("#report_date_to").datepicker("setDate", currentDate);
  $("#submit_report").click(function(){
    var from = $("#report_date_from").val();
    var to = $("#report_date_to").val();
    var startDate = new Date(from);
    var endDate = new Date(to);
    if(from == "" && to == ""){
      $(".error").html("Please enter From and To Date").show();
      return false;
    }
    else if(from == "") {
      $(".error").html("Please enter From Date").show();
      return false;
    }
    else if(to == "") {
      $(".error").html("Please enter To Date").show();
      return false;
    }
    else {
      if(startDate > endDate){
        $(".error").html("From date should be less than To date").show();
         return false;
      }
      else {
        $(".error").hide();
        return true;
      }
    }
  });
  jQuery(document).on("ajax:beforeSend", "#new_report", function() {
    $('#submit_report').val("Generating Report").addClass("disabled");
  });
  $("#new_report").on('ajax:complete', function(event) {
    $('#submit_report').val("Generate").removeClass("disabled");
  });
});
 $('#report_date_from').change(function(){
    $('.datepicker').hide();
  });
 $('#report_date_to').change(function(){
   $('.datepicker').hide();
});  

</script>