<% group_class = @group_class %>
<tr>
  <td>
    <a href="javascript:;" id="editDay_<%= group_class.id %>"><i class="fa fa-pencil"></i></a>
    <%=
      best_in_place group_class, :day, :type => :select, :collection => [[0, "Sunday"], [1, "Monday"], [2, "Tuesday"], [3, "Wednesday"], [4, "Thursday"], [5, "Friday"], [6, "Saturday"]], :path => [:manage, group_class], :activator => "#editDay_#{group_class.id}"
    %>
  </td>
  <td>
    <a href="javascript:;" id="editTime_<%= group_class.id %>"><i class="fa fa-pencil"></i> <%= group_class.time.strftime("%I:%M %p") unless group_class.time.nil? %></a>
    <%= form_for [:manage, group_class] , :html => {:class => "edit_group_from_instructor_show", :id => "edit_time_gp_#{group_class.id}", :remote => true } do |f| %>
      <input class="form-control valid" data-date-format="hh:mm A/PM" id="group_class_time_<%= group_class.id %>" name="group_class[time]" type="text" aria-invalid="false" class="form-control" value="<%= group_class.time.strftime("%I:%M %p") if group_class.time? %>">
    <% end %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#editTime_<%= group_class.id %>').click(function(){
          $("#edit_time_gp_<%= group_class.id %>").show();
          $('#group_class_time_<%= group_class.id %>').css("width", "160px");
          $(this).hide();
          $('#group_class_time_<%= group_class.id %>').timepicker({
            minuteStep: 5,
            defaultTime: '<%= group_class.time.strftime("%I:%M %p") if group_class.time? %>'
          }).on('hide.timepicker', function(e){
            $("#edit_time_gp_<%= group_class.id %>").submit();
          });
        });
      });
    </script>
  </td>
  <td>
    <a href="javascript:;" id="editDuration_<%= group_class.id %>" class="editDuration"><i class="fa fa-pencil"></i></a>
    <%= best_in_place group_class, :duration, :path => [:manage, group_class], :activator => "#editDuration_#{group_class.id}", :inner_class => "bestinplaceInputDuration", :html_attrs => { maxlength: 2 } %>
  </td>
  
  <td>
    <a href="javascript:;" id="editVenue_<%= group_class.id %>"><i class="fa fa-pencil"></i></a>
    <%= best_in_place group_class, :venue_id, :type => :select, :collection => Venue.all.map { |e| [e.id, e.name]  }, :path => [:manage, group_class], :activator => "#editVenue_#{group_class.id}" %>
  </td>
  <td>
    <a href="javascript:;" id="editAgegroup_<%= group_class.id %>"><i class="fa fa-pencil"></i></a>
    <%= best_in_place group_class, :age_group_id, :type => :select,:collection => AgeGroup.all.map { |e| [e.id, e.title]  }, :path => [:manage, group_class], :activator => "#editAgegroup_#{group_class.id}" %>
  </td>
  <td>
    <a href="javascript:;" id="editFee_<%= group_class.id %>"><i class="fa fa-pencil"></i></a>
    <%= best_in_place group_class, :fee, :path => [:manage, group_class], :activator => "#editFee_#{group_class.id}" %>
  </td>
  <td>
    <a href="javascript:;" id="editFeetype_<%= group_class.id %>"><i class="fa fa-pencil"></i></a>
    <%= best_in_place group_class, :fee_type_id, :type => :select, :collection => FeeType.all.map {|e| [e.id, e.name]}, :path => [:manage, group_class], :activator => "#editFeetype_#{group_class.id}" %>
  </td>
  <td>
    <% if FeeType.find(group_class.fee_type_id).name.downcase == "per month" %>
      -
    <% else %>
      <a href="javascript:;" id="editLessoncount_<%= group_class.id %>" class="editLessonCount"><i class="fa fa-pencil"></i></a>
      <%= best_in_place group_class, :lesson_count, :path =>[:manage, group_class], :activator => "#editLessoncount_#{group_class.id}", :inner_class => "bestinplaceInputLessionCnt", :html_attrs => { maxlength: 2 } %>
    <% end %>
  </td>
  <td>
    <a href="javascript:;" id="updated_at_now_<%= group_class.id %>"><i class="fa fa-pencil"></i> <%= time_ago_in_words(group_class.updated_at) %> ago</a>
    <%= form_for [:manage, group_class] , :html => {:class => "edit_group_from_instructor_show", :remote => true } do |f| %>
      <%= f.hidden_field :updated_at, :value => Time.now %>
      <%= f.submit "Update Now"  %>
    <% end %>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#updated_at_now_<%= group_class.id %>').click(function(){
          console.log("hi");
          $("#edit_group_class_<%= group_class.id %>").show();
          $(this).hide();
        });
      });
    </script>
  </td>
</tr>
<script type="text/javascript">
  $('.best_in_place').best_in_place();
  $(".editDuration").click(function(event) {
    $(document).on('keydown', '.bestinplaceInputDuration', function (e) {
      checkNumberOnly(e);
    });
  });

  $(".editLessonCount").click(function(event) {
    $(document).on('keydown', '.bestinplaceInputLessionCnt', function (e) {
      checkNumberOnly(e);
    });
  });
</script>