<% days_arry = [] %>
<% all_days_arr = [] %>
<% @group_classes.each do |group_class| %>
  <% if group_class.day.to_i == 0 %>
    <% days_arry << group_class %>
  <% else %>
     <% all_days_arr << group_class %>
  <% end %>
<% end %>
<% all_days_arr = all_days_arr + days_arry %>
<% all_days_arr.each do |group_class| %>
  <tr class="group_class-<%= group_class.id %>">
    <td>
      <%= week_days[group_class.day.to_i] %>
    </td>
    <td>
      <%= group_class.time ? group_class.time.strftime("%I:%M %P") : nil %></br>
      
    </td>
    <td><%= group_class.duration %>mins</td>
    <td>
      <% Venue.all.each do |venue| %>
        <% if venue.id == group_class.venue_id %>
          <%= venue.name %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% Instructor.all.each do |instructor| %>
        <% if instructor.id == group_class.instructor_id %>
          <%= link_to instructor.name, manage_instructor_path(instructor) %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% AgeGroup.all.each do |age_group| %>
        <% if age_group.id == group_class.age_group_id %>
          <%= age_group.title %>
        <% end %>
      <% end %>
    </td>
    <td>
      $<%= group_class.fee %>
    </td>
    <td>
      <% FeeType.all.each do |fee_type| %>
        <% if fee_type.id == group_class.fee_type_id %>
          <%= fee_type.name.gsub(/per /, '').downcase %></br>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if group_class.fee_type_id == 2 %>
        <%= group_class.lesson_count %> sessions
      <% end %> 
    </td>
    <td>
      <!-- 
        <a class="btn default btn-xs" href="<%= manage_group_class_path(group_class) %>" data-remote="true">
          <i class="fa fa-search"></i> View
        </a>
        </br>
      -->
      <%= time_ago_in_words(group_class.updated_at) %> ago
      <br>
      <!-- WORKING EDIT GROUP CLASS EDIT LINK (IF ASK TO EDIT GROUPCLASS TO EDIT PLEASE UNCOMMENT THIS CODE) -->
      <!--
        <small>
          <a href="<%#= edit_manage_group_class_path(group_class) %>" data-remote="true">
            Edit
          </a>
        </small>
      -->
    </td>
  </tr>
<% end %>
