<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Classes of <%= @instructor.name.capitalize %></h4>
    </div>
    <div class="modal-body" style="height: 400px; overflow-y: scroll;">
      <div class="row">
        <div class="col-xs-3">
          <div class="col-xs-12">
            <h4>Venue</h4>
          </div>
          <div class="col-xs-12">
            <h2 style="margin:0px" class="selectedVenue"></h2>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="col-xs-12">
            <h4>Age Group</h4>
          </div>
          <div class="col-xs-12">
            <h2 style="margin:0px;" class="selectedAgeGrp"></h2>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="col-xs-12">
            <h4>Level</h4>
          </div>
          <div class="col-xs-12">
            <h2 style="margin:0px;" class="selectedLevel"></h2>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="col-xs-12">
            <h4>Instructor</h4>
          </div>
          <div class="col-xs-12">
            <h2 style="margin:0px;" class="selectedInstructor"></h2>
          </div>
        </div>
      </div>
      <table class="table table-condensed table-hover">
        <thead>
          <tr style="background: #eeeeee;">
            <th>Day</th>
            <th>Time</th>
            <th>Vacancy</th>
            <th>Max slot</th>
            <th>Recently Added</th>
            <th>Updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%  week_days_id = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"] %>
          <% days_arry = [] %>
          <% all_days_arr = [] %>
            <% @instructor_gp.each do |group_class| %>
            <% if group_class.day.to_i == 0 %>
              <% days_arry << group_class %>
            <% else %>
               <% all_days_arr << group_class %>
            <% end %>
          <% end %>
          <% all_days_arr = all_days_arr + days_arry %>
          <% all_days_arr.each do |group_class| %>
          <tr>
            <td><%= week_days_id[group_class.day] %></td>
            <td><%= group_class.time.strftime("%l:%M %P") if !group_class.time.nil? %></td>
            <td><%= group_class.slot_vacancy ? group_class.slot_vacancy : '-' %></td>
            <td><%= group_class.slot_maximum ? group_class.slot_maximum : '-'%></td>
            <td>
              <% job = Job.find_by_group_class_id(group_class.id) %>
              <% if job.blank? %>
                -
              <% else %>
                REF <%= job.id %> - <%= time_ago_in_words(job.applied_date) %> ago
              <% end %>
            </td>
            <td><%= time_ago_in_words(group_class.updated_at).gsub('about','') + " ago" %></td>
            <td>
              <a href="javascript:void(0)" class="btn blue btn-sm applyGrpCls" data-apply-gp="<%= group_class.id %>">
                Apply
              </a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  var selectedVenue = $("#job_venue_id").find("option:selected").text();
  var selectedAgeGrp = $("#job_age_group").find("option:selected").text();
  var selectedLevel = $("#job_class_level").find("option:selected").text();
  var instructor_name_val_s = $("#job_instructor_id option:selected").text();
  var instructor_name = instructor_name_val_s.split('-')[0];
  $(".selectedVenue").text(selectedVenue);
  $(".selectedInstructor").text(instructor_name);
  if($.isEmptyObject(selectedAgeGrp))
    selectedAgeGrp = "-"
  if($.isEmptyObject(selectedLevel))
    selectedLevel = "-"  
  $(".selectedAgeGrp").text(selectedAgeGrp);
  $(".selectedLevel").text(selectedLevel);
</script>