if($(".addNewClass").is(":visible")){
	
	$('#add_group_class').modal('hide');
	$("#group_classes tbody").find('tr:first').before('<%= escape_javascript(render "/manage/group_classes/saved_new_class") %>');
	$('#add_group_class').find('.addNewClass')[0].reset();
	$('#group_class_duration').css("border", "1px solid #e5e5e5");
}
else {
	$modal.modal('hide');
	var week_days_id = ["Sunday","Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

	var current_gp = '<%= @group_class.id %>';

	var p_id = "<%= @group_class.id %>";
	var day = week_days_id['<%= params[:group_class]["day"] %>'];
	var time = '<%= params[:group_class]["time"] %>';
	var venue = '<%= @group_class.venue.name %>'
	var instructor = '<%= link_to @group_class.instructor.name, manage_instructor_path(@group_class.instructor) %>'
	var age_group = '<%= @group_class.age_group.title %>'
	var updated_at = '<%= time_ago_in_words(@group_class.updated_at) %> ago'
	// var fee = "$ <%#= @group_class.fee %>  <%#= FeeType.find(@group_class.fee_type_id).name %> <%# if @group_class.fee_type_id == 2 %><br/><small><%#= @group_class.lesson_count %> sessions</small><%# end %>"
	// var actions = '<a class="btn default btn-xs" href="/manage/group_classes/' + current_gp + '/edit" data-remote="true"><i class="fa fa-edit"></i> Edit</a><a class="btn default btn-xs" href="/manage/group_classes/' + current_gp + '" data-remote="true"><i class="fa fa-search"> </i> View</a><br/><small>'+updated_at+'</small></td>'
	var fee = '$<%= @group_class.fee %>';
	var FeeType = '<%= FeeType.find(@group_class.fee_type_id).name.gsub("per ", "").capitalize unless @group_class.fee_type_id.nil? %>';
	var lessonCnt = '<%= @group_class.fee_type_id == 2 ? @group_class.lesson_count : "-"  %>';
	var actions = updated_at+'<br /><small><a href="/manage/group_classes/' + current_gp + '/edit" data-remote="true"> Edit</a></small></td>'

	var duration = $("#group_class_duration").val();

	var updated_tr = '<tr class="group_class-<%#= @group_class.id %>"><td>' + day + '</td><td>' + time + '</td><td>'+ duration +'mins </td><td>' + venue + '</td><td>' + instructor + '</td><td>' + age_group + '</td><td>'+fee+ '</td><td>'+FeeType+'</td><td>' +lessonCnt+'</td><td>' + actions + '</td></tr>'
	day = $("#day").find('option:selected').text();
	venue = $("#venue").find('option:selected').text();
	instructor = $("#instructor").find('option:selected').text();
	age_group = $("#age_group").find('option:selected').text();

	if(day == "Any" && venue == "Any" && instructor == "Any" && age_group == "Any")
	{
	  $("#filter_gp").append(updated_tr);
	} else {
	  $("#filter_gp").find('tr:eq(0)').before(updated_tr);
	}

	$(".group_class-<%= @group_class.id %>").addClass("success")
	                       .delay(3000)
	                       .queue(function() {
	                           $(this).removeClass("success");
	                           $(this).dequeue();
	                        });
}