<% title "Award Tests" %>
<a href="<%= manage_awards_path %>" class="toggle-custome" style="top: 20px; right: 20px; padding: 20px; cursor: pointer; position: absolute; background: #d5dade url(/assets/icon-color.png) center no-repeat; z-index: 999;"></a>
<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
      Award Test
      <small>
        <%= page_description %>
      </small>
    </h3>
    <% if !@breadcrumbs.nil? %>
      <ul class="page-breadcrumb breadcrumb">
        <li class="btn-group">
          <a class="btn btn-fit-height grey pull-right" href="<%= manage_new_award_test_path %>"><i class="fa fa-plus"></i> Add Award Test</a>
        </li>
        <% @breadcrumbs.each do |breadcrumb| %>
          <li>
            <%= link_to(breadcrumb[:name], breadcrumb[:url]) %>
            <% if @breadcrumbs.last != breadcrumb %>
              <i class="fa fa-angle-right"></i>
            <% end %> 
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<div class="row margin-bottom-40">
  <div class="col-sm-12">
    <div class="content-page">
      <div class="col-sm-12 margin-bottom-20">
        <%= form_tag manage_award_tests_path, :method => :get, :class => "form-horizontal" do %>
          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-6">
              <div><label class="control-label col-md-3">Date Range</label>
                <div class="input-group input-large date-picker input-daterange col-md-9" style="padding-left: 15px;" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                  <input type="text" class="form-control start_date" name="from" value= "<%= params[:from] ? params[:from] : Date.today.strftime('%d %B %Y') %>" id="start_date">
                  <span class="input-group-addon">
                  to </span>
                  <input type="text" class="form-control end_date" name="to" value= "<%= params[:to].present? && params[:to] != "" ? params[:to] : '' %>" id="end_date">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div><label class="control-label col-md-3">Award </label>
                <div class="col-md-9">
                  <select class="form-control advance_status" style="width: 100%;" name="award">
                    <option></option>
                    <% Award.all.each do |award| %>
                      <% if params[:award].present? && params[:award] != "" %>
                        <option value="<%= award.id %>"  <%= params[:award].to_i == award.id ? 'selected' : '' %>><%= award.name %></option>
                      <% else %>
                        <option value="<%= award.id %>"><%= award.name %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div>  
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-6">
              <div><label class="control-label col-md-3">Venue</label>
                <div class="col-md-9">
                  <select class="form-control advance_venue" style="width: 100%;" name="venue">
                    <option></option>
                    <% Venue.all.each do |venue| %>
                      <% if params[:venue].present? && params[:venue] != "" %>
                        <option value="<%= venue.id %>" <%= params[:venue].to_i == venue.id ? 'selected' : '' %>><%= venue.name %></option>
                      <% else %>
                        <option value="<%= venue.id %>" ><%= venue.name %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div> 
            </div>
            <div class="col-sm-6">
              <div><label class="control-label col-md-3">Organiser</label>
                <div class="col-md-9">
                  <select class="form-control advance_venue" style="width: 100%;" name="organiser">
                    <option></option>
                    <% Instructor.all.order('name').each do |instructor| %>
                      <% if params[:organiser].present? && params[:organiser] != "" %>
                        <option value="<%= instructor.id %>" <%= params[:organiser].to_i == instructor.id ? 'selected' : '' %>><%= instructor.name %></option>
                      <% else %>
                        <option value="<%= instructor.id %>"><%= instructor.name %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div> 
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-6">
              <div><label class="control-label col-md-3" style="padding-right: 3px;">Student Name</label>
                <div class="col-md-9">
                  <input class="form-control" id="student_name" name="student_name" type="text" value="<%= params[:student_name] %>">
                </div>
              </div> 
            </div>
            <div class="col-sm-6">
              <div><label class="control-label col-md-3">Instructor</label>
                <div class="col-md-9">
                  <select class="form-control advance_venue" style="width: 100%;" name="instructor">
                    <option></option>
                    <% Instructor.all.order('name').each do |instructor| %>
                      <% if params[:instructor].present? && params[:instructor] != "" %>
                        <option value="<%= instructor.id %>" <%= params[:instructor].to_i == instructor.id ? 'selected' : '' %>><%= instructor.name %></option>
                      <% else %>
                        <option value="<%= instructor.id %>"><%= instructor.name %></option>
                      <% end %>
                    <% end %>
                  </select>
                </div>
              </div> 
            </div>
          </div>

          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-6">
              <div><label class="control-label col-md-3">Payment</label>
                <div class="col-md-9">
                  <select class="form-control advance_venue" style="width: 100%;" name="payment">
                    <option></option>
                    <option value="Paid" <%=params[:payment] == "Paid" ? 'selected' : ''  %>>Paid</option>
                    <option value="Unpaid" <%=params[:payment] == "Unpaid" ? 'selected' : ''  %>>Unpaid</option>
                  </select>
                </div>
              </div> 
            </div>
            <div class="col-sm-6">
              <div><label class="control-label col-md-3">Status</label>
                <div class="col-md-9">
                  <select class="form-control advance_venue" style="width: 100%;" name="status">
                    <option></option>
                    <%#=@status=InstructorStudentAward.where.not(:status=> nil).pluck(:status).uniq %>
                    <%@status=['Pending','Pass','Fail'] %>
                    <%@status.each do |stu_award| %>
                      <% if params[:status].present? && params[:status] != "" %>
                        <option value="<%= stu_award %>" <%=params[:status] == stu_award ? 'selected' : ''  %> ><%= stu_award %></option>
                      <%else %>
                        <option value="<%= stu_award %>"><%= stu_award %></option>
                      <%end %>
                    <% end %>
                  </select>
                </div>
              </div> 
            </div>
          </div>

          <p class="text-center" style="margin-top: 10px;">
            <%= submit_tag "Search", class: "btn btn-default"%>
            <a href="<%= manage_award_tests_path %>" class="btn btn-default resetAdvanceSearch">Reset </a>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Award</th>
          <th>Registered</th>
          <th>Vacancy</th>
        </tr>
      </thead>
      <tbody>
        <% Award.where(id: @award_tests.pluck('award_id')).order('position').each do |award| %>
          <tr>
            <td><%= award.short_name.nil? ? award.name : award.short_name %></td>
            <% cnt_reg_students = 0 %>
            <% vacancy = 0 %>
            <% award.award_tests.where(id: @award_tests.ids).each do |award_test| %>
              <% vacancy += award_test.total_slot - award_test.instructor_student_awards.count %>
              <% @reg_students = award_test.instructor_student_awards.where("award_progress = 'ready_for'  and is_registered = true and status not in (?)", ["pass", "Pass"]) %>
              <% @reg_students = @reg_students + award_test.instructor_student_awards.where("status IN (?)",['Pending', 'Confirmed']) %>
              <% cnt_reg_students += @reg_students.uniq.count %>
            <% end %>
            <td><%= cnt_reg_students %></td>
            <td><%= vacancy %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
   <% unless@unregister.blank? %>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th></th>
          <% @award.each do |award| %>
            <th><%= award.short_name.nil? ? award.name : award.short_name %></th>
          <% end %>
        </tr>
      </thead> 
      <tbody>
          <% @inst_name.each do |inst| %>
            <% if inst.instructor_students.where("id IN (?)", @all_student_id).count > 0 %>
            <tr>
              <td><%= inst.name %><%#= inst.id %></td>
            <% @unregister.each  do |id| %>
              <td><%@unregister_stud=InstructorStudent.where('id IN (?) ',id).group(:admin_user_id).count %>
              <%#= @unregister_stud %>
              <%= @unregister_stud[inst.id].present? ? @unregister_stud[inst.id] : 0 %></td>
            <%end %>
            </tr>
            <% end %>
          <%end %>
          
      </tbody>
    </table>
    <%end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="">
      <!-- 
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-user">></i>
            Award Tests  
          </div>
        </div>
      -->
      <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_2" >
          <thead>
            <tr>
              <th style="width:30px;"></th>
              <th>Date</th>
              <th>Time</th>
              <th>Award</th>
              <th>Ref No</th>
              <th class="hidden-xs">Student(s)</th>
              <!-- <th class="hidden-xs">Test Fee</th> -->
              <th class="hidden-xs">Venue</th>
              <th class="hidden-xs">Organiser</th>
              <th>Cut-Off</th>
              <th class="hidden-xs"></th>
              <% count = 0 %>
            </tr>
          </thead>
          <tbody id="award_test_table"  data-update-url="<%= sort_manage_award_tests_path %>">
            
            <% @award_tests.each do |award_test| %>
              <% cnt = 0 %>
              <% count = count + 1 %>
              <%= content_tag_for :tr, award_test do %>

                <td style="width:30px;" >
                  <%= award_test.id %>
                </td>
                <td>
                  <% if !award_test.test_date.blank? %>
                    <%= award_test.test_date.strftime("%e %b %y")  %>
                  <% end %>
                </td>
                <td><%= award_test.test_time ? award_test.test_time.strftime("%-I:%M%P") : nil %> </td>
                <td><%= award_test.award.short_name.nil? ? award_test.award.name : award_test.award.short_name unless award_test.award_id.blank? %></td>
                <td><%= award_test.assesment_ref_no %></td>
                <% @instructor_student_awards = InstructorStudentAward.where(:award_id => award_test.award_id, :award_test_id => award_test.id ) %>
                <% @instructor_student_awards.each do |ins| %>
                  <% cnt = cnt + 1 %>
                <% end %>
                <td><%= cnt %> of <%= award_test.total_slot %></td>
                <!-- <td>$<%#= format('%.2f', award_test.test_fee) if award_test.test_fee.present? %></td> -->
                <td>
                  <% if !award_test.venue_id.blank? %>
                    <%= Venue.find(award_test.venue_id).name %>
                  <% end %>  
                </td>
                <td>
                  <% if !award_test.assessor.blank? %>
                    <%= Instructor.find(award_test.assessor).name %>
                  <% end %>  
                </td>
                <td>
                  <% if !award_test.cut_off_date.blank? %>
                    <%= award_test.cut_off_date.strftime("%e %b %y")  %>
                  <% end %>
                </td>              
                <td>
                  <a href="/manage/award_test/<%= award_test.id %>?student_name=<%= params[:student_name] %>">VIEW
                    <i class="fa fa-arrow-circle-right"></i>
                  </a>
                </td>  
              <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<script>
  
  // jQuery(document).ready(function() { 
  //   TableManaged.init();
  //   $("#sample_2_wrapper").find(".table-scrollable").removeClass("table-scrollable");
  // });
  jQuery(document).ready(function() { 
    $('#sample_2').dataTable({
          "aLengthMenu": [
              [5, 15, 20, -1],
              [5, 15, 20, "All"] // change per page values here
          ],
          // set the initial value
          "iDisplayLength": -1,
          "paging": false,
          "sPaginationType": "bootstrap",
          "oLanguage": {
            "sLengthMenu": "_MENU_ records",
            "oPaginate": {
                "sPrevious": "Prev",
                "sNext": "Next"
            },
            "sEmptyTable": "No student records"
           },
          "aoColumnDefs": [{
              'bSortable': true,
              'aTargets': [0]
            }
          ]
      });
    
      $('#sample_2_wrapper .dataTables_filter input').addClass("form-control input-xmedium input-inline"); // modify table search input
      $('#sample_2_wrapper .dataTables_length select').addClass("form-control input-xmedium input-inline"); // modify table per page dropdown

      $("#sample_2_wrapper").find(".table-scrollable").removeClass("table-scrollable");
      // $("#sample_2_wrapper").find(".row").first().after('<div class="row"><div class="col-sm-12">' +
                          // '<a class="btn green" href="<%#= manage_new_award_test_path %>">Add Award Test</a> ' +
                          // '</div></div>');
  });
  
</script>
<script type="text/javascript">
 $(document).ready(function() {
    $('.best_in_place').best_in_place();

    // $('#award_test_table').sortable({
    //   axis: "y",
    //   containerSelector: 'table',
    //   itemPath: '> tbody',
    //   itemSelector: 'tr',
    //   placeholder: 'placeholder',
    //   update: function() {
    //     $.post($(this).data("update-url"), $(this).sortable("serialize"));
    //   }
    // });
  });
  
    $('#start_date').datepicker({
      format: 'd MM yyyy',
      autoclose: true
    }).on('changeDate', function(selected){
        startDate = new Date(selected.date.valueOf());
        startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
        $('#end_date').datepicker('setStartDate', startDate);
    }); 
    $('#end_date').datepicker({
      format: 'd MM yyyy',
      startDate: "<%= params[:from].present? && params[:from] != "" ? params[:from] : Date.today.strftime('%d %B %Y') %>",
      autoclose: true
    }).on('changeDate', function(selected){
        FromEndDate = new Date(selected.date.valueOf());
        FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
        $('#start_date').datepicker('setEndDate', FromEndDate);
    });
    $('.resetAdvanceSearch').click(function(){
      $('.form-horizontal ').find('input[type="text"], select').val('');
    });
 
</script>


<style type="text/css">
  #sample_2 tr.placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
  }
  #sample_2 tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none;
  }

.label{
  color: #000 !important;
}
</style>
