  <div class="content-form-page">
    <div class="message-notice">
      <div class="row">
        <div class="col-md-12">
          <h2>Your registration details</h2>
          <p>The information below has been sent to your email.</p>
          <table id="user" class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td style="width:30%">Name</td>
                <td style="width:70%"><%= @job.lead_name %></td>
              </tr>
            <tr>
              <td style="width:30%">Contact</td>
              <td id="lead_contact" style="width:70%"><%= @job.lead_contact %></td>
            </tr>
            <tr>
              <td style="width:30%">Email</td>
              <td id="lead_email" style="width:70%"><%= @job.lead_email %></td>
            </tr>
            <tr>
              <td style="width:30%">Student(s)</td>
              <td style="width:70%">
                <% if @job.students.count > 0 %>
                  <% @job.students.each do |student| %>
                    <%= student.name %>
                    <% if student.age? %>
                      <%= "-"  %>
                      <%= student.age %>yrs
                      <% if !student.age_month.blank? && student.age_month != 0  %>
                        <%= student.age_month %>mths
                      <% else %>
                        old
                      <% end %>  
                    <% end %>  
                    <%= "(" if student.sex? %><%= student.sex %><%= ")" if student.sex? %>
                    <br/>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td style="width:30%">Class Type</td>
              <td style="width:70%"><% if !@job.lead_class_type.blank? %><%= ClassType.find(@job.lead_class_type).title %> class<% end %></td>
            </tr>
            <tr>
              <td style="width:30%">Venue</td>
              <td style="width:70%">
                <% if !@job.lead_class_type.blank? %>
                  <% if ClassType.find(@job.lead_class_type).title.capitalize == "Private"%>
                  - Condo: <%= @job.other_venue %><br>
                  <% end %>
                  <% if @job.venues.count > 0 %>
                    <% @job.venues.each do |venue| %>
                      - <%= venue.name %><br>
                    <% end %>
                  <% end %>
                <% end %>  
              </td>
            </tr>
            <tr>
              <td style="width:30%">Preferred Day/time</td>
              <td style="width:70%"><%= @job.lead_day_time %></td>
            </tr>
            <tr>
              <td style="width:30%">Starting on</td>
              <td style="width:70%">
                <% if !@job.lead_starting_on.nil? %>
                <%= @job.lead_starting_on.strftime("%d %B %Y") %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td style="width:30%">Additional Info</td>
              <td style="width:70%">
                <% if @job.lead_lady_instructor_only != false %>
                  <strong>Lady instructor preferred</strong><br>
                <% end %>
                  <%= @job.lead_info %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>        
    </div>
  </div>
</div>
<div><iframe src='http://www.singaporeswimming.com/submission-successful/' style='width: 129%; height: 1352px; border: none;'></iframe></div>