<div class="modal fade" id="basic-<%= student.id %>" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog" style="margin-top:100px;">
    <div class="modal-content">
      <%= form_for([:instructor, student, Fee.new], :html => {:class=> "form-horizontal", :remote => true} ) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Fee Action</h4>
        </div>
        <% if !@group_class.blank? %>
          <%= hidden_field_tag :group_class, @group_class.id %>
        <% end %>
        <div class="modal-body" style="padding-top: 0px; padding-bottom: 0px;">
          <div class="portlet-body form">
            <div class="form-body">
              <div class="form-group" style="margin-bottom: 0px;">
                <label>
                  <%= f.radio_button :payment_status,'Paid',checked: true,class: 'payment_status chk_paid_payment' %>
                  Receipt
                </label>
              </div>
              <div class="form-group" style="margin-bottom: 0px;">
                <%= f.label :payment_date, "Date of Payment" %>
                <div class="input-group input-medium date date-picker sdate" data-date-format="dd-mm-yyyy" >
                    <%= f.text_field :payment_date, :class => "form-control", :value => Time.now.strftime('%e %B %Y'), :id=> "payment_date",:readonly => true %>
                    <span class="input-group-btn">
                    <button class="btn default" type="button" style="height: 34px;"><i class="fa fa-calendar"></i></button>
                    </span>
                </div>
              </div>
              <div class="form-group course_deatil" style="margin-bottom: 0px;">
                <label>Fees for</label>
                <div class="input-group input-large date date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                  <%= f.text_field :course_start, :class => "form-control"%>
                    <span class="input-group-addon">
                    to </span>
                    <%= f.text_field :course_end, :class=>"form-control" %>
                </div>
              </div>
              <%= f.hidden_field :course_type, :value => "per course" %> 
              <input type="hidden" value="" class="student_id"></input>
              <div class="form-group" style="margin-bottom: 0px;">
                <%= f.label :amount, "Amount Paid" %>
                <%= f.text_field :amount, :value => @group_class.fee, :class=>"form-control amount_paid"%>
              </div>
              <div class="form-group" style="margin-bottom: 0px;">
                <label>
                  <%= f.radio_button :payment_status, 'Due',class: 'payment_status chk_due_payment' %>
                  Invoice
                </label>
              </div>
              <div class="form-group" style="margin-bottom: 0px;">
                <%= f.label :amount, "Amount Due" %>
                <%= f.text_field :amount, :value => @group_class.fee, :class=>"form-control amount_due"%>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn green" id="save_payment">Save</button>
        </div>
      <% end %>  
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#save_payment').click(function(){
      $(this).val("Saving..");
    });
    $('.date-picker').datepicker({
      format: 'd MM yyyy'
    });
   
  });
  $(document).on('click','#student-<%= student.id %>',function(){
    var data_student_id = $(this).parents('tr').data('student_id');
    console.log(data_student_id)
    $(".student_id").val(data_student_id);
  });
  $(document).on('click','.payment_status',function(){
    if($(this).val() == 'Paid'){
      $(".date-picker *").attr("disabled", false);
      $(".amount_paid").attr("disabled", false);
      $(".amount_due").attr("disabled", true);
      $("#fee_payment_status").val('Paid');
      // console.log('paid');
    }
    else if($(this).val() == 'Due'){
      // $('.date-picker').disable
      $(".amount_due").attr("disabled", false);
      $(".date-picker *").attr("disabled", true);
      $(".amount_paid").attr("disabled", true);
      $("#fee_payment_status").val('Due');
      // console.log('due');
    }

  });
</script>
<style type="text/css">
  .datepicker {
    z-index: 999 !important;
  }
</style>