<%= form_tag instructor_group_class_view_add_more_months_path, :method => 'post', :class=> "form-horizontal columnForm", :style => "display: inline-flex !important;" do %>
  <input type="checkbox" name="fee-check" value="fee-check" class="student_field_checkbox" >
  <%= select_tag(:start_month, options_for_select(@previousMonths.reverse, selected: startMonth.blank? ? (1.month.ago).strftime("%b-%y") : startMonth ), class: "form-control input-xsmall startMon") %>
  <%= select_tag(:end_month, options_for_select(@nextMonths.reverse, selected: endMonth.blank? ? (Date.today + 1.months).strftime("%b-%y") : endMonth ), class: "form-control input-xsmall endMon") %>
  <%= hidden_field_tag :group_class, @group_class.id %>
  <button class="btn btn-success btnGo" name="commit" type="submit" value="GO">
    <i class="fa fa-arrow-left fa-fw"></i> Go
  </button>
<% end %>
<br/>
<br/>
<%= form_tag instructor_group_class_view_add_more_months_path+"?isAttendance=true", :method => 'post', :class=> "form-horizontal columnForm", :style => "display: inline-flex !important;" do %>
  <input type="checkbox" name="isAttendance" class="student_field_checkbox" >
  <%= select_tag(:start_month_atte, options_for_select(@previousMonths.reverse, selected: startMonthAtte.blank? ? (1.month.ago).strftime("%b-%y") : startMonthAtte ), class: "form-control input-xsmall startMon") %>
  <%= select_tag(:end_month_atte, options_for_select(@nextMonths.reverse, selected: endMonthAtte.blank? ? (Date.today + 1.months).strftime("%b-%y") : endMonthAtte ), class: "form-control input-xsmall endMon") %>
  <%= hidden_field_tag :group_class, @group_class.id %>
  <button class="btn btn-success btnGo" name="commit" type="submit" value="GO">
    <i class="fa fa-arrow-left fa-fw"></i> Attendance
  </button>
<% end %>
<br/>
<br/>