<td style="width: 12px; white-space:nowrap;" class="grp_line"><%= count %></td>

<td style="width: 10px; white-space:nowrap;"><input type="checkbox" name="checkAll" id="checkAll" value="<%= student.id %>" class="check_student grp_line"></input></td>
<% all_awards = Award.all.order("position") %>
<% if browser.mobile? %>
  <td class="Name name-overflow grp_line" style="max-width: 200px; white-space:nowrap; overflow: hidden;">
    <%= link_to ' '+student.student_name.to_s, instructor_instructor_student_path(student, :gp => params[:id]), :class => "tooltips", :"data-placement" => "right", :"data-original-title" => "Student ID : #{student.id}" %><br>
      <%student.student_contacts.each do |contact|%><%#=student.student_contacts.contact%> 
        <% if contact.primary_contact && contact.contact.present? %>
          <small class="grp_small_size"> 
            <%= contact.relationship.to_s + '  ' + contact.contact %><%= student.additional_description.present? ? ',' : '' %>  
          </small>
        <% end %>
      <%end%>
      <% if student.additional_description.present? %>
        <small class="grp_small_size_orange">
          <%= student.additional_description %>
        </small>
      <% end %>
  </td>
  <!-- <td class="profile-picture" style="<%#= @hide_show_columns.profile_pic? ? '' : 'display: none;' %> white-space:nowrap;">
    <%# if student.profile_picture.present? %>
     <a class="fancybox" href="<%#= student.profile_picture.url(:original) %>"> 
      <img class="avatar img-responsive circle" alt="" src="<%#= student.profile_picture.url(:thumb) %>">
     </a>
    <%# else %>
      <img src="/assets/no_image.gif" class="avatar img-responsive">
    <%# end %>
  </td> -->

<% else %>
  <td class="profile-picture grp_line" style="<%= @hide_show_columns.profile_pic? ? '' : 'display: none;' %> white-space:nowrap;">
    <% if student.profile_picture.present? %>
     <a class="fancybox" href="<%= student.profile_picture.url(:original) %>"> 
      <img class="avatar img-responsive circle" alt="" src="<%= student.profile_picture.url(:thumb) %>">
     </a>
    <% else %>
      <img src="/assets/no_image.gif" class="avatar img-responsive">
    <% end %>
  </td>

  <td class="Name grp_line" style="max-width: 280px; white-space:nowrap; overflow: hidden;">
    <%= link_to ' '+student.student_name.to_s, instructor_instructor_student_path(student, :gp => params[:id]), :class => "tooltips", :"data-placement" => "right", :"data-original-title" => "Student ID : #{student.id}" %><br>
    <%student.student_contacts.each do |contact|%><%#=student.student_contacts.contact%> 
      <% if contact.primary_contact && contact.contact.present? %>
        <small class="grp_small_size"> 
          <%= contact.relationship.to_s + '  ' + contact.contact %><%= student.additional_description.present? ? ',' : '' %> 
        </small>
      <% end %>
    <%end%>
    <% if student.additional_description.present? %>
      <small class="grp_small_size_orange">
        <%= student.additional_description %>
      </small>
    <% end %>
  </td>
<% end %>

<td class="student_id grp_line" style="<%= @hide_show_columns.student_id? ? '' : 'display: none;' %> white-space:nowrap;"><%= student.id %></td>

  <% @new_award_list =  student.instructor_student_awards.where(:status => "Pass").order("updated_at DESC").where.not(:award_id => nil) %>
  <% if @new_award_list.count > 0 %>
    <%# @award_list = @award_list + @new_award_list.pluck("award_id") %>
    <% @award_list = @new_award_list.pluck("award_id") %>

  <% end %>
<!-- For Booked count  -->
    <% status = ['Pending', 'pending', 'Confirmed', 'confirmed']%>
    <% ready_status = ['ready_for','Ready'] %>
    <% @registred_for_award = student.instructor_student_awards.where("status IN (?)", status) %>
    <% @registred_for_award += student.instructor_student_awards.where("award_progress IN (?) AND is_registered = (?) AND status NOT IN (?)", ready_status,true,['pass','Pass']) %>
    <% @registred_for_award = @registred_for_award.uniq %>
    <%# @registred_for_award.count > 0 && @highlight_ready ? highlight_class = 'highlight' : highlight_class = ''  %>
    <!-- Book count end -->
    <% award_test = true %>
  <% if @new_award_list.count > 0 %>
    <% @latest_award = Award.where("id IN (?)",  @award_list).order('position DESC') %>
    <%# @latest_award_id = @latest_award_ids unless @latest_award_ids.count <= 0 %>
      <% @instructor_student_latest_award  = student.instructor_student_awards.where(award_id: @latest_award.first.id, instructor_student_id: student.id) %>
      <%# if student.instructor_student_awards.where("award_progress IN (?)", @award_progress_array).where(:award_id => @latest_award_ids.first.id).count != 0 %>

      <% @award = @latest_award.first%>
      <% if student.instructor_student_awards.where(award_id: @award.id).first.achieved_date? %>
        <% achieved_award_achieved_date = student.instructor_student_awards.where(award_id: @award.id).first.achieved_date %>
      <% elsif student.instructor_student_awards.where(award_id: @award.id).first.award_test != nil %>
        <% achieved_award_achieved_date = student.instructor_student_awards.where(award_id: @award.id).first.award_test.test_date %>
      <% end %>
      <% if achieved_award_achieved_date %>
        <% achieved_award_achieved_date < @ready_cell_month.to_i.month.ago && @highlight_ready && @registred_for_award.count == 0 ? highlight_class = 'highlight' : highlight_class = '' %>
      <% else %>
        <% if @highlight_ready %>
          <% highlight_class = 'highlight' %>
          <% award_test = false %>
        <% end %>
      <% end %>
  <% else %>
    <% if @registred_for_award.count == 0 && @highlight_ready %>
      <% highlight_class = 'highlight' %>
    <% else %>
    <% end %>
  <% end %>
  <% training_status = ["training_for", "Training"] %>
  <% pass_status = ["pass", "Pass", 'Pending', 'pending', 'Confirmed', 'confirmed' ]%>
  <% @training_for_award = student.instructor_student_awards.where("award_progress IN (?) AND status NOT IN (?)", training_status, pass_status) %>
  <% @training_for_award += student.instructor_student_awards.where("award_progress IN (?) AND status IS ?", training_status, nil) %>

  <% status = ["ready_for", "Ready"]%>
  <% pass_status = ["pass", "Pass", 'Pending', 'pending', 'Confirmed', 'confirmed' ]%>
  <% @ready_for_award = student.instructor_student_awards.where("award_progress IN (?) AND is_registered = (?) AND status NOT IN (?)", status, false,pass_status) %>
  <% @ready_for_award += student.instructor_student_awards.where("award_progress IN (?) AND is_registered = (?) AND status IS ?", status, false,nil) %>
  <%#= @training_for_award > 0 &&  @ready_for_award > 0 && award_test %>
  <% if (@training_for_award.count == 0 &&  @ready_for_award.count ==  0 && @registred_for_award.count ==  0 && award_test) %>
    <% highlight_training_class = 'highlight' %>
  <% else %>
    <% highlight_training_class = '' %>
  <% end %>
<td class="Contact grp_line" style="<%= @hide_show_columns.contact? ? '' : 'display: none;' %> white-space:nowrap;">
  <% if student.student_contacts.count > 0 %>
    <% if student.student_contacts.where(:primary_contact => true).count > 0 && @registred_for_award.count > 0 %>
      <%= student.student_contacts.where(:primary_contact => true).first.contact %>
    <% else  %> 
     <%= student.student_contacts.first.contact %>
    <% end %>
  <% else %>
    -
  <% end %>
</td>

<td class="ic-number grp_line" style="<%= @hide_show_columns.ic_number? ? '' : 'display: none;' %> white-space:nowrap;"><%= student.ic_number %></td>

<td class="date-of-birth grp_line" style="<%= @hide_show_columns.date_of_birth? ? '' : 'display: none;' %> white-space:nowrap;"><%= student.date_of_birth.strftime("%e %b %Y") if student.date_of_birth %></td>

<td class="joined-date grp_line" style="<%= @hide_show_columns.join_date? ? '' : 'display: none;' %> white-space:nowrap;"><%= student.join_date.strftime("%e %b %Y") if student.join_date %></td>

<td class="description grp_line" style="<%= @hide_show_columns.description? ? '' : 'display: none;' %> white-space:nowrap;"><%= student.additional_description %></td>

<td class="training-for grp_line <%= @is_highlight_training == "checked" ? highlight_training_class : ''%>" style="<%= @hide_show_columns.training_for? ? '' : 'display: none;' %> white-space:nowrap;">
  <a href="javascript:void(0);"  id="<%= student.id %>" class="add_award_training"><i class="fa fa-plus"></i></a>
  <span id="training_for_<%= student.id %>">
    <% if @training_for_award.count > 0 %>
      <% @training_for_award.each do |training_award| %>
        <span class="award_training" id="award_<%= training_award.id %>">
          <span class="remove_award_training" id="<%= training_award.id %>" style="display: none;"><i class="fa fa-times"></i>
          </span>
          <%= @training_for_award.last != training_award ? training_award.award.customize_name + "," : training_award.award.customize_name %>
        </span>
      <% end %>
    <% else %>
      -
    <% end %>
  
    <div id="add_award_training_form_<%= student.id %>" style="display: none;" class="add_award_form">
      <%= form_for InstructorStudentAward.new, url: instructor_update_student_award_status_path, remote: true do |f| %>
        <% training_status = ["training_for", "Training", 'achieved', 'Achieved'] %>
        <% @all_award_training = Award.all.order("position") %>
        <% if student.instructor_student_awards.count > 0 %>
          <% awards = student.instructor_student_awards.where('award_progress NOT IN (?) AND is_registered = (?) AND status NOT IN (?)',training_status,false,pass_status).pluck("award_id") %>
          <% awards += student.instructor_student_awards.where('award_progress NOT IN (?) AND is_registered = (?) AND status IS ?',training_status,false,nil).pluck("award_id") %>
          <% awards += student.instructor_student_awards.where(award_progress: nil).pluck("award_id") %>
          <% @all_award_training  = all_awards.where("id IN (?)",awards) %>
        <% end %>
        <%= f.select :id, @all_award_training.collect{|sts_awrd| [sts_awrd.customize_name, sts_awrd.id]},{prompt: 'Select'}, id: "cmb_training_for_award", class: 'select2' %>
        <%#= f.submit '+' %>
      <% end %>
    </div>

  </span>
</td>

<!-- ready for -->
<% if @ready_for_award.count > 0 %>
  <td class="ready-for grp_line" style="<%= @hide_show_columns.ready_for? ? '' : 'display: none;' %> white-space:nowrap;" >
    <a href="javascript:void(0);" id="<%= student.id %>" class="add_award_ready"><i class="fa fa-plus"></i></a>
    <span id="ready_for_<%= student.id %>">
      <% @ready_for_award.each do |ready_award| %>
          <span class="award_ready" id="award_<%= ready_award.id %>">
            <span class="remove_award_ready" id="<%= ready_award.id %>" style="display: none;"><i class="fa fa-times"></i>
            </span>
            <%= @ready_for_award.last != ready_award ? ready_award.award.customize_name + "," : ready_award.award.customize_name %>
          </span>
      <% end %>
      <div id="add_award_form_<%= student.id %>" style="display: none;" class="add_award_form">
        <%= form_for InstructorStudentAward.new, url: instructor_update_student_award_status_path, remote: true do |f| %>
            <% status = ["ready_for", "Ready", 'achieved', 'Achieved']%>
            <% @all_award_ready = Award.all.order("position") %>
            <% if student.instructor_student_awards.count > 0 %>
              <% awards = student.instructor_student_awards.where('award_progress NOT IN (?) AND status NOT IN (?)',status,pass_status).pluck("award_id") %>
              <% awards = student.instructor_student_awards.where('award_progress NOT IN (?) AND status IS ?',status,nil).pluck("award_id") %>
              <% awards += student.instructor_student_awards.where(award_progress: nil).pluck("award_id") %>
              <% @all_award_ready  = @all_award_ready.where("id IN (?)",awards) %>
            <% end %>
            <%= f.select :id, @all_award_ready.collect{|sts_awrd| [sts_awrd.customize_name, sts_awrd.id]}, prompt: 'Select' %>
            <%#= f.submit '+' %>
        <% end %>
      </div>
    </span>
  </td>
<% else %>
  <td class="ready-for grp_line  <%= @training_for_award.count > 0 ? highlight_class : " "%>" style="<%= @hide_show_columns.ready_for? ? '' : 'display: none;' %> white-space:nowrap;" >
    <a href="javascript:void(0);" id="<%= student.id %>" class="add_award_ready"><i class="fa fa-plus"></i></a>
    <span id="ready_for_<%= student.id %>">
      -
    </span>
      <div id="add_award_form_<%= student.id %>" style="display: none;" class="add_award_form">
        <%= form_for InstructorStudentAward.new, url: instructor_update_student_award_status_path, remote: true do |f| %>
            <% status = ["ready_for", "Ready", 'achieved', 'Achieved']%>
            <% @all_award_ready = Award.all.order("position") %>
            <% if student.instructor_student_awards.count > 0 %>
              <% awards = student.instructor_student_awards.where('award_progress NOT IN (?) AND status NOT IN (?)',status,pass_status).pluck("award_id") %>
              <% awards = student.instructor_student_awards.where('award_progress NOT IN (?) AND status IS ?',status,nil).pluck("award_id") %>
              <% awards += student.instructor_student_awards.where(award_progress: nil).pluck("award_id") %>
              <% @all_award_ready  = all_awards.where("id IN (?)",awards) %>
            <% end %>
            <%= f.select :id, @all_award_ready.collect{|sts_awrd| [sts_awrd.customize_name, sts_awrd.id]}, prompt: 'Select' %>
            <%#= f.submit '+' %>
        <% end %>
      </div>
  </td>
<% end %>
<!-- ready for end -->

<td class="registered-for grp_line" style="<%= @hide_show_columns.registered_for? ? '' : 'display: none;' %> white-space:nowrap;">
  
  <% if @registred_for_award.count > 0 %>
    <% @registred_for_award.each do |registred_award| %>
      <%= @registred_for_award.last != registred_award ? registred_award.award.customize_name + "," : registred_award.award.short_name %><br>
      <small class="grp_small_size">
        <% if registred_award.award_test %>
          <%= registred_award.award_test.test_date.strftime('%d/%m/%Y') %> 
          <%= AwardTestPaymentNotification.check_paid_or_not(registred_award.award_test,student.id) ? 'Paid' : '' %>
        <% end %> 
      </small><br>
    <% end %>
  <% else %>
    -
  <% end %>
</td>

<td class="achieved grp_line"  style="<%= @hide_show_columns.achieved? ? '' : 'display: none;' %> white-space:nowrap;"> 
  <%# @award_progress_array = ["achieved", "Achieved"] %>

  <%# @latest_award = student.instructor_student_awards.where("award_progress IN (?)", @award_progress_array).order("updated_at DESC").where.not(:award_id => nil) %>
  <%# @award_list = @latest_award.pluck("award_id") %>


  <%# @latest_award = @latest_award.uniq %>
  <% if @new_award_list.count > 0 %>
    <span>
      <%# @achieved_date = student.instructor_student_awards.where("award_progress IN (?)", @award_progress_array).order("updated_at DESC").where(:award_id => @latest_award_ids.first.id).first  %>
      <!-- Coment by jiggs -->
      <!-- <%# if !@award.short_name.nil? && !@award.short_name != "" %>
        <%#= @award.short_name %><br><small class="grp_small_size">
      <%# else %>
        <%#= @award.name %><br><small class="grp_small_size">
      <%# end %> -->
      <%= @award.customize_name %><br>
      <small class="grp_small_size">
        <% if achieved_award_achieved_date %>
          <%= time_ago_in_words(achieved_award_achieved_date).gsub('about','') + ' ago'%>
        <% else %>
            No date given
        <% end %>
      </small><br>
     </span>
  <% else %>
    -
  <% end %>
</td>

<td class="fee grp_line"  style="<%= @hide_show_columns.fee? ? '' : 'display: none;' %> white-space:nowrap;">
  <%= student.fee.present? ? "$" + student.fee.to_s : "-"%>
</td>

<% if @hide_show_columns.timing? %>
  <% Timing.where("id IN (?)",@hide_show_columns.timing.split(',')).each do |time| %>
    <td class="<%=time.title %> grp_line"  style="white-space:nowrap;">
      <%inst_timing=student.instructor_student_timings.where(:timing_id=>time.id).order('date DESC').order('updated_at DESC').first%>
      <%#inst_timing=@inst_timing.order('date DESC').order('updated_at DESC').limit(1).first %>

      <%= link_to instructor_student_timing_path(time.id,:instructor_student=>student.id,group_class: @group_class.id), remote: :true, :style=>"float: left;",class: 'load-modal' do %><i class="fa fa-plus"></i><%end %>
      <div id="inst_stud_<%= student.id%>_time_<%=time.id%>">
      <%if inst_timing.present? %>
        <%#@inst_timing.order('date DESC').order('updated_at DESC').each do |inst_timing| %>
          <div id="inst_time_<%=inst_timing.id%>">
            <%= link_to instructor_student_timing_path(inst_timing.id), remote: :true,class: 'load-modal' do%>
              <%=inst_timing.time.strftime('%M')== "00" ? inst_timing.time.strftime('%S') : inst_timing.time.strftime('%-M:%S') %>s<br><small class="grp_small_size <%= !day_in_words(inst_timing.date).match(/months|year|long/).nil? ? 'ins_std_tm_style' : '' %>">
              <%= day_in_words(inst_timing.date) %>
              <%#=inst_timing.date.strftime('%d-%m-%y')%> </small><br>
            <%#end %>
          </div>
        <%end %>
      <%end  %>
      </div>

    </td>
  <%end %>
<%end %>



<style type="text/css">
.grp_small_size{
  font-size: 50%;
}
.grp_small_size_orange{
  color: #FF5200;
  font-size: 50%;
}
.grp_line{
  line-height: 1!important;
}
.highlight{
  border: 3px solid #FF5200 !important;
}
</style>
