<div class="se-pre-con"></div>
<!-- for new page checkbox condition -->
<% new_page = 0 %>
<% if @fee_attendance != "no" %>
  <% @m = @previousMonths.index(@startMonth)..@nextMonths.index(@endMonth)%>
  <% @mon = [] %>
  <% (@startMonth..@endMonth).each do |date| %>
   <% temp_month = date.strftime("%b-%y") %>
   <% unless @mon.include?(temp_month) %>
     <% @mon << temp_month %>
   <% end   %>
 <% end %>
  <% @mon = @mon.uniq %>
<% end %>
<div class="content-page">
  <div class="row">
    <% @previous =  (1.month.ago).strftime("%B %Y")  %>
    <% @current = Date.today.strftime("%B %Y") %>
    <% @next = (Date.today + 1.months).strftime("%B %Y") %>
  
    <!-- <input type="hidden" id="previous_date"  value="<%= @previous %>"></input>
    <input type="hidden" id="current_date" value="<%= @current %>"></input>
    <input type="hidden" id="next_date"  value="<%= @next %>"></input> -->
  </div>
   <% show_cnt = 0 %>
  <div class="row">
    <% if @group_classes %>
      <div class="col-sm-12 <%= @group_classes.order('day asc,time asc').first == @group_class ? 'block-unallocated' : '' %>" >
    <% else %>
      <div class="col-sm-12" >
    <% end %>
      <!-- Unallocated student -->
      <% if @students_list.count != 0 || @group_class.instructor_students.count == 0 %>
        <% if !@group_class.fee_type_id.blank? %>
          <% if (FeeType.find(@group_class.fee_type_id).name.downcase == "per month") %>
            <% new_page = 1 %>
            <% show_cnt = 1 %>
            <% if params[:action] != "group_classes_deatil_print" %>
              <%= render 'manage_view' %>
            <% end %>
            <br />
            <div id="group_print_1 no-page-break-before">
              <div class="row row-padding">
                <div class="col-xs-10">
                  <% if current_admin_user.more_or_less_months.count > 0 %>
                    <h2 style="<%= current_admin_user.more_or_less_months.first.font_size.nil?  ? "font-size: 25px;" : "font-size: #{current_admin_user.more_or_less_months.first.font_size + 9 }px" %>" class="unallocated-header"><%= @group_class.heading %> - Unallocated</h2>
                  <% else %>
                    <h2 style="font-size: 25px;" class="unallocated-header"><%= @day_array[@group_class.day] +' '+ @group_class.time.strftime("%I:%M %p").to_s%> - Unallocated</h2>
                  <% end %>
                </div>
                <div class="col-xs-2" >
                  <!-- <input type="checkbox" class="group_print" id="group_print_1"> New page -->
                </div>
              </div>
              <!-- <a href="javascript:;" class="btn hidden-print" onclick="javascript:window.print();" style="float:left">
                <i class="fa fa-print" style="float:left"></i> Print
              </a>
               -->
               <!-- Unallocated student -->
              <%= render "per_month_group_class_table", students_list: @students_list %>
            </div>
          <% else %>
            <% new_page = 1 %>
            <div class="col-sm-12 column-selector">
              <% @data_column = ["profile-picture","Name", "Contact", 'ic-number','date-of-birth','joined-date','description','training-for','ready-for','registered-for','Course-fee' ] %>

              <div class="form-group ">
                <div class="col-md-6">
                  <select class="bs-select form-control selectpicker" multiple >
                    <option <%= @hide_show_columns.profile_pic? ? "selected" : "" %>>Profile-pic</option>
                    <option <%= @hide_show_columns.contact? ? "selected" : "" %>>Contact</option>
                    <option <%= @hide_show_columns.ic_number? ? "selected" : "" %>>IC Number</option>
                    <option <%= @hide_show_columns.date_of_birth? ? "selected" : "" %>>Date of birth</option>
                    <option <%= @hide_show_columns.join_date? ? "selected" : "" %>>Joined date</option>
                    <option <%= @hide_show_columns.description? ? "selected" : "" %>>Description</option>
                    <option <%= @hide_show_columns.ready_for? ? "selected" : "" %>>Ready for</option>
                    <option <%= @hide_show_columns.training_for? ? "selected" : "" %>>Training for</option>
                    <option <%= @hide_show_columns.registered_for? ? "selected" : "" %>>Registered for</option>
                    <option <%= @hide_show_columns.achieved? ? "selected" : "" %>>Achieved</option>
                    <option <%= @hide_show_columns.fee? ? "selected" : "" %>>Fee</option>

                    <option selected>Course Fee</option>
                  </select>
                </div>
                <div class="col-md-6 ">
                    <a href="javascript:;" class="font-button minus pull-right">A-</a>
                    <a href="javascript:;" class="font-button plus pull-right">A+</a>
                </div>
              </div>
            </div>
            
            <div id="group_print_2 no-page-break-before">
              <div class="row row-padding">
                <div class="col-xs-10">
                  <% if current_admin_user.more_or_less_months.count > 0 %>
                    <h2 style="<%= current_admin_user.more_or_less_months.first.font_size.nil?  ? "font-size: 25px;" : "font-size: #{current_admin_user.more_or_less_months.first.font_size + 9 }px" %>" class="unallocated-header"><%= @group_class.heading %> - Unallocated</h2>
                  <% else %>
                    <h2 style="font-size: 25px;" class="unallocated-header"><%= @group_class.heading %> - Unallocated</h2>
                  <% end %>
                </div>
                <div class="col-xs-2" >
                 <!--  <input type="checkbox" class="group_print" id="group_print_2"> New page -->
                </div>
              </div>
              <% show_cnt = 1 %>
              <table class="table table-hover sample_editable_2"  style="<%= current_admin_user.more_or_less_months.count == 0 ? "font-size: 16px;" : "font-size: #{current_admin_user.more_or_less_months.first.font_size}+ 2 px" %>" >
                <thead>
                  <tr>
                    <%= render "common_table_header_fee_view_group_class" %>

                    
                    <th class="Course-fee" style="white-space:nowrap; <%= current_admin_user.more_or_less_months.count == 0 ? "font-size: 16px;" : "font-size: #{current_admin_user.more_or_less_months.first.font_size*0.8}px" %>">Course fee</th>
                    <th></th>
                    <% count = 0 %>
                  </tr>
                </thead>
                <tbody>
                  <% @students_list.each do |student| %>
                    <% @instructor_student_award = InstructorStudentAward.where(:instructor_student_id => student.id)#.where("award_progress NOT IN (?)", @award_progress) %>
                    <% @achieved_award = InstructorStudentAward.where(:instructor_student_id => student.id).where("award_progress IN (?)", @award_progress).order('achieved_date desc').limit(1) %>
                    <% count = count + 1 %>
                    <tr id="student_<%= student.id %>" data-student_id="student-<%= student.id %>">

                      <%= render "common_data_fee_view_group_class", :count => count, student: student %>

                      <td id="course_detail" class="col-xs-hidden Course-fee grp_line" style="white-space:nowrap;">
                        <% @fee = student.fees.where(:course_type => "per course") %>
                        <% if @fee.length > 0%>
                          <% @fee.each do |fee| %>
                            <a href="<%= instructor_edit_per_course_fee_path(fee.id)+"?student=#{student.id}&group_class=#{@group_class.id}" %>" data-remote="true" class="updateFee" data-str="<%= student.id %>-c">
                              <% if !fee.amount.blank? %>
                                <!-- <strong>$<%#= fee.amount %></strong>  -->
                              <% end %>  
                              <% if !fee.course_start.blank? && !fee.course_end.blank? %>
                                <small><%= fee.course_start.strftime("%e %b %Y") + ' - ' + fee.course_end.strftime("%e %b %Y") %></small><br/>
                              <% end %>
                            </a>
                          <% end %>
                          <%# @fee.each do |fee| %>
                            <%# if !fee.amount.blank? %>
                              <!-- <strong>$<%#= fee.amount %></strong>  -->
                            <%# end %>
                            <%# if !fee.course_start.blank?  &&  !fee.course_end.blank? %>
                              <!-- <small><%#= fee.course_start.strftime("%e %b %Y") + ' - ' +  fee.course_end.strftime("%e %b %Y") %></small><br/> -->
                            <%# end %>
                          <%# end %>
                        <% end %>
                      </td>
                      <td style="white-space:nowrap;" class="grp_line"><a data-toggle="modal" href="#basic-<%= student.id %>" id="student-<%= student.id %>">
                          <i class="fa fa-plus"></i> Fee </a>
                      </td>
                    </tr>
                    <%= render "add_fee_course", :student => student %>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <!-- Groupvise student -->
      <% @group_class.groups.order("created_at").each do |group| %>
        <% if group.instructor_students.count > 0 %>
          <% if show_cnt == 0 %>
          <% if params[:action] != "group_classes_deatil_print" %>
              <%= render 'manage_view' %>
            <% end %>
            <% show_cnt = 1 %>
          <% end %>
          <br>
          <div id="group_print_3_<%=group.id %>" class="<%=new_page != 0 ? "page-break-before" : ""%>">
            <div class="row row-padding">
              <div class="col-xs-10">
                <% if current_admin_user.more_or_less_months.count > 0 %>
                    <h2 style="<%= current_admin_user.more_or_less_months.first.font_size.nil?  ? "font-size: 25px;" : "font-size: #{current_admin_user.more_or_less_months.first.font_size + 9 }px" %>"><%= @group_class.heading %> - <%= group.group_name %></h2>
                  <% else %>
                    <h2 style="font-size: 25px;"><%= @day_array[@group_class.day] +' '+ @group_class.time.strftime("%I:%M %p").to_s%> - <%= group.group_name %></h2>
                  <% end %>
              </div>
              <div class="col-xs-2 hide_print">
                <% if new_page != 0 %>
                  <label><input type="checkbox" checked class="group_print" id="group_print_3_<%=group.id %>"> New page</label>
                <% end %>
                <% new_page = 1 %>
              </div>
            </div>
            
            <% if !@group_class.fee_type_id.blank? %>
              <% if (FeeType.find(@group_class.fee_type_id).name.downcase == "per month") %>
                <!-- Allocated student -->
                <%= render "per_month_group_class_table", students_list: group.instructor_students.includes(:fees).includes(:instructor_student_timings).includes(:instructor_student_awards).includes(:student_contacts) %>
              <% else %>
                <% if show_cnt == 0 %>
                <% if params[:action] != "group_classes_deatil_print" %>
                    <%= render "manage_view" %>
                  <% end %>
                  <% show_cnt = 1 %>
                <% end %>
                <table class="table table-hover sample_editable_2" style="<%= current_admin_user.more_or_less_months.count == 0 ? "font-size: 16px;" : "font-size: #{current_admin_user.more_or_less_months.first.font_size}px" %>">
                  <thead>
                    <tr>
                      <%= render "common_table_header_fee_view_group_class" %>
                      <th class="Course-fee" style="white-space:nowrap; <%= current_admin_user.more_or_less_months.count == 0 ? "font-size: 16px;" : "font-size: #{current_admin_user.more_or_less_months.first.font_size*0.8}px" %>">Course fee</th>
                      <th></th>
                      <% count = 0 %>
                    </tr>
                  </thead> 
                  <tbody>
                    <% group.instructor_students.each do |student| %>
                      <% @instructor_student_award = InstructorStudentAward.where(:instructor_student_id => student.id)#.where("award_progress NOT IN (?)", @award_progress) %>
                      <% @achieved_award = InstructorStudentAward.where(:instructor_student_id => student.id).where("award_progress IN (?)", @award_progress).order('achieved_date desc').limit(1) %>
                      <% count = count + 1 %>
                      <tr id="student_<%= student.id %>" data-student_id="student-<%= student.id %>">

                        <%= render "common_data_fee_view_group_class", :count => count, student: student %>

                        <td id="course_detail grp_line" class="col-xs-hidden Course-fee" style = "white-space:nowrap;">
                          <% @fee = student.fees.where(:course_type => "per course") %>
                          <% if @fee.length > 0%>
                            <% @fee.each do |fee| %>
                              <a href="<%= instructor_edit_per_course_fee_path(fee.id)+"?student=#{student.id}&group_class=#{@group_class.id}" %>" data-remote="true" class="updateFee" data-str="<%= student.id %>-c">
                                <% if !fee.amount.blank? %>
                                  
                                <% end %>  
                                <% if !fee.course_start.blank? && !fee.course_end.blank? %>
                                  <small><%= fee.course_start.strftime("%e %b %Y") + ' - ' + fee.course_end.strftime("%e %b %Y") %></small><br/>
                                <% end %>
                              </a>
                            <% end %>
                          <% end %>
                        </td>
                        <td style="white-space:nowrap;" class="grp_line"><a data-toggle="modal" href="#basic-<%= student.id %>" id="student-<%= student.id %>">
                            <i class="fa fa-plus"></i> Fee </a>
                        </td>
                      </tr>
                      <%= render "add_fee_course", :student => student %>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade bs-modal-sm removeFee" id="small" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
<div class="modal fade smsFeature" id="delete_student" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    
  // jQuery(document).ready(function($) {
  //   $('.selectpicker').selectpicker();
  //   setTimeout(function() {
  //     $(".selectpicker li a").each(function(){
  //       if(!$(this).parents('li').hasClass('selected')) {
  //         var column = "table ." + $(this).attr("name");
  //         // $(column).hide();
  //       }
  //     });
  //   }, 2000);
  // });

  var myTransaction1 = [];
  $('.checkedAll').click(function(event) {
    if(this.checked) {
      $(this).parents('table').find('.check_student').each(function() {
        this.checked = true;
        if($.inArray($(this).val(),myTransaction1)){
          myTransaction1.push($(this).val());
        }
      });
    } else {
      $(this).parents('table').find('.check_student').each(function() {
        this.checked = false;
        if($.inArray($(this).val(),myTransaction1) != -1){
          myTransaction1.splice($.inArray($(this).val(),myTransaction1), 1);
        }
      });         
    }
    $('#send_message').val(myTransaction1);
  });


    $(".check_student").click(function() {
      if($(this).is(":checked")){
        var flag = 0;
        $(this).parents('table').find('.check_student').each(function() {
          if(!this.checked)
          flag = 1;
        })              
        if(flag == 0) { $(this).parents('table').find(".checkedAll").prop("checked", true); }
        if($.inArray($(this).val(),myTransaction1)){
          myTransaction1.push($(this).val());
        }
      }
      else {
        if($.inArray($(this).val(),myTransaction1) != -1){
          myTransaction1.splice($.inArray($(this).val(),myTransaction1), 1);
        }
        $(this).parents('table').find(".checkedAll").prop("checked", false);
      }
      var id = $(this).attr('id');
      $('#send_message').val(myTransaction1);
      $(this).parents(".fields").remove();
    });

    $('#send_msg').click(function(){
      if ($('#send_message').val().length == 0 ){
        $('#error_msg').show();
        return false;  
      }
      else{
        $('#error_msg').hide(); 
        return true;
      }
    });

    $("#text_msg").keyup(function(event) {
      if(!$("#text_msg").val())
        $("#send_msg").attr('disabled','disabled');
      else
        $("#send_msg").removeAttr('disabled','disabled');
    });
    $("#send_msg").attr('disabled','disabled');
    

    // $("input:checkbox").click(function(){
    //     var column = "table ." + $(this).attr("name");
    //     $(column).toggle();
    // }); 
     
   jQuery(document).ready(function($) {
      var myTransaction3 = [];
      $(".student_field_checkbox:checked").each(function(){
        selected_options = $(this).val();
        console.log(selected_options);
        myTransaction3.push(selected_options);
      });
      $('#columnName').val(myTransaction3);
      $('.student_field_checkbox').click(function(){
        if($(this).is(":checked")){
          if($.inArray($(this).val(),myTransaction3)){
            selected_value = $(this).val()
            myTransaction3.push(selected_value);
            $('#columnName').val(myTransaction3);
          }
        }
        else{
          if($.inArray($(this).val(),myTransaction3) != -1){
            myTransaction3.splice($.inArray($(this).val(),myTransaction3), 1);
            $('#columnName').val(myTransaction3);
          }
        }  
      });

      var mytiming = [];
      $(".student_timing:checked").each(function() {
        selectedtiming1=$(this).val();
        console.log(selectedtiming1);
        mytiming.push(selectedtiming1);
      });
      $('#columnTiming').val(mytiming);
      $('.student_timing').click(function() {
        if($(this).is(':checked')){
          if($.inArray($(this).val(),mytiming)){
            selectedvalue1=$(this).val();
            mytiming.push(selectedvalue1)
            $('#columnTiming').val(mytiming);
          }
        }
        else{

          if($.inArray($(this).val(),mytiming) != -1){
            mytiming.splice($.inArray($(this).val(),mytiming), 1);
            $('#columnTiming').val(mytiming);
          }
        }
      });
    // if $(".selectpicker li a")..closest('li').attr('class')

      // setTimeout(function() {
        // $( ".selectpicker li:eq(0)" ).find('a').attr("name", "profile-picture");
        // $( ".selectpicker li:eq(1)" ).find('a').attr("name", "Contact");
        // $( ".selectpicker li:eq(2)" ).find('a').attr("name", "ic-number");
        // $( ".selectpicker li:eq(3)" ).find('a').attr("name", "date-of-birth");
        // $( ".selectpicker li:eq(4)" ).find('a').attr("name", "joined-date");
        // $( ".selectpicker li:eq(5)" ).find('a').attr("name", "description");
        // $( ".selectpicker li:eq(6)" ).find('a').attr("name", "ready-for");
        // $( ".selectpicker li:eq(7)" ).find('a').attr("name", "training-for");
        // $( ".selectpicker li:eq(8)" ).find('a').attr("name", "registered-for");
        // $( ".selectpicker li:eq(9)" ).find('a').attr("name", "achieved");
        

        // if($(".selectpicker li").length == 10) {
        //   $( ".selectpicker li:eq(10)" ).find('a').attr("name", "Course-fee");
        // }
        // else {
        //   $( ".selectpicker li:eq(10)" ).find('a').attr("name", $(".a_1").attr('name'));
        //   $( ".selectpicker li:eq(11)" ).find('a').attr("name", $(".a_2").attr('name'));
        //   $( ".selectpicker li:eq(12)" ).find('a').attr("name", $(".a_3").attr('name'));
        // }
        // $(".se-pre-con").css("display", "none").animate({opacity:1});

        // $(".selectpicker option:selected").each(function(){
        //   selected_options = $(this).val();
        //   myTransaction3.push(selected_options);
        // });        
        // $('#columnName').val(myTransaction3);
        // $(".student_field_checkbox").click(function(){
        //   $this = $(this);
        //   console.log($(this).attr("name"));
        //   setTimeout(function() {
        //     isSelected = $this.closest('li').attr('class');
        //     console.log(isSelected)

        //     if(isSelected == "")
        //       isSelected = "false"
        //     else
        //       isSelected = "true"
            
        //     /*start on page refresh table colums toggle*/
        //     if(isSelected == "true"){
        //       var flag_1 = 0;
        //       console.log(".........0flag.");
        //       $this.each(function(){
        //         if(isSelected == "false")
        //         flag_1 = 1;
        //       console.log("........flag.1.");
        //       })              
        //       if(flag_1 == 0) { isSelected = true; }
        //       if($.inArray($this.attr("name"),myTransaction3)){
        //         myTransaction3.push($this.attr("name"));
        //         console.log("........3.");
        //         console.log(myTransaction3);
        //       }
        //     }else {
        //       if($.inArray($this.attr("name"),myTransaction3) != -1){
        //         myTransaction3.splice($.inArray($this.attr("name"),myTransaction3), 1);
        //       }
        //        isSelected = false;
        //     }
        //   $("#isSelected").val(isSelected);
        //   $('#columnName').val(myTransaction3);
        //   /*on page refresh table colums toggle cod end*/

        //     // $.ajax({
        //     //   url: '/instructor/set-columns',
        //     //   type: 'POST',
        //     //   dataType: 'script',
        //     //   data: { tableName: "group_class", columnName: $this.attr("name"), isSelected: isSelected },
        //     // });
        //   }, 100);
        // });

      //   $('.dropdown-menu').find('.glyphicon-ok').removeClass('glyphicon glyphicon-ok').addClass("fa fa-check"); 
      // }, 1500);
    });
</script>
<style>
.dataTables_filter { display: none;}
</style>
<style>
  .avatar{
    border-radius: 50% !important;
    width: 45px !important;
    height: 45px !important;
  }

  .btnGo {
    margin-left: 5px;
  }
  .startMon {
    float: left;
    margin-right: 5px;
  }
  .columnForm {
    
  }
  .drop-down{
    width: 100px;
  }
   .sample_editable_2{
    width: 100% !important;
  }

  body { 
  font: 300 16px 'Open Sans', Arial, sans-serif;
}

/***
General typography 
***/
h2 {
  font: 200 'Open Sans', sans-serif;
}

  
  /*
  
  .no-js #loader { display: none;  }
  .js #loader { display: block; position: absolute; left: 100px; top: 0; }
   .se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.7;
    background: url(/assets/Preloader_2.gif) center no-repeat #fff;
  } 
 */
</style>
<script type="text/javascript">
  var a = 0;
  $(document).on('click','.updateFee',function(){
    var data_str = $(this).data("str");
    $("#dataStr").val(data_str);
    // $('.sample_editable_2').DataTable( {
    //     responsive: true
    // } );
  });
  $(function () {
    
    $(".font-button").bind("click", function () {
      var size = parseInt($('table').css("font-size"));
      if ($(this).hasClass("plus")) {
          size = size + 2;
      } else {
          size = size - 2;
          if (size <= 10) {
              size = 10;
          }
      }

      $('table').css("font-size", size);
      $('h2').css("font-size", size+9);
      $('table th').css("font-size", size*0.8);

      $.ajax({
        url: '/instructor/save-font-size',
        type: 'GET',
        dataType: 'script',
        data: { size: size },
      });
      
    });

  });

  function set_fees_dropdown(){
    var checkbox = document.getElementById ("fee_check");
    if(checkbox.checked){
      enable_fee();
      disable_mark_attendance();
      disable_view_fee_attendance();
      document.getElementById ("latestLesson").checked =false;
    }
    else
    {
      disable_fee(); 
    }
  }

  function disable_view_fee_attendance(){
    document.getElementById ("view_fee_attendance").checked =false;
    document.getElementById ("view_start_month").disabled=true;
    document.getElementById ("view_end_month").disabled=true;
  }
  function enable_view_fee_attendance(){
    document.getElementById ("view_start_month").disabled=false;
    document.getElementById ("view_end_month").disabled=false;
  }
  function disable_mark_attendance(){
    document.getElementById ("atte_check").checked =false;
    document.getElementById ("start_month_atte").disabled=true;
    document.getElementById ("end_month_atte").disabled=true;
  }
  function enable_mark_attendance(){
    document.getElementById ("start_month_atte").disabled=false;
    document.getElementById ("end_month_atte").disabled=false;
  }
  function disable_fee(){
    document.getElementById ("fee_check").checked =false;
    document.getElementById ("start_month").disabled=true;
    document.getElementById ("end_month").disabled=true;
  }
  function enable_fee(){
    document.getElementById ("start_month").disabled=false;
    document.getElementById ("end_month").disabled=false;
  }

  function set_view_fee_attendance_dropdown(){
    var checkbox = document.getElementById ("view_fee_attendance");
    if(checkbox.checked){
      disable_fee();
      disable_mark_attendance();
      enable_view_fee_attendance();
      document.getElementById ("latestLesson").checked =false;
    }
    else
    {
      disable_view_fee_attendance();
    }
  }

  function set_att_dropdown(){
    var checkbox = document.getElementById ("atte_check");
    if(checkbox.checked){
      disable_fee();
      enable_mark_attendance();
      disable_view_fee_attendance();
      document.getElementById ("latestLesson").checked =false;
    }
    else
    {
      disable_mark_attendance();
    }
  }
  function set_att_fee_dropdown(){
    var checkbox = document.getElementById ("latestLesson");
    if(checkbox.checked){
      disable_fee();
      disable_mark_attendance();
      disable_view_fee_attendance();  
    }
  }

  function height_light_cell(){
    var checkbox = document.getElementById ("highlight_ready");
    if (checkbox != null){
      if(checkbox.checked)
      { 
        document.getElementById ("ready_cell_month").disabled=false; 
      }
      else
      {
        document.getElementById ("ready_cell_month").disabled=true; 
      }
    }
  }


  function height_light_training_cell(){
    var checkbox = document.getElementById ("highlight_training");
    if (checkbox != null){
      if(checkbox.checked)
      { 
        // document.getElementById ("training_cell_month").disabled=false; 
      }
      else
      {
        // document.getElementById ("training_cell_month").disabled=true; 
      }
    }
  }
  
  // $(window).load(function() {
  //   $(".se-pre-con").hide();
  // });

  $(document).ready(function() {

    // var high_checkbox = $('.highlight_ready_chk')

    height_light_cell();
    height_light_training_cell();
    var checkbox = document.getElementById ("fee_check");
    if (checkbox != null){  
      if(checkbox.checked)
      {
        // document.getElementById ("show_amount").disabled=false;   
      }
      else
      {
        // document.getElementById ("show_amount").disabled=true;   
      }
    }
  });
</script>
