<%= form_for([:instructor, student, @fee], :html => {:class=> "form-horizontal", :remote => true} ) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Add Fees</h4>
  </div>
  <%= hidden_field_tag :group_class, params[:group_class] %>
  <div class="modal-body">
    <div class="portlet-body form">
      <div class="form-body">
        <div class="form-group">
          <%= f.label :payment_date, "Date of Payment" %>
          <div class="input-group input-medium date date-picker sdate" data-date-format="dd-mm-yyyy" >
            <%= f.text_field :payment_date, :class => "form-control", :value => @fee.payment_date.strftime('%e %B %Y'), :id=> "payment_date",:readonly => true %>
            <span class="input-group-btn">
            <button class="btn default" type="button" style="height: 34px;"><i class="fa fa-calendar"></i></button>
            </span>
          </div>
        </div>
        <input type="hidden" id="perCourseFeeId"></input>
        <div class="form-group course_deatil">
          <label>Fees for</label>
          <div class="input-group input-large date date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
            <%= f.text_field :course_start, :class => "form-control", :value => @fee.course_start.strftime('%e %B %Y') %>
              <span class="input-group-addon">
              to </span>
              <%= f.text_field :course_end, :class=>"form-control", :value => @fee.course_end.strftime('%e %B %Y') %>
          </div>
        </div>
        <%= f.hidden_field :course_type, :value => "per course" %> 
        <input type="hidden" value="" class="student_id"></input>
        <div class="form-group">
          <%= f.label :amount %>
          <%= f.text_field :amount, :value => @fee.amount, :class=>"form-control"%>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn green" id="save_payment">Save</button>
    <%= link_to "Delete", instructor_instructor_student_fee_path(student, @fee)+"?gpType=percourse&isRemove=true&group_class=#{params[:group_class]}", method: :delete, class: "btn red pull-left", remote: :true %>
  </div>
<% end %>  