<%= form_for([:instructor, student, @fee], :html => {:class=> "form-horizontal", :remote => true} ) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title">Edit Fee</h4>
  </div>
  <%= hidden_field_tag :group_class, params[:group_class] %>
  <div class="modal-body padding-bottom-zero">
    <div class="portlet-body form">
      <div class="form-body padding-bottom-zero">
        <div class="form-group">
          Instructor : <%= @fee.instructor.name %><br/>
          Student : <%= student.student_name %><br/>
          Mode: 
          <% unless @fee.is_fee_paid.blank? %>
            <%= @fee.is_fee_paid.paid_by == "Reddot Visa/Master" ?  'Credit Card' : 'eNets'%>
          <% else %> 
            <%= @fee.payment_mode %>
          <% end %>
          <div class= "fee_month"></div>
        </div>
        <% if !@fee.is_paid_by_credit_card %>
          <div class="form-group">
            <%= f.label :payment_date, "Date of Payment" %>
            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
              <%= f.text_field :payment_date, :class => "form-control", :value => @fee.get_payment_date_paid_any_payment_mode.strftime('%e %B %Y'), :id=> "payment_date",:readonly => true, :style=> "background-color: #eee !important;"%>
              <span class="input-group-btn">
                <button class="btn default" type="button" style="height: 34px;"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>
          <%= f.hidden_field :course_type, :value => "per month" %> 
          <%= f.hidden_field :monthly_detail, :id => "monthly_detail"%>
          <%= hidden_field_tag :show_amount, params[:show_amount] %>
          <input type="hidden" value="" id="dataStr"></input>

          <div class="form-group">
            <%= f.label :amount %>
            <%= f.text_field :amount, :class=>"form-control"%>
          </div>
        <% else %>
          <div class="form-group">
            Date Paid: <%= @fee.get_payment_date_paid_any_payment_mode.strftime('%e %B %Y') if @fee.get_payment_date_paid_any_payment_mode.present? %><br>
            Amount: $<%= @fee.amount %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% if @fee.has_rights?(current_admin_user) %>
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
      <% if !@fee.is_paid_by_credit_card %>
        <%= f.submit "Save" ,:class=>"btn green save_payment" %>
        <%= link_to "Delete", instructor_instructor_student_fee_path(student, @fee)+"?isRemove=true&group_class=#{params[:group_class]}", method: :delete, class: "btn red pull-left", remote: :true %>
      <% else %>
        <%= link_to 'View Transaction',instructor_fee_payment_notification_path(id:@fee.fee_payment_notifications.find_by(status:'Paid').id),class: 'btn green',target: '_blank' %>
      <% end %>
    </div>
  <% else %>
    <div class="text-left" style="color:red;">
    <small>You may not make changes because payment does not belong to you.</small>
    </div>
  <% end %>
<% end %>