<% @cnt = 1 %>
<div class="row">
  <div class="col-md-4">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-comments"></i>Unallocated Student
        </div>
      </div>
      <div class="portlet-body ">
        <div class="dd" >
          <ol class="dd-list simple_with_animation vertical" id="Default" style= "min-height: 10px;">
            <% group_class.instructor_students.where(:group_id => nil).order("position asc").each do |instructor_student| %>
              <%# helper called %>
              <% student_training_award_list(instructor_student) %>
              <li class= "dd-item" id="<%= instructor_student.id %>">
                <div class="dd-handle"><i class="fa fa-bars handle"></i><%= @award_list + " " %><%= instructor_student.student_name %></div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% group_list.order("created_at").each do |group| %>
    <% @cnt = @cnt +1 %>
    <div class="col-md-4" id="groupClass-<%= group.id %>">
      <div class="portlet box blue">
        <div class="portlet-title">
          <div class="caption">
            <!-- <div class="edit_group_name best_in_place" data-activator="#edit_group" >
              <i class="fa fa-comments"></i><%#= best_in_place group, :group_name, :path => "/instructor/groups/:id" %>
            </div> -->
            <i class="fa fa-comments"></i><%= best_in_place group, :group_name, :type => :input, :path => { :controller => 'instructor/groups', :action => 'update', :id => group.id }, :activator => "#editme_#{group.id}"%>
          </div>
          <div class="pull-right">
            <a href="#" class="btn btn-default btn-remove-group edit_group" id="editme_<%= group.id %>"><i class="fa fa-pencil"></i>Edit</a>
            <a data-method="delete" data-remote="true" href="<%= instructor_remove_group_from_group_class_path(group.id) %>" rel="nofollow" class="btn btn-default btn-remove-group delete_button <%= group.instructor_students.count > 0 ? "hide" : "" %>"><i class="fa fa-minus"></i> Delete</a>
          </div>
        </div>
        <div class="portlet-body ">
          <div class="dd" >
            <ol class="dd-list simple_with_animation vertical" id="<%= group.id %>" style= "min-height: 10px;">
              <% group.instructor_students.order("position asc").each do |instructor_student| %>
                <% student_training_award_list(instructor_student) %>
                <li class="dd-item" id="<%= instructor_student.id %>">
                  <div class="dd-handle">
                  <i class="fa fa-bars handle"></i>
                  <%= @award_list + " " + instructor_student.student_name %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
    /* Activating Best In Place */
      
      $(".best_in_place").best_in_place();
    });
    </script>
    <% if @cnt %3 == 0%>
      </div><div class="row">
    <% end %>
  <% end %>
  <div class="col-md-4" id="groupClass">
    <%= form_for [:instructor, Group.new], html: {:class => "form-horizontal"}, :remote => true do |f|  %> 
      <div class="col-md-9">
        <%= f.hidden_field :group_class_id, :value => group_class.id %>
        <%= f.text_field :group_name, :placeholder => "New Group", :class => "form-control", :required => true %>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn blue"><i class="fa fa-plus"></i>Add</button>
      </div>
    <% end %>
  </div>
</div>
<script>
  var item,newList;
  var updatedFromList = [];
  var updatedToList = [];
  var updatedFromId,updatedToId;
  $(document).ready(function () {
    setTimeout(function() {
      $( "ol" ).sortable({
        start: function(event, ui) {
                item = ui.item;
                oldList = ui.item.parent();
                updatedToList = [];
                updatedFromList = [];
                // oldList.find('li').each(function(i,obj){
                //   if( $(this).attr('id') )
                //     updatedFromList.push($(this).attr('id'));
                // });
            },
        stop: function(event, ui) {
            newList = ui.item.parent();
            updatedFromId = oldList.attr('id'); 
             oldList.find('li').each(function(i,obj){
                  if( $(this).attr('id') )
                    updatedFromList.push($(this).attr('id'));
              });         
            updatedToId = newList.attr('id');          
            newList.find('li').each(function(i,obj){
              updatedToList.push($(this).attr('id'));
            });
            $.post("/instructor/sort",
                  { fromId : updatedFromId,
                    fromList : updatedFromList,
                    toId : updatedToId,
                    toList : updatedToList
                  }, function(data, status){
                    
                  });
        },
        change: function(event,ui) {  
            if(ui.sender) newList = ui.placeholder.parent();
        },
        connectWith: ".simple_with_animation",
        dropOnEmpty: true,
        receive: function(e, ui){
          // $(this).push(ui.item);
          $(this).parents('.portlet').find('.delete_button').addClass("hide");
          var senderId = $(ui.sender).attr("id");
          var count = $('#'+senderId).parents('.portlet').find('ol > li').length;
          if(count == 0)
            $('#'+senderId).parents('.portlet').find('.delete_button').removeClass("hide");
        }
      }).disableSelection();
    },200);
  });
</script>

<style type="text/css">
    
    .btn-remove-group {
      background-color: transparent;
      border-color: #fff;
      color: #fff;
      padding: 0 8px;
    }
    .best_in_place input{
     color: black;
    }


</style>