<div class="table-responsive">
	<table class="table table-hover" style="border: 1px solid #ddd;">
		<thead>
		
		</thead>
		<tbody >
			<% @cntt = 1 %>
			<% @mearge_student_details_and_students_awards.reverse.first(10).each do |st| %>
				<tr>
					<td><%= @cntt %><% @cntt += 1 %></td>
					<td>
            <% if st.class.to_s == "InstructorStudent" %>  
              Student <strong> <%= st.student_name %></strong> has just updated profile.
            <% else %>
            	Student <strong> <%= st.instructor_student.student_name %></strong> has registered for <%= st.award.name %> test.
            <% end %>
            <div style= "float: right"><small><%= st.updated_at.strftime("%d %b %Y, %l:%M %P")%></small></div>
          </td>
		    </tr>
	    <% end%>
		</tbody>
	</table>
</div>