<% if @transfer.transfer_status == "Rejected" %>
	<div class="alert alert-danger">
		Transfer was already cancelled.
	</div>
<% else %>
	<%= form_tag instructor_transfer_student_in_path, id: "selectGrpCls" do |f| %>
		<div class="modal-body">
	    <input name="transfer" type="hidden" value="<%= @transfer.id %>" id="transferId">
	    <input name="group_class_ids[]" type="hidden">
	    <select id="select2_sample2" class="form-control select2" multiple name="group_class_ids[]" required="true">
	      <%= @day_array = [{"Monday" => 1}, {"Tuesday" =>2}, {"Wednesday" => 3}, {"Thursday" => 4}, {"Friday" => 5}, {"Saturday" => 6}, {"Sunday" => 0}] %>
	      <%= @dayArr = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"] %>
	      <% @day_array.each do |day|%>
	        <% if day_list.include? day.first[1] %>
	          <optgroup label="<%= day.first[0]%>">
	            <% @group_classes.where(:day => day.first[1]).order(:time).each do |group_class|%>
	              <option value="<%= group_class.id %>">
	                <%= @dayArr[group_class.day].to_s + ' ' + group_class.time.strftime("%I:%M %p").to_s + " - "+group_class.venue.name.sub('Swimming Complex', 'SC') if !group_class.time.blank? %>
	              </option>
	            <% end %>
	          </optgroup>
	        <% end %>
	      <% end %>
	    </select>
		</div>
	  <div class="modal-footer">
	    <button type="button" class="btn default" data-dismiss="modal">Close</button>
	    <button type="submit" class="btn blue">Transfer</button>
	  </div>
	<% end %>
<% end %>
	