<div class="table-responsive">
	<table class="table table-hover">
		<thead>
		<tr>
			<th>
				 #
			</th>
			<th>
				 Name
			</th>
			<th>
				 Reason/Note
			</th>
			<th>
				Action
			</th>
		</tr>
		</thead>
		<tbody>
			<% @transfer_in.each_with_index do |transfer, index| %>
				<% if !transfer.instructor_student.blank? %>
					<tr>
						<td>
							<%= index += 1 %>
						</td>
						<td>
							<% if transfer.transfer_status == "Transferring" %>
								<% student = InstructorStudent.find(transfer.instructor_student_id) %>
								<%= link_to transfer.instructor_student.student_name, student_public_link_path(student.secret_token) %>
							<% else %>
								<%= link_to transfer.instructor_student.student_name, instructor_instructor_student_path(transfer.instructor_student_id) unless !transfer.new_student_id.blank? %>
								<%= link_to transfer.instructor_student.student_name, instructor_instructor_student_path(transfer.new_student_id) unless transfer.new_student_id.blank? %>
							<% end %>
						</td>
						<td>
							<%= transfer.reason %>
						</td>
						<td colspan="2">
							<% if transfer.transfer_status == "Transferring" %>
								<a href="<%= instructor_transfer_modal_path(transfer) %>" class="transferStudent" data-remote="true" data-transfer="<%= transfer.id %>">
									<span class="label label-sm label-success">
										Transfer
									</span>
								</a>
								<!-- <a data-toggle="modal" href="#transfer" class="transferStudent" data-transfer="<%#= transfer.id %>">
									<span class="label label-sm label-success">
										Transfer
									</span>
								</a> -->
								<a href="<%= instructor_reject_transfer_student_path(transfer) %>">
									<span class="label label-sm label-danger" style="margin-left: 5px;">
										Reject
									</span>
								</a>
							<% else %>
								<%= transfer.transfer_status %>
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>

<div class="modal fade in" id="transfer" tabindex="-1" role="basic" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"></h4>
      </div>
    	<div class="modal-body">
    	</div>
    </div>
  </div>
</div>
<script type="text/javascript">
	$(".transferStudent").click(function(event) {
		var transfer = $(this).data("transfer");
		$("#transferId").val(transfer);
	});
</script>