<div class="main">
  <div class="container">
    <% student_count = current_admin_user.instructor_students.where(is_update: true).count %>
    <%  if student_count > 0 && current_admin_user.google_synch_email? %>
      <!-- redirect_to instructor_update_student_contacts_path -->
      <div class="row" style="color: #E02222;">
        <div class="col-xs-5" style="width: 36% !important; padding-right: 0px;">
          There are <%= student_count %> contacts to update on google contacts.
        </div>
        <div class="col-xs-2" style="padding: 0px !important; margin-top: -2px !important;">
          <%= button_to 'Update Now', instructor_update_student_contacts_path, class: "btn-link pull-left", method: :get, data: { disable_with: 'Updating..'} %>
        </div>
        <div class="pull-right">
          <%= link_to 'Transactions',instructor_fee_payment_notifications_path %>|
          <%= link_to 'Award Test Transactions',instructor_award_test_payment_notifications_path %>
        </div>
      </div>
    <% else %>
      <div class="row" style="color: #E02222;">
        <div class="col-xs-12" class: 'pull-right'>
          <%= link_to 'Transactions',instructor_fee_payment_notifications_path %>|
          <%= link_to 'Award Test Transactions',instructor_award_test_payment_notifications_path %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <%# if notice %>
        <!-- <div class="note note-success">
          <p>
            <%#= flash[:notice] %>
          </p>
        </div> -->
      <%# end %>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
          <div class="visual">
            <i class="fa fa-comments"></i>
          </div>
          <div class="details">
            <div class="number">
              <%= !@active_student_ids.blank? ? @active_student_count : 0 %>
            </div>
            <div class="desc">
              Total Students
            </div>
          </div>
          <!-- <a class="more" href="#">
            View more
            <i class="m-icon-swapright m-icon-white"></i>
          </a> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
          <div class="visual">
            <i class="fa fa-bar-chart-o"></i>
          </div>
          <div class="details">
            <div class="number">
              $<%= @count_permonth_fee.nil? ? 0 : @count_permonth_fee %>
            </div>
            <div class="desc">
              <%= Date.today.strftime("%B") %> Fees
            </div>
          </div>
          <!-- <a class="more" href="#">
            View more
            <i class="m-icon-swapright m-icon-white"></i>
          </a> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
          <div class="visual">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="details">
            <div class="number">
              <%= @student_count %>
            </div>
            <div class="desc">
              Students Referred
            </div>
          </div>
          <!-- <a class="more" href="#">
            View more
            <i class="m-icon-swapright m-icon-white"></i>
          </a> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
          <div class="visual">
            <i class="fa fa-globe"></i>
          </div>
          <div class="details">
            <div class="number">
              <%= @total_passed_student.nil? ? 0 : @total_passed_student %>
            </div>
            <div class="desc">
              Passed Awards
            </div>
          </div>
          <!-- <a href="#" class="more">
            View more
            <i class="m-icon-swapright m-icon-white"></i>
          </a> -->
        </div>
      </div>
    </div>
    
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <div class="row">
      <% if admin_user_signed_in? %>
        <div class="col-md-6 col-sm-6">
          <div class="portlet box yellow">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-gift"></i>Student Transfers
              </div>
              <div class="tools">
                <a href="javascript:;" class="collapse">
                </a>
                <a href="#portlet-config" data-toggle="modal" class="config">
                </a>
              </div>
            </div>
            <div class="portlet-body">
              <div class="tabbable-custom ">
                <ul class="nav nav-tabs ">
                  <li class="active">
                    <a href="#tab_5_1" data-toggle="tab">
                      Transfer In
                    </a>
                  </li>
                  <li>
                    <a href="#tab_5_2" data-toggle="tab">
                      Transfer Out
                    </a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_5_1">
                    <%= render 'transfer_in' %>
                  </div>
                  <div class="tab-pane" id="tab_5_2">
                    <p>
                      <%= render 'transfer_out' %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-md-6 col-sm-6">
        <div class="portlet solid">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-bar-chart-o"></i>Fee Graph
            </div>
          </div>
          <div>
            <div id="site_statistics_loading" style="display: none;">
              <!-- <img src="../../assets/admin/layout/img/loading.gif" alt="loading"> -->
            </div>
            <%#= Fee.where(:course_type.downcase => 'per month').group("DATE_TRUNC('month', monthly_detail)").sum(:amount) %>
            <% startMonth = Date.today.at_end_of_month %>
            <% diffMonth = startMonth - 5.months %>
            <% endMonth = diffMonth.beginning_of_month %>
            <% startMonth = startMonth + 2.months  %>

            <%#@fee = current_admin_user.fees.where(payment_status: "Paid").where("lower(course_type) LIKE ? AND monthly_detail >= ? AND monthly_detail <= ?", 'per month', endMonth, startMonth).group("DATE_TRUNC('month', monthly_detail)").sum(:amount) unless !admin_user_signed_in? %>
            <%@paid_fees=[]%>
            <% current_admin_fee =  current_admin_user.fees %>
            <%current_admin_fee.each do |fee|%>
              <%if fee.is_paid_include_past %>
                <% @paid_fees << fee.id %>
              <%end %>
            <%end %>
            <%@fee = current_admin_fee.where("id IN (?)", @paid_fees).where("lower(course_type) LIKE ? AND monthly_detail >= ? AND monthly_detail <= ?", 'per month', endMonth, startMonth).group("DATE_TRUNC('month', monthly_detail)").sum(:amount) unless !admin_user_signed_in? %>
      

            <%#= area_chart Fee.where("lower(course_type) LIKE ? AND monthly_detail >= ? AND monthly_detail <= ?", 'per month', (Date.today - 5.months), Date.today).group("DATE_TRUNC('month', monthly_detail)").sum(:amount) %>
            <% if admin_user_signed_in? %>
              <%= area_chart @fee %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <% if admin_user_signed_in? %>
        <div class="col-md-6 col-sm-6">
          <div class="portlet box yellow">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-gift"></i>Notifications
              </div>
            </div>
            <div class="portlet-body">
              <%= render 'student_details' %>
            </div>
          </div>
        </div>
      <%end%>
     <!--  <div class="col-md-6 col-sm-6">
        <div class="portlet box yellow">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift"></i>Student
            </div>
          </div>
          <div class="portlet-body">
            <div class="table-responsive">
              <table class="table table-hover" style="border: 1px solid #ddd;">
                <thead>                  
                </thead>
                <tbody >
                  <tr>
                    <td>
                      <a href="<%#= instructor_instructor_students_path(:fee_month => (Date.today - 1.month).at_beginning_of_month.strftime) %>">
                      <%#= @students_not_paid_prev_month %> Students </a>have not paid for <b><%#= (Date.today - 1.month).strftime("%B") %> </b> 
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="<%#= instructor_instructor_students_path(:fee_month => Date.today.at_beginning_of_month.strftime) %>">
                      <%#= @students_not_paid_curr_month %> Students </a>have not paid for <b><%#= Date.today.strftime("%B") %> </b>  
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="<%#= instructor_instructor_students_path(:fee_month => (Date.today + 1.month).at_beginning_of_month.strftime) %>">
                      <%#= @students_not_paid_next_month %> Students </a>have not paid for <b><%#= (Date.today + 1.month).strftime("%B") %> </b>  
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
 -->

      <!-- updated  -->
      <div class="col-md-6 col-sm-6">
        <% if admin_user_signed_in? %>
          <div class="portlet box yellow">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-gift"></i>Awards
              </div>
            </div>
            <div class="portlet-body">
              <div class="table-responsive">
                <table class="table table-hover" style="border: 1px solid #ddd;">
                  <thead>                  
                  </thead>
                  <tbody >
                    <tr>  
                      <td><a href="<%= instructor_award_tests_path %>"><%=@ready_student_award_count %> students</a> ready for test</td>
                    </tr>
                    <%@new_count.each do |a| %>
                        <tr>
                          <td>
                          <% if a[1] != 0 %>
                            <a href="<%= instructor_instructor_students_path(:award_count => a[0]) %>">
                              <%=a[1] %> Students </a> achieved <%=Award.find(a[0]).name %>
                            </a>
                          <% else %>
                              No Students achieved <%=Award.find(a[0]).name %>    
                          <% end %>
                          </td>
                        </tr>
                      <%end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<style>
  .btn-link{
    color: #E02222;
  }
  .btn-link:hover {
    color: #E02222;
  }
</style>
