<div class="main">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/instructor">Home</a></li>
      
      <li><a href="#">Award Test</a></li>
      <li class="active">Registration</li>
    </ul>
    <div class="row margin-bottom-40">
      <div class="col-sm-12">
        <h1>Award Test Registration</h1>
        <div class="content-page">
          <div class="row">
            <div class="col-sm-12">
              <h3><%= @instructor_student.student_name %><h3>
            </div>
          </div>
          <div class="row">
            <!-- qryStr : is added for to identify when test registration page called so easly can identify that where to redirect and it will append qry string -->
            <% qryStr = "" %>
            <% if params[:instructorStudent] %>
              <% qryStr = "?instructorStudent=true" %>
            <% elsif params[:gpc] %>
              <% qryStr = "?gpc="+params[:gpc] %>
            <% end %>

            <%= form_tag instructor_home_get_registered_for_test_path+qryStr, :class => "form-horizontal form-row-stripped col-xs-12" do %>
              <div class="form-body">
                <div class="form-group">
                  <div class="col-xs-12">
                    <div class="radio-list">
                      <input type="hidden" name="inst_student_id" value="<%= params[:id] %>"></input>
                      <input type="hidden" name="award_id" value="<%= params[:award_id] %>"></input>
                      <input type="hidden" name="group_class_id" value="<%= params[:gp_id] %>"></input>
                      <% cnt = 0 %>
                      <% @award_tests.each do |award_test| %>
                        <% if !award_test.cut_off_date.blank? %>
                          <% @remaining_days = (award_test.cut_off_date - Date.today()).to_i %>
                        <% end %>
                        <% if !@remaining_days.blank? %>


                          <% @instructor_student_awards = InstructorStudentAward.where(:award_id => award_test.award_id, :award_test_id => award_test.id ) %>
                          <% @instructor_student_awards.each do |ins| %>
                            <% cnt = cnt + 1 %>
                          <% end %>
                          <% total_vacancy = award_test.total_slot %>
                          <% if !award_test.total_slot.blank? %>
                            <% if cnt > 0 %>
                              <% total_vacancy = award_test.total_slot - cnt %>
                            <% end %>
                          <% end %>


                          <% if @remaining_days > 0 && total_vacancy > 0 %>
                            <% cnt = 0 %> 
                            <% if Venue.exists?(award_test.venue_id) %>
                              <% @venue = Venue.find_by_id(award_test.venue_id) %>
                            <% end %> 
                            <label class="margin-bottom-20">
                              <div class="radio">
                                <span>
                                  <%= radio_button_tag :award_test_id, award_test.id %>
                                </span> <%= @award.name %> <br><%= @venue.name %><br>
                                <%= award_test.test_date.strftime("%e %B %Y") %>
                                <br />
                                <%= award_test.test_time.strftime("%I:%M %p") %>
                                <%# if @group_class.time? %>
                                  <%#= @group_class.time.strftime("%I:%M %p").to_s + " - " + (@group_class.time + @group_class.duration*60).strftime("%I:%M %p").to_s %> 
                                <%# end %>
                                <br>
                                <%= total_vacancy %> Vacancy left<br/>
                                <% if @remaining_days == 1 %>
                                  <%= @remaining_days %> day left for booking.
                                <% else %>
                                  <%= @remaining_days %> days left for booking.
                                <% end %>
                              </div>
                            </label>
                          <% end %>                        
                        <% end %>                  
                      <% end %>
                    </div> 
                    <div class="form-actions pull-left" >
                      <%= submit_tag "Register" ,:class=>"btn green" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>