<% @award_progress = ["achieved"] %>
<%= title "Instructor" %>
<% if !admin_user_signed_in? %>
  <%= render "instructor/shared/login" %>
<% else %>
  <input type="hidden" value="<%= params[:id] %>" id="groupClassId" name="groupClassId"></input>
  <div class="main">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/instructor">Home</a></li>
        <li><a href="/instructor/group-class">Group Classes</a></li>
        <li class="active">
          <%= @day_array[@group_class.day] +' '+ @group_class.time.strftime("%I:%M %p").to_s + " - " + (@group_class.time + @group_class.duration*60).strftime("%I:%M %p").to_s %>
        </li>
      </ul>
      <div id="navbar-example2" class="navbar navbar-default navbar-static" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
          <span class="sr-only">
          Toggle navigation </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          </button>
          <a class="navbar-brand" href="javascript:;">
            <% if @group_class.time.present? %>
              <%= @day_array[@group_class.day] +' '+ @group_class.time.strftime("%I:%M %p").to_s + " - " + (@group_class.time + @group_class.duration*60).strftime("%I:%M %p").to_s %>
            <% else %>
              <%= @day_array[@group_class.day] %>
            <% end %>
          </a>
        </div>
        <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
          <ul class="nav navbar-nav">
            <li class="classView">
              <a href="#fee-view" data-toggle="tab">
                Fee View
              </a>
            </li>
            <li class="">
              <a href="<%= instructor_sort_student_path(@group_class) %>">
                Sort Students
              </a>
            </li>
            <li class="">
              <a href="#edit_class" data-toggle="tab">
                Edit Class
              </a>
            </li>
            <li>
              <a href="#bulk_upload" data-toggle="tab">Bulk Add</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="btn hidden-print" onclick="javascript:window.print();">
                <i class="fa fa-print"></i> Print
              </a>

            </li>
            <li>
              <% if current_admin_user.is_account_activated? %>
                <a href="javascript:;" class="pull-left" id="smsSend"><i class="fa fa-envelope"></i> SMS</a>
              <% else %>
                <a class="pull-left" disabled><i class="fa fa-envelope"></i> SMS</a>
              <% end %>
              <!-- <a href="javascript:;" class="pull-left" id="sample_editable_2_new"><i class="fa fa-plus"></i> Student</a> -->
            </li>
          </ul>
        </div>
      </div>
      <% if current_admin_user.is_account_activated? %>
        <div class="row newSmsSend">
          <div class="col-sm-12">
            <div class="col-sm-6 note note-info">
              <h4 class="block">Sending messages to students</h4>
              <p>
                Step 1: Use the checkbox to select the many students <br />
                Step 2: Type your message <br />
                Step 3: Click Send
              </p>
            </div>
            <%= form_tag (instructor_group_message_path + "?isReqXhr=true"), remote: true, class: "sendMessages"  do %>
              <input type="hidden" id="send_message" name="stundent_ids"/>
              <input type="hidden" name="group_class" value="<%= @group_class.id %>"/>
              <div class="col-sm-6">
                <label>Message to student</label>
                <%= text_area_tag(:text_msg, nil,{:class => "form-control", :rows => 5, :cols => 20}) %>
                <div>
                <span style="float: left; margin-top: 10px; display: none; color: #E02222;" id="error_msg">You need to select at least 1 student to send your message.</span>
                <span style="float: left; margin-top: 10px; display: none;" id="successMsg"></span>
                <div class="text-right margin-top-10" style="float: right;">
                  <%= submit_tag "Send", {:class => "btn red", :id => "send_msg"} %>
                </div>
                </div>
              </div>  
            <% end %>
          </div>
        </div>
      <% end %>
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example" style="height: 100%; overflow: hidden;">
        <div class="tab-content" style="border:0px; background: #fff; padding-left: 0px;">
          <div class="tab-pane active" id="fee-view">
            <%= render "/instructor/home/fee_view" %>
          </div>
          <div class="tab-pane" id="active_students">
            <%= render "group_list" %>
            <%#= render "/instructor/instructor_students/active_students" %>
          </div>
          <div class="tab-pane" id="edit_class">
            <%= render "/instructor/home/edit_group_class_nav_bar" %>
          </div>
          <div class="tab-pane" id="bulk_upload">
            <%= render "bulk_upload" %>
          </div>
        </div>
      </div>

      <div class="row margin-bottom-20">
        <%#= render :partial => "ac_side_bar" %>
        <div class="col-sm-12">
          <!-- <h3> -->
            <%# if @group_class.time.present? %>
              <%#= @day_array[@group_class.day] +' '+ @group_class.time.strftime("%I:%M %p").to_s + " - " + (@group_class.time + @group_class.duration*60).strftime("%I:%M %p").to_s %>
            <%# else %>
              <%#= @day_array[@group_class.day] %>
            <%# end %>
            <!-- <small><a href="<%#= edit_instructor_home_path(@group_class.id) %>" class="btn"> Edit Class</a></small> -->
          <!-- </h3> -->
                      
                      <!-- _fee_view file content places here -->

        </div>
      </div>
    </div>   
  </div>
<% end %>
<script type="text/javascript">
  jQuery(document).ready(function() {       
    Metronic.init();
    instructorStudentTableEditable.init();
  });
  $(document).ready(function() {
    $("#smsSend").click(function() {
      $(".newSmsSend").slideToggle("500");
    });
  });
  $('form.sendMessages').on('ajax:beforeSend', function(xhr, settings) {
    $("#send_msg").val("Sending..").prop('disabled', true);
  });
</script>
<link rel="stylesheet" type="text/css" href="/assets/global/plugins/index_page_css/components.css" media="print">
<link rel="stylesheet" type="text/css" href="/assets/twitter-bootstrap-static/bootstrap.css" media="print">
<link rel="stylesheet" type="text/css" href="/assets/global/plugins/index_page_css/style.css" media="print">
<style type="text/css">
  @media print {
    body {
      background-color: #fff !important;
    }
    .breadcrumb{
      display: none;
    }
    a[href]:after {
      content: none !important;
    }
    .add_s{
      display: none;
    }
    .hidden-xs{
      display: block !important;
    }
    .nav{
      display: none;
    }
    .header {
      display: none;
    }
    .pre-header{
      display: none;
    }
    .sidebar {
      display: none;
    }

    .theme-panel {
      display: none;
    }

    .hidden-print {
      display: none;
    }
    .newSmsSend{
     display: none; 
    }

    .page-footer {
      display: none;
    }

    .no-page-break {
      page-break-after: avoid;
    }

    .page-container {
      margin: 0px !important;
      padding: 0px !important;
    }

    .page-content {
      min-height: 300px !important;
      padding: 0px 20px 20px !important;
      margin: 0 !important;
    }
    .footer{
      display: none;
    }
    .column-selector{
     display: none; 
    }
   
  }
</style>
<style type="text/css">
  .cust-err {
    float: left;
    font-size: 12px;
  }
  .dropdown-menu .open {
    
  }

</style>
