<script src="/assets/jquery.classyloader.js"></script>

<% if !admin_user_signed_in? %>
  <%= render "instructor/shared/login" %>
<% else %>
  <div class="main" style="display:none;">
    <div class="container">
      <div class="col-md-offset-3">
        <a href="javascript:;" class="font-button minus pull-right"> A- </a>
        <a href="javascript:;" class="font-button plus pull-right"> A+ </a>
      </div>
      <ul class="breadcrumb">
        <li><a href="/instructor">Home</a></li>
        <% if params[:award_id].present? %>
          <li><a href="/instructor/award_tests">Award Tests</a></li>
        <% else %>
          <li><a href="/instructor/group-class">Group Classes</a></li>
         <% end %>
        <li class="active">Students</li>
      </ul>


      <div id="navbar-example2" class="navbar navbar-default navbar-static" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
          <span class="sr-only">
          Toggle navigation </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          <span class="icon-bar">
          </span>
          </button>
          <a class="navbar-brand" href="javascript:;">
            Class Menu
          </a>
        </div>
        <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#fee-view" data-toggle="tab">
                Fee View
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right border-t-xs" style="float: left;">
            <li class="">
              <a href="javascript:;" class="btn hidden-print" onclick="javascript:window.print();" style="float:left">
                <i class="fa fa-print" style="float:left"></i> Print
              </a>
            </li>
            <li>
              <a href="javascript:;" class="btn" id="viewManage" style="clear:both;float:left">
                 Manage View
              </a>
            </li>
            <li>
              <a href="javascript:;" class="btn" id="invoice" style="clear:both;float:left">
                 Invoice
              </a>
            </li>
            <li>
              <% if current_admin_user.is_account_activated? %>
                <a href="javascript:;" class="pull-left" id="smsSend" style="clear:both;"><i class="fa fa-envelope"></i> SMS</a>
              <% else %>
                <a href="<%= instructor_check_for_message_telerivet_sms_settings_path %>" class="pull-left" data-remote="true" style="clear:both;"><i class="fa fa-envelope"></i> SMS</a>
              <% end %>
              <!-- <a href="javascript:;" class="pull-left" id="sample_editable_2_new"><i class="fa fa-plus"></i> Student</a> -->
            </li>
          </ul>
        </div>
      </div>

      <% if current_admin_user.is_account_activated? %>
        <div class="row newSmsSend">
          <div class="col-sm-12">
            <div class="col-sm-5 note note-info">
              <h4 class="block">Sending messages to students</h4>
              <p>
                Step 1: Use the checkbox to select the many students <br />
                Step 2: Type your message <br />
                Step 3: Click Send
                <h4 class="block" style="text-align: left;" > 
                  <p>
                    Add <strong>&lt;student_name&gt;</strong> to send Student name in SMS.<br/>
                    Add <strong>&lt;student_link&gt;</strong> to send Student Link in SMS.
                  </p>
                </h4>
              </p>
            </div>

            <%= form_tag (instructor_send_msg_preview_path + "?isReqXhr=true"), remote: true, class: "sendMessages"  do %>
              <input type="hidden" id="send_message" name="stundent_ids"/>
              <input type="hidden" name="group_class" value="<%#= @group_class.id %>"/>
              <div class="col-sm-5">
                <label>Message to student</label>
                <textarea class="form-control" cols="20" id="text_msg" name="text_msg" rows="5" onkeyup="textAreaAdjust(this)" style="overflow:hidden"></textarea>
                <%#= text_area_tag(:text_msg, nil,{:class => "form-control", :rows => 5, :cols => 20})%>
                <div>
                <span style="float: left; margin-top: 10px; display: none; color: #E02222;" id="error_msg">You need to select at least 1 student to send your message.</span>
                <span style="float: left; margin-top: 10px; display: none;" id="successMsg"></span>
                <div class="text-right margin-top-10" style="float: right;">
                  <%= submit_tag "Preview & Send", {:class => "btn red", :id => "send_msg"} %>
                </div>
                </div>
              </div>
            <% end %>

         
          </div>
        </div>
      <% end %>

      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example" style="height: 100%; overflow: hidden;">
        <div class="tab-content" style="border:0px; background: #fff; padding-left: 0px;">
          <div class="tab-pane active" id="fee-view">
            <%= render "/instructor/home/unpaid_student_view" %>
          </div>
        </div>
      </div>

    </div>
  </div>
<%end %>
<div class="modal fade inst_student" tabindex="-1">
  <%= render :partial => "instructor/shared/loading_modal" %>
</div>

<script type="text/javascript">
  function textAreaAdjust(o) {
    o.style.height = "1px";
    o.style.height = (25+o.scrollHeight)+"px";
  }
  jQuery(document).ready(function() { 
    Metronic.init();
    instructorStudentTableEditable.init();
    $('.best_in_place').best_in_place();
    $('.best_in_place').bind("ajax:success", function () { console.log(data); });
    
    $(document).on('click','.award_training',function(){
      $('.add_award_form').hide();
      if (($(this).children('span')).is(':visible')){
        $(this).children('span').hide();
      }
      else{
        $('.award_ready').css('color','#3e4d5c');
        $('.award_training').css('color','#3e4d5c');
        $('.award_ready span').hide();
        $('.award_training span').hide();
        $(this).children('span').show();
        $(this).css('color', 'red');
      }
    });

    // if invoice selected and try to submit without entering due date gives error
    $(document).on('click','.save_payment',function(event){
      if($('.chk_due_payment').is(":checked")){
        length = $.trim($('#fee_due_date').val()).length
          console.log($(this).find('#fee_due_date'));
        if($('#fee_due_date').val() == '' || length == 0) {
          $('#fee_due_date').css('border-color', 'red');
          $('#lbl-due-date').css('color', 'red');
          return false;
        }
      }
    });
    // if try to set bulk_invoice and try to click next without entering due date gives error
    $(document).on('click','.bulk_invoice_next',function(event){
        length = $.trim($('#due_date').val()).length
        if($('#due_date').val() == '' || length == 0) {
          $('#due_date').css('border-color', 'red');
          $('#lbl-due-date').css('color', 'red');
          return false;
        }
    });

    // on +fee or +due click opens modal with loadin image.
    $(document).on('click', '.load-modal', function(event) {
      event.preventDefault();
      $modal = $('.inst_student'),
      $modal.modal();
    }); 

    $(document).on('click','.remove_award_training',function(){
      award_id = $(this).attr('id');
      $.ajax({
         url: '/instructor/remove_instructor_student_award',
         dataType: 'script',
         data: {id: $(this).attr('id')},
       })
    });

    $(document).on('click','.award_ready',function(){
      $('.add_award_form').hide();
      if (($(this).children('span')).is(':visible')){
        $(this).children('span').hide();
      }
      else{
        $('.award_ready').css('color','#3e4d5c');
        $('.award_training').css('color','#3e4d5c');
        $('.award_ready span').hide();
        $('.award_training span').hide();
        $(this).children('span').show();
        $(this).css('color', 'red');
      }
    });

    $(document).on('click','.remove_award_ready',function(){
      award_id = $(this).attr('id');
      $.ajax({
         url: '/instructor/remove_instructor_student_award',
         dataType: 'script',
         data: {id: $(this).attr('id')},
       })
    });

    // $('.add_award_ready').parent().parent().click(function(){
    //   student_id = $(this).find('.add_award_ready').attr('id');
    //   console.log('clicked on add_awrd_ready using parent');
    //   if ($('#add_award_form_' + student_id).is(':visible')) {
    //     $('#add_award_form_' + student_id).hide();
    //   }
    //   else
    //   {
    //     $('.add_award_form').hide();
    //     $('#add_award_form_' + student_id).show();
    //   }
    // });

    $(document).on('click', '.group_print', function() {
      
        console.log($(this)[0].checked);
        if ($(this)[0].checked==true)
        {
          console.log("in if");
          console.log($(this)[0].id);
          $("div #"+$(this)[0].id).addClass('page-break-before');
        }
        else
        {
          $("div #"+$(this)[0].id).removeClass('page-break-before');
        }
    });

    $(document).on('click','.add_award_ready',function(){
      student_id = $(this).attr('id');
      $('.award_ready').css('color','#3e4d5c');
      $('.award_training').css('color','#3e4d5c');
      $('.award_ready span').hide();
      $('.award_training span').hide();
      if ($('#add_award_form_' + student_id).is(':visible')) {
        $('#add_award_form_' + student_id).hide();
      }
      else
      {
        $('.add_award_form').hide();
        $('#add_award_form_' + student_id).show();
        setTimeout(function(){
          var element = $('#add_award_form_' + student_id + ' select')[0], worked = false;
          if (document.createEvent) {
            var e = document.createEvent("MouseEvents");
            e.initMouseEvent("mousedown", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            worked = element.dispatchEvent(e);
            } 
        },10);
      }
    });

    $(function() {
      $(document).on('change', '#instructor_student_award_id', function() {
         $.ajax({
           url: '/instructor/update_instructor_student_award',
           dataType: 'script',
           data: {id: this.options[this.selectedIndex].value, status: 'ready_for',student_id: student_id},
         })
         // .done(function() {
         //   console.log("success");
         // })
         // .fail(function() {
         //   console.log("error");
         // })
         // .always(function() {
         //   console.log("complete");
         // });
         
      });
    });
    $(document).on('click','.add_award_training',function(){
      student_id = $(this).attr('id');
         // $('#cmb_training_for_award').attr('size', 3);
      $('.award_ready').css('color','#3e4d5c');
      $('.award_training').css('color','#3e4d5c');
      $('.award_ready span').hide();
      $('.award_training span').hide();
      if ($('#add_award_training_form_' + student_id).is(':visible')) {
        $('#add_award_training_form_' + student_id).hide();
      }
      else
      {
        $('.add_award_form').hide();
        $('#add_award_training_form_' + student_id).show();
        // console.log("in the else");
        setTimeout(function(){
          var element = $('#add_award_training_form_' + student_id + ' select')[0], worked = false;
          // element.select2('open');
          if (document.createEvent) {
              var e = document.createEvent("MouseEvents");
              e.initMouseEvent("mousedown", false, false, window, -1, -1, -1, -1, 0, false, false, false, false, 0, null);
              worked = element.dispatchEvent(e);
          }
        },10);
      }
    });
    $(function() {
      $(document).on('change', '#cmb_training_for_award', function() {
        $.ajax({
          url: '/instructor/update_instructor_student_award',
          dataType: 'script',
          data: {id: this.options[this.selectedIndex].value, status: 'training_for',student_id: student_id},
        })
      });
    });
    
  });
  $(document).ready(function() {
    
    // $('.main').show();
    $('.date-picker1').datepicker({
      format: 'MM yyyy',
      startView: 1,
      minViewMode: 1
    });
    // $('.date-picker1').daterangepicker({

            
    //   minViewMode: 1
        
    // });
    // $('#view_end_month').change(function(event) {
    //   validateDateRange($('#view_start_month').val(),$('#view_end_month').val());
    // });
    // $('#view_start_month').change(function(event) {
    //   validateDateRange($('#view_start_month').val(),$('#view_end_month').val());
    // });
    function validateDateRange(start,end){
      start_date = '1 ' + start;
      start_date = new Date(start_date.replace(' ', ','));
      end_date = '1 ' + end;
      end_date = new Date(end_date.replace(' ', ','));
      if (start_date > end_date){
        return false;
      }
      else{
        return true;
      }
    }
    $('.setDates').submit(function(event) {
      // var error1 = false;
      error1 = validateDateRange($('#view_start_month').val(),$('#view_end_month').val());
      error2 = validateDateRange($('#start_month_atte').val(),$('#end_month_atte').val());
      error3 = validateDateRange($('#start_month').val(),$('#end_month').val());
      if(error1 && error2 && error3){
        return true;
      }
      else{
        alert('Please select proper date-range.');
        return false;
      }
    });

    $("#smsSend").click(function() {
      $(".newSmsSend").slideToggle("500");
    });
    $('#viewManage').click(function(){
      $('.viewManage').slideToggle("500")
    });
    $('#invoice').click(function(){
      if ($('#send_message').val().length == 0 ){
        alert('Please select atlest 1 student');
      }
      else{
        $.ajax({
          url: '/instructor/bulk_invoice_month_selection',
          dataType: 'script',
          data: {student_ids: $('#send_message').val(),group_class: <%= @group_class.id %>},
        })
      }
    });
    $(document).click(function(event) {
      if (!$(event.target).is("i.fa.fa-plus") && !$(event.target).is("select#instructor_student_award_id") && !$(event.target).is("select#cmb_training_for_award") && !$(event.target).is(".award_ready") && !$(event.target).is(".award_training")) {
        $('.add_award_form').hide();
        $('.award_ready').css('color','#3e4d5c');
        $('.award_training').css('color','#3e4d5c');
        $('.award_ready span').hide();
        $('.award_training span').hide();
      }
      // $('.add_award_form').hide();
    });
    
  });
</script>

<script>
  // $(function() {
  //   $('.loader').ClassyLoader({
  //     lineWidth: 10,
  //     fontSize: '35px',
  //     diameter: 60,
  //     lineColor: 'rgb(255,255,255)',
  //     fontColor: 'rgb(255,255,255)'
  //   });
  // });  

  $(document).ready(function() {
      $('#loading').hide();
      $('.container').show();
      $('.pre-header').show();
      $('.main').show();
      $('.site-footer').show();

  }); 
</script> 

<link rel="stylesheet" type="text/css" href="/assets/global/plugins/index_page_css/components.css" media="print">
<link rel="stylesheet" type="text/css" href="/assets/twitter-bootstrap-static/bootstrap.css" media="print">
<link rel="stylesheet" type="text/css" href="/assets/global/plugins/index_page_css/style.css" media="print">
<style type="text/css">
  @media print {
    body {

      background-color: #fff !important;
    }
    .content-page{
      margin-top: -70px !important;
    }
    .breadcrumb{
      display: none;
    }
    a[href]:after {
      content: none !important;
    }
    .add_s{
      display: none;
    }
    .hidden-xs{
      display: block !important;
    }
    .nav{
      display: none;
    }
    .header {
      display: none;
    }
    .pre-header{
      display: none;
    }
    .sidebar {
      display: none;
    }

    .theme-panel {
      display: none;
    }

    .hidden-print {
      display: none;
    }
    .newSmsSend{
     display: none; 
    }

    .page-footer {
      display: none;
    }

    .no-page-break {
      page-break-after: avoid;
    }

    .page-container {
      margin: 0px !important;
      padding: 0px !important;
    }

    .page-content {
      min-height: 300px !important;
      padding: 0px 20px 20px !important;
      margin: 0 !important;
    }
    .footer{
      display: none;
    }
    .column-selector{
     display: none; 
    }
    .newSmsSend{
      display: none !important;
    }
    .fees_color{
      color: red !important;
   }
    .clr-red > .fa-plus{
      color: red !important;
      /*-webkit-print-color-adjust: exact; */
    }
    .ins_std_tm_style{
      color: red !important;
    }
   .clr-green{
    color: green !important;
    }
   html, body, .main,.container, .scrollspy-example, .tab-pane, .content-page, .row, .col-sm-12{ float: none; }
    .page-break-before{
      page-break-before: always;
      -webkit-page-break-before: always; /* Chrome, Safari, Opera */
      break-before: always; /* IE 10+ */
    }
    .no-page-break-before{
      page-break-before: avoid;
      -webkit-page-break-before: avoid; /* Chrome, Safari, Opera */
      break-before: avoid; /* IE 10+ */

    }
    h2{
      /*padding-top: 10px!important;*/
    }
    .block-unallocated,.scrollspy-example,.tab-content,.tab-pane{
      margin-top: 7px !important; 
    }
    .hide_print{
      display: none;
    }

  }
</style>
<style type="text/css">
  #container_loader{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
    z-index: 9999;
  }
  #container_loader .loader{
    margin-top: 13%;
  }
  .padding-top-eight{
    padding-top: 8px !important;
  }
  .padding-bottom-zero{
    padding-bottom: 0px !important;
  }
  .cust-err {
    float: left;
    font-size: 12px;
  }
  .clr-red{
    color: red !important;
  }
  .clr-green{
    color: green;
  }
  .viewManage{
    display: none;
  }
  .container .col-md-offset-3 a{
    color: #5f6d7b;
    font: 14px "Open Sans", sans-serif;
    margin-left: 15px;
  }
  @media (max-width: 767px) {
    .border-t-xs{
      width: 104.5%;
        border-top: 1px solid #ddd;
    }
  }
  .name-overflow{
    position: relative; 
    width: 100%; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden;
  }
  .date-picker1{
    width: 47%;
  }
  .ins_std_tm_style{
    color: red;
  }
</style>
