<div class="modal-dialog">
  <div class="modal-content">
    <%= form_tag(instructor_set_bulk_invoice_path,remote: true) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss = "modal" aria-hidden="true"></button>
        <h4 class="modal-title">Invoice</h4>
      </div>
      <%= hidden_field_tag :student_ids, @students[0].try(:ids) %>
      <%= hidden_field_tag :monthly_detail, @monthly_detail %>
      <%= hidden_field_tag :group_class, @group_class_id %>
      <%= hidden_field_tag :due_date, @due_date %>
      <div class="modal-body">
        <div class="portlet-body form">
          <% if @students[1].count > 0 || @students[2].count > 0 %>
            <div class="alert alert-danger col-xs-12">
          <% end %>
          <% if @students[1].count > 0 %>
            <strong><%= @students[1].count %> students cannot be set invoice because they have already paid.</strong><br>
            <div class="form-group">
              <ol>
                <% @students[1].each do |student| %>
                  <li><%= student.student_name %></li>
                <% end %>
              </ol>
            </div>
          <% end %>
          <% if @students[2].count > 0 %>
            <strong><%= @students[2].count %> students were already invoiced.</strong><br>
            <div class="form-group">
              <ol>
                <% @students[2].each do |student| %>
                  <li><%= student.student_name %></li>
                <% end %>
              </ol>
            </div>
          <% end %>
          <% if @students[1].count > 0 || @students[2].count > 0 %>
            </div>
          <% end %>
          <% if @students[0].count > 0 %>
            Invoice will be set for <%= @students[0].count %> students
            <div class="form-body">
              <div class="form-group" style="margin-bottom: 0px;">
                <%= label_tag :month, "Month: " %>
                <%= label_tag :month, @monthly_detail %>
              </div>
              <%#= hidden_field_tag :show_amount, params[:show_amount] %>

              <div class="form-group" style="margin-bottom: 0px;">
                <%= label_tag :due_date, "Due Date: " %>
                <%= label_tag :due_date, @due_date %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer" style="margin-top: 0px;">
        <!-- <button type="submit" class="btn green" >Save</button> -->
        <% if @students[0].count > 0 %>
          <%= submit_tag "Confirm" ,:class=>"btn green save_payment"%>
        <% end %>
        <%= link_to 'Back',instructor_bulk_invoice_month_selection_path(student_ids:@student_ids,group_class:@group_class_id,due_date:@due_date_params,monthly_detail:@monthly_detail_params),remote: true,class: 'btn default' %>
        <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
      </div>
    <% end %>  
  </div>
</div>