<div class="content-page">
<% disabled = !@fee.has_rights?(current_admin_user) %>
<% disabled = true if @fee.is_paid_by_credit_card %>
<%= form_for([:instructor, @fee.instructor_student, @fee], :html => {:class=> "form-horizontal"} ) do |f| %>
  <%# if @fee.errors.any? %>
    <!-- <div id="error_explanation">
      <h2>
        <%#= "#{pluralize(@fee.errors.count, "error")} prohibited this fee from being saved:" %>
      </h2>
      <ul>
        <%# @fee.errors.full_messages.each do |msg| %>
          <li>
            <%#= msg %>
          </li>
        <%# end %>
      </ul>
    </div> -->
  <%# end %>
    <div class="form-body col-md-12">
      <div class="form-group">
        <%= f.label :payment_mode, :class=>"col-md-3 control-label" %>
        <div class="col-md-4">
          <select class="form-control advance_venue" style="width: 100%;" name="fee[payment_mode]" <%= disabled ? "disabled" : '' %>>
            <option value="">Please select</option>
            <option <%= @fee.payment_mode == 'Cash' ? 'selected' : ''%> value="Cash">Cash</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :payment_date, :class=>"col-md-3 control-label" %>
        <div class="col-md-4">
          <% if params[:action] == "new" %>
            <%= f.text_field :payment_date, :class => "form-control form-control-inline date-picker" %>
          <% elsif params[:action] == "edit" %>
            <% if !@fee.payment_date.blank? %>
              <%= f.text_field :payment_date, :class => "form-control form-control-inline date-picker" , :value => @fee.payment_date.strftime("%e %B %Y"),disabled: disabled%>
            <% else %>
              <%= f.text_field :payment_date, :class => "form-control form-control-inline date-picker",disabled: disabled %>
            <% end %>  
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :course_type, "Fee Type", :class=>"col-md-3 control-label"  %>
        <div class="col-md-6" style="margin-top: 5px;">
          <label>
            <%= f.radio_button :course_type, "per month", :checked => true,disabled: disabled%> per month
          </label>
          <label>
            <%= f.radio_button :course_type, "per course",disabled: disabled %> per course
          </label>
        </div>         
      </div>
      <div class="form-group">
        <%= f.label :payment_status, :class=>"col-md-3 control-label" %>
        <div class="col-md-4">
          <select class="form-control advance_venue" style="width: 100%;" name="fee[payment_status]" <%= disabled ? "disabled" : '' %>>
            <option value="">Please select</option>
            <option <%= @fee.payment_status == 'Paid' ? 'selected' : ''%> value="Paid">Paid</option>
            <option <%= @fee.payment_status == 'Due' ? 'selected' : ''%> value="Due">Due</option>
            <option <%= @fee.payment_status == 'New' ? 'selected' : ''%> value="New">New</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :due_date,'Payment due date', :class=>"col-md-3 control-label" %>
        <div class="col-md-4">
          <% if params[:action] == "new" %>
            <%= f.text_field :due_date, :class => "form-control form-control-inline date-picker" %>
          <% elsif params[:action] == "edit" %>
            <% if !@fee.due_date.blank? %>
              <%= f.text_field :due_date, :class => "form-control form-control-inline date-picker" , :value => @fee.due_date.strftime("%e %B %Y"),disabled: disabled%>
            <% else %>
              <%= f.text_field :due_date, :class => "form-control form-control-inline date-picker",disabled: disabled %>
            <% end %>  
          <% end %>
        </div>
      </div>
      <% if params[:action] == "new" %>
        <div class="form-group monthly_detail">
          <%= f.label "Fees for", :class=>"col-md-3 control-label" %>
          <div class="col-md-4">
            <% if @fee.monthly_detail? %>
              <%= f.text_field :monthly_detail, :class => "form-control form-control-inline date-picker1", :value => "#{@fee.monthly_detail.strftime('%B %Y')}" %>
            <% else %>
              <%= f.text_field :monthly_detail, :class => "form-control form-control-inline date-picker1" %>
            <% end %>
          </div>
        </div>  
        <div class="form-group course_deatil" style="display:none;">
          <label class="col-md-3 control-label">Fees for</label>
          <div class="col-md-4">
            <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy" style="position: relative; float: left;">
            <%= f.text_field :course_start, :class => "form-control"%>
              <span class="input-group-addon">
              to </span>
              <%= f.text_field :course_end, :class=>"form-control" %>
          </div>
          </div>
        </div>
      <% elsif params[:action] == "edit" %>
        <% if @fee.course_type == "per month" %>
          <div class="form-group monthly_detail">
            <%= f.label "Fees for", :class=>"col-md-3 control-label" %>
            <div class="col-md-4">
              <% if @fee.monthly_detail? %>
                <%= f.text_field :monthly_detail, :class => "form-control form-control-inline date-picker1", :value => "#{@fee.monthly_detail.strftime('%B %Y')}", disabled:disabled %>
              <% else %>
                <%= f.text_field :monthly_detail, :class => "form-control form-control-inline date-picker1",disabled:disabled %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="form-group course_deatil">
            <label class="col-md-3 control-label">Fees for</label>
            <div class="col-md-4">
              <div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy" style="position: relative; float: left;">
              <%= f.text_field :course_start, :class => "form-control",disabled:disabled%>
                <span class="input-group-addon">
                to </span>
                <%= f.text_field :course_end, :class=>"form-control",disabled:disabled %>
            </div>
            </div>
          </div>
        <% end %>
      <% end %>
          
      <div class="form-group">

      </div>
      <div class="form-group">
        <%= f.label :amount, :class=>"col-md-3 control-label" %>
        <div class="col-md-4">
          <%= f.text_field :amount, :class=>"form-control",disabled:disabled%>
        </div>
      </div>
      <div class="form-actions fluid">
        <% flag = 0 %>
        <% if @fee.is_paid_by_credit_card %>
          <div class="alert alert-warning">
            Fee cannot be changed because it's paid via online payments.
          </div>
          <% flag = 1 %>
        <% end %>
        <% if !@fee.has_rights?(current_admin_user) %>
          <div class="alert alert-warning">
            Fee cannot be changed because it's not paid to you.
          </div>
          <% flag = 1 %>
        <% end %>
        <% if flag == 0 %>
          <div class="col-md-offset-1 col-md-9">
            <% if params[:action] == "edit" %>
              <a data-toggle="modal" id="basicModalOpen" href="#basic" class="btn red">Delete</a>
            <% end %>
            <%= f.submit "Save", :class=>"btn green" %>
            <%= link_to "Cancel",  instructor_instructor_student_path(@instructor_student), :class=> "btn default" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if params[:action] == "edit" %>
  <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <% if @fee.is_paid_by_credit_card %>
            <h4 class="modal-title" id="del_modal_title">Fee cannot be deleted because it's paid via online payments</h4></div>
            <div class="modal-footer" style="border-top: 0 !important;">
          <% else %>
            <h4 class="modal-title" id="del_modal_title">Are you sure?</h4></div>
            <div class="modal-footer" style="border-top: 0 !important;">
              <%= link_to "Delete",  instructor_instructor_student_fee_path(@instructor_student, @fee), method: :delete, :class=> "btn red" %>
          <% end %>
          <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.date-picker').datepicker({
      format: 'd MM yyyy'
    });
    $('.date-picker1').datepicker({
      format: 'MM yyyy',
      startView: 2,
      minViewMode: 1
    });

    $('input[name="fee[course_type]"]').change(function(){
      if (this.value == "per course"){
        $('#fee_monthly_detail').val('');
        $('.monthly_detail').hide();
        $('.course_deatil').show();
      }
      else{
        $('.monthly_detail').show();
        $('#fee_course_start').val('');
        $('#fee_course_end').val('');
        $('.course_deatil').hide();  
      }
    }); 
    <% if params[:action] == "edit" %>
      <% if @fee.course_type == "per month" %>
        $('.course_deatil').hide();  
      <% else %>
        $('.monthly_detail').hide();
      <% end %>
    <% end %>
  });
</script>
<style type="text/css">
  .datepicker {
    z-index: 999 !important;
  }
</style>
