<% if !@fee.course_start.blank? && !@fee.course_end.blank? %>
  console.log(".....")
  var replace_str = $(".student_id").val();

  var generateLink = '<a href="/instructor/edit-per-course-fee/<%= @fee.id %>?student=<%= @instructor_student.id %>&amp;group_class=<%= @group_class %>" data-remote="true" class="updateFee" data-str="'+replace_str+'" id="perCourseFee_<%= @fee.id %>">'+
          '<br><span class="grp_small_size">$<%= @fee.amount %></span>'+
          '<small><%= @fee.course_start.strftime("%e %b %Y") + ' - ' + @fee.course_end.strftime("%e %b %Y") %></small><br>'+
      '</a>';

  $("#student_<%= @instructor_student.id %>").find("#course_detail").append(generateLink);
<% else %>
  <% month = @fee.monthly_detail.strftime("%b-%y") %>
  var replace_str = $("#dataStr").val();
  var show_amount='<span class="grp_small_size" id="<%= @instructor_student.id %>-<%= month %>">$<%=@fee.amount %></span>'
  <% if @fee.payment_date %>
    var date_of_payment = '<%= @fee.payment_date.strftime("%e %b") %>';

    var generateLink = '<%= link_to(instructor_remove_fee_path(@fee,show_amount: @show_amount,student: @instructor_student.id,group_class: @group_class),class: "#{month}-#{@instructor_student.id}", remote: true) do %>'+date_of_payment+'<% end %><br>' + show_amount
  <% else %>
    var generateLink = '<%= link_to(instructor_group_class_get_fee_data_path(@group_class,@instructor_student.id,month: month, fee: @fee), class: "clr-red load-modal #{month}-#{@instructor_student.id}", remote: true ) do %><i class="fa fa-plus"></i>Due<% end %><br>' + show_amount
  <% end %>

  $("#<%= @instructor_student.id %>-<%= month %>").remove();
  $(".<%= month %>-<%= @instructor_student.id %>").replaceWith(generateLink);
  $(".<%= month %>-<%= @instructor_student.id %>").parent().css({'background-color':'green'}).animate({'background-color':'#ffffff'},1000);
<% end %>
$('.removeFee').removeData('bs.removeFee');
$modal = $('.modal'),
$modal.modal('hide');
$('#search').focus();
$('#search').css("border",  "1px solid #4B8DF8");
