%h1 Listing fees

%table
  %tr
    %th Payment date
    %th Course type
    %th Monthly detail
    %th Amount
    %th Course detail
    %th
    %th
    %th

  - @fees.each do |fee|
    %tr
      %td= fee.payment_date
      %td= fee.course_type
      %td= fee.monthly_detail
      %td= fee.amount
      %td= fee.course_detail
      %td= link_to 'Show', fee
      %td= link_to 'Edit', edit_fee_path(fee)
      %td= link_to 'Destroy', fee, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Fee', new_fee_path
