<div class="main">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/instructor">Home</a></li>
      <li class="active">Quick Add Fee</li>
    </ul>
    <div class="row margin-bottom-40">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="content-page">
          <div class="portlet">
            <div class="portlet-title">
              <div class="caption">Quick Add Fee</div>
              <div class="tools">
                <a title="" data-original-title="" href="javascript:;" class="collapse">
                </a>
                <a title="" data-original-title="" href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a title="" data-original-title="" href="javascript:;" class="reload">
                </a>
                <a title="" data-original-title="" href="" class="fullscreen">
                </a>
                <a title="" data-original-title="" href="javascript:;" class="remove">
                </a>
              </div>
            </div>
            <div class="portlet-body">
              <!-- start search form -->
              <div class="clearfix">
                <%= form_tag instructor_quick_add_fee_path, :method => 'get', :html => {:class=> "form-horizontal", :id=> "group_class_edit_form"} do %>
                  <div class="input-group">
                    <div class="col-xs-6">
                      <div class="input-group input-medium date date-picker">
                        <% if @date.nil? %>
                          <input type="text" class="form-control" readonly style="width: 50%;" id="date_payment" name="date_payment" value="<%= Date.today.strftime("%d %b %Y") %>">
                        <% else %>
                          <input type="text" class="form-control" readonly style="width: 50%;" id="date_payment" name="date_payment" value="<%= @date %>">
                        <% end %>
                        <button class="btn default" type="button" style="width: 20%;"><i class="fa fa-calendar"></i></button>
                      </div>
                    </div>
                    <div class="col-xs-6">
                    <% if @instructor_student.nil? %>
                      <%= text_field_tag :search, params[:search], {:class => "search_input form-control", :style=> "width: 64%;" } %>
                    <% else %>
                      <%= text_field_tag :search, params[:search], {:class => "search_input form-control", :style=> "width: 64%;" } %>
                    <% end %>
                      <%= submit_tag "Go!", :name => nil, :class=>"btn blue", :style =>"width: 36%;" %>
                    </div>
                  </div>
                <% end %>
              </div><br>
              <!-- end search form  -->

              <% if @instructor_student != nil%>
                <% if @instructor_student != "No Student found" %>
                   <!-- student detail -->
                  <% if @instructor_student.group_classes.count > 0 %>

                    <!-- Add Fee Form Start  -->
                    <%= form_for([:instructor, @instructor_student, Fee.new], :html => {:class=> "form-horizontal groupClassEditForm", :remote => true} ) do |f| %>
                      <div class="clearfix">
                      Student : <%= link_to @instructor_student.student_name, instructor_instructor_student_path(@instructor_student) %><br>
                      Class : <%= link_to @day_array[@instructor_student.group_classes.first.day] +' '+ @instructor_student.group_classes.first.time.strftime("%I:%M %p").to_s, instructor_group_class_view_add_more_months_path(@instructor_student.group_classes.first) %><br>
                      Fee : $<%= f.text_field :amount, :value => @instructor_student.fee.nil? ? @instructor_student.group_classes.first.fee : @instructor_student.fee , :style=>"width:40px;" %> <%= FeeType.find(@instructor_student.group_classes.first.fee_type_id).name %>
                      </div><br>
                      <% if @date.nil? %>
                        <%= f.hidden_field :payment_date, :value => Time.now.strftime("%e %B %Y") %>
                      <% else%>
                        <%= f.hidden_field :payment_date, :value => @date.to_date.strftime("%e %B %Y") %>
                      <% end %>

                      <%= f.hidden_field :payment_mode, :value => "Cash" %>
                      <%= f.hidden_field :payment_status, :value => "Paid" %>
                      <%= f.hidden_field :instructor_id, :value => current_admin_user.id %>
                      <% if FeeType.find(@instructor_student.group_classes.first.fee_type_id).name == "per month"%>
                        <%= f.hidden_field :course_type, :value => "per month" %>
                        <%= f.hidden_field :monthly_detail, :id => "monthly_detail"%>
                        <% @precnt = "" %>
                        <% @curcnt = "" %>
                        <% @feucnt = "" %>
                        <% @fee = @instructor_student.fees.where(:course_type=>"per month") %>
                        <% if @fee.length > 0 %>
                          <% @fee.each do |fee| %>
                            <% if !fee.monthly_detail.blank? %>
                              <%# if fee.monthly_detail.strftime("%b %y") == (1.month.ago).strftime("%b %y")%>
                                <%# @precnt = (1.month.ago).strftime("%b") %>
                              <%# elsif fee.monthly_detail.strftime("%b %y") == Date.today.strftime("%b %y")%>
                                <%# @curcnt = Date.today.strftime("%b") %>
                              <%# elsif fee.monthly_detail.strftime("%b %y") == (Date.today + 1.months).strftime("%b %y")%>
                                <%# @feucnt = (Date.today + 1.months).strftime("%b")  %>
                              <%# end %>
                              <% if fee.is_paid && fee.monthly_detail.strftime("%b %y") == (1.month.ago).strftime("%b %y") %>
                                <% @precnt = (1.month.ago).strftime("%b") %>
                              <% elsif fee.is_paid && fee.monthly_detail.strftime("%b %y") == Date.today.strftime("%b %y")%>
                                <%# @curcnt = Date.today.strftime("%b") %>
                                <% @curcnt = Date.today.strftime("%b") %>
                              <% elsif fee.is_paid && fee.monthly_detail.strftime("%b %y") == (Date.today + 1.months).strftime("%b %y") %>
                                <% @feucnt = (Date.today + 1.months).strftime("%b")  %>
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                        <div class="clearfix">
                          <div class="btn-group btn-group btn-group-justified">
                            <% if @precnt == "" && @curcnt == "" && @feucnt == ""%>
                              <a href="#" class="btn default month_detail_z" data-fees_for="<%= (1.month.ago).strftime("%B %Y") %>"><%= (1.month.ago).strftime("%b") %></a>
                              <a href="#" class="btn default month_detail_x" data-fees_for="<%= Date.today.strftime("%B %Y") %>"><%= Date.today.strftime("%b") %></a>
                              <a href="#" class="btn default month_detail_c" data-fees_for="<%= (Date.today + 1.months).strftime("%B %Y") %>"><%= (Date.today + 1.months).strftime("%b") %></a>
                            <% else %>
                              <% if @precnt == "" %>
                                <a href="#" class="btn default month_detail_z" data-fees_for="<%= (1.month.ago).strftime("%B %Y") %>"><%= (1.month.ago).strftime("%b") %></a>
                              <% else %>
                                <a href="#" class="btn green disabled"><%= @precnt %></a>
                              <% end %>

                              <% if @curcnt == "" %>
                                <a href="#" class="btn default month_detail_x" data-fees_for="<%= Date.today.strftime("%B %Y") %>"><%= Date.today.strftime("%b") %></a>
                              <% else %>
                                <a href="#" class="btn green disabled"><%= @curcnt %></a>
                              <% end %>

                              <% if @feucnt == "" %>
                                <a href="#" class="btn default month_detail_c" data-fees_for="<%= (Date.today + 1.months).strftime("%B %Y") %>"><%= (Date.today + 1.months).strftime("%b") %></a>
                              <% else %>
                                <a href="#" class="btn green disabled"><%= @feucnt %></a>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                        <br/>
                      <% else %>
                        <div class="clearfix">
                          <label>Fees for</label>
                          <div class="input-group date date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                            <%= f.hidden_field :course_type, :value => "per course" %>
                            <%= f.text_field :course_start, :class => "form-control"%>
                              <span class="input-group-addon">
                              to </span>
                              <%= f.text_field :course_end, :class=>"form-control" %>
                          </div>
                        </div>
                        <br/>
                      <% end %>
                      <div class="clearfix">
                        <div class="row">
                          <div class="col-xs-7">
                            <%= link_to "Advance settings", new_instructor_instructor_student_fee_path(@instructor_student), :class => "btn btn-sm" %>
                          </div>
                          <div class="col-xs-5">
                            <button type="submit" class="btn btn-sm btn-block green" disabled="true" id="submit_form">Save</button>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    <div class="clearfix">
                    Student is inactive
                    </div>
                  <% end %>
                <% else %>
                  <div class="clearfix">
                  No Student  found
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
 // $('.search_input').focus();
  $(document).ready(function(){
    $('.date-picker').datepicker({
      format: 'd M yyyy'
    }).on('changeDate', function(ev){
      console.log(ev.date);
      $('#fee_payment_date').val(ev.date);
    });
    // $('.month_detail').click(function(){
    //    var fees_for = $(this).data("fees_for");
    //    $('#new_fee').find('.red').removeClass('red');
    //    $("input[id=monthly_detail]").val(fees_for);
    //    $(this).addClass("red");
    //    if ($("input[id=monthly_detail]").val() != "")
    //     {
    //       $('#submit_form').removeProp("disabled");
    //       $('#submit_form').removeAttr("disabled");
    //     }
    // });
document.onkeydown = function(event) {
  if (event.keyCode == 90) {
    $('.month_detail_z').trigger("click");
   }
  if (event.keyCode == 88) {
    $('.month_detail_x').trigger("click");
   }
  if (event.keyCode == 67) {
    $('.month_detail_c').trigger("click");
   }
   if (event.keyCode == 13) {
    $("#submit_form").trigger("click");
   }
}
function doClick(e) {
  var fees_for = $(this).data("fees_for");
  $('#new_fee').find('.red').removeClass('red');
  $("input[id=monthly_detail]").val(fees_for);
  $(this).addClass("red");
  if ($("input[id=monthly_detail]").val() != "")
    {
      $('#submit_form').removeProp("disabled");
      $('#submit_form').removeAttr("disabled");
    }
}
$('.month_detail_z').click(doClick);
$('.month_detail_x').click(doClick);
$('.month_detail_c').click(doClick);

    $("form.groupClassEditForm").on('ajax:send', function() {
      $('.groupClassEditForm').find('#submit_form').attr('disabled', 'true');
      $('.groupClassEditForm').find('#submit_form').text('Saving..');
    });

    $(document).ajaxSuccess(function() {
      $('#new_fee')[0].reset();
      $('#new_fee').find('.red').removeClass('red').addClass('green disabled');
      $("input[id=monthly_detail]").val('');
      $('#submit_form').attr("disabled", "true").val("Save");
      $('.groupClassEditForm').find('#submit_form').text('Save');
      $('.search_input').focus();
    });
  });
</script>
<%# if !@instructor_student.nil? %>
<!--
<script type="text/javascript">
  $(document).ready(function(){
    $('#search').focus();
  });
</script>

 --><%# end %>