var replace_str = ''
var link
<% @students.each do |student| %>
	<% @fee = student.fees.find_by(monthly_detail: @monthly_detail) %>
	<% month = @fee.monthly_detail.strftime("%b-%y") %>
	replace_str = "<%= student.id.to_s + '-' + @fee.monthly_detail.strftime('%b-%y')  %>"
	link = $(".<%= month %>-<%= student.id %>")
	link.next().remove();
	link.next().remove();
	var show_amount='<span class="grp_small_size" id="<%= student.id %>-<%= month %>">$<%=@fee.amount %></span>'
  link.parent().addClass('bulk_invoice');
 	var generateLink = '<%= link_to(instructor_group_class_get_fee_data_path(@group_class,student.id,month: month, fee: @fee), class: "clr-red load-modal #{month}-#{student.id}", remote: true ) do %><i class="fa fa-plus"></i>Due<% end %><br>' + show_amount
	link.replaceWith(generateLink);
<% end %>
$('.modal').modal('hide');
$('.modal').html("<%= escape_javascript(render partial: 'instructor/shared/loading_modal') %>")
$('.bulk_invoice').css({'background-color':'#ff0000'}).animate({'background-color':'#ffffff'},1000);