<% @messages.each do |message| %>
	<% message.direction == 'incoming' ? cls = 'in' : cls = 'out' %>
	<li class="<%= cls %>" id="<%= message.id %>">
		<img class="avatar img-responsive" src="/assets/avatar.png" />
		<div class="message">
			<span class="arrow"></span>  
			<a class="name" href="#"><%= message.to_number %> </a> 
			<span class="body replace_str"><%= message.message_description.html_safe unless message.message_description.blank?%></span>
		</div>
		<center><small><%= message.time_created.strftime("%d %b %Y,%-I:%M %p") %></small></center>
	</li>
<% end %>