#responsive.modal.fade{"aria-hidden" => "true", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
        %h4.modal-title Send a new SMS
      = semantic_form_for [:manage, Message.new] do |f|
        .modal-body
          .scroller{"data-always-visible" => "1", "data-rail-visible1" => "1", style: "height:300px"}
            .row
              .col-md-12
                .form-group
                  %label= f.label :to_number, "To"
                  .input-group
                    = f.text_field :to_number, :class => "form-control", :placeholder => "Enter Number"
                .form-group
                  %label= f.label :message_description, "Enter message to send"
                  = f.text_area :message_description, :class => "form-control", :rows => 5, :placeholder => "Enter message here.."
        .modal-footer
          %button.btn.default{"data-dismiss" => "modal", type: "button"} Close
          = f.submit "Send SMS", :class => "btn green"