var load_more_messages = []
<% init_class = Test.new %>
<% @conversastions_messages["data"].each do |message| %>
  <% seconds = message["time_sent"] / 1000 if !message["time_sent"].nil? %>
  <% content = message["content"].split("\n").join("<br />") if !message["content"].nil? %>
  <% name = init_class.get_name_from_number(message["from_number"], @arr_contact) %>
  <% if message["direction"] == "incoming" %>
    load_more_messages.push('<li class="in"><img class="avatar img-responsive" src="/assets/avatar.png"/><div class="message"><span class="arrow"></span><a class="name" href="#"><%= name %></a><span class="datetime"> at <%= Time.at(message["time_created"]).strftime("%b %d,%Y %l:%M") %></span><span class="body"><%= simple_format(content).html_safe %></span></div></li>');
  <% else %>
    load_more_messages.push('<li class="out"><img class="avatar img-responsive" src="/assets/avatar.png"/><div class="message"><span class="arrow"></span><a class="name" href="#"><%= name %></a><span class="datetime"> at <%= Time.at(message["time_created"]).strftime("%b %d,%Y %l:%M") %></span><span class="body"><%= simple_format(content).html_safe %></span></div></li>');
  <% end %>
<% end %>

<% if session[:next_marker].blank? %>
  $(".load_more").hide();
<% end %>
$( "#load_more" ).after(load_more_messages);