<%= form_for [:manage, @instructor] ,:html => { :id => "instructor"} do |f| %>
  <div style="display:none">
    <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="WufMyISUZXMZLzR11s/fntz4hpy+QlliaFSHmYip3bE=">
  </div>
  <div class="form-body form_border">
    <div class="form-group">
      <label>Status</label>
      <%= f.collection_select  :status,  @status, :to_s, :to_s,{:prompt => 'Please Select' },{ :class=>"form-control" ,:required => true }%>
    </div>
    <div class="form-group">
      <label>Name<abbr title="required">*</abbr></label>
      <%= f.text_field :name, :class => "form-control", :required => true %>
    </div>

    <div class="form-group">
      <label>Email<abbr title="required">*</abbr></label>
      <div class="input-group">
        <span class="input-group-addon">
        <i class="fa fa-envelope"></i>
        </span>
        <%= f.email_field :email, :class=>"form-control", :required => true %>
      </div>
    </div>

    <div class="form-group">
      <label>Mobile<abbr title="required">*</abbr></label>
      <%= f.text_field :mobile, :class => "form-control", :required => true %>
    </div>

    <div class="form-group">
      <label><%= f.label :gender, "Gender" %></label>
      <div class="input-group" id="gender">
        <% ["Male", "Female"].each do |item| %>
          <label>
            <%= f.radio_button :gender, item, :class=>"toggle" ,:required => true, :id => "#{item}" %>
            <%= item %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="form-group"  id="instructor_short_name_input">
      <label for="instructor_short_name">Short name</label>
      <%= f.text_field :short_name, :class => "form-control", :required => true %>
    </div>

    <% if params[:controller] == "manage/instructors" && params[:action] == "new" || params[:controller] == "manage/instructors" && params[:action] == "create" %>
      <div class="form-group" id="instructor_password_input">
        <label for="instructor_password">Password<abbr title="required">*</abbr>
        <div class="input-group">
          <%= f.password_field :password, :class => "form-control", :required => true, :minlength => 8 %>
          <span class="input-group-addon">
          <i class="fa fa-user"></i>
          </span>
        </div>
      </div>
      
      <div class="form-group" iid="instructor_password_confirmation_input">
        <label for="instructor_password_confirmation">Password confirmation</label>
        <div class="input-group">
          <%= f.password_field :password, :class => "form-control", :required => true, :minlength => 8 %>
          <span class="input-group-addon">
          <i class="fa fa-user"></i>
          </span>
        </div>
      </div>

    <% elsif params[:controller] == "manage/instructors" && params[:action] == "edit" || params[:controller] == "manage/instructors" && params[:action] == "update"%>
      <div class="form-group" id="instructor_password_input">
        <label for="instructor_password">Password<abbr title="required">*</abbr></label>
        <%= f.password_field :password, :class => "form-control", :minlength => 8 %>
      </div>

      <div class="form-group" id="instructor_password_confirmation_input">
        <label for="instructor_password_confirmation">Password confirmation</label>
        <%= f.password_field :password_confirmation, :class => "form-control", :onblur=>"validate_password();", :minlength => 8 %>
        <div class="error1" style="display:none;color:red;">Please enter same value again</div>
      </div>
    <% end %>  
     <% if params[:controller] == "manage/instructors" && params[:action] == "new" || params[:controller] == "manage/instructors" && params[:action] == "create" %>
      <button class="btn btn-primary" type="submit" id="instrutor_submit">Create Instructor</button>
    <% elsif params[:controller] == "manage/instructors" && params[:action] == "edit" || params[:controller] == "manage/instructors" && params[:action] == "update"%>
      <input class="btn btn-primary" name="commit" type="submit" value="Update Instructor" id="instrutor_submit">
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
   
  $("#instructor").validate({
    rules: {
      name: {
        required: true
      }
    },
    errorPlacement: function(error, element) {
      if ( element.attr("name") == "instructor[gender]"  )
      {
        error.insertAfter("#gender");
      }
      else
      {
       error.insertAfter(element);
      }
    }
  });
  function validate_password(e){
    password = $("#instructor_password").val();
    confirm_password = $("#instructor_password_confirmation").val();
    if(password != "")
    {
      if(password != confirm_password){
        $(".error1").show();  
        e.preventDefault();
        e.stopPropagation();
      }
      else {
        $(".error1").hide();  
      }
    }
    else{
      return true;
    }
  }
 
  $("#instrutor_submit").click(function(){
    password = $("#instructor_password").val();
    confirm_password = $("#instructor_password_confirmation").val();
    if(password != ""){
      if(confirm_password == "" || password != confirm_password){
        $(".error1").show();  
        return false;
      }
      else{
        return true;
      }
    }
     
  });
</script>
<% if params[:action] == "edit" %>
  <style type="text/css">
  .form_border{
     border-bottom: 1px solid #869AB3;
  }
  </style>
<% end %>