<span class="addNewClassT">
  <%= form_for [ :manage, GroupClass.new ] , :html => { :class => "addNewClass", :remote => true } do |f| %>
    <div class="form-body">
      <%= f.hidden_field :instructor_id, :value => session[:instructor_id].to_i %>
      <%= hidden_field_tag :fromInstAjax, "true" %>

      <div class="form-group">
        <label class="control-label">Day</label>
        <%= f.select :day, [ ["Monday", 1], ["Tuesday",2], ["Wednesday", 3], ["Thursday", 4], ["Friday", 5], ["Saturday" , 6], ["Sunday" , 0]] ,{ :include_blank => 'Please Select' } , :class => "form-control"%>
      </div>    

      <div class="col-md-12" style="padding: 0;">
        <div class="col-md-4" style="padding-left: 0;">
          <div class="form-group">
            <label class="control-label">Class Time</label>
            <input class="form-control" data-date-format="hh:mm A/PM" id="group_class_time" name="group_class[time]" type="text">
          </div>
        </div>
        <div class="col-md-4" style="padding: 0;">
          <div class="form-group">
            <label class="control-label">Duration</label>
            <%= f.text_field :duration , :class=>"form-control bestinplaceInputDuration", :placeholder => "Enter Duration", :required => true, :style => "width: 100%;",:maxlength => 2 %>
          </div>
        </div>
        <div class="col-md-4" style="padding-right: 0;">
          <div class="form-group">
            <label class="control-label">Fee</label>
            <%= f.text_field :fee , :class => "form-control", :placeholder => "e.g 60(for $60)", :required => true %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Venue</label>
        <%= f.collection_select :venue_id , Venue.all, :id, :name ,{ :include_blank => 'Please Select'},{:class=>"form-control" ,:required => true } %>
      </div>

      <div class="form-group">
        <label class="control-label">Age Group</label>
        <%= f.collection_select :age_group_id , AgeGroup.all, :id, :title , { :include_blank => 'Please Select'}, {:class=>"form-control" ,:required => true } %>
      </div>

      

      <div class="form-group">
        <label class="control-label">Fee Type</label>
        <%= f.collection_select :fee_type_id , FeeType.all, :id, :name ,{ :prompt => 'Please Select'},{:class=>"form-control" ,:required => true } %>
      </div>

      <div class="form-group">
        <label class="control-label">Lesson Count</label>
        <%= f.text_field :lesson_count ,:class=>"form-control bestinplaceInputLessionCnt", :placeholder=>"Lessons", :required => true, :style=>"width: 100%;",:maxlength => 2, :disabled => "true" %>
      </div>
      <div class="">
        <div class="">
          <%= f.submit "Save", class: "btn btn-primary" %>
          <button class="btn red" data-dismiss = "modal" type = "button"> Close</button>
        </div>
      </div>

    </div>
  <% end %>
  <style>
  .bootstrap-timepicker-widget{
    z-index: 9999;
  }
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#group_class_time').timepicker({
        minuteStep: 5,
        autoclose: true
      });
    });
    $(document).on('keydown', '.bestinplaceInputDuration', function (e) {
      checkNumberOnly(e)
    });
    $(document).on('keydown', '.bestinplaceInputLessionCnt', function (e) {
      checkNumberOnly(e);
    });

    $(document).on('change', '#group_class_fee_type_id', function (e) {
      var feeType = $("option:selected", this).text();
      if(feeType == "per month"){
        $(".bestinplaceInputLessionCnt").val('').attr('disabled', true);
        console.log(feeType);
      }
      else{
        $(".bestinplaceInputLessionCnt").val('').attr('disabled', false);
        console.log(feeType);
      }
    });
  </script>

</span>
