$modal.modal('hide');

var id = "<%= @instructor.id %>";
var name = "<%= @instructor.name %>";
var mobile = '<%= @instructor.mobile %>';
var email = '<%= @instructor.email %>';
var actions = '<a href="<%= edit_manage_instructor_path(@instructor) %>" data-remote="true"><i class="fa fa-edit"></i> Edit</a>'
updated_tr = '<tr class="instructor-l-<%= @instructor.id %>"><td class="sorting_1"><a href="/manage/instructors/<%= @instructor.id %>">'+id+'</a></td><td class=""><a href="/manage/instructors/<%= @instructor.id %>">'+name+'</a></td><td class="">'+mobile+'</td><td class="">'+email+'</td><td class=""><a class="btn default btn-xs" href="/manage/instructors/<%= @instructor.id %>/edit"><i class="fa fa-edit"></i>Edit</a></td></tr>';

$('tbody').find('tr').first().before(updated_tr);
$(".instructor-l-<%= @instructor.id %>").addClass("success")
                       .delay(3000)
                       .queue(function() {
                           $(this).removeClass("success");
                           $(this).dequeue();
                        });