= title "Instructors Index" 
.portlet.box.blue
  .portlet-title
    .caption
      List of all Instructor
    .actions
      %a.btn.default.btn-xs{:href =>  new_manage_instructor_path}
        %i.fa.fa-plus
          Add Instructor
  .portlet-body
    %table#sample_2.table.table-striped.table-bordered.table-hover.table-full-width
      %thead
        %tr
          %th ID
          %th NAME
          %th.hidden-xs MOBILE
          %th.hidden-xs EMAIL
          %th.hidden-xs ACTION
      %tbody
        - @instructors.each do |instructor|
          %tr
            %td 
              = instructor.id
            %td 
              = instructor.name  
            %td
              = instructor.mobile 
            %td
              = instructor.email
            %td
              %a.btn.default.btn-xs{:href => edit_manage_instructor_path(instructor)}
                %i.fa.fa-edit
                  Edit


  .row{:style => "background:white;"}
    = will_paginate @instructors, renderer: BootstrapPagination::Rails                
%script{:src => "//cdn.datatables.net/1.10.0/js/jquery.dataTables.js", :type => "text/javascript"}
:javascript
  jQuery(document).ready(function() {   
    TableAdvanced.init();
  });
  $(".prev a").text("<");
  $(".prev span").text("<");
  $(".next a").text(">");
  $(".next span").text(">");
  $(".pagination").css({"float":"right","margin-right": "27px"});
