<div id="navbar-example2" class="navbar navbar-default navbar-static" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
    <span class="sr-only">
    Toggle navigation </span>
    <span class="fa fa-bar">
    </span>
    <span class="fa fa-bar">
    </span>
    <span class="fa fa-bar">
    </span>
    </button>
    <a class="navbar-brand" href="javascript:;">
      Settings
    </a>
  </div>
  <div class="collapse navbar-collapse bs-js-navbar-scrollspy">
    <ul class="nav navbar-nav">
      <li class="classView">
        <a href="#profile_setting" data-toggle="tab">
          Profile
        </a>
      </li>
      <li class="">
        <a href="#company_setting" data-toggle="tab">
          Company
        </a>
      </li>
      <li class="">
        <a href="#sms_setting" data-toggle="tab" id="smsSettings">
          SMS Setting
        </a>
      </li>
      <li class="">
        <a href="#password_setting" data-toggle="tab">
          Password
        </a>
      </li>
      <li class="">
        <a href="#google_contacts" data-toggle="tab">
          Google Contacts
        </a>
      </li>
      <li class="">
        <a href="#features" data-toggle="tab">
          Features
        </a>
      </li>
      <li class="">
        <!-- <a href="<%#= instructor_export_data_path %>"> -->
        <a href="#export", data-toggle="tab">
          Export
        </a>
      </li>
    </ul>
  </div>
</div>
<% if notice %>
<div class="note note-success">
  <p>
    <%= flash[:notice].html_safe %>
  </p>
</div>
<% end %>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scrollspy-example" style="height: 100%; overflow: hidden;">
  <div class="tab-content" style="border:0px; background: #fff; padding-left: 0px;">
    <div class="tab-pane <%= params[:tab].present? ? '' : 'active' %>" id="profile_setting">
      <%= render "/instructor/instructor_profile/profile_setting" %>
    </div>
    <div class="tab-pane" id="company_setting">
      <%= render "/instructor/instructor_profile/company_detail" %>
    </div>
    <div class="tab-pane" id="sms_setting">
      <%= render "/instructor/instructor_profile/sms_setting" %>
    </div>
    <div class="tab-pane" id="password_setting">
      <%= render "/instructor/instructor_profile/password_setting" %>
    </div>
    <div class="tab-pane <%= params[:tab].present? ? 'active' : '' %>" id="google_contacts">
      <%= render "/instructor/instructor_profile/google_contacts" %>
    </div>
    <div class="tab-pane" id="features">
      <%= render "/instructor/instructor_profile/features" %>
    </div>
    <div class="tab-pane" id="export">
      <%= render "/instructor/instructor_profile/export" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#instructor_profile").validate({
    rules: {
      name: {
        required: true
      }
    },
    errorPlacement: function(error, element) {
      if ( element.attr("name") == "instructor[gender]"  ) {
        error.insertAfter("#gender");
      }
      else {
       error.insertAfter(element);
      }
    }
  });
  function validate_password(e){
    password = $("#instructor_password").val();
    confirm_password = $("#instructor_password_confirmation").val();
    if(password != "")
    {
      if(password != confirm_password){
        $(".error1").show();  
        e.preventDefault();
        e.stopPropagation();
      }
      else {
        $(".error1").hide();  
      }
    }
    else {
      return true;
    }
  }
  $("#instrutor_submit").click(function(){
    password = $("#instructor_password").val();
    confirm_password = $("#instructor_password_confirmation").val();
    if(password != ""){
      if(confirm_password == "" || password != confirm_password){
        $(".error1").show();  
        return false;
      }
      else{
        return true;
      }
    }
  });
</script>