<% if current_admin_user.google_synch_email && current_admin_user.google_synch_email != '' %>
	<div class="alert alert-block alert-success fade in">
		Your contacts are currently synchronised with 
		<strong><%= current_admin_user.google_synch_email %></strong>
		<br><br>
		<p>
		  <%= button_to "Unsynch all contacts and unlink google account", instructor_remove_synchronized_contacts_path(disconnect: true), data: { confirm: 'Are you sure?', disable_with: 'Processing..' }, :class => "btn red" %>
		</p><br>

		<span id="sync_contact_count"><%= @instructor.instructor_students.where('google_contact_id IS NOT null').where.not(google_contact_id: '').count %></span> of <span id="<%= @instructor.instructor_students.where(is_deleted: false).count %>" class="total_contact"><%= @instructor.instructor_students.where(is_deleted: false).count %></spna> contacts are synchronised.
	</div>
	<div class="string input optional stringish form-group" id="instructor_short_name_input">
	  <label class="col-md-3 control-label" for="instructor_short_name">Contacts Prefix</label>
	  <div class="col-md-4">
	  	<label class="col-md-3 control-label" for="instructor_short_name"><%= @instructor.contacts_prefix %></label>
	  </div>  
	</div>
<% else %>
	<div class="alert alert-block alert-success fade in">
		<%= link_to 'Link to Google account', '/auth/google_oauth2', class: "btn green" , id: "link_to_google" %>
	</div>
	<%= form_for @instructor, :url => instructor_update_profile_path ,:html => { :multipart => true, :class=> "form-horizontal", :id => "instructor_profile" } do |f| %>
		<div class="string input optional stringish form-group" id="instructor_short_name_input">
		  <label class="col-md-3 control-label" for="instructor_short_name">Contacts Prefix</label>
		  <div class="col-md-4">
		    <%= f.text_field :contacts_prefix, :class => "form-control" %>
		  </div>  
		</div>
		<div class="form-group fluid">
	    <div class="col-md-offset-3 col-md-9">
	      <input class="btn btn-primary" name="commit" type="submit" value="Update" id="instrutor_submit">
	      <%= link_to "Cancel",  instructor_profile_path, :class=> "btn default" %>
	    </div>
	  </div>
	<% end %>
<% end %>

<script type="text/javascript">
	if(<%= params[:tab].present? && params[:tab] != 'gc_synk' %>)
	{
		$.ajax({
			url: '/instructor/automatically_synchronize_contacts',
			type: 'GET',
			dataType: 'script'
		})
	}
</script>