<div class="portlet">
  <div class="portlet-title">
    <h3>
      Edit Payment Details
    </h5>
  </div>
  <div class="portlet-body form">
    <div class="form-horizontal">
    
    <%= form_for(@payment_notification, :url => manage_update_notification_path) do |f| %>
      <%= f.hidden_field :id %>
      <div class="form-body">
        <div class="form-group">
          <label class="control-label col-xs-3">REF Job </label>
          <div class="col-xs-3">
            <%= f.text_field :job_ref, :class => "form-control", :required => true  %>
          </div>
        </div>
        <div class="form-group">          
          <label class="control-label col-xs-3">Source</label>
          <div class="col-xs-3">
            <%= f.text_field :paid_by, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-3">Total Amount</label>
          <div class="col-xs-3">
            <%= f.text_field :amount, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-3">Date</label>
          <div class="col-xs-3">
            <% if !@payment_notification.payment_date? %>
              <%= f.text_field :payment_date, :class => "form-control date-picker", :value => @payment_notification.created_at.strftime("%d %B %Y") %>
            <% else %>
              <%= f.text_field :payment_date, :class => "form-control date-picker", :value => @payment_notification.payment_date.strftime("%d %B %Y") %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-3">Time</label>
          <div class="col-xs-3">
            <input class="form-control" data-date-format="hh:mm A/PM" id="payment_notification_pay_time" name="payment_notification[pay_time]" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-3">Status</label>
          <div class="col-xs-3">
            <%= f.text_field :status, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-xs-3">Order Id</label>
          <div class="col-xs-3">
            <%#= f.text_field :job_ref, :class => "form-control",disabled: true %>
          <input class="form-control" disabled="disabled" type="text" value="REF<%= @payment_notification.job_ref %>">
          </div>
        </div>
         <div class="form-group">
          <label class="control-label col-xs-3">Merchant Reference</label>
          <div class="col-xs-3">
            <%= f.text_field :merchant_reference, :class => "form-control",disabled: true %>
          </div>
        </div>
        <div class="form-group">
        <label class="conrol-label col-xs-3"></label>
          <div class="col-xs-3">
            <%= f.submit "Save", :class =>"btn green" %>
            <%= link_to "Cancel", manage_online_payments_path,:class => "btn red" %>
            <%= link_to "Delete", manage_online_payment_path(@payment_notification),:class => "btn red", method: :delete, :data => {:confirm => 'Are you sure?'} %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#payment_notification_payment_date').datepicker({
        format: 'd MM yyyy',
        endDate: '+0d',
        autoclose: true
    });
    $('#payment_notification_pay_time').timepicker({
      minuteStep: 5,
      defaultTime: '<%if @payment_notification.pay_time? %><%= @payment_notification.pay_time.strftime("%I:%M %p") %><% else %><%= @payment_notification.created_at.strftime("%I:%M %p") %><% end %> ',
    });
    $("#edit_payment").validate({});
    $("#select2_sample4").select2({
      allowClear: true,
      escapeMarkup: function (m) {
          return m;
      }
    });
  });
</script>