<div class="portlet">
  <div class="portlet-title">
    <h3>
      Payment Details
    
    <small><%= link_to " Edit Payment", edit_manage_online_payment_path(@payment_notification) %></small>
    </h5>
  </div>
  <div class="portlet-body form">
    <form role="form" class="form-horizontal">
      <div class="form-body">
        <h3 class="form-section">Transaction information</h3>
        <div class="row">          
          <label class="control-label col-xs-3">Source</label>
          <div class="col-xs-9">
            <p class="form-control-static"><%= @payment_notification.paid_by %></p>
          </div>
        </div>
        <div class="row">
          <label class="control-label col-xs-3">Date</label>
          <div class="col-xs-9">
            <p class="form-control-static">
            <% if @payment_notification.payment_date? %>
              <%= @payment_notification.payment_date.strftime("%d %b %Y") %>
            <% else %>
              <%= @payment_notification.created_at.strftime("%d %b %Y")  %>
            <% end %>
            </p>
          </div>
        </div>
        <div class="row">
          <label class="control-label col-xs-3">Time</label>
          <div class="col-xs-9">
            <p class="form-control-static">
            <%if !@payment_notification.pay_time.blank? %>
              <%= @payment_notification.pay_time.strftime("%I:%M %p") %>
            <% else %>
              <%= @payment_notification.created_at.strftime("%I:%M %p") %>
            <% end %>
            </p>
          </div>
        </div>
        
        <div class="row">
          <label class="control-label col-xs-3">Total</label>
          <div class="col-xs-9">
            <p class="form-control-static">
              <% if @payment_notification.amount != "" %>
                $<%= @payment_notification.amount %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="row">
          <label class="control-label col-xs-3">Status</label>
          <div class="col-xs-9">
            <p class="form-control-static">
              <%= @payment_notification.status %>
            </p>
          </div>
        </div>
        <div class="row">
          <label class="control-label col-xs-3">Order Id</label>
          <div class="col-xs-9">
            <p class="form-control-static">
              REF<%= @payment_notification.job_ref %>
            </p>
          </div>
        </div>
        <div class="row">
          <label class="control-label col-xs-3">Merchant Reference</label>
          <div class="col-xs-9">
            <p class="form-control-static">
              <%= @payment_notification.merchant_reference %>
            </p>
          </div>
        </div>
        <h3 class="form-section">Job information</h3>
        <div class="row">
          <label class="control-label col-xs-3">Job</label>
          <div class="col-xs-9">
            <p class="form-control-static">REF <%= @payment_notification.job_ref %></p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>