<div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:manage, Payment.new] do |f| %>
      <%= f.hidden_field :invoice_id, :value => @invoice.id %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title" id="modal-title">Add Payment to Invoice <%= @invoice.invoice_number %></h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info">
            <strong>Payable: </strong>$ <%= @freshbook_invoice["invoice"]["amount"] %></br>
            <strong>Outstanding: </strong>$ <%= @freshbook_invoice["invoice"]["amount_outstanding"] %>
          </div>  
          <div class="scroller" data-always-visible="1" data-rail-visible1="1">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :payment_date, "Date of Payment" %>
                  <%#= f.date_field :payment_date, :class => "form-control", :required => true, :value => Time.now.strftime('%Y-%b-%d') %>
                  <%= f.text_field :payment_date, :class => "form-control date-picker", :value => Time.now.strftime('%e %B %Y')%>
                </div>
                <div class="form-group">
                   <% @method = ['Bank Transfer','Cash', 'Check', 'Paypal'] %> 
                  <div class="form-group">
                    <%= f.label :method_type, "Method" %><br/>
                    <%= f.collection_select  :method_type,  @method, :to_s, :to_s,{:prompt => 'Please Select' },{ :class=>"form-control" ,:required => true } %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :expense, "Expense" %>
                  <%= f.number_field :expense, :class => "form-control",  :placeholder=>"$", :required => true%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :amount, "Amount" %>
                  <%= f.number_field :amount, :class => "form-control",  :placeholder=>"$", :required => true%>
                </div>
                <div class="form-group">
                  <% @mode = ['DBS','OCBC','UOB'] %> 
                  <div class="form-group">
                    <%= f.label :mode, "Mode" %><br/>
                    <%= f.collection_select  :mode,  @mode, :to_s, :to_s,{:prompt => 'Please Select' },{ :class=>"form-control" ,:required => true } %>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.label :note, "Note" %>
                  <%= f.text_field :note, :class => "form-control"%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn green">Add Payment</button>
          <button type="button" data-dismiss="modal" class="btn default">Cancel</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#new_payment').validate({
      rules: {
        payment_date: {
          required: true
        },
        account_icon_name: {
          required: true
        }
      }
    });
    $('#payment_payment_date').datepicker({
        format: 'd MM yyyy'
    });
    $('#payment_payment_date').change(function(){
      $('.datepicker').hide();
    });  
  });
 

</script>