.row
  .col-md-12
    .portlet.box.green
      .portlet-title
        .caption
          %i.fa.fa-user>
          Invoices
      .portlet-body
        %table#sample_2.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th Date
              %th Invoice No.
              %th Job Ref.
              %th Job Status.
              %th Total
              %th Refferal
          %tbody
            - @invoices.each do |inv|
              %tr.odd.gradeX
                %td
                  = inv.created_at.strftime("%d-%b")
                %td
                  = link_to inv.invoice_number, manage_invoice_path(inv)
                %td
                  = link_to "REF #{inv.job_id}",manage_job_path(inv.job_id)
                %td
                  = inv.job.job_status
                %td
                  = inv.job.fee_total
                %td
                  = inv.job.referral
:javascript
  jQuery(document).ready(function() { 
    TableManaged.init();
    $("#sample_2_wrapper").find(".table-scrollable").removeClass("table-scrollable");
  });