.row
  .col-md-12
    /
      BEGIN SAMPLE TABLE PORTLET
    .portlet.box.green
      .portlet-title
        .caption
          %i.fa.fa-cogs >
          Payments
      .portlet-body
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th Date
                %th Amount.
                %th Expense
                %th Method
                %th Mode
            %tbody
              - @payments.each do |payment|
                %tr
                  %td
                    = payment.payment_date.strftime("%d-%b")
                  %td
                    $#{payment.amount}
                  %td
                    - if !payment.expense.nil?
                      $#{payment.expense}
                  %td
                    = payment.method_type
                  %td
                    = payment.mode