<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Created_at</Data></Cell>
        <Cell><Data ss:Type="String">User</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Piece</Data></Cell>
        <Cell><Data ss:Type="String">Message</Data></Cell>
      </Row>
    <% @inquiries_as_csv.each do |inq| %>
    <%- if inq.user_id.nil? -%>
      <%- name=inq.name -%>
      <%- email=inq.email -%>
    <%- else -%>
      <%- name=inq.user.name -%>
      <%- email=inq.user.email -%>
    <%- end -%>
      <Row>
        <Cell><Data ss:Type="String"><%= inq.created_at.strftime('%e %b %Y %H:%M:%S%p') %></Data></Cell>
        <Cell><Data ss:Type="String"><%= name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= inq.piece.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= inq.message %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>