= form_for [:manage, @manual_payment] do |f|
  - if @manual_payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@manual_payment.errors.count, "error")} prohibited this manual_payment from being saved:"
      %ul
        - @manual_payment.errors.full_messages.each do |msg|
          %li= msg
  - if params[:action] == "edit"
    = hidden_field_tag :in_place_editing, "false"
  .field.form-group
    = f.label :payment_date, "Date"
    - if @manual_payment.payment_date.nil?
      = f.text_field :payment_date, :class => "form-control date-picker", :value => "#{@manual_payment.created_at.strftime('%e %B %Y')}", :readonly => true,:style=> "background-color: #eee !important;"
    - else  
      = f.text_field :payment_date, :class => "form-control date-picker", :value => "#{@manual_payment.payment_date.strftime('%e %B %Y')}", :readonly => true,:style=> "background-color: #eee !important;"
  .field.form-group
    = f.label :job_id, "Job REF"
    =# f.select(:job_id, Job.order('id asc').map {|x| [x.id, x.id] }, { :include_blank => true }, {:class => "select2-container form-control select2", :id =>"select2_sample4"})
    = f.text_field :job_id, :class => "form-control"
  .field.form-group
    = f.label :description, "Description"
    = f.select :description, [ ['Balance', 'Balance'], ['Referral', 'Referral']] ,{ :include_blank => "Please Select" }, :class => "form-control"
  .field.form-group
    = f.label :referral
    = f.text_field :referral, :class => "form-control", :placeholder => "Enter referral"
  .field.form-group
    = f.label :balance
    = f.text_field :balance, :class => "form-control", :placeholder => "Enter balance"
  .field.form-group
    = f.label :amount
    = f.text_field :amount, :class => "form-control", :placeholder => "Enter amount"
  .field.form-group
    = f.label :payment_method
    = f.select :payment_method, [ ['Bank Transfer', 'Bank Transfer'], ['Cash', 'Cash'],['Check','Check'],['Paypal','Paypal']] ,{ :include_blank => "Please Select" }, :class => "form-control relationship"
  .field.form-group
    = f.label :goggles_status
    = f.select :goggles_status, [ 'By hand','Coach','Dispatched','No goggles' ],{ :include_blank => "Please select" },{:class=>"form-control" }
  .field.form-group
    = f.label :invoice_number
    = f.select :invoice_number, @invoices.map { |p| p.invoice_number } ,{ :include_blank => "Please Select" }, :class => "form-control relationship"
  .field.form-group
    = f.label :payment_id, "Payment Id"
    = f.text_field :payment_id, :class => "form-control"
  .field.form-group
    = f.label :local_payment_id, "Local Payment Id"
    = f.text_field :local_payment_id, :class => "form-control"
  .field.form-group
    = f.label :committed
    = f.select :committed, [ ['No','false'] ,['Yes', 'true'] ],{ :include_blank => false },{:class=>"form-control" }
  / .field.form-group
  /   = f.label :manual_transaction_id, "Transaction Id"
  /   = f.text_field :manual_transaction_id, :class => "form-control",readonly: true

  .actions.form-group
    = link_to 'Delete', [:manage, @manual_payment], :method => :delete,  data: { confirm: "Are You sure?" }, :class => "btn red"
    = f.submit 'Save', :class => "btn blue"
    = link_to 'Back', manage_manual_payments_path, :class => "btn default"

:javascript
  $(document).ready(function () {
    $('.date-picker').datepicker({
        format: 'd MM yyyy'
    });
    $("#select2_sample4").select2({
      allowClear: true,
      escapeMarkup: function (m) {
          return m;
      }
    }); 
  });