$modal = $('.modal'),
$modalBody = $('.modal .modal-body'),

var changeRow = <%= @manual_payment.id.to_s %>;
//console(changeRow);
<% if @m == false %>
	$modalBody.html('<h4 style="text-align: center;"><%= @error %></h4>');
	$modal.modal();
	$(".modal-header").css({"display":"none"});
	$(".modal-footer").css({"display":"none"});
	$('#manual_payment_show_add_'+<%= @manual_payment.id.to_s %>).text("Commit");
<% else %>
	$("#Inputreferral_"+changeRow).hide();
	$("#Inputbalance_"+changeRow).hide();
	

	$('.change_status_'+changeRow).html('<%= best_in_place @manual_payment, :committed, :type => :select, :collection => [["false","No"] ,["true", "Yes"] ], :path => [:manage, @manual_payment], :activator => "#editCommitted_#{@manual_payment.id}" %>')
	$('#manual_payment_show_add_'+<%= @manual_payment.id.to_s %>).text("Uncommit").attr('href', '<%= remove_payment_manage_manual_payment_path(@manual_payment) %>');
<% end %>
