<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
      Manual Payments
      <small>
        <%= page_description %>
      </small>
    </h3>
    <% if !@breadcrumbs.nil? %>
      <ul class="page-breadcrumb breadcrumb">
        <% @breadcrumbs.each do |breadcrumb| %>
          <li>
            <%= link_to(breadcrumb[:name], breadcrumb[:url]) %>
            <% if @breadcrumbs.last != breadcrumb %>
              <i class="fa fa-angle-right"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<%= link_to 'Show list of uncommitted payments', manage_uncommitted_manual_payments_path, style: 'color: #d64635;' %>
<div class="row">
  <div class="col-md-12">
    <div class="portlet box blue">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-comments"></i>Payments List
        </div>
      </div>
      <div class="portlet-body" style="border-bottom: 1px solid #67809F;">
        <div class="row" >
          <div class="col-xs-4 col-xs-offset-4">  
            <div class="input-group input-medium date date-picker">
              <% if @date.nil? %>
                <input type="text" class="form-control" readonly style="width: 60%; height: 34px" id="payment_date" name="date_payment" value="<%= Date.today.strftime("%d %b %Y") %>">
              <% else %>
                <input type="text" class="form-control" readonly style="width: 60%; height: 34px" id="payment_date" name="date_payment" value="<%= @date %>">
              <% end %>
                <button class="btn default" type="button" style="width: 20%; height: 34px;"><i class="fa fa-calendar"></i></button>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="input-group">
              <%= form_for [:manage, @manual_payment], :remote => true do |f| %>
                <div class="col-md-6" style="padding-right: 0;">
                  <%= f.text_field :job_id, :class => "form-control", :placeholder => "Enter Job ID" %>
                </div>
                <%= hidden_field_tag :payment_date, Time.zone.now.strftime("%Y-%m-%d"), id: "selectedPaymentDate"  %>
                <div class="input-group-btn">
                  <%= f.submit "Add", :class => "btn blue" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 pull-left"></div>
          <div class="col-sm-2">
            <h4><b> Referral : </b><span id="referral"><%= @manual_payments.sum('referral') %></span></h4>
          </div>
          <div class="col-sm-2">
            <h4><b> Balance : </b><span id="balance"><%= @manual_payments.sum('balance') %></span></h4>
          </div>
          <div class="col-sm-2">
            <h4><b> Total : </b><span id="amount"><%= @manual_payments.sum('amount') %></span></h4>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Job ID</th>
                <th>Job Status</th>
                <th>Referral</th>
                <th>Balance</th>
                <th>Total</th>
                <th>Payment Method</th>
                <th>Goggles Status</th>
                <th>Notes</th>
                <th>Invoice</th>
                <!-- <th>Commited</th> -->
                <th></th>
              </tr>
            </thead>
            <tbody id="manualPayments" data-update-url="<%= sort_manage_manual_payments_path %>">
              
              <% cnt = 1 %>
              <%#= link_to "Referral", manage_manual_payments_filter_path("Referral"), :style => "font-size: 15px;" %><!-- | -->
              <%#= link_to "Balance",  manage_manual_payments_filter_path("Balance"), :style => "font-size: 15px;" %>
              <% @manual_payments.each_with_index do |manual_payment, index| %>
                <% job = Job.find(manual_payment.job_id) %>
                <%= render "manual_payment_data", manual_payment: manual_payment, job: job, index: index %>
                <!-- %td= link_to 'Show', manual_payment -->
                <!-- %td= link_to 'Edit', edit_manual_payment_path(manual_payment) -->
                <!-- %td= link_to 'Destroy', manual_payment, :method => :delete, :data => { :confirm => 'Are you sure?' } -->
                <% cnt += 1 %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    var cnt = 0;
    if(localStorage.getItem('selectedDate') != null) {
      var storedDate = localStorage.getItem('selectedDate');
      var savedDate = moment(storedDate).format('D MMMM YYYY');
      var filterDate = moment(storedDate).format('YYYY-MM-DD');
      $("#payment_date").val(savedDate);
      filterData(storedDate, 0);
    }
    else {
      var now = moment().format('D MMMM YYYY');
      $("#payment_date").val(now);
      filterData(now, 0);
    }

    $('.best_in_place').best_in_place();

    $('#manualPayments').sortable({
      axis: "y",
      containerSelector: 'table',
      itemPath: '> tbody',
      itemSelector: 'tr',
      placeholder: 'placeholder',
      update: function() {
        $.post($(this).data("update-url"), $(this).sortable("serialize"));
      }
    });

    $('.date-picker').datepicker({
      format: 'd MM yyyy',
      autoclose: true
    }).on('changeDate', function(data){
      var selectedDate = moment(data.date).format('YYYY-MM-DD');
      localStorage.setItem("selectedDate", selectedDate);
      filterData(selectedDate, 0);
    });

    function filterData(data, cnt) {
      $("#selectedPaymentDate").val(data);
      
      referralPaymentsUrl = '/manage/manual-payments/Referral?paymentDate='+data;
      balancePaymentsUrl = '/manage/manual-payments/Balance?paymentDate='+data;
      allPaymentsUrl = '/manage/manual-payments/All?paymentDate='+data;
      $(".referralPayments a").attr("href",referralPaymentsUrl);
      $(".balancePayments a").attr("href",balancePaymentsUrl);
      $(".allPayments a").attr("href",allPaymentsUrl);
      
      var url = '<%= manage_find_manual_payment_by_date_path %>';
      // var payment_desc = $(".nav-tabs > li.active").eq(0).data('payment-desc');
      var payment_desc = $(".selectedPaymentDesc").val();
      if(cnt == 0) {
        $.ajax({
          url : url,
          method : 'GET',
          data: { selectedDate: data, payment_desc: payment_desc }
        }).done(function() {
          cnt = 1;
        });
      }
    }

    $(".balancePayments a").click(function(event) {
      $(".allPayments").removeClass('active');
      $(".balancePayments").addClass('active');
      $(".referralPayments").removeClass('active');
      $(".selectedPaymentDesc").val("Balance");
    });

    $(".referralPayments a").click(function(event) {
      $(".allPayments").removeClass('active');
      $(".referralPayments").addClass('active');
      $(".balancePayments").removeClass('active');
      $(".selectedPaymentDesc").val("Referral");
    });

    $(".allPayments a").click(function(event) {
      $(".allPayments").addClass('active');
      $(".referralPayments").removeClass('active');
      $(".balancePayments").removeClass('active');
      $(".selectedPaymentDesc").val("All");
    });
    $(document).on('focusout', '.commitedStatus', function(){
      var selectedStatus = $(this).find('option:selected').text();
      if(selectedStatus == "No") {

        $(this).parents('tr').find('.lineDraw').show();
        $(this).parents('tr').find('.menual_payment').show();
      }
      else {
        $(this).parents('tr').find('.lineDraw').hide();
        $(this).parents('tr').find('.menual_payment').hide();
      }
    });
    $(document).on('focusout', '.editInvoice', function(){
      var oldUrl = $(this).parents('.linkToInvoice').attr('href');
      var newUrl = "/manage/invoice?online_payments_invoice_id="+$(this).find('option:selected').text();
      $(this).parents('.linkToInvoice').attr('href', newUrl);
    });

    var selectorToUpdate;
    var referral;
    var balance;
    var amount;
    var totalAmt;

    $(document).on('focusout', '.bestinplaceInputReferral', function(){
      selectorToUpdate = $(this).parents('span').data("bip-activator");
      referral = $(this).val();
      if(referral == "-")
        referral = 0
      balance = $(this).parents('tr').find('[data-bip-activator="#editBalance_'+selectorToUpdate.split("_")[1]+'"]').text();
      if(balance == "-")
        balance = 0
      amount = $(this).parents('tr').find('[data-bip-activator="#editAmount_'+selectorToUpdate.split("_")[1]+'"]').text(Number(referral) + Number(balance));

      totalAmt = Number(referral) + Number(balance)
      if(isNaN(totalAmt))
        amount = $(this).parents('tr').find('[data-bip-activator="#editAmount_'+selectorToUpdate.split("_")[1]+'"]').text("-");
      else
        amount = $(this).parents('tr').find('[data-bip-activator="#editAmount_'+selectorToUpdate.split("_")[1]+'"]').text(totalAmt);
    });

    $(document).on('focusout', '.bestinplaceInputBalance', function(){
      selectorToUpdate = $(this).parents('span').data("bip-activator");
      referral = $(this).val();
      if(referral == "-")
        referral = 0
      balance = $(this).parents('tr').find('[data-bip-activator="#editReferral_'+selectorToUpdate.split("_")[1]+'"]').text();
      if(balance == "-")
        balance = 0
      totalAmt = Number(referral) + Number(balance)
      if(isNaN(totalAmt))
        amount = $(this).parents('tr').find('[data-bip-activator="#editAmount_'+selectorToUpdate.split("_")[1]+'"]').text("-");
      else
        amount = $(this).parents('tr').find('[data-bip-activator="#editAmount_'+selectorToUpdate.split("_")[1]+'"]').text(totalAmt);
    });

  });
</script>
<style type="text/css">
  .paymentAmount { 
    width: 35px;
  }
  .sorted_table tr.placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
  }
  .sorted_table tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none;
  }
  /*
    .best_in_place * {
      font-size: 14px;
      font-weight: normal;
      color: #333333;
      background-color: white;
      border: none !important;
      height: 30px;
      padding: 6px 12px;
      box-shadow: 10px 10px 5px #888888;
    }
  */
</style>
