<div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <%= form_for [:manage, Payment.new] , :remote => true do |f| %>
      <%= f.hidden_field :invoice_id, :id=>"invoice_id" %>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title" id="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12 alert alert-info">
            <div class="col-md-8" id="invoice_details">
            </div>
            <div class="col-md-4 text-right">
              <a href="#" class="btn blue" id ="auto_fill">Auto Fill</a>
            </div>
          </div>
          <div data-always-visible="1" data-rail-visible1="1">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :payment_date, "Date of Payment" %>
                  <%= f.text_field :payment_date, :class => "form-control date-picker", :value => Time.now.strftime('%e %B %Y'), :id=> "payment_date"%>
                </div>
                <div class="form-group">
                   <% @method = ['Bank Transfer','Cash', 'Check', 'Paypal'] %> 
                  <div class="form-group">
                    <%= f.label :method_type, "Method" %><br/>
                    <%= f.collection_select  :method_type,  @method, :to_s, :to_s,{:prompt => 'Please Select' },{ :class=>"form-control" ,:required => true ,:id => "method_type"}%>
                  </div>
                </div>
               <!--  <div class="form-group">
                  <%#= f.label :expense, "Expense" %>
                  <%#= f.number_field :expense, :class => "form-control",  :placeholder=>"$", :required => true%>
                </div> -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :amount, "Amount" %>
                  <%= f.number_field :amount, :class => "form-control",  :placeholder=>"$", :required => true, :id =>"amount"%>
                  <span class="e_msg" style="display:none;  color:#ff0000;">Payment to add is more than current outstanding</span>
                </div>
                <div class="form-group">
                  <%= f.label :note, "Note" %>
                  <%= f.text_field :note, :class => "form-control", :id => "note"%>
                </div>
              <!--   <div class="form-group">
                  <%# @mode = ['DBS','OCBC','UOB'] %> 
                  <div class="form-group">
                    <%#= f.label :mode, "Mode" %><br/>
                    <%#= f.collection_select  :mode,  @mode, :to_s, :to_s,{:prompt => 'Please Select' },{ :class=>"form-control" ,:required => true } %>
                  </div>
                </div> -->
              
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn green" id="save_payment">Add Payment</button>
          <button type="button" data-dismiss="modal" class="btn default">Cancel</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if @job.referral %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#auto_fill').click(function(){
      var start_date = "<%= @job.start_date.strftime('%d %B %Y') if !@job.start_date.blank? %>";
      var current_date = "<%= Date.today() %>";
      if(out_standing != amt_payable ) {
        var job_fee_total = "<%= @job.fee_total.nil? ? 0 : @job.fee_total %>";
        var job_referral = "<%= @job.referral.nil? ? 0 : @job.referral %>";
        var amount;
        if(job_fee_total == 0)
          amount = job_referral;
        else
          amount = job_fee_total - job_referral; 
           
        $('#amount').val(amount);  
        $('#payment_date').val(start_date);
      }
      else{
        var amount = "<%= @job.referral %>";
        $('#amount').val(amount);  
      }
    });
    });
  </script>
<% end %>
<script type="text/javascript">
  var amt_payable; 
  $(document).ready(function(){
    $('#new_payment').validate({
      rules: {
        payment_date: {
          required: true
        },
        account_icon_name: {
          required: true
        }
      }
    });
    $('#payment_date').datepicker({
      format: 'd MM yyyy'
    });
  });

  $(document).on('click','#responsiveModalOpen',function(){
    var invoice_id = $(this).data("invoice_id");
    var invoice_number = $(this).data("invoice_number");
    // var freshbooks_invoice_id = $(this).data("freshbooks_invoice_id");
    $("#modal-title").text("Add Payment to Invoice" + " " +invoice_number);
    $("#invoice_id").val(invoice_id);
    var url;
    url = "/manage/get_freshbook_invoice";
    $.ajax({
      url: url,
      type: "GET",
      data: {
        freshbooks_invoice_id: invoice_id
      }
    }).done(function(data) {
    }).fail(function(e) {
    }).always(function(e) {
    });
  });
  $("#amount").blur(function(){
    var amount = parseFloat($("#amount").val());
    amt_payable = parseFloat(amt_payable);
     if(amount > amt_payable)
    {
      $(".e_msg").show();
      $("#amount").focus();
      $("#save_payment").addClass('disabled');
      return false;
    } 
    else
    {
      $(".e_msg").hide();
      $("#save_payment").removeClass('disabled');
      return true;
    }
  });
  jQuery(document).on("ajax:beforeSend", "#new_payment", function() {
    $("#save_payment").addClass('disabled');
    $("#save_payment").html("Adding...");
  });
  jQuery(document).on("ajax:success", "#new_payment", function() {
    $modal = $('.modal');
    $modal.modal('hide');
    window.location.reload();
  });
  

  
  $('#payment_payment_date').change(function(){
    $('.datepicker').hide();
  });
  $('#payment_date').change(function(){
    $('.datepicker').css("display","none");
  });    
</script>