= semantic_form_for [:manage, @job] do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :post_date
    = f.datetime_select :post_date
  .field
    = f.input :instructor
  .field
    = f.input :instructor_name
  .field
    = f.input :instructor_contact
  .field
    = f.input :preferred_time, :input_html => { :rows => 3 }
  .field
    = f.input :referral
  .field
    = f.input :par_pax
  .field
    = f.input :fee_total
  .field
    = f.input :age_group, :collection => AgeGroup.all
  .field
    = f.input :class_level, :collection => Level.all
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.input :class_type, :collection => Job::CLASS_TYPE
  .field
    = f.input :other_venue
  .field
    = f.input :lead_email
  .field
    = f.input :lead_contact
  .field
    = f.input :lead_name
  .field
    = f.input :day_of_week, as: :select, collection: (0..6).map{|i| [Date::DAYNAMES[i], i]}
  .field
    = f.input :customer_contact
  .field
    = f.input :customer_name
  .field
    = f.input :first_attendance
  .field
    = f.input :goggles_status
  .field
    = f.label :lock_date
    = f.check_box :lock_date
  .field
    = f.input :message_to_instructor, :input_html => { :rows => 3 }
  .field
    = f.input :job_status, :collection => Job::JOB_STATUS
  .field
    = f.input :message_to_customer, :input_html => { :rows => 3 }
  .field
    = f.input :coordinator_notes, :input_html => { :rows => 3 }
  .field
    = f.input :lead_info, :input_html => { :rows => 3 }
  .field
    = f.input :lead_address, :input_html => { :rows => 3 }
  .field
    = f.input :lesson_count
  .field
    = f.input :fee_type_id, as: :select , collection: FeeType.all.map{ |i| [i.name, i]}
  .field
    = f.label :class_time
    = f.time_select :class_time
  .field
    = f.label :completed_by
    = f.date_select :completed_by
  .field
    = f.input :venue_id
  .field
    = f.label :show_names
    = f.check_box :show_names
  .field
    = f.label :free_goggles
    = f.check_box :free_goggles
  .field
    = f.label :lady_instructor
    = f.check_box :lady_instructor
  .actions
    = f.submit 'Save'