<% @day_array = [{"Monday" => 1}, {"Tueday" =>2}, {"wednesday" => 3}, {"Thursday" => 4}, {"Friday" => 5}, {"Saturday" => 6}, {"Sunday" => 0}] %>
<%# days_arry = [] %>
<%# all_days_arr = [] %>
  <%# @group_classes.each do |group_class| %>
  <%# if group_class.day.to_i == 0 %>
    <%# days_arry << group_class %>
  <%# else %>
     <%# all_days_arr << group_class %>
  <%# end %>
<%# end %>

<%# all_days_arr = all_days_arr + days_arry %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">Group Class Listings</h4>
    </div>
    <div class="modal-body" style="height: 400px; overflow-y: scroll;">


      <div class="row">
        <div class="col-xs-4">
          <div class="col-xs-12">
            <h4>Venue</h4>
          </div>
          <div class="col-xs-12">
            <h2 style="margin:0px" class="selectedVenue"></h2>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="col-xs-12">
            <h4>Age Group</h4>
          </div>
          <div class="col-xs-12">
            <h2 style="margin:0px;" class="selectedAgeGrp"></h2>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="col-xs-12">
            <h4>Level</h4>
          </div>
          <div class="col-xs-12">
            <h2 style="margin:0px;" class="selectedLevel"></h2>
          </div>
        </div>
      </div>


      <% @day_array.each do |day, value| %>
        <% day.each do |k, v| %>
          <% if @group_classes.where(:day => v).count > 0 %>
          <table class="table table-condensed table-hover">
            <h3 class="margin-bottom-10"><%= k.capitalize %></h3>
            <thead>
              <tr style="background: #eeeeee;">
                <th>Time</th>
                <!-- <th>Vanue</th> -->
                 <th>Instructor</th>
                <!-- <th>Age Group</th> -->
                <th>Fee</th>
                
                <th></th>
              </tr>
            </thead>
            <% @group_classes.where(:day => v).each do |group_class| %>
              <tbody>
                <tr>
                  <% feeTypeName = FeeType.find(group_class.fee_type_id).name %>
                  <% if feeTypeName == "per course" %>
                    <% feeTypeName = "/course" %>
                  <% elsif feeTypeName == "per month" %>
                    <% feeTypeName = "/month" %>
                  <% end %>
                  <td><%= group_class.time.strftime("%l:%M %P") unless group_class.time.nil? %></td>
                  <!-- <td><%#= group_class.venue.name.to_s.sub("Swimming Complex", 'SC') if group_class.venue.present? %></td> -->
                  <td><%= link_to group_class.instructor.name, manage_instructor_path(group_class.instructor), :target => "_blank" if group_class.instructor.present? %></td>
                  <!-- <td><%#= AgeGroup.find(group_class.age_group_id).title %></td> -->
                  <td>$<%= group_class.amount %> <%= feeTypeName %></td>
                  
                  <td>
                    <a href="javascript:void(0)" class="btn blue btn-sm applyGrpCls" data-apply-gp="<%= group_class.id %>">
                      Apply
                    </a>
                  </td>
                </tr>
              </tbody>
            <% end %>
          </table>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  var selectedVenue = $("#job_venue_id").find("option:selected").text();
  var selectedAgeGrp = $("#job_age_group").find("option:selected").text();
  var selectedLevel = $("#job_class_level").find("option:selected").text();
  $(".selectedVenue").text(selectedVenue);
  if($.isEmptyObject(selectedAgeGrp))
    selectedAgeGrp = "-"
  if($.isEmptyObject(selectedLevel))
    selectedLevel = "-"  
  $(".selectedAgeGrp").text(selectedAgeGrp);
  $(".selectedLevel").text(selectedLevel);
</script>