<!--  <div class="col-sm-12 text-right">
        <a href="<%#= new_instructor_award_test_path %>" class="btn green">Add Award Test</a>
      </div> -->
<div class="col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width:30px;"></th>
          <th>Date</th>
          <th>Time</th>
          <th>Award</th>
          <th class="hidden-xs">Student(s)</th>
          <th class="hidden-xs">Test Fee</th>
          <th class="hidden-xs">Venue</th>
          <th class="hidden-xs">Organiser</th>
          <% count = 0 %> 
        </tr>
      </thead>
      <tbody> 
        <% @past_award_tests.each do |award_test| %>
          <% cnt = 0 %>
          <% count = count + 1 %>
          <tr>
            <td style="width:30px;">
              <%= count %>
            </td>
            <td>
              <% if !award_test.test_date.blank? %>
                <%= link_to award_test.test_date.strftime("%e %b %Y") , instructor_award_test_path(award_test) %>
              <% end %>
            </td>
            <td>
                <%=  award_test.test_time ? award_test.test_time .strftime("%I:%M %p") : nil %> 
            </td>
            <td>
              <% if !award_test.award_id.blank? %>
                <%= award_test.award.name %> 
              <% end %>
            </td>
            <% @instructor_student_awards = InstructorStudentAward.where(:award_id => award_test.award_id, :award_test_id => award_test.id ) %>
            <% @instructor_student_awards.each do |ins| %>
              <% cnt = cnt + 1 %>
            <% end %>
            <td class="hidden-xs">  
              <%= cnt %>
            </td>
            <td class="hidden-xs">
              $<%= format('%.2f', award_test.test_fee) if award_test.test_fee.present? %>
            </td>
            <td class="hidden-xs">
              <% if !award_test.venue_id.blank? %>
                <%= Venue.find(award_test.venue_id).name %>
              <% end %>  
            </td>
            <td class="hidden-xs">
              <% if !award_test.assessor.blank? %>
                <%= Instructor.find(award_test.assessor).name %>
              <% end %>  
            </td>
          </tr>
        <% end %>                                      
      </tbody>
    </table>
</div>
