%p#notice= notice

%p
  %b Telerivet project:
  = @api_setting.telerivet_project_id
%p
  %b Telerivet phone:
  = @api_setting.telerivet_phone_id
%p
  %b Telerivet api key:
  = @api_setting.telerivet_api_key
%p
  %b Fb api url:
  = @api_setting.fb_api_url
%p
  %b Fb authentication token:
  = @api_setting.fb_authentication_token

= link_to 'Edit', edit_api_setting_path(@api_setting)
\|
= link_to 'Back', api_settings_path
