<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Register mail</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
  <tr>
    <td>
      <table width="600" border="0" cellspacing="0" cellpadding="4" align="center">
          <tr>
            <td colspan="2" style="border: 1px solid #ccc; border-bottom:none;">
              <font size="5" class="#999" face="Arial, Helvetica, sans-serif">
                Your Registration Details
              </font>
            </td>
          </tr>
          <tr bgcolor="#f9f9f9">
            <td width="186" style="border: 1px solid #ccc; border-right:none; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                Name
                </font>
            </td>
            <td width="398" style="border: 1px solid #ccc; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                <%= @job.lead_name %>
                </font>
            </td>
          </tr>
          <tr bgcolor="#fff">
           <td style="border: 1px solid #ccc; border-right:none; border-bottom:none;">
            <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                Contact
            </font>
           </td>
            <td style="border: 1px solid #ccc; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                <%= @job.lead_contact %>
                </font>
            </td>
          </tr>
          <tr bgcolor="#f9f9f9">
            <td style="border: 1px solid #ccc; border-right:none; border-bottom:none;">
               <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                  Email
                </font>
            </td>
            <td style="border: 1px solid #ccc; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                <%= @job.lead_email %>
              </font>
            </td>
          </tr>
          <tr bgcolor="#fff">
           <td style="border: 1px solid #ccc; border-right:none; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                Student(s)  
              </font>
           </td>
            <td style="border: 1px solid #ccc; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                <% if @job.students.count > 0 %>
                  <% @job.students.each do |student| %>
                    <%= student.name %>
                    <% if student.age? %>
                      <%= "-"  %>
                      <%= student.age %>yrs
                      <% if !student.age_month.blank? && student.age_month != 0  %>
                        <%= student.age_month %>mths
                      <% else %>
                        old
                      <% end %>  
                    <% end %>  
                    <%= "(" if student.sex? %><%= student.sex %><%= ")" if student.sex? %>
                    <br/>
                  <% end %>
                <% end %>
              </font>
            </td>
          </tr>
           <tr bgcolor="#f9f9f9">
           <td style="border: 1px solid #ccc; border-right:none; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                Class Type
              </font>
           </td>
            <td style="border: 1px solid #ccc; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                <%= ClassType.find(@job.lead_class_type).title %> class
              </font>
            </td>
          </tr>
          <tr bgcolor="#fff">
           <td style="border: 1px solid #ccc; border-right:none; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                Venue
              </font>
           </td>
            <td style="border: 1px solid #ccc; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                <% if ClassType.find(@job.lead_class_type).title.capitalize == "Private" %>
                  <% if @job.private_lesson? %>
                    - Condo: <%= @job.other_venue %><br>
                  <% else %>
                    <% if !@job.private_lesson_venue_id.nil? %>
                    - <%= Venue.find(@job.private_lesson_venue_id).name %><br>
                    <%end%>
                  <% end %>
                <% end %>
                <%if  @job.venues.count > 0 %>
                <% @job.venues.each do |venue| %>
                  - <%= venue.name %><br>
                <% end %>
                <%end%>
              </font>
            </td>
          </tr>
          <tr bgcolor="#f9f9f9">
           <td style="border: 1px solid #ccc; border-right:none; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                Preferred Day/time
              </font>
           </td>
            <td style="border: 1px solid #ccc; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                <%= @job.lead_day_time %>
              </font>
            </td>
          </tr>
          <tr bgcolor="#fff">
            <td style="border: 1px solid #ccc; border-right:none; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                Starting on
              </font>
           </td>
            <td style="border: 1px solid #ccc; border-bottom:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                <% if !@job.lead_starting_on.nil? %>
                  <%= @job.lead_starting_on.strftime("%d %B %Y") %>
                <% end %>
              </font>
            </td>
          </tr>
         <tr bgcolor="#f9f9f9">
            <td style="border: 1px solid #ccc; border-right:none;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                Additional Info
              </font>
            </td>
            <td style="border: 1px solid #ccc;">
              <font size="2" face="Arial, Helvetica, sans-serif" color="#3e4d5c">
                <% if @job.lead_lady_instructor_only != false %>
                  <strong>Lady instructor preferred</strong><br>
                <% end %>
                  <%= @job.lead_info %>
              </font>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>