<div id="chats">
  <ul class="chats">
    <span id="load_more"></span>
    <%if @inst_messages.present? %>
      <%#=@inst_messages.first.instructor_messages.last.inspect%>
      <%@inst_messages.each do |inst_conversation|%>
        <%inst_conversation.instructor_messages.order('time_created desc').each do |message| %>
          <% if message.status == 'queued'%>
            <% bg_color = '#fcf8e3' %>
          <% elsif message.status == 'fail'%>
            <% bg_color = 'pink' %>
          <% elsif message.status == 'sent'%>
            <% bg_color = '#dff0d8' %>
          <% end %>
          <% if message.direction.downcase == "incoming" %>
            <li class="in">
              <img class="avatar img-responsive" src="/assets/avatar.png"/>
              <div class="message" style="background-color: <%= bg_color %>;">
                <span class="arrow"></span>
                <span class="datetime">
                  <%= message.time_created.strftime('%d %b %Y %I:%M %p') %><%= link_to " Mark as Unread", instructor_set_sms_unread_path(message), :style => "color: #D3071E;", remote: true %>
                </span>
                <span class="body" style>
                  <%= simple_format(message.msg_des).html_safe %>
                </span>
              </div>
            </li>
          <% else %>
            <li class="out">
              <img class="avatar img-responsive" src="/assets/avatar.png"/>
              Sent by <%= current_admin_user.name %> 
              <div class="message" style="background-color: <%= bg_color %>;">
                <span class="arrow"></span>
                <span class="datetime">
                  <!-- at --> 
                  <%= message.time_created.strftime('%d %b %Y %I:%M %p') %><%= link_to " Mark as Unread", instructor_set_sms_unread_path(message), :style => "color: #D3071E;", remote: true %>
                </span>
                <span class="body">
                  <%= simple_format(message.msg_des).html_safe %>
                </span>
              </div>
            </li>
          <% end %>
        <%end%>
      <%end%>
    <%end%>
  </ul>
</div>