<%= render 'header' %>
		<div class="row inbox">
		  <div class="col-md-2">
		    <ul class="inbox-nav margin-bottom-10">
		      <li class="compose-btn">
		        <a class="btn default" data-toggle="modal" href="#responsive">
		          <i class="fa fa-edit"></i>
		          New SMS
		        </a>
		      </li>
		      <li class="conversation">
		        <%= link_to "Conversations", instructor_instructor_messages_path , :class => "btn" %>
		        <b></b>
		      </li>
		      <li class="inbox active">
		        <%= link_to "Incoming", instructor_instructor_incoming_messages_path , :class => "btn", remote: true%>
		        <b></b>
		      </li>
		      <li class="sent">
		        <%= link_to "Outgoing", instructor_instructor_outing_messages_path, :class => "btn", remote: true%>
		        <b></b>
		      </li>
		      <li class="trash">
		        <%= link_to "Failed", '#', :class => "btn", :remote => true %>
		        <b></b>
		      </li>
		    </ul>
		  </div>
		  <div class="col-md-10 parent_incomming">
		    <div class="inbox-header">
		      <h1 class="pull-left sms-heading">Conversations</h1>
		      <span class="pull-right">

		      </span>
		    </div>
		    <div class="inbox-loading" style="display: none;">
		      Loading...
		    </div>
		    <div class="inbox-content">
          		<%= render 'inst_conversation_incoming_outgoing' %>
		    </div>
		  </div>
		</div>
		<%= render :partial => "instructor/instructor_messages/new_message" %>
		
		<script>
		  Metronic.init();
		  $( document ).ajaxStart(function() {
		    $( "#prev" ).before('<img src="/assets/loading-spinner-default.gif" class="img_loader" style="margin-right: 15px;">');
		  });
		  $( document ).ajaxStop(function() {
		    $(".img_loader").remove();
		  });
		  $( document ).ajaxError(function() {
		    $(".img_loader").remove();
		  });
		</script>
		<style type="text/css">
	    .inbox .table-striped tbody > tr:nth-child(odd) > td {

	    }
	    .previous_page, .next_page{
	      padding: 5px 10px;
				font-size: 12px;
				line-height: 1.2;
				margin-top: 0px;
				margin-left: 0px;
				margin-right: 5px;
				color: white;
				text-shadow: none;
				background-color: #4d90fe;
	    }
	    .pagination{
	      margin-top: 0px;
	    }
		</style>
	</div>
</div>