
.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse
    %ul.page-sidebar-menu{"data-auto-scroll" => "false", "data-auto-speed" => "200"}
      %li.sidebar-toggler-wrapper
        .sidebar-toggler
      %li{class: (current_page?(accountant_root_path) == true  ? "active open" : "start")}
        = link_to accountant_root_path do
          %i.fa.fa-home
          %span.title Dashboard
      
      %li{class: (current_page?(accountant_payments_path) == true ? "active open" : "")}
        = link_to accountant_payments_path do
          %i.fa.fa-list
          %span.title Payments
          %span.arrow

      - if policy(OnlinePayment).index?  
        %li{class: (current_page?(accountant_coordinator_path) || current_page?(accountant_instructor_fee_path) || current_page?(accountant_instructor_test_path) ? "active open" : "")}
          = link_to '#' do
            %i.fa.fa-list
            %span.title Transactions
            %span.arrow
          %ul.sub-menu
            %li{class: (current_page?(accountant_coordinator_path) == true ? "active open" : "")}
              = link_to 'Coordinators',accountant_coordinator_path
            %li{class: (current_page?(accountant_instructor_fee_path) == true ? "active open" : "")}
              = link_to 'Instructor Fee',accountant_instructor_fee_path
            %li{class: (current_page?(accountant_instructor_test_path) == true ? "active open" : "")}
              = link_to 'Instructor Test',accountant_instructor_test_path

      %li{class: (current_page?(accountant_reports_path) == true ? "active open" : "")}
        = link_to '#' do
          %i.fa.fa-list
          %span.title Reports
          %span.arrow
        %ul.sub-menu
          %li{class: (current_page?(accountant_reports_path) == true ? "active open" : "")}
            = link_to 'Monthly',accountant_reports_path
