<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>swimming-lesson-registration</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <% if params[:controller] == "embed_registration_forms" && params[:action] == "new" %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% end %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"></link>
    <%= stylesheet_link_tag "embed" %>
    <%= javascript_include_tag "embed" %>
    <%= csrf_meta_tags %>
    <% if request.domain == "singaporeswimming.com" %>
        <%= render "layouts/header_script" %>
    <% end %>
  </head>
  <body data-twttr-rendered="true" class="ecommerce">
    <div class="main">
      <div class="container">
        <div class="row margin-bottom-40">
        <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
