!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title 
      MatchMaker -
      = title
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag "report"
    = csrf_meta_tags
  %body.page-header-fixed{style: ""}
    .page-header.navbar.navbar-fixed-top
      .page-header-inner
        .page-logo
          %a{href: "index.html"}
            = image_tag "logo.png", class: "logo-default"
          .menu-toggler.sidebar-toggler.hide
        .menu-toggler.responsive-toggler{"data-target" => ".navbar-collapse", "data-toggle" => "collapse"}
        .top-menu
          %ul.nav.navbar-nav.pull-right
            %li#header_inbox_bar.dropdown.dropdown-extended.dropdown-inbox
              %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
                %i.fa.fa-tasks
                %span.badge.badge-default
                  4
              %ul.dropdown-menu
                %li
                  %p
                    You have 12 new messages
                %li
                  .slimScrollDiv{style: "position: relative; overflow: hidden; width: auto; height: 250px;"}
                    %ul.dropdown-menu-list.scroller{"data-initialized" => "true", style: "overflow: hidden; width: auto; height: 250px;"}
                      %li
                        %a{href: "inbox.html?a=view"}
                          %span.photo
                            %img{alt: "", src: "../../assets/admin/layout/img/avatar2.jpg"}/
                          %span.subject
                            %span.from
                              Lisa Wong
                            %span.time
                              Just Now
                          %span.message
                            Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh...
                    .slimScrollBar{style: "width: 7px; position: absolute; top: 0px; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 138.88888888888889px; display: none; opacity: 0.4; background: rgb(187, 187, 187);"}
                    .slimScrollRail{style: "width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"}
                %li.external
                  %a{href: "inbox.html"}
                    See all messages
                    %i.m-icon-swapright
            %li.dropdown.dropdown-user
              %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", href: "#"}
                %span.username
                  = current_admin_user.name
                %i.fa.fa-angle-down
              %ul.dropdown-menu
                %li
                  = link_to destroy_admin_user_session_path, method: "delete" do
                    %i.fa.fa-key
                    Log Out
  .clearfix
  / BEGIN CONTAINER
  .page-container
    / BEGIN SIDEBAR
    .page-sidebar-wrapper
      / DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
      / DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
      .page-sidebar.navbar-collapse.collapse
        / BEGIN SIDEBAR MENU
        %ul.page-sidebar-menu{"data-auto-scroll" => "false", "data-auto-speed" => "200"}
          / DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element
          %li.sidebar-toggler-wrapper
            / BEGIN SIDEBAR TOGGLER BUTTON
            .sidebar-toggler
            / BEGIN SIDEBAR TOGGLER BUTTON
          / DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element
            / END RESPONSIVE QUICK SEARCH FORM
          %li{class: (current_page?(manage_root_path) == true ? "open" : "start")}
            = link_to manage_root_path do
              %i.fa.fa-home
              %span.title Dashboard
          %li{class: (current_page?(manage_jobs_path) == true ? "active open" : "")}
            = link_to manage_jobs_path do
              %i.fa.fa-list
              %span.title All Jobs
              %span.arrow
          %li{class: (current_page?(manage_manual_payments_path) == true ? "active open" : "")}
            = link_to manage_manual_payments_path do
              %i.fa.fa-list
              %span.title Payments
              %span.arrow
          - if policy(OnlinePayment).index?  
            %li{class: (current_page?(manage_online_payments_path) == true ? "active open" : "")}
              = link_to manage_online_payments_path do
                %i.fa.fa-list
                %span.title Transactions
                %span.arrow  
          - if policy(Venue).index?
            %li{class: (current_page?(manage_venues_path) == true ? "active open" : "")}
              = link_to manage_venues_path do
                %i.fa.fa-list
                %span.title Venues
                %span.arrow{class: (current_page?(manage_venues_path) == true ? "open" : "")}
          - if policy(GroupClass).index?
            %li{class: (current_page?(manage_group_classes_path) == true ? "active open": "")}
              = link_to manage_group_classes_path do
                %i.fa.fa-list
                %span.title Group Classes
                %span.arrow
          - if policy(Instructor).index?
            %li{class: (current_page?(manage_instructors_path) == true  || current_page?(new_manage_instructor_path) == true || params[:controller] == "instructors" && params[:action] == "edit" ||  params[:controller] == "instructors" && params[:action] == "create" ? "open" : "" )}
              = link_to manage_instructors_path do
                %i.fa.fa-list
                %span.title Instructor
                %span.arrow
          - if policy(Message).index?
            %li{class: (current_page?(manage_messages_path) == true ? "active open" : "")}
              = link_to manage_messages_path do
                %i.fa.fa-list
                %span.title SMS
                %span.arrow
          %li{class: (current_page?(manage_invoices_path) == true ? "active open" : "")}
            = link_to manage_invoices_path do
              %i.fa.fa-list
              %span.title All Invoices
              %span.arrow     
          %li{class: (current_page?(manage_reports_path) == true ? "active open" : "")}
            = link_to manage_reports_path do
              %i.fa.fa-list
              %span.title Reports
              %span.arrow{class: (current_page?(manage_reports_path) == true ? "open" : "")}
          %li{class: (current_page?(manage_award_tests_path) == true  || current_page?(manage_new_award_test_path) == true ? "open" : "" )}
            = link_to manage_award_tests_path do
              %i.fa.fa-list
              %span.title Award Tests
              %span.arrow{class: (current_page?(manage_award_tests_path) == true ? "open" : "")}    
          
          
    / END SIDEBAR
    / BEGIN CONTENT
    .page-content-wrapper
      .page-content{style: "min-height:783px"}
        / BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM
        #portlet-config.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
                %h4.modal-title Modal title
              .modal-body
                Widget settings form goes here
              .modal-footer
                %button.btn.blue{type: "button"} Save changes
                %button.btn.default{"data-dismiss" => "modal", type: "button"} Close
            / /.modal-content
          / /.modal-dialog
        / /.modal
        / END SAMPLE PORTLET CONFIGURATION MODAL FORM
        / BEGIN STYLE CUSTOMIZER
        / END BEGIN STYLE CUSTOMIZER
        / BEGIN PAGE HEADER
        .row
          .col-md-12
            / BEGIN PAGE TITLE & BREADCRUMB
            %h3.page-title
              = page_title
              %small= page_description
            - if !@breadcrumbs.nil?
              %ul.page-breadcrumb.breadcrumb
                - @breadcrumbs.each do |breadcrumb|
                  %li
                    = link_to(breadcrumb[:name], breadcrumb[:url])
                    - if @breadcrumbs.last != breadcrumb
                      %i.fa.fa-angle-right
        = yield
  .page-footer
    .page-footer-inner
      Powered by Singapore Swimming Academy.
    .page-footer-tools
      %span.go-top
        %i.fa.fa-angle-up
  = javascript_include_tag "report"

:javascript
  $(document).ready(function() {       
    Layout.init();
    Metronic.init(); // init metronic core components
    Charts.init();
    Charts.initCharts();
    Charts.initPieCharts();
  });
  