!!!
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title
      MatchMaker -
      = yield(:title)
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag "manage", media: "all"
    = javascript_include_tag "setting_page"
    = javascript_include_tag "manage/table-managed.js"
    = csrf_meta_tags
    - if request.domain == "singaporeswimming.com"
      = render "layouts/header_script"
  %body.page-header-fixed{style: ""}
    -if current_admin_user.accountant?
      = render "/layouts/shared/accountant_header"
    -else
      = render "/layouts/shared/header"
  .clearfix
  / BEGIN CONTAINER
  .page-container
    -if current_admin_user.accountant?
      = render "/layouts/accountant_sidebar"
    -else
      = render "/layouts/manage_sidebar"
    / BEGIN CONTENT
    .page-content-wrapper
      .page-content{style: "min-height:783px"}
        / BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM
        #portlet-config.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
                %h4.modal-title Modal title
              .modal-body
                Widget settings form goes here
              .modal-footer
                %button.btn.blue{type: "button"} Save changes
                %button.btn.default{"data-dismiss" => "modal", type: "button"} Close
        - if(params[:controller] != "manage/jobs" && params[:action] != "index") && (params[:controller] != "manage/instructors" && params[:action] != "instructor_job_taken" && params[:controller] != 'accountant/transaction' && params[:controller] != 'accountant/home')
          .row
            .col-md-12
              / BEGIN PAGE TITLE & BREADCRUMB
              %h3.page-title
                = page_title
                %small= page_description
              - if !@breadcrumbs.nil?
                %ul.page-breadcrumb.breadcrumb
                  - @breadcrumbs.each do |breadcrumb|
                    %li
                      = link_to(breadcrumb[:name], breadcrumb[:url])
                      - if @breadcrumbs.last != breadcrumb
                        %i.fa.fa-angle-right
        = yield
  .page-footer
    .page-footer-inner
      Powered by Singapore Swimming Academy.
    .page-footer-tools
      %span.go-top
        %i.fa.fa-angle-up
  = javascript_include_tag "multiple_message_send_script"
  
:javascript
  Layout.init();
  